<div class="mailpoet_form_field mailpoet_heading_form_field">
  <input
    type="text"
    class="mailpoet_input mailpoet_input_title"
    value="{{ model.subject }}"
    placeholder="<%= __('Click here to change the subject!') %>"
  />
</div>
<div class="mailpoet_form_field mailpoet_heading_form_field">
  <input type="text"
    class="mailpoet_input mailpoet_input_preheader"
    value="{{ model.preheader }}"
    placeholder="<%= __('Preview text (usually displayed underneath the subject line in the inbox)') %>"
  />
</div>
