<div class="mailpoet_browser_preview_toggle">
  <label>
    <input type="radio" name="mailpoet_browser_preview_type" class="mailpoet_browser_preview_type" value="desktop" checked="checked" /><%= _x('Desktop', 'Desktop browser preview mode') %>
  </label>
  <label>
    <input type="radio" name="mailpoet_browser_preview_type" class="mailpoet_browser_preview_type" value="mobile" /><%= _x('Mobile', 'Mobile browser preview mode') %>
  </label>
</div>
<div class="mailpoet_browser_preview_container mailpoet_browser_preview_container_desktop">
  <iframe class="mailpoet_browser_preview_iframe" src="{{ previewUrl }}" width="{{ width }}" height="{{ height }}"></iframe>
</div>