// Document actions - Component in header for displaying email/campaign title edit popup
.mailpoet-email-editor-campaign-name {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	min-width: 0;

	.components-dropdown {
		display: inline-flex;
	}

	.components-button {
		min-width: 0;
		padding: 0;
	}

	.mailpoet-email-campaign-name__link {
		display: inline-flex;
		height: fit-content;
		margin-right: 10px;
		margin-top: 10px;
	}
}

// Document actions - Popup for editing email/campaign title
.mailpoet-email-editor-campaign-name__dropdown {
	.components-popover__content {
		min-width: 280px;
		padding: 0;
	}

	.mailpoet-email-editor-email-title-edit {
		padding: 16px;
	}
}
.mailpoet-email-editor-save-button__dropdown {
	.components-popover__content {
		min-width: 280px;
	}
}

// We currently don't support command palette so we hide the shortcut
.editor-document-bar__shortcut {
	display: none !important;
}

// Temporarily hide text about amount of changes to save. The wording is not great for email context.
.entities-saved-states__text-prompt {
	p {
		display: none;
	}
}

// Ensure checkbox controls in save panel dropdown to span the full width
.mailpoet-email-editor-save-button__dropdown
	.components-panel__row
	.components-checkbox-control {
	width: 100%;
}
