<table class="form-table">
  <tbody>
    <!-- bounce email -->
    <tr>
      <th scope="row">
        <label for="settings[bounce_email]">
          <%= __('Bounce email address') %>
        </label>
        <p class="description">
          <%= __('Your bounced emails will be sent to this address.') %>
          <a href="http://beta.docs.mailpoet.com/article/180-how-bounce-management-works-in-mailpoet-3"
             target="_blank"
          ><%= _x('Read more.', 'support article link label') %></a>
        </p>
      </th>
      <td>
        <p>
          <input type="text"
            id="settings[bounce_email]"
            name="bounce[address]"
            value="<%= settings.bounce.address %>"
            placeholder="bounce@mydomain.com"
          />
        </p>
      </td>
    </tr>
    <!-- task scheduler -->
    <tr>
      <th scope="row">
        <label>
          <%= __('Newsletter task scheduler (cron)') %>
        </label>
        <p class="description">
          <%= __('Select what will activate your newsletter queue.') %>
          <a href="http://docs.mailpoet.com/article/129-what-is-the-newsletter-task-scheduler"
             target="_blank"
          ><%= _x('Read more.', 'support article link label') %></a>
        </p>
      </th>
      <td>
        <p>
          <label>
            <input
              type="radio"
              name="cron_trigger[method]"
              value="<%= cron_trigger.wordpress %>"
              <% if (settings.cron_trigger.method == cron_trigger.wordpress) %>
              checked="checked"
              <% endif %>
            /><%= __('Visitors to your website (recommended)') %>
          </label>
        </p>
        <p>
          <label>
            <input
              type="radio"
              name="cron_trigger[method]"
              value="<%= cron_trigger.mailpoet %>"
              <% if (settings.cron_trigger.method == cron_trigger.mailpoet) %>
                checked="checked"
                <% endif %>
              /><%= __("MailPoet's own script. Doesn't work with [link]these hosts[/link].")
                    |replace({
                      '[link]': '<a target="_blank" href="http://docs.mailpoet.com/article/131-hosts-which-mailpoet-task-scheduler-wont-work">',
                      '[/link]': '</a>'
                      })
                    |raw
                 %>
          </label>
        </p>
      </td>
    </tr>
    <!-- link tracking -->
    <tr>
      <th scope="row">
        <label>
          <%= __('Open and click tracking') %>
        </label>
        <p class="description">
          <%= __('Enable or disable open and click tracking.') %>
        </p>
      </th>
      <td>
        <p>
          <label>
            <input
              type="radio"
              name="tracking[enabled]"
              value="1"
              <% if(settings.tracking.enabled) %>
              checked="checked"
              <% endif %>
            /><%= __('Yes') %>
          </label>
          &nbsp;
          <label>
            <input
              type="radio"
              name="tracking[enabled]"
              value=""
              <% if not(settings.tracking.enabled) %>
              checked="checked"
              <% endif %>
            /><%= __('No') %>
          </label>
        </p>
      </td>
    </tr>
    <!-- share anonymous data? -->
    <tr>
      <th scope="row">
        <label>
          <%= __('Share anonymous data') %>
        </label>
        <p class="description">
          <%= __('Share anonymous data and help us improve the plugin. We appreciate your help!') %>
          <a
            href="http://docs.mailpoet.com/article/130-sharing-your-data-with-us"
            target="_blank"
          ><%= _x('Read more.', 'support article link label') %></a>
        </p>
      </th>
      <td>
        <p>
          <label>
            <input
              type="radio"
              name="analytics[enabled]"
              value="1"
              <% if(settings.analytics.enabled) %>
                checked="checked"
              <% endif %>
            /><%= __('Yes') %>
          </label>
          &nbsp;
          <label>
            <input
              type="radio"
              name="analytics[enabled]"
              value=""
              <% if not(settings.analytics.enabled) %>
                checked="checked"
              <% endif %>
            /><%= __('No') %>
          </label>
        </p>
      </td>
    </tr>
    <!-- reinstall -->
    <tr>
      <th scope="row">
        <label><%= __('Reinstall from scratch') %></label>
        <p class="description">
          <%= __('Want to start from the beginning? This will completely delete MailPoet and reinstall it from scratch. Remember: you will lose all of your data!') %>
        </p>
      </th>
      <td>
        <p>
          <a
            id="mailpoet_reinstall"
            class="button"
            href="javascript:;"><%= __('Reinstall now...') %></a>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<script type="text/javascript">
  jQuery(function($) {
    $(function() {
      $('#mailpoet_reinstall').on('click', function() {
        if(confirm(
          "<%= __('Are you sure? All of your MailPoet data will be permanently erased (newsletters, statistics, subscribers, etc.).') %>"
        )) {
          MailPoet.Modal.loading(true);
          MailPoet.Ajax.post({
            'api_version': window.mailpoet_api_version,
            'endpoint': 'setup',
            'action': 'reset'
          }).always(function() {
            MailPoet.Modal.loading(false);
          }).done(function(response) {
            window.location = "<%= admin_url('admin.php?page=mailpoet-newsletters') %>";
          }).fail(function(response) {
            if (response.errors.length > 0) {
              MailPoet.Notice.error(
                response.errors.map(function(error) { return error.message; }),
                { scroll: true }
              );
            }
          });
        }
        return false;
      });
    });
  });
</script>
