<table class="form-table">
  <tbody>
    <!-- bounce email -->
    <tr>
      <th scope="row">
        <label for="settings[bounce_email]">
          <%= __('Bounce email address') %>
        </label>
        <p class="description">
          <%= __('Your bounced emails will be sent to this address.') %>
          <a href="http://beta.docs.mailpoet.com/article/180-how-bounce-management-works-in-mailpoet-3"
             target="_blank"
          ><%= _x('Read more.', 'support article link label') %></a>
        </p>
      </th>
      <td>
        <p>
          <input type="text"
            id="settings[bounce_email]"
            name="bounce[address]"
            value="<%= settings.bounce.address %>"
            placeholder="bounce@mydomain.com"
          />
        </p>
      </td>
    </tr>
    <!-- task scheduler -->
    <tr>
      <th scope="row">
        <label>
          <%= __('Newsletter task scheduler (cron)') %>
        </label>
        <p class="description">
          <%= __('Select what will activate your newsletter queue.') %>
          <a href="http://docs.mailpoet.com/article/129-what-is-the-newsletter-task-scheduler"
             target="_blank"
          ><%= _x('Read more.', 'support article link label') %></a>
        </p>
      </th>
      <td>
        <p>
          <label>
            <input
              type="radio"
              name="cron_trigger[method]"
              value="<%= cron_trigger.wordpress %>"
              <% if (settings.cron_trigger.method == cron_trigger.wordpress) %>
              checked="checked"
              <% endif %>
            /><%= __('Visitors to your website (recommended)') %>
          </label>
        </p>
        <p>
          <label>
            <input
              type="radio"
              name="cron_trigger[method]"
              value="<%= cron_trigger.mailpoet %>"
              <% if (settings.cron_trigger.method == cron_trigger.mailpoet) %>
                checked="checked"
                <% endif %>
              /><%= __("MailPoet's own script. Doesn't work with [link]these hosts[/link].")
                    |replaceLinkTags('http://docs.mailpoet.com/article/131-hosts-which-mailpoet-task-scheduler-wont-work', {'target' : '_blank'})
                    |raw
                 %>
          </label>
        </p>
      </td>
    </tr>
    <!-- roles and capabilities -->
    <tr>
      <th scope="row">
        <%= __('Roles and capabilities') %>
        <p class="description">
          <%= __('Manage which WordPress roles access which features of MailPoet.') %>
        </p>
      </th>
      <td>
        <% if (members_plugin_active) %>
        <p>
          <a href="<%= admin_url('users.php?page=roles') %>"><%= __('Manage using the Members plugin') %></a>
        </p>
        <% else %>
          <%= __('Install the plugin [link]Members[/link] (free) to manage permissions.')
            |replaceLinkTags('https://wordpress.org/plugins/members/', {'target' : '_blank'})
            |raw
          %>
        <% endif %>
      </td>
    </tr>
    <!-- link tracking -->
    <tr>
      <th scope="row">
        <label>
          <%= __('Open and click tracking') %>
        </label>
        <p class="description">
          <%= __('Enable or disable open and click tracking.') %>
        </p>
      </th>
      <td>
        <p>
          <label>
            <input
              type="radio"
              name="tracking[enabled]"
              value="1"
              <% if(settings.tracking.enabled) %>
              checked="checked"
              <% endif %>
            /><%= __('Yes') %>
          </label>
          &nbsp;
          <label>
            <input
              type="radio"
              name="tracking[enabled]"
              value=""
              <% if not(settings.tracking.enabled) %>
              checked="checked"
              <% endif %>
            /><%= __('No') %>
          </label>
        </p>
      </td>
    </tr>
    <!-- share anonymous data? -->
    <tr>
      <th scope="row">
        <label>
          <%= __('Share anonymous data') %>
        </label>
        <p class="description">
          <%= __('Share anonymous data and help us improve the plugin. We appreciate your help!') %>
          <a
            href="http://docs.mailpoet.com/article/130-sharing-your-data-with-us"
            target="_blank"
          ><%= _x('Read more.', 'support article link label') %></a>
        </p>
      </th>
      <td>
        <p>
          <label>
            <input
              type="radio"
              name="analytics[enabled]"
              value="1"
              <% if(settings.analytics.enabled) %>
                checked="checked"
              <% endif %>
            /><%= __('Yes') %>
          </label>
          &nbsp;
          <label>
            <input
              type="radio"
              name="analytics[enabled]"
              value=""
              <% if not(settings.analytics.enabled) %>
                checked="checked"
              <% endif %>
            /><%= __('No') %>
          </label>
        </p>
      </td>
    </tr>
    <!-- reCaptcha settings -->
    <tr>
      <th scope="row">
        <label>
          <%= __('Enable reCAPTCHA') %>
        </label>
        <p class="description">
          <%= __('Use reCAPTCHA to protect MailPoet subscription forms.') %>
          <a
            href="https://www.google.com/recaptcha/admin"
            target="_blank"
          ><%= __('Sign up for an API key pair here.') %></a>
        </p>
      </th>
      <td>
        <p>
          <label>
            <input
              type="radio"
              name="re_captcha[enabled]"
              value="1"
              <% if(settings.re_captcha.enabled) %>
                checked="checked"
              <% endif %>
            /><%= __('Yes') %>
          </label>
          &nbsp;
          <label>
            <input
              type="radio"
              name="re_captcha[enabled]"
              value=""
              <% if not(settings.re_captcha.enabled) %>
                checked="checked"
              <% endif %>
            /><%= __('No') %>
          </label>
        </p>
        <div id="settings_re_captcha_tokens">
          <p>
            <input type="text"
              name="re_captcha[site_token]"
              value="<%= settings.re_captcha.site_token %>"
              placeholder="<%= __('Your reCAPTCHA Site Key') %>"
              class="regular-text"
            />
          </p>
          <p>
            <input type="text"
              name="re_captcha[secret_token]"
              value="<%= settings.re_captcha.secret_token %>"
              placeholder="<%= __('Your reCAPTCHA Secret Key') %>"
              class="regular-text"
            />
          </p>
          <div id="settings_re_captcha_tokens_error" class="mailpoet_error_item mailpoet_error">
            <%= __('Please fill the reCAPTCHA keys.') %> 
          </div>
        </div>
      </td>
    </tr>
    <!-- reinstall -->
    <tr>
      <th scope="row">
        <label><%= __('Reinstall from scratch') %></label>
        <p class="description">
          <%= __('Want to start from the beginning? This will completely delete MailPoet and reinstall it from scratch. Remember: you will lose all of your data!') %>
        </p>
      </th>
      <td>
        <p>
          <a
            id="mailpoet_reinstall"
            class="button"
            href="javascript:;"><%= __('Reinstall now...') %></a>
        </p>
      </td>
    </tr>
  </tbody>
</table>
