<script type="text/javascript">
  <% autoescape 'js' %>
    var mailpoet_activation_key = <%= json_encode(settings.premium.premium_key ?: settings.mta.mailpoet_api_key) %>;
    var mailpoet_premium_key_valid = <%= json_encode(premium_key_valid) %>;
    var mailpoet_premium_plugin_installed = <%= json_encode(premium_plugin_installed) %>;
    var mailpoet_mss_key_valid = <%= json_encode(mss_key_valid) %>;
    var mailpoet_mss_active = <%= json_encode(mss_active) %>;
  <% endautoescape %>
</script>

<div id="settings-premium-tab"></div>
