<table class="form-table">
  <tbody>
    <!-- premium key -->
    <tr>
      <th scope="row">
        <label for="mailpoet_premium_key">
          <%= __('Premium License Key') %>
        </label>
        <p class="description">
          <%= __('This key is used for automatic upgrades of your Premium features and access to support.') %>
        </p>
      </th>
      <td>
        <div>
          <input
            type="text"
            class="regular-text"
            id="mailpoet_premium_key"
            name="premium[premium_key]"
            value="<%=- settings.premium.premium_key | default(settings.mta.mailpoet_api_key) -%>"
          />
          <a
            id="mailpoet_premium_key_verify"
            class="button-secondary"
          ><%= __('Verify') %></a>
        </div>
        <div
          class="mailpoet_premium_key_valid mailpoet_key_valid mailpoet_success<% if not(settings.premium.premium_key) or not(premium_key_valid) %> mailpoet_hidden<% endif %>"
        >
          <%= __('Your Premium key has been successfully validated.') %>
        </div>
        <div
          class="mailpoet_premium_key_invalid mailpoet_key_invalid mailpoet_error<% if not(settings.premium.premium_key) or premium_key_valid %> mailpoet_hidden<% endif %>"
        >
          <%= __('Your Premium key is invalid.') %>
        </div>
        <div
          class="mailpoet_mss_key_valid mailpoet_key_valid mailpoet_success<% if not(settings.mta.mailpoet_api_key) or not(mss_key_valid) %> mailpoet_hidden<% endif %>"
        >
          <%= __('Your MailPoet Sending Service key has been successfully validated.') %>
        </div>
        <div
          class="mailpoet_mss_key_invalid mailpoet_key_invalid mailpoet_error<% if not(settings.mta.mailpoet_api_key) or mss_key_valid %> mailpoet_hidden<% endif %>"
        >
          <%= __('Your MailPoet Sending Service key is invalid.') %>
        </div>
        <br/>
        <div
          class="mailpoet_premium_download"
          <% if premium_plugin_installed or not(premium_key_valid) %>
            style="display: none;"
          <% endif %>
        >
          <a
            class="mailpoet_premium_install_link button-primary"
            href="<%= premium_install_url | default('#') %>"
          ><%= __('Install Premium now.') %>
          </a>
          <span>
            <%= __("[link]Read guide[/link] on how to install Premium.")
              |replace({
                '[link]': '<a target="_blank" href="http://beta.docs.mailpoet.com/article/194-instructions-to-install-the-premium-plugin">',
                '[/link]': '</a>'
                })
              |raw
            %>
           </span>
        </div>
        <div
          class="mailpoet_premium_activate"
          <% if not(premium_plugin_installed) or premium_plugin_active or not(premium_key_valid) %>
            style="display: none;"
          <% endif %>
        >
          <span><%= __('You need to activate the MailPoet Premium plugin.') %></span>
          <a
            class="mailpoet_premium_activate_link button-primary"
            href="<%= premium_activate_url | default('#') %>"
          ><%= __('Activate Premium.') %></a>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<script type="text/javascript">
  jQuery(function($) {
    $(function() {
      // verifying license key
      $('#mailpoet_premium_key_verify').on('click', function () {
        // get license key
        var key = $('#mailpoet_premium_key').val();

        if(key.length === 0) {
          // validation
          return MailPoet.Notice.error(
            '<%= __('Please specify a license key before validating it.') | escape('js') %>',
            { scroll: true }
          );
        }

        MailPoet.Modal.loading(true);

        var promise1 = verifyMailPoetPremiumKey(key);
        var promise2 = verifyMailPoetSendingServiceKey(key);

        // wait until both requests are completed before hiding the loading modal
        promise1.always(function() {
          promise2.always(function() {
            MailPoet.Modal.loading(false);
          });
        });
      });

      function verifyMailPoetPremiumKey(key) {
        $('.mailpoet_premium_key_valid, .mailpoet_premium_key_invalid').addClass('mailpoet_hidden');
        $('.mailpoet_premium_download, .mailpoet_premium_activate').hide();

        return MailPoet.Ajax.post({
          api_version: window.mailpoet_api_version,
          endpoint: 'services',
          action: 'checkPremiumKey',
          data: {
            key: key
          }
        }).done(function(response) {
          // Hide server error notices
          $('.mailpoet_notice_server').hide();
          $('.mailpoet_premium_key_valid').text(response.data.message);
          $('.mailpoet_premium_key_valid').removeClass('mailpoet_hidden');
          if (!response.meta.premium_plugin_installed) {
            $('.mailpoet_premium_install_link')
              .attr('href', response.meta.premium_install_url || '#');
            $('.mailpoet_premium_download').show();
          } else if (!response.meta.premium_plugin_active) {
            $('.mailpoet_premium_activate_link')
              .attr('href', response.meta.premium_activate_url || '#');
            $('.mailpoet_premium_activate').show();
          }
        }).fail(function(response) {
          if (response.errors.length > 0) {
            $('.mailpoet_premium_key_invalid').text(
              response.errors.map(function(error) { return error.message; }).join(' ')
            );
            $('.mailpoet_premium_key_invalid').removeClass('mailpoet_hidden');
          }
        });
      }

      function verifyMailPoetSendingServiceKey(key) {
        $('.mailpoet_mss_key_valid, .mailpoet_mss_key_invalid').addClass('mailpoet_hidden');

        return MailPoet.Ajax.post({
          api_version: window.mailpoet_api_version,
          endpoint: 'services',
          action: 'checkMSSKey',
          data: {
            key: key
          }
        }).done(function(response) {
          // Hide server error notices
          $('.mailpoet_notice_server').hide();
          $('.mailpoet_mss_key_valid').text(response.data.message);
          $('.mailpoet_mss_key_valid').removeClass('mailpoet_hidden');
          updateMailPoetMethodButton();
        }).fail(function(response) {
          if (response.errors.length > 0) {
            $('.mailpoet_mss_key_invalid').text(
              response.errors.map(function(error) { return error.message; }).join(' ')
            );
            $('.mailpoet_mss_key_invalid').removeClass('mailpoet_hidden');
            updateMailPoetMethodButton();
          }
        });
      }

    });
  });
</script>
