.mailpoet-styles-settings {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 20px;

  .components-base-control {
    margin-bottom: 0;
  }

  .components-base-control__label {
    display: block;
    font-weight: bold;
  }

  .components-radio-control__option {
    display: inline-block;
    margin-right: 1em;
    width: auto;
  }

  .mailpoet-size-settings-control .components-range-control__number {
    min-width: 5em;
  }

  hr {
    margin: 0;
  }

  .mailpoet-font-family-select {
    .components-flex {
      height: auto;
    }

    .components-input-control__container {
      width: 100%;
    }

    .components-custom-select-control__label {
      font-weight: bold;
    }
  }
}

.mailpoet-font-family-select {
  .components-flex {
    height: auto;
  }

  .components-input-control__container {
    width: 100%;
  }

  .components-custom-select-control__label {
    font-weight: bold;
  }
}

.mailpoet-styles-settings-image-url {
  max-width: 245px;

  .mailpoet-styles-settings-image-url-body {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;

    input {
      flex-grow: 1;
      flex-shrink: 1;
      margin-right: 4px;
      min-width: 100px;
    }

    button {
      flex-shrink: 0;
      white-space: normal;
    }
  }

  .mailpoet-styles-settings-image-url-display {
    margin-right: 1px;
  }
}

.close-button-selection-item-list {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 72px);
}

.close-button-selection-item {
  background-color: $color-tertiary-light;
  height: 72px;

  .selection-item-body {
    display: flex;
    flex-direction: column;
  }
}

.close-button-selection-item-icon {
  align-self: center;
  height: 24px;
  margin-top: -7px;
  width: 24px;
}

.mailpoet-color-gradient-picker {
  .block-editor-color-gradient-control__color-indicator {
    font-weight: bold;
  }

  .component-color-indicator {
    vertical-align: text-bottom;
  }
}

// Styles for labels and headings for style setting components
// We override some styles from @wordpress/components to have unified labels appearance
.mailpoet-styles-settings .components-base-control__label,
.mailpoet-styles-settings .components-input-control__label,
.mailpoet-styles-settings .components-custom-select-control__label,
.mailpoet-styles-settings .components-font-size-picker label {
  font-size: 13px;
  font-weight: normal;
  margin-bottom: .5em;

  .component-color-indicator {
    vertical-align: text-bottom;
  }
}

// Fix for alignment of font size picker inputs
.mailpoet-styles-settings .components-font-size-picker__number-container label {
  margin-bottom: 0;
}
