@use 'sass:math';

$mailpoet-form-template-thumbnail-width: 480px;
$mailpoet-form-template-thumbnail-height: 316px;

@mixin formTemplatesGrid() {
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: repeat(
    auto-fill,
    $mailpoet-form-template-thumbnail-width + $grid-gap-half
  );
  justify-content: center;
}

.mailpoet-form-templates {
  @include formTemplatesGrid;
  padding-bottom: math.div($mailpoet-form-template-thumbnail-height, 3);

  .mailpoet-page-header {
    grid-column: 1 / -1;
  }

  .mailpoet-categories {
    grid-column: 1 / -1;
    justify-content: center;
  }
}

.mailpoet-form-template {
  height: $mailpoet-form-template-thumbnail-height + (2 * $grid-gap-large);
  padding-bottom: math.div($grid-gap-half, 2);
  width: $mailpoet-form-template-thumbnail-width + $grid-gap-half;

  .mailpoet-template-thumbnail {
    height: $mailpoet-form-template-thumbnail-height;
    padding: math.div($grid-gap-half, 2) math.div($grid-gap-half, 2) 0;
  }
}

.mailpoet-form-template-selection-header {
  grid-column: 1/-1;
}

.mailpoet-form-template-selection-footer {
  border-top: 1px solid $color-tertiary-light;
  grid-column: 1/-1;
  margin-top: $grid-gap-medium;
  text-align: center;
}
