.mailpoet_form_overlay_animation {
  animation: fade-in-overlay 1s 1 cubic-bezier(.77, 0, .175, 1);
}

@keyframes fade-in-overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .7;
  }
}

.mailpoet_form_animation_slideup {
  animation: slide-up 1s 1 cubic-bezier(.77, 0, .175, 1);
}

.mailpoet_form_popup.mailpoet_form_animation_slideup {
  animation: slide-up-popup 1s 1 cubic-bezier(.77, 0, .175, 1);
}

@keyframes slide-up-popup {
  0% {
    opacity: 0;
    transform: translate(-50%, -20%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mailpoet_form_animation_fadein {
  animation: fade-in 1s 1 cubic-bezier(.77, 0, .175, 1);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.mailpoet_form_animation_slideright {
  animation: slide-right 1s 1 cubic-bezier(.77, 0, .175, 1);
}

.mailpoet_form_popup.mailpoet_form_animation_slideright {
  animation: slide-right-popup 1s 1 cubic-bezier(.77, 0, .175, 1);
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right-popup {
  0% {
    opacity: 0;
    transform: translate(-80%, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.mailpoet_form_animation_slidedown {
  animation: slide-down 1s 1 cubic-bezier(.77, 0, .175, 1);
}

.mailpoet_form_popup.mailpoet_form_animation_slidedown {
  animation: slide-down-popup 1s 1 cubic-bezier(.77, 0, .175, 1);
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down-popup {
  0% {
    opacity: 0;
    transform: translate(-50%, -80%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.mailpoet_form_animation_zoomout {
  animation: zoom-out 1s 1 cubic-bezier(.77, 0, .175, 1);
}

.mailpoet_form_popup.mailpoet_form_animation_zoomout {
  animation: zoom-out-popup 1s 1 cubic-bezier(.77, 0, .175, 1);
}

@keyframes zoom-out {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoom-out-popup {
  0% {
    transform: scale(1.3) translate(-35%, -35%);
  }

  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
