<h3><%= __('Display options') %></h3>
<div class="mailpoet_settings_abandoned_cart_content_display_options"></div>
<div class="mailpoet_settings_abandoned_cart_content_controls">
  <input type="button" class="button button-primary mailpoet_done_editing" value="<%= __('Done') | escape('html_attr') %>" />
</div>
