@import 'nib'

@require 'icons'

/*
Style for Members plugin
*/

.members-tab-title
  .mailpoet-icon-logo
    vertical-align: middle;
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin-right: 3px;
