.mailpoet_breadcrumb
  font-size: 0.9em
  text-transform: uppercase
  color: #444

.mailpoet_breadcrumb .mailpoet_current
  font-weight: bold

.mailpoet_breadcrumb a
  text-decoration: none
  color: #444

.mailpoet_breadcrumb a:hover
  color: darken(#444, 50%)