// clearfix
.clearfix
  clearfix()

// disable outline on link focus
a:focus
  outline: 0 none !important

// success and error messages
.mailpoet_success
  color: #090

.mailpoet_error
  color: #900

// hide elements
.mailpoet_hidden
  display: none

// select 2
.select2-container
  width: 25em

@media screen and (max-width: 782px)
  .select2-container
    width: 100% !important