// clearfix
.clearfix
  clearfix()

// disable outline on link focus
a:focus
  outline: 0 none !important

// success and error messages
.mailpoet_success
  color: #090

.mailpoet_error
  color: #900

// hide elements
.mailpoet_hidden
  display: none

// add margins to a div
.mailpoet_spaced_block
  margin: 1em 0

// select 2
.select2-container
  width: 25em !important

// textareas
textarea.regular-text
  width: 25em !important

@media screen and (max-width: 782px)
  .select2-container
    width: 100% !important

// progress bars
progress-border-radius = 5px
progress-background = #efefef
progress-foreground = #69b1e9

progress
  background-color: progress-background;
  height: 2em
  border: 0
  width: 100%

progress::-webkit-progress-bar
  background-color: progress-background;

progress::-webkit-progress-value
  background-color: progress-foreground
  border-radius: progress-border-radius

progress::-moz-progress-bar
  background-color: progress-foreground
  border-radius: progress-border-radius
