// clearfix
.clearfix:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden
  overflow: hidden

.clearfix
  display: inline-table

* html .clearfix
  height: 1%

.clearfix
  display: block

// colors

// notices
.mailpoet_notice
    position: relative

.mailpoet_notice_close
    position: absolute
    right: 0.5em
    top: 0.5em
    color: #999
    text-decoration: none