.mailpoet-discount-container
  margin: 15px
  padding: 20px
  background: white
  border: 1px solid #FF5301
  text-align: center

.mailpoet-discount-container h1
  margin: 0
  line-height: 1.2em
  font-size: 2.8em
  font-weight: 400

.mailpoet-discount-container p
  line-height: 1.2em
  font-size: 1.2em

.mailpoet-discount-container a
  display: inline-block
  padding: 10px 30px
  background: #FF5301
  border: 1px solid #CC4200
  color: white
  text-decoration: none
