.mailpoet_feature_announcement
  float: right

.mailpoet_feature_announcement_button
  padding: 0 !important
  position: relative

.mailpoet_feature_announcement_icon
  font-size: 1.5em
  line-height: 1.5em
  margin: 0 0.2em

.mailpoet_feature_announcement_dot::before
  content: ""
  display: block
  position: absolute
  top: -4px
  right: -4px
  height: 10px
  width: 10px
  background: #d54e21
  border-radius: 10px
