.mailpoet_in_app_announcement_pulsing_dot
  display: inline-block
  width: 10px
  height: 10px
  border-radius: 50%
  background: #ff5301
  cursor: pointer
  box-shadow: 0 0 0 rgba(255, 83, 1, 0.4)
  animation: mailpoet_in_app_dot_pulse 2s infinite

@-webkit-keyframes mailpoet_in_app_dot_pulse
  0%
    box-shadow: 0 0 0 0 rgba(255, 83, 1, 0.4)
  70%
    box-shadow: 0 0 0 10px rgba(255, 83, 1, 0)
  100%
    box-shadow: 0 0 0 0 rgba(255, 83, 1, 0)

@keyframes mailpoet_in_app_dot_pulse
  0%
    box-shadow: 0 0 0 0 rgba(255, 83, 1, 0.4)
  70%
    box-shadow: 0 0 0 10px rgba(255, 83, 1, 0)
  100%
    box-shadow: 0 0 0 0 rgba(255, 83, 1, 0)

.mailpoet_drag_and_drop_tutorial
  text-align: center
  h2
    font-size: 28px
  video
    margin-top: 20px

.new_subscriber_notification_announcement
  h2
    font-size: 28px
  text-align: center
