.mailpoet_listing_loading tbody tr,
.mailpoet_form_loading
  opacity: 0.2;

.widefat tfoot td.mailpoet_check_column,
.widefat thead td.mailpoet_check_column
  padding-top: 10px;

.widefat tbody th.mailpoet_check_column,
.widefat tfoot td.mailpoet_check_column,
.widefat thead td.mailpoet_check_column
  padding: 11px 0 0 3px;

.widefat .mailpoet_check_column
  padding: 6px 0 25px;
  vertical-align: top;
  width: 2.2em;

.mailpoet_select_all
  background-color: #f1f1f1

.mailpoet_select_all td
  text-align: center

