.mailpoet_listing_loading tbody tr,
.mailpoet_form_loading tbody tr
  opacity: 0.2

.mailpoet_select_all
  background-color: #f1f1f1

.mailpoet_select_all td
  text-align: center

table.widefat thead .check-column,
table.widefat tfoot .check-column
  padding: 10px 0 0 3px