.mailpoet_listing_loading tbody tr
.mailpoet_form_loading tbody tr
  opacity: 0.2

.mailpoet_select_all
  background-color: #f1f1f1

.mailpoet_select_all td
  text-align: center

.mailpoet_listing_table
  th span
    white-space: nowrap

  thead .check-column
  tfoot .check-column
    padding: 10px 0 0 3px

  thead th.column-primary
  tfoot th.column-primary
    width: 25em

  // responsive
  @media screen and (max-width: 782px)
    thead th.column-primary
    tfoot th.column-primary
      width: 100%