// Settings
// Global variables, config switches. Not producing any CSS.

@import 'settings/breakpoints';
@import 'settings/grid';
@import 'settings/badge';
@import 'settings/colors';
@import 'settings/form';
@import 'settings/legacy-modal';
@import 'settings/modal';
@import 'settings/newsletter';
@import 'settings/progress';
@import 'settings/typography';

// Tools
// Default mixins and functions. Still not producing any CSS.

@import 'mixins/breakpoints';
@import 'mixins/clearfix';

// 3rd party styles

@import '../../../node_modules/select2/dist/css/select2';

// Generic

@import 'generic/typography';
@import 'generic/buttons';
@import 'generic/buttons-spinners';
@import 'generic/forms';
@import 'generic/forms-checkbox';
@import 'generic/forms-input';
@import 'generic/forms-radio';
@import 'generic/forms-select';
@import 'generic/forms-select2';
@import 'generic/forms-toggle';
@import 'generic/forms-yesno';
@import 'generic/grid';
@import 'generic/helpers'; // must be the last

// Components
// Actual UI components.

@import 'components/datepicker';
@import 'components/modal';
@import 'components/parsley';
@import 'components-plugin/automatic-emails';
@import 'components-plugin/browser-preview';
@import 'components-plugin/dynamic-segments';
@import 'components-plugin/common';
@import 'components-plugin/legacy-modal';
@import 'components-plugin/notice';
@import 'components-plugin/listing';
@import 'components-plugin/listing-newsletters';
@import 'components-plugin/box';
@import 'components-plugin/breadcrumb';
@import 'components-plugin/forms';
@import 'components-plugin/settings';
@import 'components-plugin/progress-bar';
@import 'components-plugin/subscribers';
@import 'components-plugin/pages';
@import 'components-plugin/pages-custom';
@import 'components-plugin/premium-page';
@import 'components-plugin/mp2-migrator';
@import 'components-plugin/newsletter-templates';
@import 'components-plugin/welcome-wizard';
@import 'components-plugin/feature-announcement';
@import 'components-plugin/newsletter-congratulate';
@import 'components-plugin/discounts';
@import 'components-plugin/review-request';
@import 'components-plugin/set-from-address-modal';
@import 'components-plugin/stats';
@import 'components-plugin/import-export';
