#logger
  width: 100%
  height: 300px
  background-color: transparent
  border: 0
  border-top: 1px #aba9a9 solid
  padding: 2px
  overflow: scroll
  resize: both
  font-size: 0.85em
  margin-top: 20px

#progressbar
  width: 50%
  background-color: #d8d8d8
  border-radius: 5px

progressbar_color = #fecf23
progressbar_gradient_to_color = #fd9215

.ui-progressbar .ui-progressbar-value
  height: 100%
  background-color: progressbar_color
  background-image: linear-gradient(to bottom, progressbar_color, progressbar_gradient_to_color)
  border-radius: 3px
  box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset
  border 0

.mailpoet_progress_label
  font-size: 15px

.error_msg
  color: #f00
