.newsletter_congratulate_page
  margin-top: 30px;

.mailpoet_newsletter_loading
  text-align: center;

  .mailpoet_loading
    margin: 100px auto 0 auto;

  .mailpoet_newsletter_loading_header
    margin: 30px;

.mailpoet_congratulate_success
  width: 100%;

  h1
    text-align center;
    margin-bottom: 30px;

  img, .button
    margin-left: auto;
    margin-right: auto;
    display: block;

  .typeform-widget
    height: 350px
    margin: 0 auto 30px
    max-width: 100%
    width: 500px
