/*
Custom styles for MailPoet pages.
*/

.mailpoet-about-wrap

  .videoWrapper
    position: relative
    padding-bottom: 56.25% /* 16:9 */
    /*padding-top: 25px*/
    height: 0

    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%


  .mailpoet_video
    border: 1px solid rgba(0, 0, 0, 0.1)

  #mailpoet-changelog ul
    list-style: disc
    padding-left: 20px

  h2.mailpoet-feature-top
    margin: 50px auto

  a.button.go-to-plugin
    margin-top: 2em

  p.top-space-triple
    margin-top: 3em

  p.mailpoet-top-text
    margin-right: 0
