.mailpoet_progress
  background-color: #efefef
  height: 25px
  padding: 0
  width: 100%
  margin: 0
  border-radius: 5px

.mailpoet_progress span
  display: inline-block
  height: 100%
  border-radius: 3px
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset

.blue span
  background-color: #34c2e3
  background-image: linear-gradient(top, #34c2e3, darken(#34c2e3, 20%))

.orange span
  background-color: #fecf23
  background-image: linear-gradient(top, #fecf23, #fd9215)