@import 'nib'

@require 'parsley'
@require 'form_validation'

/* labels */
.mailpoet_text_label
.mailpoet_textarea_label
.mailpoet_select_label
.mailpoet_radio_label
.mailpoet_checkbox_label
.mailpoet_list_label
.mailpoet_date_label
  display:block

/* form loading */
.mailpoet_form_sending
  .mailpoet_form_loading
    display:block
  .mailpoet_submit
    display:none

.mailpoet_form_loading
  display:none
  width: 30px
  text-align: center

.mailpoet_form_loading > span
  width: 5px
  height: 5px
  background-color: #5b5b5b

  border-radius: 100%
  display: inline-block
  -webkit-animation: mailpoet-bouncedelay 1.4s infinite ease-in-out both
  animation: mailpoet-bouncedelay 1.4s infinite ease-in-out both

.mailpoet_form_loading .mailpoet_bounce1
  -webkit-animation-delay: -0.32s
  animation-delay: -0.32s

.mailpoet_form_loading .mailpoet_bounce2 {
  -webkit-animation-delay: -0.16s
  animation-delay: -0.16s
  margin: 0 7px
}

@-webkit-keyframes mailpoet-bouncedelay
  0%, 80%, 100%
    -webkit-transform: scale(0)
  40%
    -webkit-transform: scale(1.0)

@keyframes mailpoet-bouncedelay
  0%, 80%, 100%
    -webkit-transform: scale(0)
    transform: scale(0)
  40%
    -webkit-transform: scale(1.0)
    transform: scale(1.0)
