#mailpoet_settings
  // common
  .mailpoet_panel
    display none

  .form-table th
    width 20em

  // sending methods
  .mailpoet_sending_methods
    margin 25px 0 0 0
    li
      float left
      position relative
      padding 15px 15px 0 15px
      margin 0 25px 25px 0
      width 300px
      height 300px
      border 1px solid #dedede
      background-color #fff
    h3
      text-align center
      height 54px
      font-size 1.5em
    .mailpoet_description
      font-size 14px
    .mailpoet_status
      background-color #2f2f2f
      color #fff
      position absolute
      bottom 0
      left 0
      right 0
      text-overflow ellipsis
      padding 15px
      span
        visibility hidden
        font-weight bold
    .mailpoet_active
      .mailpoet_status
        background-color #088b00
        span
          visibility visible
      #mailpoet_mta_activate
        visibility hidden
    .mailpoet_actions
      bottom 15px
      color #fff
      padding 0
      position absolute
      right 15px
      .button-secondary
        margin 0 -6px -4px 0

  // premium key
  .mailpoet_key
    &_valid
      &::before
        content '✔ '
    &_invalid
      &::before
        content: '✗ '

  // responsive
  @media screen and (max-width: 782px)
    .form-table th
      width auto

    .mailpoet_sending_methods
      li
        float none
        width auto
        margin-right 0

