#mailpoet_settings
  // common
  .mailpoet_panel
    display none

  .form-table th
    width 20em

  // sending methods
  .mailpoet_sending_methods
    margin 25px 0 0 0
    display flex
    flex-direction row
    justify-content space-around
    > li
      flex-grow 1
      flex-shrink 1
      display flex
      flex-direction column
      flex-basis 0
      margin 0 25px 25px 0
      border 1px solid #dedede
      background-color #fff
      max-width 500px
      .mailpoet_sending_method_description
        padding: 25px
        flex-grow 1
        flex-shrink 0
    > li:last-child
      margin-right 0
    h3
      text-align center
      height 54px
      font-size 1.5em
    .mailpoet_description
      font-size 14px
    .mailpoet_status
      display flex
      flex-direction row
      justify-content space-between
      align-items center
      background-color #2f2f2f
      color #fff
      text-overflow ellipsis
      padding 15px
      span
        visibility hidden
        font-weight bold
    .mailpoet_active
      .mailpoet_status
        background-color #088b00
        span
          visibility visible
      #mailpoet_mta_activate
        visibility hidden

  ul.sending-method-benefits
    list-style-type: none
    margin-bottom: 2em
    margin-top: 2em

  .mailpoet_success_item::before
    content '✔ '

  .mailpoet_error_item::before
    content '✗ '

  // responsive
  @media screen and (max-width: 782px)
    .form-table th
      width auto

    .mailpoet_sending_methods
      flex-flow: row wrap
      justify-content: space-around
      > li
        margin-right 0
        flex-basis auto


