.post-type-mailpoet_email {
  // We want to hide the "Publish" button in the header since we use a custom "Next" button
  .editor-post-publish-button__button {
    display: none !important;
  }
  // Hardcoded email editor area width to match email width
  // We may want to allow set it in configuration in the future
  .edit-post-visual-editor__content-area {
    margin: 0 auto;
    max-width: 660px;
  }

  .edit-post-visual-editor {
    background: #ccc;
  }

  // Hide Post Summary panel
  .edit-post-sidebar .components-panel .edit-post-post-status {
    display: none;
  }
}
