.DS_Store
TODO
composer.phar
/vendor
/vendor_backup
tests/_output/*
tests/_support/_generated/*
node_modules
.env
npm-debug.log
!tasks/**
/views/cache/**
temp
.idea
mailpoet.zip
tests/javascript/testBundles
assets/css/*.css
assets/css/*.json
assets/js/*.js
assets/js/*.json
.vagrant
lang
.mp_svn
/nbproject/