.DS_Store
.env
.idea
.vscode
.claude/settings.local.json
dev/data
docker-compose.override.yml
node_modules
npm-debug.log
mailpoet-premium
tsconfig.tsbuildinfo
/wordpress
packages/php/*/vendor
tests_env/vendor
