{
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-name-case": "lower",
    "color-hex-case": "lower",
    "function-name-case": "lower",
    "indentation": 2,
    "media-feature-name-case": "lower",
    "order/properties-alphabetical-order": true,
    "property-case": "lower",
    "selector-pseudo-class-case": "lower",
    "selector-pseudo-element-case": "lower",
    "selector-type-case": "lower",
    "unit-case": "lower"
  },
}
