{
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-name-case": "lower",
    "at-rule-semicolon-newline-after": "always",
    "block-closing-brace-empty-line-before": "never",
    "block-closing-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always-multi-line",
    "block-opening-brace-newline-after": "always-multi-line",
    "color-hex-case": "lower",
    "declaration-block-semicolon-newline-after": "always-multi-line",
    "declaration-colon-newline-after": "always-multi-line",
    "declaration-empty-line-before": "never",
    "function-max-empty-lines": 0,
    "function-name-case": "lower",
    "function-parentheses-newline-inside": "always-multi-line",
    "indentation": 2,
    "max-empty-lines": 1,
    "media-feature-name-case": "lower",
    "media-query-list-comma-newline-after": "always-multi-line",
    "no-missing-end-of-source-newline": true,
    "order/properties-alphabetical-order": true,
    "property-case": "lower",
    "rule-empty-line-before": ["always-multi-line", {
      except: ["first-nested"],
      ignore: ["after-comment"]
    }],
    "scss/operator-no-newline-after": true,
    "scss/operator-no-newline-before": true,
    "selector-list-comma-newline-after": "always",
    "selector-max-empty-lines": 0,
    "selector-pseudo-class-case": "lower",
    "selector-pseudo-element-case": "lower",
    "selector-type-case": "lower",
    "string-no-newline": true,
    "unit-case": "lower",
    "value-list-comma-newline-after": "always-multi-line",
    "value-list-max-empty-lines": 0,
  },
}

