.mailpoet_posts_block {
  padding-left: 0;
  padding-right: 0;
}

.mailpoet_posts_block_posts {
  overflow: auto;

  > .mailpoet_block {
    width: 100%;
  }
}

.mailpoet_post_selection_filter_row {
  margin-bottom: 5px;
  margin-top: 5px;
}

.mailpoet_posts_categories_and_tags {
  width: 100%;
}

.mailpoet_settings_posts_display_options,
.mailpoet_settings_posts_selection {
  @include animation-slide-open-downwards();
  overflow-x: hidden;
  padding: 0 19px;
}

.mailpoet_settings_posts_show_display_options,
.mailpoet_settings_posts_show_post_selection {
  display: block;
  margin-top: 10px;
}

.mailpoet_post_selection_container {
  margin-bottom: 0;
  margin-top: 20px;
}

.mailpoet_post_scroll_container {
  max-height: 400px;
  overflow: hidden scroll;
}

.mailpoet_settings_posts_single_post {
  background-color: $color-white;
  border: 1px solid $color-editor-border-content;
  border-radius: 1px;
  box-sizing: border-box;
  height: 38px;
  line-height: 38px;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow: hidden;
  width: 100%;

  &:hover {
    border-color: $color-primary;
  }

  .mailpoet_select_post_checkbox {
    margin-left: 10px;
    margin-right: 8px;
  }
}

.mailpoet_post_selection_loading {
  color: #999;
}

.mailpoet_posts_container > .mailpoet_droppable_block {
  width: 100%;
}
