.mailpoet_products_block {
  padding-left: 0;
  padding-right: 0;
}

.mailpoet_products_block_products {
  overflow: auto;

  > .mailpoet_block {
    width: 100%;
  }
}

.mailpoet_product_selection_filter_row {
  margin-bottom: 5px;
  margin-top: 5px;
}

.mailpoet_products_categories_and_tags {
  width: 100%;
}

.mailpoet_settings_products_display_options,
.mailpoet_settings_products_selection {
  @include animation-slide-open-downwards();
  overflow-x: hidden;
  padding: 0 19px;
}

.mailpoet_settings_products_show_display_options,
.mailpoet_settings_products_show_product_selection {
  display: block;
  margin-top: 10px;
}

.mailpoet_product_selection_container {
  margin-bottom: 0;
  margin-top: 20px;
}

.mailpoet_product_scroll_container {
  max-height: 400px;
  overflow: hidden scroll;
}

.mailpoet_settings_products_single_product {
  background-color: $color-white;
  border: 1px solid $color-editor-border-content;
  border-radius: 1px;
  box-sizing: border-box;
  height: 38px;
  line-height: 38px;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow: hidden;
  width: 100%;

  &:hover {
    border-color: $color-primary;
  }

  .mailpoet_select_product_checkbox {
    margin-left: 10px;
    margin-right: 8px;
  }
}

.mailpoet_product_selection_loading {
  color: #999;
}

.mailpoet_products_container > .mailpoet_droppable_block {
  width: 100%;
}
