.mailpoet_social_block {
  .mailpoet_social {
    text-align: center;
  }
}

.mailpoet_social {
  span {
    display: inline-block;
    padding: 2px 3px;
  }

  span,
  a,
  img {
    vertical-align: top;
  }

  a {
    cursor: all-scroll;
  }
}

.mailpoet_social_icon_set {
  border: 1px solid transparent;
  margin-bottom: 5px;
  padding: 5px;

  &:hover {
    border: 1px solid $editor-social-icon-border-color-hover;
  }

  img {
    height: $editor-social-icon-width;
    padding: 2px 3px;
    vertical-align: middle;
    width: $editor-social-icon-width;
  }
}

.mailpoet_active_icon_set {
  background-color: $editor-social-icon-background-color;
  border: 1px dashed $editor-social-icon-border-color;
}

.mailpoet_social_icon_settings {
  background: $color-white;
  border: 1px solid $color-editor-border-content;
  margin-bottom: 9px;
  padding: 28px 9px (18px - 10px);
  position: relative;
}

.mailpoet_social_icon_settings_row {
  clear: both;
  line-height: 30px;
  margin-bottom: 10px;
  overflow: auto;
}

.mailpoet_social_icon_settings_label {
  margin-right: 5px;
  text-align: left;

  .mailpoet_social_icon_image {
    height: 30px;
    width: 30px;
  }

  &.mailpoet_social_icon_image_label {
    line-height: initial;
  }
}

.mailpoet_social_icon_settings_form_element {
  float: left;
  width: 100%;

  input,
  select {
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    margin: 0;
    vertical-align: middle;
    width: 100%;
  }
}

.mailpoet_social_icon_settings_tool {
  position: absolute;
  top: 10px;

  .mailpoet_tool_icon {
    fill: $editor-tool-social-color;
    height: $editor-tool-social-width;
    width: $editor-tool-social-width;

    &:hover {
      fill: $editor-tool-social-hover;
    }

    &:active {
      fill: $color-primary;
    }
  }
}

.mailpoet_social_icon_settings_move_icon {
  right: 5px;
}

.mailpoet_social_icon_settings_delete_icon {
  right: 5px + 5px + $editor-tool-social-width;
}
