{
  "presets": [
    "@babel/preset-typescript",
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-env"
  ],
  "plugins": [
    "babel-plugin-typescript-to-proptypes",
    [
      "@babel/plugin-transform-runtime",
      {
        "sourceType": "unambiguous",
        "corejs": 3
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-throw-expressions"
  ]
}
