{
  'plugins': ['stylelint-order', 'stylelint-scss'],
  'customSyntax': 'postcss-scss',
  'rules':
    {
      'at-rule-empty-line-before':
        ['always', { except: ['first-nested', 'blockless-after-blockless'] }],
      'block-no-empty': true,
      'color-hex-length': 'short',
      'color-no-invalid-hex': true,
      'comment-no-empty': true,
      'comment-whitespace-inside': 'always',
      'declaration-block-no-duplicate-properties':
        [true, { ignore: ['consecutive-duplicates-with-different-values'] }],
      'declaration-block-no-redundant-longhand-properties':
        [true, { ignoreShorthands: [/flex/, /grid/] }],
      'declaration-block-single-line-max-declarations': 1,
      'declaration-empty-line-before': 'never',
      'font-family-no-duplicate-names': true,
      'function-name-case': 'lower',
      'function-url-quotes': 'always',
      'keyframe-declaration-no-important': true,
      'length-zero-no-unit': true,
      'media-feature-name-no-unknown': true,
      'no-duplicate-selectors': true,
      'order/properties-alphabetical-order': true,
      'property-no-unknown': true,
      'scss/at-rule-no-unknown': true,
      'scss/dollar-variable-colon-space-after': 'always',
      'scss/dollar-variable-colon-space-before': 'never',
      'scss/operator-no-newline-after': true,
      'scss/operator-no-newline-before': true,
      'scss/operator-no-unspaced': true,
      'scss/selector-no-redundant-nesting-selector': true,
      'selector-nested-pattern': '^(?!&-|&_).*',
      'selector-pseudo-class-no-unknown': true,
      'selector-pseudo-element-colon-notation': 'single',
      'selector-pseudo-element-no-unknown': true,
      'selector-type-case': 'lower',
      'shorthand-property-no-redundant-values': true,
      'string-no-newline': true,
      'unit-no-unknown': true,
    },
}
