$task-icon-size: 32px;

.mailpoet-task-list__task {
  background-color: $color-white;
  border-bottom: 1px solid $color-homepage-borders;
  box-sizing: border-box;
  cursor: pointer;
  display: grid;
  font-weight: 600;
  grid-template-columns: $grid-gap-xl auto $grid-gap-xl;
  margin: 0;
  padding: $grid-gap $grid-gap-medium;
  position: relative;
  width: 100%;

  &:hover {
    background-color: $color-grey-0;
  }
}

.mailpoet-task-list__task-content {
  align-content: center;
  color: var(--wp-admin-theme-color);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  line-height: 20px;

  p {
    color: $color-text-light;
    font-weight: normal;
    margin: 3px 0 0;
  }

  a {
    color: var(--wp-admin-theme-color);

    &:hover {
      color: var(--wp-admin-theme-color-darker-20);
    }
  }
}

.mailpoet-task-list__task-before {
  color: var(--wp-admin-theme-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mailpoet-task-list__task-icon {
  border: 1px solid var(--wp-admin-theme-color);
  border-radius: 50%;
  box-sizing: border-box;
  height: $task-icon-size;
  line-height: $task-icon-size;
  text-align: center;
  width: $task-icon-size;

  svg {
    fill: var(--wp-admin-theme-color);
    margin: 3px;
  }
}

.mailpoet-task-list__task--completed {
  .mailpoet-task-list__task-icon {
    background-color: var(--wp-admin-theme-color);

    svg {
      fill: $color-white;
    }
  }
}

.mailpoet-task-list__task--active {
  box-shadow: inset 5px 0 0 0 var(--wp-admin-theme-color);

  &:after {
    background-color: var(--wp-admin-theme-color);
    content: '';
    height: 100%;
    left: 0;
    opacity: .1;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.mailpoet-task-list__heading p,
.mailpoet-task-list__all-set {
  color: $color-text-light;
  font-size: $heading-font-size-h4;
  line-height: 1.5;
  margin-top: $grid-gap-large;
  text-align: center;
}

.mailpoet-task-list__heading {
  margin-bottom: $grid-gap-large;
  position: relative;

  h1 {
    margin: 0;
  }

  p {
    margin-top: $grid-gap-half;
    text-align: left;
  }

  .components-dropdown {
    position: absolute;
    right: 0;
    top: 6px;
  }
}
