parameters:
	tmpDir: temp/phpstan
	bootstrap: tasks/phpstan/bootstrap.php
	ignoreErrors:
		- '#Access to an undefined property#' # current code suffers from this, it should be fixed & this line removed
		- '#Static call to instance method MailPoet\\Models\\Model::#'
		- '#Access to an undefined static property MailPoet\\Models\\Model::#'
		- '#Function members_register_.+ not found#'
	excludes_analyse:
		- lib/DI/CachedContainer.php
