parameters:
  mailpoetDir: %rootDir%/../../../../..
  tmpDir: ../../temp/phpstan
  bootstrap: bootstrap.php
  autoload_files:
    - %mailpoetDir%/vendor/autoload.php
    - %mailpoetDir%/vendor/codeception/codeception/autoload.php
    - %mailpoetDir%/vendor/codeception/verify/src/Codeception/function.php
    - %mailpoetDir%/vendor/codeception/verify/src/Codeception/Verify.php
  autoload_directories:
    - %mailpoetDir%/tests/_support/_generated # without this line PHPStan segfaults ¯\_(ツ)_/¯
    - %mailpoetDir%/tests/_support
    - %mailpoetDir%/tests/acceptance
    - %mailpoetDir%/tests/unit
  dynamicConstantNames:
    - WP_DEBUG
  ignoreErrors:
    - '/Parameter #1 $cssOrXPath of method AcceptanceTester::moveMouseOver() expects string|null, array<string, string> given./'
  excludes_analyse:
    - %mailpoetDir%/tests/_support/_generated

includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - extensions/PHPUnit5CompatExtension/extension.neon
  - extensions/CodeceptionExtension/extension.neon
