parameters:
	ignoreErrors:
		-
			message: "#^Property MailPoet\\\\Cron\\\\DaemonHttpRunner\\:\\:\\$daemon \\(MailPoet\\\\Cron\\\\Daemon\\) does not accept MailPoet\\\\Cron\\\\Daemon\\|null\\.$#"
			count: 1
			path: ../../lib/Cron/DaemonHttpRunner.php

		-
			message: "#^Parameter \\#1 \\$newsletter of method MailPoet\\\\Cron\\\\Workers\\\\StatsNotifications\\\\Scheduler\\:\\:schedule\\(\\) expects MailPoet\\\\Entities\\\\NewsletterEntity, MailPoet\\\\Entities\\\\NewsletterEntity\\|null given\\.$#"
			count: 1
			path: ../../lib/Cron/Workers/SendingQueue/SendingQueue.php

		-
			message: "#^Cannot call method getNewsletterRenderedSubject\\(\\) on MailPoet\\\\Entities\\\\SendingQueueEntity\\|null\\.$#"
			count: 2
			path: ../../lib/Cron/Workers/StatsNotifications/Worker.php

		-
			message: "#^Cannot call method has\\(\\) on MailPoetVendor\\\\Psr\\\\Container\\\\ContainerInterface\\|null\\.$#"
			count: 1
			path: ../../lib/DI/ContainerConfigurator.php

		-
			message: "#^Cannot call method get\\(\\) on MailPoetVendor\\\\Psr\\\\Container\\\\ContainerInterface\\|null\\.$#"
			count: 1
			path: ../../lib/DI/ContainerConfigurator.php

		-
			message: "#^Cannot call method contains\\(\\) on MailPoetVendor\\\\Doctrine\\\\Common\\\\Cache\\\\Cache\\|null\\.$#"
			count: 1
			path: ../../lib/Doctrine/TablePrefixMetadataFactory.php

		-
			message: "#^Property MailPoet\\\\DynamicSegments\\\\Filters\\\\EmailAction\\:\\:\\$connect \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: ../../lib/DynamicSegments/Filters/EmailAction.php

		-
			message: "#^Property MailPoet\\\\DynamicSegments\\\\Filters\\\\UserRole\\:\\:\\$connect \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: ../../lib/DynamicSegments/Filters/UserRole.php

		-
			message: "#^Property MailPoet\\\\DynamicSegments\\\\Filters\\\\WooCommerceCategory\\:\\:\\$connect \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: ../../lib/DynamicSegments/Filters/WooCommerceCategory.php

		-
			message: "#^Property MailPoet\\\\DynamicSegments\\\\Filters\\\\WooCommerceProduct\\:\\:\\$connect \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: ../../lib/DynamicSegments/Filters/WooCommerceProduct.php

		-
			message: "#^Parameter \\#2 \\$code of class MailPoet\\\\DynamicSegments\\\\Exceptions\\\\ErrorSavingException constructor expects int, int\\|null given\\.$#"
			count: 1
			path: ../../lib/DynamicSegments/Persistence/Saver.php

		-
			message: "#^Parameter \\#1 \\$data of function is_serialized expects string, array\\|string given\\.$#"
			count: 2
			path: ../../lib/Models/Form.php

		-
			message: "#^Parameter \\#2 \\$value of method MailPoet\\\\Models\\\\Model\\:\\:set\\(\\) expects string\\|null, array\\|string given\\.$#"
			count: 2
			path: ../../lib/Models/Form.php

		-
			message: "#^Argument of an invalid type array\\|true supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../../lib/Models/Model.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, object\\|string given\\.$#"
			count: 1
			path: ../../lib/Models/Newsletter.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, array\\|string\\|null given\\.$#"
			count: 1
			path: ../../lib/Models/ScheduledTask.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, object\\|string\\|null given\\.$#"
			count: 1
			path: ../../lib/Models/SendingQueue.php

		-
			message: "#^Parameter \\#3 \\$subject of function str_replace expects array\\|string, string\\|null given\\.$#"
			count: 1
			path: ../../lib/Newsletter/Links/Links.php

		-
			message: "#^Parameter \\#3 \\$subject of function preg_replace expects array\\|string, string\\|null given\\.$#"
			count: 1
			path: ../../lib/Newsletter/Links/Links.php

		-
			message: "#^Cannot access property \\$ID on int\\|WP_Post\\.$#"
			count: 1
			path: ../../lib/AutomaticEmails/WooCommerce/Events/PurchasedProduct.php

		-
			message: "#^Cannot access property \\$post_title on int\\|WP_Post\\.$#"
			count: 1
			path: ../../lib/AutomaticEmails/WooCommerce/Events/PurchasedProduct.php

		-
			message: "#^Method MailPoet\\\\Config\\\\MP2Migrator\\:\\:replaceMP2ShortcodesCallback\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: ../../lib/Config/MP2Migrator.php

		-
			message: "#^Undefined variable\\: \\$grandparent$#"
			count: 1
			path: ../../lib/Util/DOM.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: ../../lib/Util/DOM.php
