parameters:
	ignoreErrors:
		-
			message: "#^Cannot access property \\$exclude_from_search on WP_Post_Type\\|null\\.$#"
			count: 1
			path: ../../tests/integration/API/JSON/v1/AutomatedLatestContentTest.php

		-
			message: "#^Cannot call method id\\(\\) on MailPoet\\\\Models\\\\CustomField\\|false\\.$#"
			count: 1
			path: ../../tests/integration/API/JSON/v1/CustomFieldsTest.php

		-
			message: "#^Cannot call method getId\\(\\) on MailPoet\\\\Entities\\\\CustomFieldEntity\\|null\\.$#"
			count: 1
			path: ../../tests/integration/API/JSON/v1/CustomFieldsTest.php

		-
			message: "#^Cannot access property \\$deletedAt on MailPoet\\\\Models\\\\DynamicSegment\\|false\\.$#"
			count: 2
			path: ../../tests/integration/API/JSON/v1/DynamicSegmentsTest.php

		-
			message: "#^Cannot call method delete\\(\\) on MailPoet\\\\Models\\\\DynamicSegment\\|false\\.$#"
			count: 2
			path: ../../tests/integration/API/JSON/v1/DynamicSegmentsTest.php

		-
			message: "#^Cannot call method asArray\\(\\) on MailPoet\\\\Models\\\\Form\\|false\\.$#"
			count: 7
			path: ../../tests/integration/API/JSON/v1/FormsTest.php

		-
			message: "#^Cannot access property \\$deletedAt on MailPoet\\\\Models\\\\Form\\|false\\.$#"
			count: 1
			path: ../../tests/integration/API/JSON/v1/FormsTest.php

		-
			message: "#^Cannot access property \\$status on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 3
			path: ../../tests/integration/API/JSON/v1/ImportExportTest.php

		-
			message: "#^Cannot access property \\$scheduledAt on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 2
			path: ../../tests/integration/API/JSON/v1/ImportExportTest.php

		-
			message: "#^Cannot call method withSegments\\(\\) on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 1
			path: ../../tests/integration/API/JSON/v1/NewslettersTest.php

		-
			message: "#^Cannot call method asArray\\(\\) on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 5
			path: ../../tests/integration/API/JSON/v1/NewslettersTest.php

		-
			message: "#^Cannot access property \\$deletedAt on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 1
			path: ../../tests/integration/API/JSON/v1/NewslettersTest.php

		-
			message: "#^Cannot call method asArray\\(\\) on MailPoet\\\\Models\\\\Segment\\|false\\.$#"
			count: 5
			path: ../../tests/integration/API/JSON/v1/SegmentsTest.php

		-
			message: "#^Cannot access property \\$deletedAt on MailPoet\\\\Models\\\\Segment\\|false\\.$#"
			count: 1
			path: ../../tests/integration/API/JSON/v1/SegmentsTest.php

		-
			message: "#^Cannot access property \\$status on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 1
			path: ../../tests/integration/API/JSON/v1/SendingQueueTest.php

		-
			message: "#^Cannot access property \\$scheduledAt on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 3
			path: ../../tests/integration/API/JSON/v1/SendingQueueTest.php

		-
			message: "#^Cannot access property \\$type on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 1
			path: ../../tests/integration/API/JSON/v1/SendingQueueTest.php

		-
			message: "#^Cannot access property \\$id on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 2
			path: ../../tests/integration/API/JSON/v1/SendingQueueTest.php

		-
			message: "#^Cannot access property \\$error on MailPoet\\\\Models\\\\ScheduledTaskSubscriber\\|false\\.$#"
			count: 1
			path: ../../tests/integration/API/JSON/v1/SendingTaskSubscribersTest.php

		-
			message: "#^Cannot access property \\$failed on MailPoet\\\\Models\\\\ScheduledTaskSubscriber\\|false\\.$#"
			count: 1
			path: ../../tests/integration/API/JSON/v1/SendingTaskSubscribersTest.php

		-
			message: "#^Cannot access property \\$processed on MailPoet\\\\Models\\\\ScheduledTaskSubscriber\\|false\\.$#"
			count: 1
			path: ../../tests/integration/API/JSON/v1/SendingTaskSubscribersTest.php

		-
			message: "#^Cannot access property \\$status on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 1
			path: ../../tests/integration/API/JSON/v1/SendingTaskSubscribersTest.php

		-
			message: "#^Cannot access property \\$status on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 1
			path: ../../tests/integration/API/JSON/v1/SendingTaskSubscribersTest.php

		-
			message: "#^Cannot access property \\$scheduledAt on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 1
			path: ../../tests/integration/API/JSON/v1/SettingsTest.php

		-
			message: "#^Property MailPoet\\\\AutomaticEmails\\\\WooCommerce\\\\Events\\\\AbandonedCartPageVisitTrackerTest\\:\\:\\$wp \\(MailPoet\\\\WP\\\\Functions&PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\) does not accept MailPoet\\\\WP\\\\Functions\\.$#"
			count: 1
			path: ../../tests/integration/AutomaticEmails/WooCommerce/Events/AbandonedCartPageVisitTrackerTest.php

		-
			message: "#^Property MailPoet\\\\AutomaticEmails\\\\WooCommerce\\\\Events\\\\AbandonedCartTest\\:\\:\\$wp \\(MailPoet\\\\WP\\\\Functions&PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\) does not accept MailPoet\\\\WP\\\\Functions\\.$#"
			count: 1
			path: ../../tests/integration/AutomaticEmails/WooCommerce/Events/AbandonedCartTest.php

		-
			message: "#^Property MailPoet\\\\AutomaticEmails\\\\WooCommerce\\\\Events\\\\AbandonedCartTest\\:\\:\\$wooCommerceHelperMock \\(MailPoet\\\\WooCommerce\\\\Helper&PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\) does not accept MailPoet\\\\WooCommerce\\\\Helper\\.$#"
			count: 1
			path: ../../tests/integration/AutomaticEmails/WooCommerce/Events/AbandonedCartTest.php

		-
			message: "#^Property MailPoet\\\\AutomaticEmails\\\\WooCommerce\\\\Events\\\\AbandonedCartTest\\:\\:\\$pageVisitTrackerMock \\(MailPoet\\\\AutomaticEmails\\\\WooCommerce\\\\Events\\\\AbandonedCartPageVisitTracker&PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\) does not accept MailPoet\\\\AutomaticEmails\\\\WooCommerce\\\\Events\\\\AbandonedCartPageVisitTracker\\.$#"
			count: 1
			path: ../../tests/integration/AutomaticEmails/WooCommerce/Events/AbandonedCartTest.php

		-
			message: "#^Cannot access property \\$scheduledAt on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 2
			path: ../../tests/integration/AutomaticEmails/WooCommerce/Events/AbandonedCartTest.php

		-
			message: "#^Property MailPoet\\\\AutomaticEmails\\\\WooCommerce\\\\Events\\\\PurchasedInCategoryTest\\:\\:\\$woocommerceHelper \\(PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\) does not accept MailPoet\\\\WooCommerce\\\\Helper\\.$#"
			count: 1
			path: ../../tests/integration/AutomaticEmails/WooCommerce/Events/PurchasedInCategoryTest.php

		-
			message: "#^Cannot call method has_cap\\(\\) on WP_Role\\|null\\.$#"
			count: 6
			path: ../../tests/integration/Config/CapabilitiesTest.php

		-
			message: "#^Parameter \\#1 \\$db of static method MailPoetVendor\\\\Idiorm\\\\ORM\\:\\:set_db\\(\\) expects PDO, null given\\.$#"
			count: 1
			path: ../../tests/integration/Config/DatabaseTest.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$user_email\\.$#"
			count: 5
			path: ../../tests/integration/Config/ShortcodesTest.php

		-
			message: "#^Cannot access property \\$status on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 5
			path: ../../tests/integration/Cron/CronWorkerRunnerTest.php

		-
			message: "#^Cannot access property \\$scheduledAt on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 5
			path: ../../tests/integration/Cron/CronWorkerRunnerTest.php

		-
			message: "#^Cannot access property \\$updatedAt on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Cron/CronWorkerRunnerTest.php

		-
			message: "#^Cannot call method save\\(\\) on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/CronWorkerRunnerTest.php

		-
			message: "#^Cannot access property \\$id on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/CronWorkerRunnerTest.php

		-
			message: "#^Cannot access property \\$inProgress on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Cron/CronWorkerRunnerTest.php

		-
			message: "#^Cannot access property \\$rescheduleCount on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Cron/CronWorkerRunnerTest.php

		-
			message: "#^Cannot access property \\$scheduledAt on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Cron/Workers/InactiveSubscribersTest.php

		-
			message: "#^Cannot access property \\$id on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 17
			path: ../../tests/integration/Cron/Workers/SchedulerTest.php

		-
			message: "#^Cannot access property \\$schedule on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/Workers/SchedulerTest.php

		-
			message: "#^Cannot access property \\$status on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Cron/Workers/SchedulerTest.php

		-
			message: "#^Cannot access property \\$scheduledAt on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/Workers/SchedulerTest.php

		-
			message: "#^Cannot access property \\$updatedAt on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/Workers/SchedulerTest.php

		-
			message: "#^Cannot access property \\$ID on WP_User\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Cron/Workers/SchedulerTest.php

		-
			message: "#^Cannot access property \\$status on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/Workers/SendingQueue/MigrationTest.php

		-
			message: "#^Cannot access property \\$taskId on MailPoet\\\\Models\\\\SendingQueue\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Cron/Workers/SendingQueue/MigrationTest.php

		-
			message: "#^Cannot access property \\$type on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/Workers/SendingQueue/MigrationTest.php

		-
			message: "#^Cannot access property \\$status on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 5
			path: ../../tests/integration/Cron/Workers/SendingQueue/SendingQueueTest.php

		-
			message: "#^Cannot access property \\$sentAt on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/Workers/SendingQueue/SendingQueueTest.php

		-
			message: "#^Cannot access property \\$updatedAt on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/Workers/SendingQueue/SendingQueueTest.php

		-
			message: "#^Cannot access property \\$hash on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/Workers/SendingQueue/SendingQueueTest.php

		-
			message: "#^Cannot access property \\$newsletterId on MailPoet\\\\Models\\\\NewsletterLink\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/Workers/SendingQueue/Tasks/LinksTest.php

		-
			message: "#^Cannot access property \\$queueId on MailPoet\\\\Models\\\\NewsletterLink\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/Workers/SendingQueue/Tasks/LinksTest.php

		-
			message: "#^Cannot access property \\$url on MailPoet\\\\Models\\\\NewsletterLink\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/Workers/SendingQueue/Tasks/LinksTest.php

		-
			message: "#^Cannot access property \\$hash on MailPoet\\\\Models\\\\NewsletterLink\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/Workers/SendingQueue/Tasks/LinksTest.php

		-
			message: "#^Cannot access property \\$hash on MailPoet\\\\Models\\\\NewsletterLink\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/Workers/SendingQueue/Tasks/NewsletterTest.php

		-
			message: "#^Cannot access property \\$postId on MailPoet\\\\Models\\\\NewsletterPost\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/Workers/SendingQueue/Tasks/NewsletterTest.php

		-
			message: "#^Cannot access property \\$status on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 3
			path: ../../tests/integration/Cron/Workers/SendingQueue/Tasks/NewsletterTest.php

		-
			message: "#^Cannot access property \\$sentAt on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Cron/Workers/SendingQueue/Tasks/NewsletterTest.php

		-
			message: "#^Cannot call method set\\(\\) on bool\\|MailPoetVendor\\\\Idiorm\\\\ORM\\.$#"
			count: 2
			path: ../../tests/integration/Cron/Workers/SendingQueue/Tasks/NewsletterTest.php

		-
			message: "#^Cannot call method save\\(\\) on bool\\|MailPoetVendor\\\\Idiorm\\\\ORM\\.$#"
			count: 2
			path: ../../tests/integration/Cron/Workers/SendingQueue/Tasks/NewsletterTest.php

		-
			message: "#^Cannot access property \\$postId on MailPoet\\\\Models\\\\NewsletterPost\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Cron/Workers/SendingQueue/Tasks/PostsTest.php

		-
			message: "#^Cannot access property \\$post_title on array\\|WP_Post\\|null\\.$#"
			count: 1
			path: ../../tests/integration/Cron/Workers/SendingQueue/Tasks/ShortcodesTest.php

		-
			message: "#^Cannot access property \\$unsubscribeToken on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Cron/Workers/UnsubscribeTokensTest.php

		-
			message: "#^Cannot access property \\$status on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 4
			path: ../../tests/integration/Cron/Workers/WooCommerceOrdersTest.php

		-
			message: "#^Cannot call method getMeta\\(\\) on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Cron/Workers/WooCommerceOrdersTest.php

		-
			message: "#^Parameter \\#1 \\$orm of method MailPoet\\\\DynamicSegments\\\\Filters\\\\EmailAction\\:\\:toSql\\(\\) expects MailPoetVendor\\\\Idiorm\\\\ORM, MailPoet\\\\Models\\\\Subscriber given\\.$#"
			count: 8
			path: ../../tests/integration/DynamicSegments/Filters/EmailActionTest.php

		-
			message: "#^Call to an undefined method MailPoetVendor\\\\Idiorm\\\\IdiormResultSet\\:\\:delete\\(\\)\\.$#"
			count: 3
			path: ../../tests/integration/DynamicSegments/Filters/EmailActionTest.php

		-
			message: "#^Parameter \\#1 \\$orm of method MailPoet\\\\DynamicSegments\\\\Filters\\\\UserRole\\:\\:toSql\\(\\) expects MailPoetVendor\\\\Idiorm\\\\ORM, MailPoet\\\\Models\\\\Subscriber given\\.$#"
			count: 2
			path: ../../tests/integration/DynamicSegments/Filters/UserRoleTest.php

		-
			message: "#^Cannot access property \\$name on MailPoet\\\\Models\\\\DynamicSegment\\|false\\.$#"
			count: 1
			path: ../../tests/integration/DynamicSegments/Persistence/SaverTest.php

		-
			message: "#^Cannot access property \\$description on MailPoet\\\\Models\\\\DynamicSegment\\|false\\.$#"
			count: 1
			path: ../../tests/integration/DynamicSegments/Persistence/SaverTest.php

		-
			message: "#^Cannot access property \\$createdAt on MailPoet\\\\Models\\\\Log\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Logging/LogHandlerTest.php

		-
			message: "#^Cannot access property \\$createdAt on MailPoet\\\\Models\\\\CustomField\\|false\\.$#"
			count: 5
			path: ../../tests/integration/Models/CustomFieldTest.php

		-
			message: "#^Cannot access property \\$updatedAt on MailPoet\\\\Models\\\\CustomField\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Models/CustomFieldTest.php

		-
			message: "#^Cannot access property \\$name on MailPoet\\\\Models\\\\CustomField\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/CustomFieldTest.php

		-
			message: "#^Cannot call method save\\(\\) on MailPoet\\\\Models\\\\CustomField\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/CustomFieldTest.php

		-
			message: "#^Cannot access property \\$id on MailPoet\\\\Models\\\\CustomField\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/CustomFieldTest.php

		-
			message: "#^Cannot call method subscribers\\(\\) on MailPoet\\\\Models\\\\CustomField\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Models/CustomFieldTest.php

		-
			message: "#^Cannot access property \\$name on MailPoet\\\\Models\\\\Form\\|false\\.$#"
			count: 4
			path: ../../tests/integration/Models/FormTest.php

		-
			message: "#^Cannot access property \\$createdAt on MailPoet\\\\Models\\\\Form\\|false\\.$#"
			count: 5
			path: ../../tests/integration/Models/FormTest.php

		-
			message: "#^Cannot access property \\$updatedAt on MailPoet\\\\Models\\\\Form\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Models/FormTest.php

		-
			message: "#^Cannot call method save\\(\\) on MailPoet\\\\Models\\\\Form\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/FormTest.php

		-
			message: "#^Cannot access property \\$id on MailPoet\\\\Models\\\\Form\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/FormTest.php

		-
			message: "#^Cannot call method asArray\\(\\) on MailPoet\\\\Models\\\\Form\\|false\\.$#"
			count: 4
			path: ../../tests/integration/Models/FormTest.php

		-
			message: "#^Cannot access property \\$updatedAt on MailPoet\\\\Models\\\\NewsletterOptionField\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Models/NewsletterOptionFieldTest.php

		-
			message: "#^Cannot access property \\$createdAt on MailPoet\\\\Models\\\\NewsletterOptionField\\|false\\.$#"
			count: 3
			path: ../../tests/integration/Models/NewsletterOptionFieldTest.php

		-
			message: "#^Cannot access property \\$name on MailPoet\\\\Models\\\\NewsletterOptionField\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/NewsletterOptionFieldTest.php

		-
			message: "#^Cannot call method save\\(\\) on MailPoet\\\\Models\\\\NewsletterOptionField\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/NewsletterOptionFieldTest.php

		-
			message: "#^Cannot access property \\$id on MailPoet\\\\Models\\\\NewsletterOptionField\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/NewsletterOptionFieldTest.php

		-
			message: "#^Cannot call method newsletters\\(\\) on MailPoet\\\\Models\\\\NewsletterOptionField\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Models/NewsletterOptionFieldTest.php

		-
			message: "#^Cannot access property \\$value on MailPoet\\\\Models\\\\NewsletterOption\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Models/NewsletterOptionTest.php

		-
			message: "#^Cannot access property \\$subject on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 3
			path: ../../tests/integration/Models/NewsletterTest.php

		-
			message: "#^Cannot access property \\$type on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/NewsletterTest.php

		-
			message: "#^Cannot access property \\$body on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/NewsletterTest.php

		-
			message: "#^Cannot access property \\$preheader on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/NewsletterTest.php

		-
			message: "#^Cannot access property \\$createdAt on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 4
			path: ../../tests/integration/Models/NewsletterTest.php

		-
			message: "#^Cannot access property \\$updatedAt on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Models/NewsletterTest.php

		-
			message: "#^Cannot access property \\$id on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Models/NewsletterTest.php

		-
			message: "#^Cannot access property \\$event on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/NewsletterTest.php

		-
			message: "#^Cannot call method getMeta\\(\\) on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/NewsletterTest.php

		-
			message: "#^Cannot access property \\$status on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Models/NewsletterTest.php

		-
			message: "#^Cannot access property \\$status on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 6
			path: ../../tests/integration/Models/ScheduledTaskTest.php

		-
			message: "#^Cannot access property \\$meta on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 3
			path: ../../tests/integration/Models/ScheduledTaskTest.php

		-
			message: "#^Cannot access property \\$createdAt on MailPoet\\\\Models\\\\Segment\\|false\\.$#"
			count: 5
			path: ../../tests/integration/Models/SegmentTest.php

		-
			message: "#^Cannot access property \\$updatedAt on MailPoet\\\\Models\\\\Segment\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Models/SegmentTest.php

		-
			message: "#^Cannot access property \\$name on MailPoet\\\\Models\\\\Segment\\|false\\.$#"
			count: 3
			path: ../../tests/integration/Models/SegmentTest.php

		-
			message: "#^Cannot call method save\\(\\) on MailPoet\\\\Models\\\\Segment\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/SegmentTest.php

		-
			message: "#^Cannot access property \\$id on MailPoet\\\\Models\\\\Segment\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Models/SegmentTest.php

		-
			message: "#^Cannot call method subscribers\\(\\) on MailPoet\\\\Models\\\\Segment\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/SegmentTest.php

		-
			message: "#^Cannot call method newsletters\\(\\) on MailPoet\\\\Models\\\\Segment\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/SegmentTest.php

		-
			message: "#^Cannot access property \\$newsletterRenderedBody on MailPoet\\\\Models\\\\SendingQueue\\|false\\.$#"
			count: 3
			path: ../../tests/integration/Models/SendingQueueTest.php

		-
			message: "#^Cannot access property \\$meta on MailPoet\\\\Models\\\\SendingQueue\\|false\\.$#"
			count: 4
			path: ../../tests/integration/Models/SendingQueueTest.php

		-
			message: "#^Property MailPoet\\\\Models\\\\SendingQueue\\:\\:\\$meta \\(object\\|string\\|null\\) does not accept array\\<string, int\\>\\.$#"
			count: 1
			path: ../../tests/integration/AutomaticEmails/WooCommerce/Events/FirstPurchaseTest.php

		-
			message: "#^Property MailPoet\\\\Models\\\\SendingQueue\\:\\:\\$meta \\(object\\|string\\|null\\) does not accept array\\<string, string\\>\\.$#"
			count: 1
			path: ../../tests/integration/Models/SendingQueueTest.php

		-
			message: "#^Cannot call method save\\(\\) on MailPoet\\\\Models\\\\SendingQueue\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/SendingQueueTest.php

		-
			message: "#^Cannot access property \\$status on MailPoet\\\\Models\\\\SubscriberSegment\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Models/SubscriberSegmentTest.php

		-
			message: "#^Cannot access property \\$id on MailPoet\\\\Models\\\\SubscriberSegment\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Models/SubscriberSegmentTest.php

		-
			message: "#^Cannot access property \\$hash on MailPoet\\\\Models\\\\NewsletterLink\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Newsletter/Links/LinksTest.php

		-
			message: "#^Cannot access property \\$url on MailPoet\\\\Models\\\\NewsletterLink\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Newsletter/Links/LinksTest.php

		-
			message: "#^Cannot access property \\$id on MailPoet\\\\Models\\\\Newsletter\\|false\\.$#"
			count: 3
			path: ../../tests/integration/Newsletter/Scheduler/AutomaticEmailTest.php

		-
			message: "#^Cannot call method getMeta\\(\\) on MailPoet\\\\Models\\\\SendingQueue\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Newsletter/Scheduler/AutomaticEmailTest.php

		-
			message: "#^Cannot access property \\$value on MailPoet\\\\Models\\\\NewsletterOption\\|false\\.$#"
			count: 5
			path: ../../tests/integration/Newsletter/Scheduler/PostNotificationTest.php

		-
			message: "#^Cannot access property \\$post_title on array\\|WP_Post\\|null\\.$#"
			count: 1
			path: ../../tests/integration/Newsletter/ShortcodesTest.php

		-
			message: "#^Cannot access property \\$status on MailPoet\\\\Models\\\\SubscriberSegment\\|false\\.$#"
			count: 4
			path: ../../tests/integration/Segments/WooCommerceTest.php

		-
			message: "#^Cannot call method getValue\\(\\) on MailPoet\\\\Entities\\\\UserFlagEntity\\|null\\.$#"
			count: 1
			path: ../../tests/integration/Settings/UserFlagsControllerTest.php

		-
			message: "#^Cannot access property \\$clickId on MailPoet\\\\Models\\\\StatisticsWooCommercePurchases\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Statistics/Track/WooCommercePurchasesTest.php

		-
			message: "#^Cannot access property \\$subscriberId on MailPoet\\\\Models\\\\StatisticsWooCommercePurchases\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Statistics/Track/WooCommercePurchasesTest.php

		-
			message: "#^Cannot access property \\$queueId on MailPoet\\\\Models\\\\StatisticsWooCommercePurchases\\|false\\.$#"
			count: 2
			path: ../../tests/integration/Statistics/Track/WooCommercePurchasesTest.php

		-
			message: "#^Cannot access property \\$id on MailPoet\\\\Models\\\\CustomField\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Subscribers/ImportExport/Export/ExportTest.php

		-
			message: "#^Cannot access property \\$name on MailPoet\\\\Models\\\\CustomField\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Subscribers/ImportExport/Export/ExportTest.php

		-
			message: "#^Cannot access property \\$status on MailPoet\\\\Models\\\\ScheduledTask\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Tasks/SendingTest.php

		-
			message: "#^Cannot access property \\$newsletterRenderedSubject on MailPoet\\\\Models\\\\SendingQueue\\|false\\.$#"
			count: 1
			path: ../../tests/integration/Tasks/SendingTest.php

		-
			message: "#^Call to an undefined method MailPoetVendor\\\\Idiorm\\\\IdiormResultSet\\:\\:set\\(\\)\\.$#"
			count: 1
			path: ../../tests/integration/Tasks/Subscribers/BatchIteratorTest.php

		-
			message: "#^Cannot call method getId\\(\\) on MailPoet\\\\Entities\\\\NewsletterEntity\\|null\\.$#"
			count: 1
			path: ../../tests/integration/WooCommerce/TransactionalEmailsTest.php

		-
			message: "#^Cannot call method getBody\\(\\) on MailPoet\\\\Entities\\\\NewsletterEntity\\|null\\.$#"
			count: 1
			path: ../../tests/integration/WooCommerce/TransactionalEmailsTest.php

		-
			message: "#^Parameter \\#1 \\$argument of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: ../../tests/integration/_bootstrap.php
