<script type="text/javascript">
  var mailpoet_woocommerce_automatic_emails = <%= json_encode(automatic_emails) %>;
  var mailpoet_woocommerce_optin_on_checkout = "<%= woocommerce_optin_on_checkout %>";
</script>

<% block translations %>
  <%= localize({
    'automaticEmail': __('Automatic Email'),
    'tip': __('Tip:'),
    'selectAutomaticEmailsEventsConditionsHeading': __("Select %1s events conditions"),
    'sendAutomaticEmailWhenHeading': __('Send this %1s Automatic Email when...'),
    'automaticEmailActivated': __('Your %1s Automatic Email is now activated!'),
    'automaticEmailActivationFailed': __('Your %1s Automatic Email could not be activated, please check the settings.'),
    'automaticEmailEventOptionsNotConfigured': __('You need to configure email options before this email can be sent.'),
    'sentToXCustomers': __('Sent to %$1d customers'),
    'wooCommerceEmailsWarning': __('WooCommerce emails won’t be sent to new customers because the opt-in on checkout is disabled. Enable it so they can immediately get your emails after their first purchase.'),
    'wooCommerceEmailsWarningLink': __('Edit WooCommerce settings'),
  }) %>
<% endblock %>
