<% extends 'layout.html' %>

<% block content %>
<div id="mailpoet_subscribers_import" class="wrap">
  <h2 class="title"><%= __('Import') %></h2>
  <!-- STEP 1: method selection -->
  <% include 'import/step1.html' %>
  <!-- STEP 2: subscriber manipulation -->

  <!-- STEP 3: results -->
</div>

<%= stylesheet('import.css') %>

<%= localize({
'noMailChimpLists': __('No active lists found.'),
'serverError': __('Server error:'),
'select': __('Select')
}) %>

<script type="text/javascript">
  var
    maximum_parse_size = <%= maximumParseSize %>,
    maximum_parse_notice = "<%= __('Your CSV is over %s, and too big to process. Please split the file in two, or more.')|replace({'%s': maximumParseSize}) %>",
    data_container = {},
    mailpoet_columns_select2 = <%= select2Fields|raw %>,
    mailpoet_columns = <%= subscriberFields|raw %>,
    mailpoet_lists = <%= segments|raw %>,
    email_regex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-_]{0,61}[a-zA-Z0-9])+.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
</script>
<% endblock %>