<% extends 'layout.html' %>

<% block content %>
  <h3><%= 'Translations' %></h3>
  <p><%= __('Translatable string with a link %shere%s') | format('<a href="#">', '</a>') | raw %></p>
  <p><%= _n('deleted one message', 'deleted %d messages', delete_messages_1, 'wysija-newsletters') | format(delete_messages_1) %></p>
  <p><%= _n('deleted one message', 'deleted %d messages', delete_messages_2, 'wysija-newsletters') | format(delete_messages_2) %></p>

  <!-- escaping -->
  <h3>Auto Escape (HTML)</h3>
  <p><%= unsafe_string %></p>

  <!-- escaping JS -->
  <h3>Auto Escape (JS)</h3>
  <p><%= unsafe_string|e('js') %></p>

  <!-- raw content (block style) -->
  <% verbatim %>
    <h3>Raw</h3>
    <p><%= unsafe_string %></p>
  <% endverbatim %>

  <!-- loop -->
  <h3>Loop</h3>
  <ul>
  <% for user in users %>
    <li><a href="mailto:<%= user.email %>"><%= user.name %></a></li>
  <% endfor %>
  </ul>

  <h3>Autoloaded Subscriber</h3>
  <p><%= subscriber %></p>

  <h3>Test Option</h3>
  <p><%= option %></p>

  <!-- Notice -->
  <h3>Notices</h3>
  <p><a href="javascript:;" onclick="MailPoet.Notice.success('<%= __("Test") %>');">Trigger success</a></p>
  <p><a href="javascript:;" onclick="MailPoet.Notice.error('<%= __("Test") %>');">Trigger error</a></p>
  <p><a href="javascript:;" onclick="MailPoet.Notice.system('<%= __("Test") %>');">Trigger warning</a></p>

  <!-- Modal -->
  <h3>Modals</h3>
  <p><a href="javascript:;" id="modal_popup">Popup</a></p>
  <p><a href="javascript:;" id="modal_panel">Panel</a></p>

  <!-- Ajax -->
  <h3>Ajax</h3>
  <p><a href="javascript:;" id="ajax_get">Get</a></p>
  <p><a href="javascript:;" id="ajax_post">Post</a></p>
  <p id="ajax_output"></p>

  <script type="text/javascript">
    jQuery(function($) {

      $(function() {

        // Ajax
        function ajaxSuccess(data) {
          MailPoet.Modal.popup({
            title: '<%= __("Ajax output") %>',
            template: $('#mailpoet_tpl_test').html(),
            data: data
          });
          MailPoet.Modal.loading(false);
        }

        $('#ajax_get').on('click', function() {
          MailPoet.Modal.loading(true);
          MailPoet.Ajax.get({
            data: {
              'extra_value': 12
            },
            onSuccess: ajaxSuccess
          });
        });
        $('#ajax_post').on('click', function() {
          MailPoet.Modal.loading(true);
          MailPoet.Ajax.post({
            data: {
              'extra_value': 42,
              'user': {
                name: 'Maya',
                age: 2
              }
            },
            onSuccess: ajaxSuccess
          });
        });

        //  Modals
        $('#modal_popup').on('click', function() {
          MailPoet.Modal.popup({
            title: "<%= __('Testing 3 4...') %>",
            template: "<h3><%= __('Hello World!') %></h3>"
          });
        });
        $('#modal_panel').on('click', function() {
          MailPoet.Modal.panel({
            title: "<%= __('Testing 1 2...') %>",
            template: "<h3><%= __('Hello World!') %></h3>",
            width: "40%",
            overlay: true
          });
        });
      });
    });
  </script>

<% endblock %>

<% block templates %>
  <script id="mailpoet_tpl_test" type="text/x-handlebars-template"><%= include('templates/test.hbs') %></script>
<% endblock %>
