{% extends 'layout.html' %}

{% block content %}
  <p>{{ text }}</p>

  <!-- escaping -->
  <h3>Auto Escape (HTML)</h3>
  <p>{{ unsafe_string }}</p>

  <!-- escaping JS -->
  <h3>Auto Escape (JS)</h3>
  <p>{{ unsafe_string|e('js') }}</p>

  <!-- raw content (block style) -->
  {% verbatim %}
    <h3>Raw</h3>
    <p>{{ unsafe_string }}</p>
  {% endverbatim %}

  <!-- loop -->
  <h3>Loop</h3>
  <ul>
  {% for user in users %}
    <li><a href="mailto:{{ user.email }}">{{ user.name }}</a></li>
  {% endfor %}
  </ul>

  <!-- Notice -->
  <h3>Notices</h3>
  <p><a href="javascript:;" onclick="MailPoet.Notice.success('Test');">Trigger success</a></p>
  <p><a href="javascript:;" onclick="MailPoet.Notice.error('Test');">Trigger error</a></p>
  <p><a href="javascript:;" onclick="MailPoet.Notice.system('Test');">Trigger warning</a></p>

{% endblock %}