<div id="mailpoet_notice_system" class="mailpoet_notice update-nag" style="display:none;"></div>
<div id="mailpoet_notice_error" class="mailpoet_notice error" style="display:none;"></div>
<div id="mailpoet_notice_success" class="mailpoet_notice updated" style="display:none;"></div>
<div class="wrap">
  {% if title %}
    <h2>{{ title }}</h2>
  {% endif %}

  {% block content %}{% endblock %}
</div>

<!-- stylesheets -->
{{ stylesheet(
  'admin.css'
)}}

<!-- javascripts -->
{{ javascript(
  'notice.js',
  'modal.js',
  'handlebars/handlebars.min.js'
)}}