<div id="mailpoet_notice_system" class="mailpoet_notice update-nag" style="display:none;"></div>
<div id="mailpoet_notice_error" class="mailpoet_notice error" style="display:none;"></div>
<div id="mailpoet_notice_success" class="mailpoet_notice updated" style="display:none;"></div>
<div class="wrap">
  {% block title %}{% endblock %}
  {% block content %}{% endblock %}
</div>

<!-- stylesheets -->
{{ stylesheet(
  'admin.css'
)}}

<!-- javascripts -->
{{ javascript(
  'ajax.js',
  'notice.js',
  'modal.js',
  'lib/handlebars.min.js'
)}}