<% extends 'layout.html' %>

<% block content %>

<div class="wrap">
  <h1 class="mailpoet-h1">Logs</h1>

  <table class="mailpoet-listing-table widefat striped">
    <thead>
      <tr>
        <th><%= __('Name') %></th>
        <th><%= __('Message') %></th>
        <th><%= __('Created On') %></th>
      </tr>
    </thead>
    <% for log in logs %>
      <tr>
        <td><%= log.name %></td>
        <td data-message="<%= log.message %>"><%= log.short_message %>…</td>
        <td><%= log.created_at %></td>
      </tr>
    <% endfor %>
  </table>
</div>

<% endblock %>
