<% extends 'layout.html' %>

<% block content %>
  <div id="newsletters_container"></div>

  <%= localize({
    'selectType': __('Select type'),
    'template': __('Template'),
    'designer': __('Designer'),
    'send': __('Send'),
    'templateMalformed': __('This template file appears to be malformed. Please try another one.'),
    'importTemplate': __('Import a template'),
    'selectJsonFileToUpload': __('Select a .json file to upload'),
    'upload': __('Upload'),
    'mailpoetGuide': __("MailPoet's Guide"),
    'mailpoetGuideDescription': __("This is the standard template that comes with MailPoet."),
    'confirmTemplateDeletion': __('You are about to delete the template named "%$1s"'),
    'delete': __('Delete'),
    'select': __('Select'),
    'preview': __('Preview'),
    'selectTemplate': __('Select a template'),
    'draftNewsletter': __('Draft newsletter'),
    'pickCampaignType': __('Pick a type of campaign'),
    'standardNewsletter': __('Newsletter'),
    'standardNewsletterDescription': __('Send a newsletter with images, buttons, dividers,and social bookmarks. Or a simple email.'),
    'create': __('Create'),
    'welcomeEmail': __('Welcome email'),
    'welcomeEmailDescription': __('Send an email for new users.'),
    'postNotificationsNewsletter': __('Post notifications'),
    'postNotificationsNewsletterDescription': __('Automatically send posts immediately, daily, weekly or monthly. Filter by categories, if you like.'),
    'setUp': __('Set up'),
    'intervalOnceADay': __('Once a day at...'),
    'intervalWeekly': __('Weekly on...'),
    'intervalMonthly': __('Monthly on the...'),
    'intervalMonthlyEvery': __('Monthly every...'),
    'intervalImmediately': __('Immediately.'),

    'monday': __('Monday'),
    'tuesday': __('Tuesday'),
    'wednesday': __('Wednesday'),
    'thursday': __('Thursday'),
    'friday': __('Friday'),
    'saturday': __('Saturday'),
    'sunday': __('Sunday'),
    'first': __('1st'),
    'second': __('2nd'),
    'third': __('3rd'),
    'last': __('last'),
    'nth': __('%$1dth'),
    'next': __('Next'),

    'selectEventToSendWelcomeEmail': __('Select an event to send this welcome email'),
    'whenSomeoneSubscribesToList': __('When someone subscribes to the list...'),
    'whenWordpressUserIsAdded': __('When a new Wordrpess user is added to your site...'),
    'delayImmediately': __('immediately.'),
    'delayHoursAfter': __('hour(s) after'),
    'delayDaysAfter': __('day(s) after'),
    'delayWeeksAfter': __('week(s) after'),

    'pageTitle': __('Newsletters'),
    'searchLabel': __('Search'),
    'loadingItems': __('Loading newsletters...'),
    'noItemsFound': __('No newsletters found.'),
    'selectAllLabel': __('All newsletters on this page are selected.'),
    'selectedAllLabel': __('All %d newsletters are selected.'),
    'selectAllLink': __('Select all newsletters on all pages.'),
    'clearSelection': __('Clear selection.'),
    'permanentlyDeleted': __('%d newsletters permanently deleted.')
  }) %>

  <script type="text/javascript">
    var mailpoet_segments = <%= json_encode(segments) %>;
    var mailpoet_settings = <%= json_encode(settings) %>;
    var mailpoet_lists = <%= json_encode(lists) %>;
    var mailpoet_roles = <%= json_encode(roles) %>;
  </script>
<% endblock %>
