<% extends 'layout.html' %>

<% block content %>
  <div id="newsletters_container"></div>

  <script type="text/javascript">
    var mailpoet_listing_per_page = <%= items_per_page %>;
    var mailpoet_segments = <%= json_encode(segments) %>;
    var mailpoet_settings = <%= json_encode(settings) %>;
    var mailpoet_lists = <%= json_encode(lists) %>;
    var mailpoet_roles = <%= json_encode(roles) %>;
    var mailpoet_current_date = <%= json_encode(current_date) %>;
    var mailpoet_current_time = <%= json_encode(current_time) %>;
    var mailpoet_schedule_time_of_day = <%= json_encode(schedule_time_of_day) %>;
    var mailpoet_date_display_format = "<%= wp_date_format() %>";
    var mailpoet_date_storage_format = "Y-m-d";
    var mailpoet_tracking_enabled = <%= json_encode(tracking_enabled) %>;
  </script>
<% endblock %>

<% block translations %>
  <%= localize({
    'pageTitle': __('Emails'),

    'tabStandardTitle': __('Newsletters'),
    'tabWelcomeTitle': __('Welcome Emails'),
    'tabNotificationTitle': __('Post Notifications'),

    'searchLabel': __('Search'),
    'loadingItems': __('Loading emails...'),
    'noItemsFound': __("Nothing here yet! But, don't fret - there's no reason to get upset. Pretty soon, you’ll be sending emails faster than a turbo-jet."),
    'selectAllLabel': __('All emails on this page are selected.'),
    'selectedAllLabel': __('All %d emails are selected.'),
    'selectAllLink': __('Select all emails on all pages'),
    'clearSelection': __('Clear selection'),
    'permanentlyDeleted': __('%d emails were permanently deleted.'),
    'selectBulkAction': __('Select bulk action'),
    'bulkActions': __('Bulk Actions'),
    'apply': __('Apply'),
    'filter': __('Filter'),
    'emptyTrash': __('Empty Trash'),
    'selectAll': __('Select All'),
    'restore': __('Restore'),
    'deletePermanently': __('Delete Permanently'),
    'showMoreDetails': __('Show more details'),

    'previousPage': __('Previous page'),
    'firstPage': __('First page'),
    'nextPage': __('Next page'),
    'lastPage': __('Last page'),
    'currentPage': __('Current page'),
    'pageOutOf': __('of'),
    'numberOfItemsSingular': __('1 item'),
    'numberOfItemsMultiple': __('%$1d items'),

    'selectType': __('Select type'),
    'template': __('Template'),
    'designer': __('Designer'),
    'send': __('Send'),

    'subject': __('Subject'),
    'status': __('Status'),
    'statistics': __('Opened, Clicked'),
    'lists': __('Lists'),
    'settings': __('Settings'),
    'history': __('History'),
    'viewHistory': __('View history'),
    'createdOn': __('Created on'),
    'lastModifiedOn': __('Last modified on'),
    'oneNewsletterTrashed': __('1 email was moved to the trash.'),
    'multipleNewslettersTrashed': __('%$1d emails were moved to the trash.'),
    'oneNewsletterDeleted': __('1 email was permanently deleted.'),
    'multipleNewslettersDeleted': __('%$1d emails were permanently deleted.'),
    'oneNewsletterRestored': __('1 email has been restored from the Trash.'),
    'multipleNewslettersRestored': __('%$1d emails have been restored from the Trash.'),
    'trash': __('Trash'),
    'moveToTrash': __('Move to trash'),
    'edit': __('Edit'),
    'duplicate': __('Duplicate'),
    'newsletterDuplicated': __('Email "%$1s" has been duplicated.'),
    'notSentYet': __('Not sent yet'),
    'scheduledFor': __('Scheduled for'),
    'scheduleIt': __('Schedule it'),
    'active': __('Active'),
    'inactive': __('Not Active'),
    'newsletterQueueCompleted': __('Sent to %$1d of %$2d'),
    'sentToXSubscribers': __('Sent to %$1d subscribers'),
    'resume': __('Resume'),
    'pause': __('Pause'),
    'paused': __('Paused'),
    'new': __('Add New'),

    'excellentBadgeName': __('Excellent'),
    'excellentBadgeTooltip': __('Congrats!'),
    'goodBadgeName': __('Good'),
    'goodBadgeTooltip': __('Good stuff.'),
    'badBadgeName': __('Bad'),
    'badBadgeTooltip': __('Something to improve.'),
    'openedStatTooltip': __('Above 30% is excellent.\\nBetween 10 and 30% is good.\\nUnder 10% is bad.'),
    'clickedStatTooltip': __('Above 3% is excellent.\\nBetween 1 and 3% is good.\\nUnder 1% is bad.'),
    'unsubscribedStatTooltip': __('Under 1% is excellent.\\nBetween 1 and 3% is good.\\nOver 3% is bad.'),
    'checkBackInHours': __('Nice job! Check back in %$1d hour(s) for more stats.'),
    'improveThisLinkText': __('What can I do to improve this?'),

    'templateFileMalformedError': __('This template file appears to be damaged. Please try another one.'),
    'importTemplateTitle': __('Import a template'),
    'selectJsonFileToUpload': __('Select a .json file to upload'),
    'upload': __('Upload'),
    'mailpoetGuideTemplateTitle': __("MailPoet's Guide"),
    'mailpoetGuideTemplateDescription': __("This is the standard template that comes with MailPoet."),
    'confirmTemplateDeletion': __('You are about to delete the template named "%$1s".'),
    'delete': __('Delete'),
    'select': _x('Select', 'Verb'),
    'preview': __('Preview'),
    'selectTemplateTitle': __('Select a responsive template'),

    'draftNewsletterTitle': __('Subject'),
    'pickCampaignType': __('Select type of email'),
    'regularNewsletterTypeTitle': __('Newsletter'),
    'regularNewsletterTypeDescription': __('Send a newsletter with images, buttons, dividers, and social bookmarks. Or, just send a basic text email.'),
    'create': __('Create'),
    'welcomeNewsletterTypeTitle': __('Welcome Email'),
    'welcomeNewsletterTypeDescription': __('Automatically send an email (or series of emails) to new subscribers or WordPress users. Send a day, a week, or a month after they sign up.'),
    'getPremiumVersion': __('Get premium version!'),
    'setUp': __('Set up'),
    'postNotificationNewsletterTypeTitle': __('Latest Post Notifications'),
    'postNotificationNewsletterTypeDescription': __('Let MailPoet email your subscribers with your latest content. You can send daily, weekly, monthly, or even immediately after publication.'),
    'selectFrequency': __('Select a frequency'),
    'postNotificationSubjectLineTip': __("Insert [newsletter:total] to show number of posts, [newsletter:post_title] to show the latest post's title & [newsletter:number] to display the issue number."),
    'activate': __('Activate'),
    'sendWelcomeEmailWhen': __('Send this Welcome Email when...'),

    'daily': __('Once a day at...'),
    'weekly': __('Weekly on...'),
    'monthly': __('Monthly on the...'),
    'monthlyEvery': __('Monthly every...'),
    'immediately': __('Immediately'),
    'sunday': __('Sunday'),
    'monday': __('Monday'),
    'tuesday': __('Tuesday'),
    'wednesday': __('Wednesday'),
    'thursday': __('Thursday'),
    'friday': __('Friday'),
    'saturday': __('Saturday'),
    'first': __('1st'),
    'second': __('2nd'),
    'third': __('3rd'),
    'nth': __('%$1dth'),
    'last': _x('last', 'e.g. monthly every last Monday'),
    'next': _x('Next', 'Button label: Next step'),

    'selectEventToSendWelcomeEmail': __('When is this Welcome Email sent?'),

    'onSubscriptionToList': __('When someone subscribes to the list...'),
    'onWPUserRegistration': __('When a new WordPress user is added to your site...'),
    'delayImmediately': __('immediately'),
    'delayHoursAfter': __('hour(s) later'),
    'delayDaysAfter': __('day(s) later'),
    'delayWeeksAfter': __('week(s) later'),

    'subjectLine': __('Subject line'),
    'subjectLineTip': __("Be creative! It's the first thing that your subscribers see. Tempt them to open your email."),
    'emptySubjectLineError': __('Please specify a subject'),
    'segments': __('Lists'),
    'segmentsTip': __('This subscriber segment will be used for this email.'),
    'selectSegmentPlaceholder': __('Select a list'),
    'noSegmentsSelectedError': __('Please select a list'),
    'sender': __('Sender'),
    'senderTip': __('Your name and email'),
    'senderNamePlaceholder': __('John Doe'),
    'senderAddressPlaceholder': __('john.doe@email.com'),
    'replyTo': __('Reply-to'),
    'replyToTip': __('When your subscribers reply to your emails, their emails will go to this address.'),
    'replyToNamePlaceholder': __('John Doe'),
    'replyToAddressPlaceholder': __('john.doe@email.com'),
    'newsletterUpdated': __('Email was updated successfully!'),
    'newsletterAdded': __('Email was added successfully!'),
    'newsletterSendingError': __('An error occurred while trying to send. <a href="%$1s">Please check your settings</a>.'),
    'finalNewsletterStep': __('Final Step: Last Details'),
    'saveDraftAndClose': __('Save as draft and close'),
    'orSimply': __('or simply'),
    'goBackToDesign': __('go back to the Design page'),
    'websiteTimeIs': __("Your website’s time is"),
    'noScheduledDateError': __('Please enter the scheduled date.'),
    'schedule': __('Schedule'),

    'close': __('Close'),
    'today': __('Today'),
    'january': __('January'),
    'february': __('February'),
    'march': __('March'),
    'april': __('April'),
    'may': __('May'),
    'june': __('June'),
    'july': __('July'),
    'august': __('August'),
    'september': __('September'),
    'october': __('October'),
    'november': __('November'),
    'december': __('December'),
    'januaryShort': __('Jan'),
    'februaryShort': __('Feb'),
    'marchShort': __('Mar'),
    'aprilShort': __('Apr'),
    'mayShort': __('May'),
    'juneShort': __('Jun'),
    'julyShort': __('Jul'),
    'augustShort': __('Aug'),
    'septemberShort': __('Sep'),
    'octoberShort': __('Oct'),
    'novemberShort': __('Nov'),
    'decemberShort': __('Dec'),
    'sundayShort': __('Sun'),
    'mondayShort': __('Mon'),
    'tuesdayShort': __('Tue'),
    'wednesdayShort': __('Wed'),
    'thursdayShort': __('Thu'),
    'fridayShort': __('Fri'),
    'saturdayShort': __('Sat'),
    'sundayMin': _x('S', 'Sunday - one letter abbreviation'),
    'mondayMin': _x('M', 'Monday - one letter abbreviation'),
    'tuesdayMin': _x('T', 'Tuesday - one letter abbreviation'),
    'wednesdayMin': _x('W', 'Wednesday - one letter abbreviation'),
    'thursdayMin': _x('T', 'Thursday - one letter abbreviation'),
    'fridayMin': _x('F', 'Friday - one letter abbreviation'),
    'saturdayMin': _x('S', 'Saturday - one letter abbreviation'),
    'next': __('Next'),
    'previous': __('Previous'),
    'newsletterBeingSent': __('The newsletter is being sent...'),
    'newsletterHasBeenScheduled': __('The newsletter has been scheduled.'),
    'welcomeEmailActivated': __('Your Welcome Email is now activated!'),
    'welcomeEmailActivationFailed': __('Your Welcome Email could not be activated, please check the settings.'),
    'postNotificationActivated': __('Your post notification is now active!'),
    'postNotificationActivationFailed': __('Your Post Notification could not be activated, check the settings.'),
    'welcomeEventSegment': __('This newsletter is sent when someone subscribes to the list: "%$1s"'),
    'welcomeEventWPUserAnyRole': __('This newsletter is sent when a new WordPress user is added to your site'),
    'welcomeEventWPUserWithRole': __('This newsletter is sent when a new WordPress user with the role "%$1s" is added to your site'),
    'sendingDelayHours': __('%$1d hour(s) later'),
    'sendingDelayDays': __('%$1d day(s) later'),
    'sendingDelayWeeks': __('%$1d week(s) later'),
    'sendDaily': __('Send daily at %$1s'),
    'sendWeekly': __('Send weekly on %$1s at %$2s'),
    'sendMonthly': __('Send monthly on the %$1s at %$2s'),
    'sendNthWeekDay': __('Send every %$1s %$2s of the month at %$3s'),
    'sendImmediately': __('Send immediately'),
    'ifNewContentToSegments': __("if there's new content to %$1s."),
    'sendingToSegmentsNotSpecified': __('You need to select a list to send to.'),

    'backToPostNotifications': __('Back to Post notifications'),
    'sentOn': __('Sent on'),
    'noSubscribers': __('No subscribers!'),

    'mailerSendErrorNotice': __('Sending is paused because %$1s prevents MailPoet from delivering emails with the following error: %$2s'),
    'mailerConnectionErrorNotice': __('Sending is paused because the following connection issue prevents MailPoet from delivering emails: %$1s'),
    'mailerCheckSettingsNotice': __('Check your [link]sending method settings[/link].'),
    'mailerResumeSendingButton': __('Resume sending'),
    'mailerSendingResumedNotice': __('Sending has been resumed.')
  }) %>
<% endblock %>

<% block after_translations %>
  <%= do_action('mailpoet_newsletters_translations_after') %>
<% endblock %>
