<% extends 'layout.html' %>

<% block content %>
<div class="mailpoet-premium-page">
  <div class="mailpoet-premium-page-intro mailpoet-premium-page-section mailpoet-grid-two-columns">
    <div>
      <div class="mailpoet-gap-large"></div>
      <h1 class="mailpoet-h1">
        <%= _x('We take care of your email, <br> so your email can take care of you', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
      </h1>
      <p>
        <%= _x('Ready to take your email to the next level?', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        <%= _x('You’ve built your email list with our free plugin — now grow your business with Premium and Sending features.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
      </p>
      <div class="mailpoet-premium-page-intro-link-wrap">
        <a
          target="_blank"
          href="<%= add_referral_id("https://account.mailpoet.com/?s=" ~ subscriber_count ~ "&email=" ~ current_wp_user.user_email ~ '&utm_source=plugin&utm_medium=premium&utm_campaign=purchase') | escape('html_attr') %>"
          class="mailpoet-button"
        >
          <%= _x('Upgrade', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </a>
      </div>
      <div class="mailpoet-gap-large"></div>
    </div>
    <img
      src="<%= cdn_url('premium/1-we-take-care.svg') %>"
      alt="<%= __('Image bird feeder') %>"
    >
  </div>

  <hr>

  <% if (subscriber_count < 1000 ) %>
  <div class="mailpoet-premium-page-section mailpoet-premium-page-section-narrow mailpoet-premium-page-text-center">
    <h1 class="mailpoet-h0">
      <%= _x('MailPoet Premium is actually yours for free', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
    </h1>
    <p class="mailpoet-premium-page-section-large">
      <%= _x('Website owners with less than 1,000 subscribers, like you, get the Premium add-on and let MailPoet deliver your emails for free.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
    </p>
    <a
      target="_blank"
      href="<%= add_referral_id("https://account.mailpoet.com/?s=" ~ subscriber_count ~ "&email=" ~ current_wp_user.user_email ~ '&utm_source=plugin&utm_medium=premium&utm_campaign=purchase') | escape('html_attr') %>"
      class="mailpoet-button"
    >
      <%= _x('Sign up for free', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
    </a>
  </div>

  <hr>
  <% endif %>

  <div class="mailpoet-premium-page-does-this-sound-like-you mailpoet-premium-page-section mailpoet-grid-two-columns">
    <img
      src="<%= cdn_url('premium/2-does-this-sound-like-you.svg') %>"
      alt="<%= __('Image bird on a branch') %>"
    >

    <div>
      <h1 class="mailpoet-h0">
        <%= _x('Does this sound like you?', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
      </h1>
      <div class="mailpoet-grid-two-columns">
        <p>
          <%= _x('“I spent hours tweaking my last newsletter and a subscriber told me it landed in their <b>spambox!</b> It’s frustrating and I don’t know what I’m doing wrong.”', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </p>
        <p>
          <%= _x('“<b>I wish I knew</b> how many people were reading my emails and which links they were clicking…”', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </p>
        <p>
          <%= _x('“Ugh… My web host <b>doesn’t support WordPress email.</b>“', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </p>
        <p>
          <%= _x('“I have a lot of patience, but my <b>WooCommerce emails failing</b> to send during a busy sales period, like Black Friday, is starting to wear thin.”', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </p>
        <p>
          <%= _x('“I need an email plugin for WordPress <b>that just works!</b>”', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </p>
      </div>
    </div>
  </div>

  <hr>

  <div class="mailpoet-premium-page-upgrade-to-premium mailpoet-premium-page-section">
    <div class=" mailpoet-premium-page-section-narrow mailpoet-premium-page-text-center">
      <h1 class="mailpoet-h0">
        <%= _x('Upgrade to<br>MailPoet Premium', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
      </h1>
      <p>
        <%= _x('Everything you need to create and send emails that look great and land in inboxes every time — guaranteed.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        <%= _x('Upgrade today and enjoy…', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
      </p>
    </div>
    <div class="mailpoet-grid-three-columns">
      <div>
        <h2 class="mailpoet-h2">
          <%= _x('Detailed Analytics at a Glance', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </h2>
        <p>
          <%= _x('Learn more about your subscribers and optimize your campaigns.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
          <%= _x('See who opened your emails, which links they clicked, and then use the data to make your emails even better.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
          <%= _x('And if you run a WooCommerce store, you’ll also see the revenue earned per email.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </p>
      </div>
      <div>
        <h2 class="mailpoet-h2">
          <%= _x('Advanced Email Delivery', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </h2>
        <p>
          <%= _x('We built the MailPoet Sending Service to meet the demands of WordPress.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
          <%= _x('It sends 50,000 emails per hour, with unparalleled speed and performance, 99% uptime, and zero loss.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
          <%= _x('We’re the only email provider for WordPress that maintains its own email delivery infrastructure.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </p>
      </div>
      <div>
        <h2 class="mailpoet-h2">
          <%= _x('Email that scales with you', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </h2>
        <p>
          <%= _x('Whether you send 10 or 100,000 emails a day, your emails will always be delivered on time, every time.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
          <%= _x('Our advanced email infrastructure routinely handles small business newsletters through to huge mailing lists with tens of thousands of subscribers.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </p>
      </div>
      <div>
        <h2 class="mailpoet-h2">
          <%= _x('Industry-Leading Deliverability', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </h2>
        <p>
          <%= _x('We monitor the 30+ million emails that pass through our servers each month, ensuring they always reach inboxes.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
          <%= _x('It’s how we maintain our 98.5% deliverability rate, often exceeding industry standards.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </p>
      </div>
      <div>
        <h2 class="mailpoet-h2">
          <%= _x('Email Marketing for WooCommerce', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </h2>
        <p>
          <%= _x('Let MailPoet fuel your WooCommerce marketing and increase your sales.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
          <%= _x('Add products from your store directly to emails and send personalized recommendations to customers based on their purchasing habits.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </p>
      </div>
      <div>
        <h2 class="mailpoet-h2">
          <%= _x('Fast Priority Support', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </h2>
        <p>
          <%= _x('Enjoy fast, reliable support via email.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
          <%= _x('No interns here — just real email experts applying 30 years of combined experience to help you send better emails for WordPress.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
          <%= _x('We’re real humans and here to help!', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </p>
      </div>
    </div>
  </div>

  <hr>

  <div class="mailpoet-premium-page-get-started mailpoet-premium-page-section mailpoet-premium-page-text-center">
    <h1 class="mailpoet-h0">
      <%= _x('Get Started Now', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
    </h1>
    <p>
      <%= _x('Choose the MailPoet Premium option that’s right for you.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
    </p>
    <div class="mailpoet-premium-page-options mailpoet-grid-two-columns">
      <div>
        <div class="mailpoet-premium-page-options-label">
          <%= _x('Most Flexible', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </div>
        <h1 class="mailpoet-h0">
          <%= _x('Premium', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </h1>
        <p class="mailpoet-premium-page-text-large">
          <%= _x('$149/year', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </p>
        <div class="mailpoet-premium-page-options-divider"></div>
        <ul>
          <li><%= _x('Unlimited subscribers', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
          <li><%= _x('Send emails via your web host or third party service', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
          <li><%= _x('Faster support', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
          <li><%= _x('Detailed analytics', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
          <li><%= _x('WooCommerce emails', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
        </ul>
        <a
          target="_blank"
          href="<%= add_referral_id("https://account.mailpoet.com/?s=" ~ subscriber_count ~ "&email=" ~ current_wp_user.user_email ~ '&utm_source=plugin&utm_medium=premium&utm_campaign=purchase') | escape('html_attr') %>"
          class="mailpoet-button"
        >
          <%= _x('Get started', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </a>
      </div>
      <div>
        <div class="mailpoet-premium-page-options-label">
          <%= _x('Most Reliable', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </div>
        <h1 class="mailpoet-h0">
          <%= _x('Premium + Sending', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </h1>
        <p class="mailpoet-premium-page-text-large">
          <%= _x('From $12/month', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </p>
        <ul>
          <li><%= _x('Email that scales with you', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
          <li><%= _x('Pay by number of subscribers', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
          <li><%= _x('Send emails via the MailPoet Sending Service', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
          <li><%= _x('Faster support', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
          <li><%= _x('Detailed analytics', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
          <li><%= _x('WooCommerce emails', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
        </ul>
        <div class="mailpoet-premium-page-options-divider"></div>
        <a
          target="_blank"
          href="<%= add_referral_id("https://account.mailpoet.com/?s=" ~ subscriber_count ~ "&email=" ~ current_wp_user.user_email ~ '&utm_source=plugin&utm_medium=premium&utm_campaign=purchase') | escape('html_attr') %>"
          class="mailpoet-button"
        >
          <%= _x('Get started', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        </a>
      </div>
    </div>
  </div>

  <hr>

  <div class="mailpoet-premium-page-our-agency-license mailpoet-premium-page-section mailpoet-grid-two-columns">
    <div>
      <p class="mailpoet-premium-page-unlimited-websites">
        <%= _x('Unlimited Websites', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
      </p>
      <h1 class="mailpoet-h0">
        <%= _x('Our Agency License Fits With Your Business', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
      </h1>
      <p>
        <%= _x('You’re busy creating and maintaining several WordPress websites for your clients.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        <%= _x('You’re looking for a turnkey email solution that doesn’t require you to train your clients and that’s quick to configure because you want to keep things simple for yourself.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        <%= _x('Moreover, you need a solution that’s stable and secure.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        <%= _x('This is where MailPoet fits perfectly.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
      </p>
      <ul class="mailpoet-premium-page-bullet-list">
        <li><%= _x('Quickly deploy an easy to learn email solution for all your clients', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
        <li><%= _x('Easily manage all your customers from a single account', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
        <li><%= _x('Activate MailPoet Premium features on an unlimited number of websites', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
        <li><%= _x('Send unlimited emails for each site up to 1,000 subscribers', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
        <li><%= _x('Send to more than 1,000 subscribers with any other sending methods (your host, Sendgrid & Amazon SES)', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
        <li><%= _x('Exchange with our deliverability manager for any sending issues', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %></li>
      </ul>
      <a
        target="_blank"
        href="https://www.mailpoet.com/premium/agency"
        class="mailpoet-button"
      >
        <%= _x('Buy Now', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
      </a>
    </div>
    <img
      src="<%= cdn_url('premium/3-our-agency-license.svg') %>"
      alt="<%= __('Image woodpecker') %>"
    >
  </div>

  <hr>

  <div class="mailpoet-premium-page-satisfaction-guarantee mailpoet-premium-page-section mailpoet-premium-page-section-narrow mailpoet-premium-page-text-center">
    <p class="mailpoet-premium-page-text-large">
      <%= _x('Try MailPoet Premium for 30 days with our', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
    </p>
    <h1 class="mailpoet-h0">
      <%= _x('100% Satisfaction Guarantee', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
    </h1>
    <p>
      <%= _x('We’re not happy unless you are.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
      <%= _x('That’s why we offer a 30-day money-back guarantee.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
      <%= _x('If you’re not 100% happy with MailPoet Premium during the 30 days after your purchase, we’ll happily refund the cost of your license.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
    </p>
    <p>
      <%= _x('Refunds are only available to Premium customers and doesn’t apply to plans using the MailPoet Sending Service.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
    </p>
  </div>

  <hr>

  <div class="mailpoet-premium-page-section mailpoet-premium-page-mailpoet-works mailpoet-premium-page-text-center">
    <h1 class="mailpoet-h0">
      <%= _x('MailPoet works. Here’s the proof.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
    </h1>
    <div class="mailpoet-premium-page-section-narrow">
      <p>
        <%= _x('MailPoet is a trusted leader in email for WordPress since 2011. We’re also delighted to have a lot of raving fans! Every month, 5,000 new websites join our community. MailPoet is the stickiest email plugin for WordPress thanks to the reliability and simplicity at the core of our product improvements.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
      </p>
      <p>
        <%= _x('We read our reviews in the WordPress.org plugin repository religiously. It’s a great source of motivation for our team. Your feedback – both positive and negative – helps us and guides us in choosing priorities for our product development.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
      </p>
    </div>
    <div class="mailpoet-gap"></div>
    <div class="mailpoet-grid-three-columns">
      <p>
        <%= _x('“I cannot imagine an easier way to create, edit and manage newsletters. Thanks!”', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        <b> –  Chrilles</b>
      </p>
      <p>
        <%= _x('“With MailPoet, we save ten hours of work with the creation of newsletters. Every week.”', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        <b> – highfood</b>
      </p>
      <p>
        <%= _x('“Today I sent a question to the support service. I got the solution 15 minutes later. This is what I call a ‘professional service.’ Thanks!”', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        <b> – loogaroo</b>
      </p>
      <p>
        <%= _x('“I’ve been a customer for a few years I have received the best support every single time. Thank you guys, you are great.”', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        <b> – disneyfamilytees</b>
      </p>
      <p>
        <%= _x('“I had a little problem and Jack wrote me back to help very soon. His way to interact is very kind and professional… Very good customer support in case you have a problem. The plugin works very well and it has a lot of fantastic new features. I’m satisfied!”', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        <b> – anselmo</b>
      </p>
      <p>
        <%= _x('“Hard to fault MailPoet plugin and the support team behind it. Very happy with the speed and quality of help and the regular upgrades.”', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
        <b> – tpoulos</b>
      </p>
    </div>
    <a
      target="_blank"
      href="https://wordpress.org/support/plugin/mailpoet/reviews/"
      class="mailpoet-button"
    >
      <%= _x('Read all the reviews', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
    </a>
  </div>

  <hr>

  <div class="mailpoet-premium-page-your-alternative mailpoet-premium-page-section mailpoet-grid-two-columns">
    <img
      src="<%= cdn_url('premium/4-your-alternative.svg') %>"
      alt="<%= __('Image bird flies from a cage') %>"
    >
    <div>
      <h1 class="mailpoet-h0">
        <%= _x('Your alternative: keep using the free plugin', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
      </h1>
      <p>
        <%= _x('Don’t get us wrong, we WANT you to use our free plugin (we created it, after all!). But imagine being able to grow your email list past 1,000 subscribers and:', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
      </p>
      <ul class="mailpoet-premium-page-bullet-list">
        <li><%= __('Never having to wait very long for support.') %></li>
        <li><%= __('Having access to detailed analytics that help you understand your subscribers.') %></li>
        <li><%= __('Boosting your WooCommerce sales with smart and integrated email marketing.') %></li>
        <li><%= __('Not having MailPoet branding in the footer of your emails.') %></li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="mailpoet-premium-page-section mailpoet-premium-page-section-narrow mailpoet-premium-page-text-center">
    <h1 class="mailpoet-h0">
      <%= _x('Get Started Now', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
    </h1>
    <p class="mailpoet-premium-page-text-large">
      <%= _x('You have nothing to lose and everything to gain. Upgrade now to grow your business and achieve your email marketing goals.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
    </p>
    <a
      target="_blank"
      href="<%= add_referral_id("https://account.mailpoet.com/?s=" ~ subscriber_count ~ "&email=" ~ current_wp_user.user_email ~ '&utm_source=plugin&utm_medium=premium&utm_campaign=purchase') | escape('html_attr') %>"
      class="mailpoet-button"
    >
      <%= _x('Upgrade now', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium') %>
    </a>
    <p>
      <%=
        _x('Already a Premium customer? Login to your [link]MailPoet account[/link] and add your license key in the Settings page.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium')
        |replaceLinkTags('https://account.mailpoet.com/login', {'target': '_blank'})
        |raw
      %>
    </p>
    <p>
      <%=
        _x('Don’t need to use the MailPoet Sending Service? Not a problem! You can buy [link]Premium features separately.[/link] Prices start at $149 per year for 1 website, $249 for 4 sites, and $499 for an unlimited number of sites.', 'This text resides in the Premium page: /wp-admin/admin.php?page=mailpoet-premium')
        |replaceLinkTags('https://www.mailpoet.com/pricing-premium/', {'target': '_blank'})
        |raw
      %>
    </p>
  </div>
</div>

<div class="mailpoet-premium-page-footer-image">
  <img
    src="<%= cdn_url('premium/5-footer.png') %>"
    alt="<%= __('Image rooster crowing') %>"
  >
</div>
<% endblock %>

<% block after_javascript %>
<script type="text/javascript">
  MailPoet.trackEvent('Premium page viewed', {
    'MailPoet Free version': window.mailpoet_version
  });
</script>
<% endblock %>
