<% extends 'layout.html' %>

<% block content %>
<script>
  var mailpoet_logo_url = '<%= cdn_url('welcome-wizard/mailpoet-logo.20190109-1400.png') %>';
  var finish_wizard_url = '<%= finish_wizard_url %>';
</script>

<div id="mailpoet_wizard_container"></div>

<% endblock %>

<% block translations %>
<%= localize({
  'revenueTrackingInfo1': _x('MailPoet can use browser cookies for more precise WooCommerce tracking.', 'Browser cookies are data created by websites and stored in visitors web browser'),
  'revenueTrackingInfo2': _x('This is practical for abandoned cart emails and when a customer uses several email addresses.', '“abandoned cart emails“ are emails which are sent automatically from e-commerce websites when a customer add a product to the cart and then leave the website'),
  'revenueTrackingAllow': _x('Allow MailPoet cookies. My visitors are made aware that cookies are used on my website.', '“MailPoet cookies” and “cookies” are browser cookies created by MailPoet'),
  'revenueTrackingDontAllow': _x('Don’t allow MailPoet cookies and rely on basic revenue tracking.', '“MailPoet cookies” are browser cookies created by MailPoet'),
  'revenueTrackingSubmit': _x('Save', 'Submit button caption')
}) %>
<% endblock %>
