<% extends 'layout.html' %>

<% block after_css %>
<%= stylesheet('settings.css') %>
<% endblock %>

<% block content %>
  <div id="settings_container"></div>

  <script type="text/javascript">
    <% autoescape 'js' %>
      var mailpoet_woocommerce_active = <%= json_encode(is_woocommerce_active == true) %>;
      var mailpoet_is_new_user = <%= json_encode(is_new_user == true) %>;
      var mailpoet_settings = <%= json_encode(settings) %>;
      var mailpoet_segments = <%= json_encode(segments) %>;
      var mailpoet_pages = <%= json_encode(pages) %>;
    <% endautoescape %>
    var mailpoet_beacon_articles = [
      '57f71d49c697911f2d323486',
      '57fb0e1d9033600277a681ca',
      '57f49a929033602e61d4b9f4',
      '57fb134cc697911f2d323e3b',
    ];
  </script>
<% endblock %>
<% block translations %>
  <%= localize({
    'settings': __('Settings'),
    'basicsTab': __('Basics'),
    'signupConfirmationTab': __('Sign-up Confirmation'),
    'sendWithTab': __('Send With...'),
    'wooCommerceTab': __('WooCommerce'),
    'advancedTab': __('Advanced'),
    'keyActivationTab': __('Key Activation'),

    'saveSettings': __('Save settings'),
    'settingsSaved': __('Settings saved'),

    'defaultSenderTitle': __('Default sender'),
    'defaultSenderDescription': __('These email addresses will be selected by default for each new email.'),
    'from': __('From'),
    'yourName': __('Your name'),
    'replyTo': __('Reply-to'),

    'subscribeInCommentsTitle': __('Subscribe in comments'),
    'subscribeInCommentsDescription': __('Visitors that comment on a post can subscribe to your list via a checkbox.'),
    'subscribeInRegistrationTitle': __('Subscribe in registration form'),
    'subscribeInRegistrationDescription': __('Allow users who register as a WordPress user on your website to subscribe to a MailPoet list (in addition to the "WordPress Users" list). This also enables WordPress users to receive confirmation emails (if sign-up confirmation is enabled).'),
    'usersWillBeSubscribedTo': __('Users will be subscribed to these lists:'),
    'yesAddMe': __('Yes, add me to your mailing list'),
    'chooseList': __('Choose a list'),

    'manageSubTitle': __('Manage Subscription page'),
    'manageSubDescription1': __('When your subscribers click the "Manage your subscription" link, they will be directed to this page.'),
    'manageSubDescription2': __('If you want to use a custom Subscription page, simply paste this shortcode on to a WordPress page: [mailpoet_manage_subscription]'),
    'previewPage': __('Preview page'),
    'preview': __('Preview'),
    'subscribersCanChooseFrom': __('Subscribers can choose from these lists:'),
    'leaveEmptyToDisplayAll': __('Leave this field empty to display all lists'),

    'unsubscribeTitle': __('Unsubscribe page'),
    'unsubscribeDescription1': __('When your subscribers click the "Unsubscribe" link, they will be directed to this page.'),
    'unsubscribeDescription2': __('If you want to use a custom Unsubscribe page, simply paste this shortcode on to a WordPress page: [mailpoet_manage text="Manage your subscription"]'),

    'statsNotifsTitle': _x('Stats notifications', 'name of a setting to automatically send statistics (newsletter open rate, click rate, etc) by email'),
    'statsNotifsDescription': _x(
      'Enter the email address that should receive your newsletter’s stats 24 hours after it has been sent, or every first Monday of the month for Welcome Emails and WooCommerce emails.',
      'Please reuse the current translations of “Welcome Emails”'
    ),
    'newslettersAndPostNotifs': __('Newsletters and Post Notifications'),
    'welcomeAndWcEmails': _x('Welcome Emails and WooCommerce emails', 'Please reuse the current translations of “Welcome Emails”'),
    'pleaseFillEmail': __('Please fill the email address.'),

    'newSubscriberNotifsTitle': __('New subscriber notifications'),
    'newSubscriberNotifsDescription': __('Enter the email address that should receive notifications when someone subscribes.'),
    'yes': __('Yes'),
    'no': __('No'),

    'archiveShortcodeTitle': __('Archive page shortcode'),
    'archiveShortcodeDescription': __('Paste this shortcode on a page to display a list of past newsletters.'),
    'subscribersCountShortcodeTitle': __('Shortcode to display total number of subscribers'),
    'subscribersCountShortcodeDescription': __('Paste this shortcode on a post or page to display the total number of confirmed subscribers.'),

    'gdprTitle': __('Be GDPR compliant'),
    'gdprDescription': __('You need to comply with European law in regards to data privacy if you have European subscribers. Rest assured, it’s easy!'),
    'readGuide': __('Read our guide'),

    'invalidEmail': __('Invalid email address'),

    'reinstallConfirmation': __('Are you sure? All of your MailPoet data will be permanently erased (newsletters, statistics, subscribers, etc.).'),
    'announcementHeader': __('Get notified when someone subscribes'),
    'announcementParagraph1': __('It’s been a popular feature request from our users, we hope you get lots of emails about all your new subscribers!'),
    'announcementParagraph2': __('(You can turn this feature off if it’s too many emails.)'),

    'premiumTabActivationKeyLabel': __('Activation Key', 'mailpoet'),
    'premiumTabDescription': __('This key is used to validate your free or paid subscription. Paying customers will enjoy automatic upgrades of their Premium plugin and access to faster support.', 'mailpoet'),
    'premiumTabNoKeyNotice': __('Please specify a license key before validating it.', 'mailpoet'),
    'premiumTabVerifyButton': __('Verify', 'mailpoet'),
    'premiumTabKeyValidMessage': __('Your key is valid', 'mailpoet'),
    'premiumTabKeyNotValidMessage': __('Your key is not valid', 'mailpoet'),
    'premiumTabPremiumActiveMessage': __('MailPoet Premium is active', 'mailpoet'),
    'premiumTabPremiumInstallingMessage': __('MailPoet Premium plugin is being installed', 'mailpoet'),
    'premiumTabPremiumActivatingMessage': __('MailPoet Premium plugin is being activated', 'mailpoet'),
    'premiumTabPremiumNotInstalledMessage': __('MailPoet Premium is not installed.', 'mailpoet'),
    'premiumTabPremiumInstallMessage': __('Install MailPoet Premium plugin', 'mailpoet'),
    'premiumTabPremiumNotActiveMessage': __('MailPoet Premium is not active.', 'mailpoet'),
    'premiumTabPremiumActivateMessage': __('Activate MailPoet Premium plugin', 'mailpoet'),
    'premiumTabPremiumInstallationInstallingMessage': __('downloading MailPoet Premium…', 'mailpoet'),
    'premiumTabPremiumInstallationActivatingMessage': __('activating MailPoet Premium…', 'mailpoet'),
    'premiumTabPremiumInstallationActiveMessage': __('MailPoet Premium is active!', 'mailpoet'),
    'premiumTabPremiumInstallationErrorMessage': __('Something went wrong. Please [link]download the Premium plugin from your account[/link] and [link]contact our support team[/link].', 'mailpoet'),
    'premiumTabPremiumKeyNotValidMessage': __('Your key is not valid for MailPoet Premium', 'mailpoet'),
    'premiumTabMssActiveMessage': __('MailPoet Sending Service is active', 'mailpoet'),
    'premiumTabMssNotActiveMessage': __('MailPoet Sending Service is not active.', 'mailpoet'),
    'premiumTabMssActivateMessage': __('Activate MailPoet Sending Service', 'mailpoet'),
    'premiumTabMssKeyNotValidMessage': __('Your key is not valid for the MailPoet Sending Service', 'mailpoet'),
  }) %>
<% endblock %>

<% block after_javascript %>
<%= javascript('settings.js')%>
<% endblock %>