<% extends 'layout.html' %>

<% block content %>

<style type="text/css">
#mailpoet-changelog ul {
  list-style: disc;
  padding-left: 20px;
}
</style>

<div class="wrap mailpoet-about-wrap">
  <h1><%= __('Greetings, humans.') %></h1>

  <p class="about-text"><%= __("Thanks for using MailPoet! We really appreciate all of your love, affection, [link]and (good) plugin reviews.[/link]")
    |replaceLinkTags('https://wordpress.org/support/plugin/wysija-newsletters/reviews/', {'target' : '_blank'})
    |raw
    %>
  </p>
  <div class="mailpoet-logo"><img src="<%= image_url('welcome_template/mailpoet-logo.png') %>" alt="MailPoet Logo" /></div>

  <h2 class="nav-tab-wrapper wp-clearfix">
    <a href="admin.php?page=mailpoet-welcome" class="nav-tab"><%= __('Welcome') %></a>
    <a href="admin.php?page=mailpoet-update" class="nav-tab nav-tab-active"><%= __("What's New") %></a>
  </h2>

  <div id="mailpoet-changelog" class="feature-section one-col">
    <h2><%= __("List of Changes") %></h2>
    <% if changelog %>
      <% for item in changelog %>
        <h3><%= item.version %></h3>
        <ul>
          <% for change in item.changes %>
            <li><%= change %></li>
          <% endfor %>
        </ul>
        <br>
      <% endfor %>
    <% else %>
      <p style="text-align: center"><%= __("See readme.txt for a changelog.") %></p>
    <% endif %>
    <a class="button button-secondary" href="https://wordpress.org/plugins/mailpoet/#developers" target="_blank"><%= __("View all changes") %> &rarr;</a>
  </div>

  <hr>

  <div clas="feature-section one-col">
    <p style="text-align: center"><a class="button button-primary" href="admin.php?page=mailpoet-newsletters"><%= __("Awesome! Now, take me to MailPoet") %> &rarr;</a> </p>
  </div>

</div>


<script type="text/javascript">
  jQuery(function($) {
    $(function() {
      MailPoet.trackEvent(
        'User has updated MailPoet',
        {'MailPoet Free version': window.mailpoet_version}
      );
    });
  });
</script>
<% endblock %>

