<% extends 'layout.html' %>

<% block content %>

<style type="text/css">
#mailpoet-changelog ul {
  list-style: disc;
  padding-left: 20px;
}
</style>

<div class="wrap about-wrap">
  <h1><%= __('Welcome to MailPoet') %> <%= settings.version %> <sup style="font-size: .5em">beta</sup></h1>

  <p class="about-text"><%= __("Thank you for helping us test and improve this new version of MailPoet. You're one of our extra-special beta testers. We really appreciate your help!") %>
  </p>
  <div style="position: absolute; top: .2em; right: 0;"><img src="<%= image_url('welcome_template/mailpoet-logo.png') %>" alt="MailPoet Logo" /></div>

  <h2 class="nav-tab-wrapper wp-clearfix">
    <a href="admin.php?page=mailpoet-welcome" class="nav-tab"><%= __('Welcome') %></a>
    <a href="admin.php?page=mailpoet-update" class="nav-tab nav-tab-active"><%= __("What's New") %></a>
  </h2>

  <div id="mailpoet-changelog" clas="feature-section one-col">
    <h2><%= __("List of Changes") %></h2>
    <h3>3.0.0-beta.4 - 2016-11-15</h3>
    <ul>
      <li>Updated HelpScout beacon to provide support articles;</li>
      <li>Fixed handling of URLs containing shortcodes in newsletter editor;</li>
      <li>Security fixes;</li>
      <li>Fixed subscriber count to not count trashed subscribers;</li>
      <li>Fixed template renderer to gracefully display an error when template caching issues arise;</li>
      <li>Added security measures to prevent mass subscriptions.</li>
    </ul>
    <br>

    <h3>3.0.0-beta.3 - 2016-11-08</h3>
    <ul>
      <li>Improved compatibility with PHP 7;</li>
      <li>Fixed showing current newsletter status in newsletter listings when there are no subscribers to send to;</li>
      <li>Removed obsolete libraries;</li>
      <li>Fixed security issues;</li>
      <li>Fixed html form embed code to use correct paths;</li>
      <li>Updated settings documentation URL;</li>
      <li>Improved text fitting in newsletter type/template selection boxes;</li>
      <li>Fixed Populator compatibility with earlier PHP versions;</li>
      <li>Fixed newsletter number shortcode for notification newsletters;</li>
      <li>Enhanced HelpScout support beacon report with extra support data;</li>
      <li>Fixed email renderer to not throw entity warnings on earlier PHP versions;</li>
      <li>Fixed newsletter preview incompatibility errors for earlier PHP versions.</li>
    </ul>
    <br>
  </div>

  <hr>

  <div clas="feature-section one-col">
    <br>
    <p style="text-align: center"><a class="button button-primary" href="https://wordpress.org/plugins/mailpoet/changelog/" target="_blank"><%= __("View all changes") %> &rarr;</a></p>
  </div>

</div>

<% endblock %>
