<% extends 'layout.html' %>

<% block content %>

<style type="text/css">
#mailpoet-changelog ul {
  list-style: disc;
  padding-left: 20px;
}
</style>

<div class="wrap about-wrap">
  <h1><%= __('Welcome to MailPoet') %> <%= settings.version %> <sup style="font-size: .5em">beta</sup></h1>

  <p class="about-text"><%= __("Thank you for helping us test and improve this new version of MailPoet. You're one of our extra-special beta testers. We really appreciate your help!") %>
  </p>
  <div style="position: absolute; top: .2em; right: 0;"><img src="<%= image_url('welcome_template/mailpoet-logo.png') %>" alt="MailPoet Logo" /></div>

  <h2 class="nav-tab-wrapper wp-clearfix">
    <a href="admin.php?page=mailpoet-welcome" class="nav-tab"><%= __('What’s New') %></a>
    <a href="admin.php?page=mailpoet-update" class="nav-tab nav-tab-active"><%= __('Changelog') %></a>
  </h2>

  <div id="mailpoet-changelog" clas="feature-section one-col">
    <h2><%= __("List of Changes") %></h2>
    <h3>0.0.46 - 2016-09-27</h3>
    <ul>
      <li>Fixed subscription forms.</li>
      <li>Enabled dragging of text blocks in visual editor.</li>
      <li>Added more unit tests.</li>
    </ul>
    <br>

    <h3>0.0.45 - 2016-09-20</h3>
    <ul>
      <li>Refactored Cron Scheduler worker and added unit tests.</li>
      <li>Fixed some language strings.</li>
    </ul>
    <br>

    <h3>0.0.44 - 2016-09-13</h3>
    <ul>
      <li>Updated API response formats for Forms, Newsletters, Segments, Subscribers.</li>
      <li>Fixed "Subject" and "Email preview" text in newsletter editor.</li>
      <li>Added unit tests for Cron.</li>
      <li>Fixed class instantiation issues for PHP 5.3.</li>
      <li>Updated links to KB articles.</li>
      <li>Added a subscribers limit of 2000 subscribers.</li>
    </ul>
    <br>

  </div>

  <hr>

  <div clas="feature-section one-col">
    <br>
    <p style="text-align: center"><a class="button button-primary" href="https://wordpress.org/plugins/wysija-newsletters/changelog/" target="_blank"><%= __("View all changes") %> &rarr;</a></p>
  </div>

</div>

<% endblock %>
