<% extends 'layout.html' %>

<% block content %>
<script>
  var mailpoet_logo_url = '<%= cdn_url('welcome-wizard/mailpoet-logo.20190109-1400.png') %>';
  var finish_wizard_url = '<%= finish_wizard_url %>';
</script>

<div id="mailpoet_wizard_container"></div>

<% endblock %>

<% block translations %>
<%= localize({
'wooCommerceListImportTitle': _x('WooCommerce customers now have their own list', 'Title on the customers import page'),
'wooCommerceListImportInfo1': __('MailPoet will create a list of your WooCommerce customers, even those who don’t have an account, known as "Guests".'),
'wooCommerceListImportInfo2': __('New customers will be able to join this list during checkout. You can manage this new checkout feature in your MailPoet Settings.'),
'wooCommerceListImportInfo3': __('To begin, please choose how you want to populate your list:'),
'wooCommerceListImportCheckboxSubscribed': __('<b>add and subscribe</b> all my customers to this list because they agreed to receive marketing emails from me'),
'wooCommerceListImportCheckboxUnsubscribed': __('<b>add</b> all my customers to the list, but <b>as unsubscribed</b>. They can join this list next time they check out'),
'wooCommerceListImportInfo4': __('Their subscription preference on other lists won’t be changed.'),
'wooCommerceListImportSubmit': _x('Create my WooCommerce Customers list now!', 'Submit button caption'),
'unknownError': __('Unknown error'),
}) %>
<% endblock %>
