.mailpoet-button {
  align-items: center;
  display: inline-flex !important;
  justify-content: center;
  max-width: 100%;
  position: relative;
  text-align: center;
  vertical-align: top;

  svg {
    fill: currentColor;
    height: 16px;
    width: 16px;

    &:first-child {
      margin-right: 6px;
    }

    &:last-child {
      margin-left: 6px;
    }

    &:only-child {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.button-small svg {
    height: 10px;
    width: 10px;
  }

  &.mailpoet-full-width + .mailpoet-button.mailpoet-full-width {
    margin-top: $grid-gap;
  }
  &:not(.mailpoet-full-width) + .mailpoet-button:not(.mailpoet-full-width) {
    margin-left: $grid-gap;
  }
}

.mailpoet-button-with-spinner {
  pointer-events: none;
  touch-action: none;

  &:after {
    background: rgba(#fff, 0.8) no-repeat center;
    background-size: 24px 24px;
    border-radius: 2px;
    content: '';
    height: calc(100% + 2px);
    left: -1px;
    position: absolute;
    top: -1px;
    width: calc(100% + 2px);
  }
}

.mailpoet-button-disabled {
  pointer-events: none;
  touch-action: none;
}
