@use 'sass:math';

.mailpoet-form-select {
  height: auto;
  min-height: $form-control-height;

  select {
    padding-right: $form-control-icon-small + 2 * $form-control-spacing;
  }

  > svg {
    ~ .mailpoet-form-react-select .mailpoet-form-react-select__value-container {
      padding-left: $form-control-icon + 2 * $form-control-spacing !important;
    }
  }

  &.mailpoet-form-input-small > svg {
    &:first-child { margin-right: -($form-control-icon-small + $form-control-spacing); }
    + select { padding-left: $form-control-icon-small + 2 * $form-control-spacing; }

    ~ .mailpoet-form-react-select .mailpoet-form-react-select__value-container {
      padding-left: $form-control-icon-small + 2 * $form-control-spacing !important;
    }
  }

  &:after {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAAqklEQVR4AWOAAS75Ak922byr7DK5/ynBHDJ5j0FmMaADkARCIeWWYLEg9xG1LACFBKYFcvlxVPOBXF4sAzbAIZs7n1LDQWYw4AJSxg1clEQ0SC/IDAZ8gEcuVwuo+CsZFnwF6WUgBgDDMJ6McI8naDBmfFAe7oTjg/JwJxwflIY74figPNwJxwfF4U44PnKvwAwHsWHhTjlAlLaSQIN7gJHax62YL84wWAAANkMq0+UYHGkAAAAASUVORK5CYII=') no-repeat center;
    background-size: contain;
    content: '';
    height: 8px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: $form-control-spacing;
    top: 50%;
    width: $form-control-icon-small;
  }
}

.mailpoet-form-react-select {
  flex-grow: 1;
  max-width: 100%;
}

.mailpoet-form-react-select__control {
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  min-height: $form-control-height - 2px !important;
}

.mailpoet-form-react-select__value-container {
  padding:
    2px
    $form-control-icon-small + 2 * $form-control-spacing
    2px
    $form-control-spacing-horizontal !important;
}

.mailpoet-form-react-select__single-value {
  color: $color-text !important;
  grid-area: 1 / 1 / 2 / 3;
  margin-left: 2px;
  max-width: calc(100% - 8px); // leave space for narrow input to search another value
  overflow: hidden;
  text-overflow: ellipsis;
}

.mailpoet-form-react-select__multi-value {
  background: $color-tertiary-light !important;
  margin: 2px $form-control-spacing 2px 0 !important;
}

.mailpoet-form-react-select__multi-value__label {
  color: $color-text;
  font-size: 14px;
  line-height: 20px;
  max-width: calc(100% - 32px);
  padding: 3px 0 3px 6px;
}

.mailpoet-form-react-select__multi-value__remove {
  cursor: pointer;

  svg {
    fill: rgba($color-text, .4) !important;
    height: 18px;
    width: 18px;
  }

  &:hover,
  &:focus {
    background: rgba($color-tertiary, .1) !important;
    outline: none;
  }
}

.mailpoet-form-react-select__placeholder {
  color: $color-text-light !important;
}

.mailpoet-form-react-select__input {
  color: $color-text !important;
  min-height: 0 !important;
}

.mailpoet-form-react-select__indicators {
  display: none !important;
}

.mailpoet-form-react-select__menu {
  border: 1px solid $color-input-border !important;
  border-radius: 0 0 $form-control-border-radius $form-control-border-radius !important;
  box-shadow: none !important;
  left: -1px !important;
  margin-bottom: -4px !important;
  margin-top: -4px !important;
  width: calc(100% + 2px) !important;
}

.mailpoet-form-react-select__menu-notice {
  color: $color-text-light !important;
}

.mailpoet-form-react-select__option {
  color: $color-text !important;
  cursor: pointer;
  font-size: 14px !important;
  line-height: 18px !important;
  padding: $form-control-spacing $form-control-spacing-horizontal !important;
}

.mailpoet-form-react-select__option--is-focused {
  background: $color-tertiary-light !important;
}

.mailpoet-form-react-select-option > span {
  vertical-align: middle;
}

.mailpoet-form-react-select-tag {
  background: $color-tertiary;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  margin-right: 6px;
  padding: 2px 5px;
}

.mailpoet-form-react-select-count {
  background: rgba($color-text-light, .5);
  border-radius: 10px;
  box-sizing: border-box;
  color: $color-text;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  margin-left: 6px;
  padding: 1px 5px;
}
