@import '../../../../packages/js/email-editor/node_modules/@wordpress/dataviews/build-style/style';

.dataviews-wrapper {
  background: #fff;
  margin-right: 20px;
}

.block-editor-block-preview__content {
  transform-origin: top left;
}
.dataviews-view-grid__media {
  overflow: hidden;
}
