// Settings
// Global variables, config switches. Not producing any CSS.

@import 'settings/breakpoints';
@import 'settings/colors';
@import 'settings/form-editor';
@import 'settings/grid';
@import 'settings/typography';

// Tools
// Default mixins and functions. Still not producing any CSS.

@import 'mixins/breakpoints';

// Generic
// 3rd-party styles, can be overwritten.

@import '../../../node_modules/@wordpress/interface/build-style/style';
@import '../../../node_modules/@wordpress/editor/build-style/style';
@import '../../../node_modules/@wordpress/edit-post/build-style/style';
@import '../../../node_modules/@wordpress/edit-post/build-style/classic';
@import '../../../node_modules/@wordpress/block-editor/build-style/style';
@import '../../../node_modules/@wordpress/block-library/build-style/style';
@import '../../../node_modules/@wordpress/block-library/build-style/theme';
@import '../../../node_modules/@wordpress/block-library/build-style/editor';
@import '../../../node_modules/@wordpress/format-library/build-style/style';
@import '../../../node_modules/codemirror/lib/codemirror';
@import '../../../node_modules/codemirror/theme/neo';

// Components
// Actual UI components.

@import './components/template_box';
@import './components-form-editor/custom-field';
@import './components-form-editor/form-title';
@import './components-form-editor/header';
@import './components-form-editor/helpscout';
@import './components-form-editor/form-placement';
@import './components-form-editor/preview';
@import './components-form-editor/block-editor';
@import './components-form-editor/selection-item';
@import './components-form-editor/sidebar';
@import './components-form-editor/sidebar-style-settings';
@import './components-form-editor/template-selection';
@import './components-form-editor/typography';
