@import '../../../node_modules/@woocommerce/components/build-style/style';
@import 'settings/colors';

.components-tab-panel__tabs {
  border-bottom: 1px solid $color-poet-gray-dividers;

  .woocommerce-badge {
    background-color: #e5e5e8;
    font-size: 11px;
    font-weight: normal;
    margin: 2px 0 2px 10px;
    width: 26px;
  }
}

.mailpoet-templates-card-grid {
  border-bottom: 1px solid $color-poet-gray-dividers;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
  padding: 26px 0 32px;
}

.mailpoet-templates-card {
  align-items: flex-end;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 0;
  text-align: left;
  width: 336px;

  > div {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
    color: inherit;
  }

  // add focus ring in :after pseudo-element to cover badge edge
  &:focus:after {
    border-radius: inherit;
    content: '';
    inset: 0;
    outline: var(--wp-admin-border-width-focus) solid
      var(--wp-admin-theme-color);
    pointer-events: none;
    position: absolute;
  }

  &:disabled:not(.mailpoet-templates-card-is-busy) {
    filter: grayscale(1);
    opacity: 0.7;
  }
}

.mailpoet-templates-card-header {
  border-bottom-width: 0;
  padding: 24px 24px 8px;

  .mailpoet-templates-badge {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 0 0 2px 2px;
    display: flex;
    height: 22px;
    justify-content: center;
    position: absolute;
    right: 24px;
    top: -1px;
    width: 22px;
  }

  button.is-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
  }
}

.mailpoet-templates-card-header-title {
  color: var(--wp-admin-theme-color);
  font-weight: 600;
}

.mailpoet-templates-card-body {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 0 24px 24px;
  width: 336px;

  .woocommerce-tag {
    margin: 0;
    padding-top: 16px;
  }
}

.mailpoet-templates-card-description {
  font-size: 13px;
  line-height: 21px;
}

.mailpoet-templates-footer {
  text-align: center;
}

.mailpoet-templates-header {
  .components-search-control {
    display: none;
    width: 180px;
  }

  .components-base-control__field {
    margin: 0;
  }

  .components-search-control
    input[type='search'].components-search-control__input {
    background: $color-white;
    height: 36px;
  }
}
