#mailpoet_custom_fields_container .components-notice {
  margin: 8px 0 0;
}

.mailpoet-custom-fields-dataviews {
  margin-top: 8px;

  .dataviews-wrapper {
    min-height: 200px;
  }
}

.mailpoet-custom-fields-dataviews__toolbar {
  padding: 8px;
}
