// dependencies

@import '../../../node_modules/@woocommerce/components/build-style/style';
@import '../../../node_modules/react-dates/lib/css/_datepicker.css';

// settings & mixins

@import 'settings/breakpoints';
@import 'settings/colors';
@import 'mixins/breakpoints';

// automation editor styles

@import './components-automation/statistics';
@import './components-automation-editor/editor';

// automation integration styles

@import './components-automation-integrations/core';
@import './components-automation-integrations/mailpoet';
@import './components-automation-integrations/woocommerce';

// styles

@import './components-automation-analytics/header';
@import './components-automation-analytics/overview';
@import './components-automation-analytics/table';
@import './components-automation-analytics/tabs';
