// settings & mixins

@import 'settings/breakpoints';
@import 'settings/colors';
@import 'mixins/breakpoints';

// automation editor styles

@import './components-automation/statistics';
@import './components-automation-editor/editor';

// automation integration styles

@import './components-automation-integrations/core';
@import './components-automation-integrations/mailpoet';
@import './components-automation-integrations/woocommerce';

// template styles

@import './mailpoet-templates';

.mailpoet-automation-template-detail {
  height: 100%;
  max-height: min(70%, 700px);
  width: 800px;

  .components-modal__content {
    height: 100%;
    margin: 0;
    padding: 0;

    > div:not(.components-modal__header) {
      height: 100%;
    }
  }

  .components-modal__header {
    visibility: hidden;

    button {
      margin-right: -6px;
      visibility: visible;
    }
  }
}

.mailpoet-automation-template-detail-content {
  display: grid;
  grid-template-areas:
    'info preview'
    'footer footer';
  grid-template-columns: 360px auto;
  grid-template-rows: 1fr auto;
  height: 100%;
  width: 100%;
}

.mailpoet-automation-template-detail-info {
  overflow: auto;
  padding: 32px;

  h1 {
    font-size: 16px;
    line-height: 26px;
    margin-top: 32px;
  }
}

.mailpoet-automation-template-detail-preview {
  background: #f6f7f7;
  display: grid;
  overflow: auto;

  .mailpoet-automation-editor-automation {
    animation: fade-in 0.15s ease-in;
    background: none;
    box-sizing: border-box;
    grid-template-rows: auto;
    padding: 24px;
  }

  .mailpoet-automation-editor-automation-wrapper {
    $scale: 0.7;
    display: flex;
    height: calc(100% / $scale);
    margin: 0 auto;
    min-height: 0;
    padding: 0;
    transform: scale($scale);
    transform-origin: top center;
  }

  .mailpoet-automation-editor-automation-flow {
    padding-bottom: 32px;
  }
}

.mailpoet-automation-template-detail-preview-spinner {
  margin: auto;

  svg {
    height: 20px;
    width: 20px;
  }
}

.mailpoet-automation-template-detail-footer {
  align-items: center;
  border-top: 1px solid #dcdcde;
  display: flex;
  grid-area: footer;
  justify-content: space-between;
  padding: 16px 24px;
}

.mailpoet-automation-template-detail-footer-navigation {
  display: flex;
  gap: 12px;
  margin-left: -6px;
}

.mailpoet-automation-template-detail-footer-actions {
  display: flex;
  gap: 12px;
}

.mailpoet-automation-template-detail-error {
  bottom: 80px;
  position: absolute;
  right: 24px;
}
