$color-grey: #ddd;
$color-wp-gray-0: #fbfbfb;
$color-poet-gray-dividers: #dcdcde;
$color-gutenberg-grey-100: #f0f0f0;
$color-gutenberg-grey-600: #949494;
$color-gutenberg-grey-700: #757575;
$color-gutenberg-grey-800: #2f2f2f;
$color-white: #fff;
$color-black: #1e1e1e;
$color-primary: #007cba;
$color-gutenberg-alert-green: #4ab866;
$color-wp-green-0: #edfaef;
$color-wp-green-60: #007017;
$color-wp-yellow-0: #fcf9e8;
$color-wp-yellow-50: #996800;
$color-wp-yellow-60: #755100;
$color-wp-red-0: #fcf0f1;
$color-wp-red-60: #b32d2e;
