@import './colors';

.mailpoet-analytics-tabs {
  background: $color-white;
  border: 1px solid $color-grey;

  .mailpoet-tabs-wrapper {
    border-bottom: 1px solid $color-grey;
  }

  .mailpoet-tab {
    border: none;
    font-size: 13px;
    font-weight: bold;
    padding: 16px 24px;

    &.mailpoet-tab-active {
      border-bottom: 5px solid $color-primary;
      color: $color-black;
    }
  }

  .mailpoet-tab-content {
    border: none;
    padding: 16px 24px;
  }
}

.woocommerce-summary__item {
  box-sizing: border-box;
}
