@import './colors';

.mailpoet-analytics-tabs {
  background: $color-white;
  border: 1px solid $color-grey;

  .components-tab-panel__tabs {
    border-bottom: 1px solid $color-grey;
  }

  .components-tab-panel__tab-content {
    padding: 16px 24px;
  }
}

.woocommerce-summary__item {
  box-sizing: border-box;
}
