#mailpoet_automation * {
  box-sizing: border-box;

  .mailpoet-add-new-button {
    padding-right: 12px;
  }

  .mailpoet-automation-listing {
    /* Prevent border radius beneath tabs */
    border-radius: 0 0 1px 1px;
    /* Prevent overlapping box shadow since listing is rendered inside tabs */
    clip-path: inset(-1px 0 0 0);
  }
}

.mailpoet-filter-tab-panel {
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  outline: none;

  .count {
    background-color: #f0f0f1;
    border-radius: 12px;
    font-size: 11px;
    font-weight: 400;
    margin-left: 6px;
    padding: 2px 5px;
  }
}

.mailpoet-automation-listing-heading {
  margin-bottom: 16px;
}
