#mailpoet_automation * {
  box-sizing: border-box;
}

.mailpoet-automation-is-onboarding {
  .notice {
    display: none;
  }
}

.mailpoet-automation-dataviews .dataviews-title-field a {
  display: inline-flex;
}
