#mailpoet_automation * {
  box-sizing: border-box;

  .mailpoet-add-new-button {
    padding-right: 12px;
  }
}

.mailpoet-automation-listing-heading {
  margin-bottom: 16px;
}

.mailpoet-automation-listing {
  box-shadow: none;
  margin-bottom: 0;
}

.mailpoet-filter-tab-panel {
  background-color: #fff;
  border: 1px solid #dcdcde;
  border-radius: 2px;

  .components-tab-panel__tabs {
    box-shadow: inset 0 -1px 0 0 #dcdcde;
  }

  .components-tab-panel__tabs-item:focus {
    box-shadow: none;
  }

  .components-tab-panel__tabs-item.is-active {
    box-shadow: inset 0 -4px 0 0 var(--wp-admin-theme-color);
  }

  .components-tab-panel__tabs-item:focus-visible {
    box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
  }

  .components-tab-panel__tabs-item.is-active:focus-visible {
    box-shadow:
      inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color),
      inset 0 -4px 0 0 var(--wp-admin-theme-color);
  }

  .count {
    background-color: #f0f0f1;
    border-radius: 12px;
    font-size: 11px;
    font-weight: 400;
    margin-left: 6px;
    padding: 2px 5px;
  }
}

.mailpoet-automation-listing-more-button button.components-button {
  height: 36px;
  padding: 0;
  width: 36px;

  svg {
    height: 28px;
    width: 28px;
  }
}
