<% extends 'layout.html' %>

<% block content %>
  <div id="dynamic_segments_container"></div>

  <script type="text/javascript">
    var mailpoet_listing_per_page = <%= items_per_page %>;
    var mailpoet_beacon_articles = [
      '5d667fc22c7d3a7a4d77c426', // https://kb.mailpoet.com/article/282-create-a-list
      '57f47ca3c697914f21035256', // https://kb.mailpoet.com/article/133-the-wordpress-users-list
      '5d4beee42c7d3a330e3c4207', // https://kb.mailpoet.com/article/278-the-woocommerce-customers-list
      '5e187a3a2c7d3a7e9ae607ff', // https://kb.mailpoet.com/article/294-managing-your-subscribers-list
      '57ce079f903360649f6e56fc', // https://kb.mailpoet.com/article/126-importing-subscribers-with-csv-files
      '5d722c7104286364bc8ecf19', // https://kb.mailpoet.com/article/284-import-old-customers-to-the-woocommerce-customers-list
      '59a89621042863033a1c82e6' // https://kb.mailpoet.com/article/205-roles-and-permissions
    ];
    var mailpoet_custom_fields = <%= json_encode(custom_fields) %>;
    var mailpoet_static_segments_list = <%= json_encode(static_segments_list) %>;
    var wordpress_editable_roles_list = <%= json_encode(wordpress_editable_roles_list)  %>;
    var mailpoet_newsletters_list = <%= json_encode(newsletters_list)  %>;
    var mailpoet_product_categories = <%= json_encode(product_categories)  %>;
    var mailpoet_products = <%= json_encode(products) %>;
    var mailpoet_membership_plans = <%= json_encode(membership_plans) %>;
    var mailpoet_subscription_products = <%= json_encode(subscription_products) %>;
    var mailpoet_can_use_woocommerce_memberships = <%= json_encode(can_use_woocommerce_memberships)  %>;
    var mailpoet_can_use_woocommerce_subscriptions = <%= json_encode(can_use_woocommerce_subscriptions)  %>;
    var mailpoet_woocommerce_currency_symbol = <%= json_encode(woocommerce_currency_symbol)  %>;
    var mailpoet_woocommerce_countries = <%= json_encode(woocommerce_countries)  %>;
    var mailpoet_woocommerce_payment_methods = <%= json_encode(woocommerce_payment_methods)  %>;
    var mailpoet_woocommerce_shipping_methods = <%= json_encode(woocommerce_shipping_methods)  %>;
    var mailpoet_woocommerce_coupons = <%= json_encode(woocommerce_coupons) %>;
    var mailpoet_signup_forms = <%= json_encode(signup_forms) %>;
    var mailpoet_automations = <%= json_encode(automations) %>;
  </script>
<% endblock %>

<% block translations %>
  <% include 'segments/translations.html' %>
<% endblock %>

<% block after_translations %>
  <%= do_action('mailpoet_segments_translations_after') %>
<% endblock %>

<% block after_css %>
  <%= stylesheet('mailpoet-templates.css') %>
<% endblock %>
