$block-hover-highlight-color = $primary-active-color
$block-text-line-height = $text-line-height

.mailpoet_block
  box-sizing: border-box
  position: relative
  float: left
  background-color: inherit
  box-sizing: border-box

  margin-bottom: 20px

  padding-left: 20px
  padding-right: 20px

  & > .mailpoet_block_highlight
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    pointer-events: none
    border: 1px solid $transparent-color

  &:hover > .mailpoet_block_highlight
    border: 1px dashed $block-hover-highlight-color
    
  &.mailpoet_highlight > .mailpoet_block_highlight
    border: 1px dashed $block-hover-highlight-color !important

.mailpoet_content
  position: relative
  line-height: $block-text-line-height

  h1, h2, h3, h4, h5, h6
    line-height: $block-text-line-height
    padding: 0
    margin: 0
    font-style: normal
    font-weight: normal

  h1, h2, h3, h4, h5, h6
    margin-bottom: 0.3em

  p:not(.mailpoet_wp_post)
    margin-top: 0
    margin-bottom: 0
    padding: 0
    margin: 0

  p
    line-height: $block-text-line-height
    font-style: normal
    font-weight: normal

  ul
    padding: 0
    margin-top: 10px
    margin-bottom: 10px

  li
    margin-top: 0
    font-weight: normal
    margin-bottom: 10px

  blockquote
    margin: 0 0 $block-text-line-height
    padding-left: 10px
    border-left: 2px #565656 solid
