$button-vertical-padding = 13px

.mailpoet_button_block
  padding-top: $button-vertical-padding
  padding-bottom: $button-vertical-padding

  overflow: hidden

  .mailpoet_editor_button
    display: block
    margin: auto
    line-height: 2em
    text-align: center
    text-decoration: none
    box-sizing: border-box
    max-width: 100%

    &:hover
      cursor: all-scroll
