$active-divider-border-color = #adadad
$active-divider-background-color = #daebf2
$divider-hover-border-color = $primary-active-color

.mailpoet_divider_block
    padding-left: 0
    padding-right: 0
    margin-bottom: 0
    cursor: all-scroll

.mailpoet_divider
    margin-left: 20px
    margin-right: 20px

.mailpoet_field_divider_style
    max-width: $newsletter-width
    margin: auto
    display: block
    width: 100%
    border: 1px solid transparent

.mailpoet_field_divider_style:hover
    border: 1px solid $divider-hover-border-color

.mailpoet_divider_selector img
    width: 100%

.mailpoet_field_divider_style
    padding: 10px 0
