.mailpoet_image_block

  &.mailpoet_full_image
    padding-left: 0
    padding-right: 0
    margin-bottom: 0

  .mailpoet_content a:hover
    cursor: all-scroll

  img
    vertical-align: bottom
    max-width: $newsletter-width
    width: 100%
    height: auto
