.mailpoet_image_block

  img
    vertical-align: bottom
    max-width: 100%
    width: auto
    height: auto

  &.mailpoet_full_image
    padding-left: 0
    padding-right: 0
    margin-bottom: 0

    img
      width: 100%

  .mailpoet_content a:hover
    cursor: all-scroll

