.mailpoet_posts_block
  padding-left: 0
  padding-right: 0

.mailpoet_posts_block_posts
  overflow: auto

  & > .mailpoet_block
    width: 100%

.mailpoet_post_selection_filter_row
  margin-top: 5px
  margin-bottom: 5px

.mailpoet_posts_categories_and_tags
  width: 100%

.mailpoet_settings_posts_display_options
.mailpoet_settings_posts_selection
  animation-slide-open-downwards()

.mailpoet_settings_posts_show_display_options,
.mailpoet_settings_posts_show_post_selection
  display: block
  margin-top: 10px

.mailpoet_post_selection_container
  margin-top: 20px
  margin-bottom: 20px

.mailpoet_settings_posts_single_post
  border-radius(1px)
  width: 100%
  margin-top: 5px
  margin-bottom: 5px
  height: 38px
  line-height: 38px
  overflow: hidden
  border: 1px solid $content-border-color
  background-color: $white-color

  &:hover
    border-color: $primary-active-color

  .mailpoet_select_post_checkbox
    margin-left: 10px
    margin-right: 8px
