.mailpoet_text_block
  padding-left: 0
  padding-right: 0

  & > .mailpoet_content
    overflow: hidden
    padding-top: 0
    padding-bottom: 0px
    padding-left: 20px
    padding-right: 20px

  blockquote
    margin: 1em
    padding-left: 1em
    border-left: 2px #565656 solid
