/* Fix select2 z-index to work with MailPoet.Modal */
.select2-dropdown {
  z-index: 101000 !important;
}

/* Remove input field styles from select2 type input */
.select2-container {
  border: none;
  padding: 0;
}

/* Fix select2 input glow and margins that wordpress may insert */
.select2 input,
.select2 input:focus {
  border-color: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

/* Fix width overrides for select2 */
.mailpoet_editor_settings .select2-container {
  width: 100% !important;
}

/* Fix inline TinyMCE toolbar to have minimal width instead of being close to 100% of the screen */
div.mce-toolbar-grp.mce-container {
  position: absolute;
}

.mce-tinymce.mce-tinymce-inline {
  background-color: $primary-background-color;
  border: 1px solid $content-border-color;
  border-radius: 3px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, .05);
}

.mce-window {
  /* Fix TinyMCE mailpoet_shortcodes window lack of hiding overflow */
  div.mce-container-body.mce-abs-layout {
    overflow: hidden;
  }

  /* Fix TinyMCE popup window's close button to not be covered by draggable section */
  .mce-window-head div.mce-dragh {
    width: calc(100% - 36px);
  }
}

/* TinyMCE mailpoet_shortcodes toolbar icon */
.mce-i-mailpoet_shortcodes:before {
  content: '\f307';
  font: 400 20px / 1 dashicons !important;
}

/* TinyMCE remove active border from the editor */
.mce-edit-focus {
  outline: none;
}

#wpbody-content > * {
  margin-left: 20px;
}

#wpbody-content > .wrap {
  margin-left: 0;
}

#wpcontent {
  margin-left: 160px;
  padding-left: 0;

  .folded & {
    margin-left: 36px;
  }
}

.wrap {
  margin-left: 0;
  margin-right: 0;
}

/* Reduce WP admin bar z-index in order for TinyMCE toolbar to be visible */
#wpadminbar {
  z-index: 50000;
}

/* Allow horizontal scrolling on smaller (tablet/phone) sized screens */
body {
  overflow-x: auto;
}

/* Hide the "Details" section of WordPress Media manager */
.media-sidebar {
  display: none;
}

#mailpoet-media-manager {
  .attachments-browser .attachments,
  .attachments-browser .uploader-inline {
    margin-right: 0;
  }

  .attachments-browser .attachments,
  .attachments-browser .media-toolbar,
  .attachments-browser .uploader-inline {
    right: 0;
  }
}

/* Remove max width from date selector in WordPress Media Manager */
#media-attachment-date-filters {
  max-width: calc(100% - 12px);
}

/* Alter Spectrum color picker to leave only the color preview, without arrows */
.sp-replacer {
  border: 0;
  border-radius: 3px;
  box-shadow: 1px 2px darken($primary-background-color, 13%);
  padding: 0;
}

.sp-preview {
  border-width: 0;
  height: 25px;
  margin-right: 0;
  width: 25px;
}

.sp-dd {
  display: none;
}

/* Sidepanel overrides */
.mailpoet_panel_body {
  margin: 19px;
  padding: 0;

  .mailpoet_editor_settings h3 {
    margin-top: 0;
  }
}

.mailpoet_panel_wrapper {
  background-color: $primary-background-color;
  border: 1px solid $content-border-color;
}

.wrap > .mailpoet_notice,
.notice,
.update-nag {
  margin-left: 2px + 15px !important;
  margin-right: 20px !important;
}

/* Make a button group */
.mailpoet_button_group {
  .button:first-child {
    border-bottom-right-radius: 0;
    border-right: 0;
    border-top-right-radius: 0;
  }

  .button:last-child {
    border-bottom-left-radius: 0;
    border-left: 0;
    border-top-left-radius: 0;
  }
}
