{{#if params.label}}<p>{{ params.label }}</p>{{/if}}
{{#unless params.values}}<p class="mailpoet_error"><%= __('Please select at least one list') %></p>{{/unless}}
{{#each params.values}}
  <p>
    <input class="mailpoet_checkbox" type="checkbox" {{#if is_checked}}checked="checked"{{/if}} disabled="disabled" />{{ name }}
  </p>
{{/each}}