<style type="text/css" id="mailpoet_form_preview_styles">
	.mailpoet_hp_email_label { display: none; }
	{{{ css }}}
</style>
<div class="mailpoet_form">
  <div class="mailpoet_message">
    <p class="mailpoet_validate_success"><%= __('This is what the success message looks like.') %></p>
    <p class="mailpoet_validate_error"><%= __('This is what the error message looks like.') %></p>
  </div>
  {{{ html }}}
</div>
