.mailpoet_boxes.mailpoet_boxes_loading {
  opacity: .2;
}

ul.mailpoet_boxes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.mailpoet_boxes li {
  background-color: #fff;
  border: 1px solid $color-tertiary-light;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  margin: 15px 25px 0 0;
  padding: 15px;
  width: $newsletter-box-width;
}

.mailpoet_boxes .mailpoet_boxes_content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mailpoet_boxes .mailpoet_template_boxes {
  box-sizing: border-box;
  flex-direction: column;
  height: auto;
  margin: 0 0 $newsletter-box-margin-big;
  padding: 0;
  width: 30.5%;

  .mailpoet_template_content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
  }

  .mailpoet_actions {
    align-items: center;
    background: #f5f5f5;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #d6d6d6;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 8px 16px;
    right: 0;

    @include breakpoint-max-width(782px) {
      padding: 6px 16px 2px;
    }
  }

  .mailpoet_description {
    align-items: center;
    background: #fafafa;
    border-top: 1px solid #e1e1e1;
    display: flex;
    padding: 12px 5%;

    h3 {
      font-size: 15px;
      font-weight: 600;
      line-height: 20px;
      margin: 0;
      max-width: 100%;
    }
  }

  @include breakpoint-max-width(1178px) {
    width: 47%;
  }

  @include breakpoint-max-width(520px) {
    width: 90%;
  }
}

@include breakpoint-min-width(1179px) {
  .mailpoet_boxes .mailpoet_template_boxes:nth-child(3n-1) {
    margin: 0 $newsletter-box-margin-big $newsletter-box-margin-big $newsletter-box-margin-big;
  }
}

@include breakpoint-max-width(1178px) {
  .mailpoet_boxes .mailpoet_template_boxes:nth-child(2n-1) {
    margin: 0 $newsletter-box-margin-big $newsletter-box-margin-big 0;
  }
}

@include breakpoint-max-width(782px) {
  .mailpoet_boxes .mailpoet_template_boxes:nth-child(2n-1) {
    margin: 0 $newsletter-box-margin-small $newsletter-box-margin-small 0;
  }
}

@include breakpoint-max-width(520px) {
  .mailpoet_boxes .mailpoet_template_boxes:nth-child(1n) {
    margin: 0 0 $newsletter-box-margin-small $newsletter-box-margin-small;
  }
}

.mailpoet_boxes .mailpoet_thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 0;
  flex-shrink: 0;
  height: $newsletter-thumbnail-height;
  overflow: hidden;
  position: relative;
  width: 100%;

  img {
    height: auto;
    min-width: $newsletter-thumbnail-height;
    width: 100%;
  }
}

.woocommerce .mailpoet_thumbnail,
.mailpoet_boxes .mailpoet_newsletter_types .mailpoet_thumbnail {
  height: $newsletter-box-height;
  margin-right: 15px;
  overflow: hidden;
  width: $newsletter-box-height;

  img {
    min-width: $newsletter-box-height;
    transform: translate(-50%, -50%);
    width: 110%;
  }
}

.mailpoet_overlay {
  background-color: rgba(255, 255, 255, 0);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 250ms cubic-bezier(.42, 0, .58, 1); /* ease-in-out */

  &:hover {
    background-color: rgba(255, 255, 255, .7);
    opacity: 1;
  }
}

.mailpoet_overlay .mailpoet_more_details {
  background: #23282d;
  background: rgba(0, 0, 0, .7);
  border-radius: 3px;
  color: #fff;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  left: 20%;
  padding: 15px 12px;
  /* opacity: 0; */
  position: absolute;
  right: 20%;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
  top: 35%;
  transition: opacity .1s ease-in-out;
}

.mailpoet_boxes.woocommerce .mailpoet_description {
  h3 {
    font-size: 17px;
    line-height: 1.2;
  }
}

.mailpoet_boxes .mailpoet_description {
  flex-grow: 1;
  overflow-wrap: break-word;
  padding-bottom: 0;
  word-wrap: break-word;

  h3 {
    font-size: $newsletter-box-heading-font-size;
    font-weight: 700;
    line-height: $newsletter-box-heading-line-height;
    margin: 0 0 $newsletter-box-description-space-between-heading-and-paragraph 0;
    max-width: 223px;
  }

  p {
    font-size: $newsletter-box-description-font-size;
    margin: 0;
  }
}

.mailpoet_boxes .mailpoet_actions {
  margin-top: 8px;
  text-align: right;
}

.mailpoet_boxes .mailpoet_delete {
  margin-right: 6px;
}

.mailpoet_boxes .mailpoet_delete a {
  color: inherit;
  text-decoration: none;
}

.mailpoet_boxes .mailpoet_delete a:hover {
  color: inherit;
}

.mailpoet_boxes_types {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  li {
    float: none;
  }

  .mailpoet_description {

    p { margin-bottom: 10px; }
  }
}

.mailpoet_boxes.mailpoet_boxes_types,
.mailpoet_boxes.woocommerce {
  li {
    margin: 0 $grid-gap $grid-gap 0;
    padding: $grid-gap $grid-gap-large $grid-gap-large $grid-gap-large;
  }

  .mailpoet-boxes-badge {
    margin-top: 16px;
  }
}
