.mailpoet_breadcrumb {
  color: $color-text;
  font-size: .9em;
  text-transform: uppercase;
}

.mailpoet_breadcrumb .mailpoet_current {
  font-weight: bold;
}

.mailpoet_breadcrumb a {
  color: $color-text;
  text-decoration: none;
}

.mailpoet_breadcrumb a:hover {
  color: $color-text-hover;
}
