.mailpoet_browser_preview_toggle {
  flex: 0 1 auto;
  height: 34px;
  padding-bottom: $grid-gap / 2;
  text-align: center;
  width: 100%;
}

.mailpoet_browser_preview_toggle > label {
  display: inline-block;
  margin: 0 5px;
}

.mailpoet_browser_preview_icon {
  display: inline-block;
  height: 24px;
  margin: 0 6px;
  padding: 5px 10px;

  &:focus {
    box-shadow: none;
  }

  .mailpoet_preview_icon_fill {
    fill: rgba($color-text, .3);
  }

  &.mailpoet_active {
    .mailpoet_preview_icon_fill {
      fill: $color-text;
    }
  }
}

.mailpoet_browser_preview_container {
  border: 1px solid #979797;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  margin: auto;
  padding: 20px;
  transition: width .5s;
}

.mailpoet_browser_preview_container_desktop {
  width: 100%;
}

.mailpoet_browser_preview_container_mobile {
  // 360px width + 2x20px padding + 2x1px border
  width: 402px;
}

.mailpoet_browser_preview_border {
  border: 1px solid #c3c3c3;
  height: 100%;
  width: 100%;
}

.mailpoet_browser_preview_iframe {
  display: block;
}
