.clearfix {
  @include clearfix();
}

.relative-holder {
  position: relative;
}

a:focus {
  outline: 0 none !important;
}

.mailpoet_success {
  color: #090;
}

.mailpoet_error {
  color: #900;
}

.mailpoet_hidden {
  display: none;
}

.mailpoet_spaced_block {
  margin: 1em 0;
}

.mailpoet_centered {
  text-align: center;
}

/* double class is intentional here, we need to be very specific here to
   something wrapping our warning message could override its style */
p.sender_email_address_warning.sender_email_address_warning,
p.sender_email_address_warning.sender_email_address_warning a {
  align-self: flex-start;
  color: #900;
  text-align: left;
}

p.sender_email_address_warning:first-child {
  margin-top: 1em;
}

.button.mailpoet-button-bigger {
  font-size: 1.5em;
  height: 46px;
  padding: 10px 18px;
}
