.mailpoet_form {
  margin: 0 0 20px;
}

.mailpoet_form td {
  vertical-align: top !important;
}

.select2-container {
  max-width: 100%;
  width: 25em !important;
}

input.select2-search__field::-webkit-input-placeholder {
  color: $color-placeholder-select2;
}

input.select2-search__field:-moz-placeholder {
  color: $color-placeholder-select2;
}

input.select2-search__field::-moz-placeholder {
  color: $color-placeholder-select2;
}

input.select2-search__field:-ms-input-placeholder {
  color: $color-placeholder-select2;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #aaa; /* default Select2 border for single dropdown */
}

textarea.regular-text {
  width: 25em !important;
}

@include breakpoint-max-width(782px) {
  .select2-container {
    width: 100% !important;
  }
}

progress {
  background-color: $progress-background;
  border: 0;
  height: 2em;
  width: 100%;
}

progress::-webkit-progress-bar {
  background-color: $progress-background;
}

progress::-webkit-progress-value {
  background-color: $progress-foreground;
  border-radius: $progress-border-radius;
}

progress::-moz-progress-bar {
  background-color: $progress-foreground;
  border-radius: $progress-border-radius;
}
