.mailpoet_hidden,
.mailpoet_validation_error {
  display: none;
}

span {
  &.mailpoet_mailchimp-key-status {
    &.mailpoet_mailchimp-ok {
      &:before {
        color: #0e90d2;
        content: '\2713';
        margin-left: 15px;
      }
    }

    &.mailpoet_mailchimp-error {
      &:before {
        color: #900;
        content: '\2717';
        margin-left: 15px;
      }
    }
  }

  &.select2-search {
    &.select2-search--dropdown {
      .admin_page_mailpoet-import &,
      .admin_page_mailpoet-export & {
        display: none !important;
      }
    }
  }
}

.subscribers_data {
  overflow: auto;

  table {
    width: auto;
  }

  td {
    padding: .5em;
  }

  > table {
    > thead {
      > tr {
        > th {
          > span {
            width: 15em !important;
          }
        }
      }
    }

    > tbody {
      > td {
        padding: .5em;
      }

      > tr {
        &:nth-child(odd) {
          background: #f9f9f9;
        }
      }
    }
  }

  th:first-child,
  td:first-child {
    padding: 0 1em !important;
    text-align: center !important;
    vertical-align: inherit !important;
    width: 10em !important;
  }

  .mailpoet_header {
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;
  }
}

.mailpoet_data_match {
  color: #0e90d2;
  margin-left: .25em;
}

.mailpoet_import_error,
.mailpoet_validation_error {
  color: #900;
}

tr {
  &.mailpoet_segments {
    > td {
      > a {
        margin-left: 15px;
      }
    }
  }
}

.mailpoet_data_manipulation_step {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  > * {
    margin: 10px 0;
  }

  .mailpoet_label_description {
    padding: 20px 10px 20px 0;
    width: 310px;
  }

  .mailpoet_import_select_segment {
    align-items: center;
    display: flex;
    flex-direction: row;

    label {
      align-items: center;
      display: flex;
      flex-direction: row;
    }

    .mailpoet_create_segment {
      margin-left: 15px;
    }
  }

  .mailpoet_update_existing_subscribers {
    align-items: center;
    display: flex;
    flex-direction: row;

    label {
      margin-right: 4px;
    }

    .mailpoet_label_description {
      font-weight: 400;
    }
  }
}

.mailpoet_subscribers_data_parse_results_details_show,
.mailpoet_create_segment {
  cursor: pointer;
}

.mailpoet_import_validation_step {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 600px;

  .mailpoet_import_step_buttons {
    margin-top: 40px;
  }

  h2,
  .mailpoet_last_sent {
    margin-bottom: 40px;
  }

  .mailpoet_import_block {
    p {
      font-weight: bold;
    }
  }
}

.mailpoet_method_selection_step {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  > * {
    margin: 10px 0;
  }

  .mailpoet_import_selection_form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    > * {
      margin-right: 2.5em;
    }
  }

  .mailpoet_import_heading {
    color: #23282d;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
  }

  .description {
    color: #666;
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
    margin: 2px 0 5px;
  }

  .mailpoet_import_paste_texts {
    margin-right: 25px;
    width: 300px;
  }

  .mailpoet_import_method_paste {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .mailpoet_import_mailchimp {
    .mailpoet_mailchimp_key,
    .mailpoet_mailchimp_lists {
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 40px;
    }

    .mailpoet_mailchimp_key_input {
      align-items: center;
      display: flex;
      margin-right: 20px;
    }

    .mailpoet_import_heading {
      display: block;
      width: 300px;
    }
  }
}

.mailpoet_offer_migration {
  margin-top: 40px;
}

.default-list {
  font-size: 13px;
  list-style-type: disc;
  margin-left: 40px;
}

.mailpoet-offer-clearout-step__container {
  font-weight: bold;
  max-width: 42em;
}
