body.mailpoet_modal_opened {
  overflow: hidden;
}

.mailpoet_modal_overlay {
  align-items: center;
  background-color: $legacy-modal-overlay-background-color;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: $legacy-modal-popup-margin;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}

.mailpoet_modal_highlight {
  background-color: $legacy-modal-highlight-background-color;
  box-shadow: 0 0 20px 2px rgba(#fff, 75%);
  pointer-events: none;
  position: relative;
  z-index: 100001 !important;
}

.mailpoet_modal_overlay.mailpoet_overlay_transparent {
  background-color: transparent;
}

.mailpoet_modal_overlay.mailpoet_overlay_loading {
  background-color: $legacy-modal-overlay-background-color !important;
  display: flex !important;
}

.mailpoet_popup {
  animation: mailpoet_popup_fadein .5s;
  margin: auto;
  max-width: 100%;
  z-index: 25;
}

@keyframes mailpoet_popup_fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.mailpoet_popup_wrapper {
  background-color: $legacy-modal-background-color;
  border-radius: 4px;
  box-shadow: 1px 2px 4px #343434;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
  padding: $legacy-modal-popup-padding;
  position: relative;
  width: 100%;
  z-index: 0;
}

.mailpoet_overlay_transparent .mailpoet_popup_wrapper {
  border: 1px solid #333;
}

.mailpoet_popup_title h2 {
  font-size: 23px;
  font-weight: 600;
  line-height: 29px;
  margin: 0 ($legacy-modal-close-button-size + 20) 0 0;
}

.mailpoet_popup_body {
  flex-grow: 1;
  margin-top: 20px;
  position: relative;

  .button + .button {
    margin-left: 10px;
  }
}

.mailpoet_popup_has_title .mailpoet_popup_body {
  margin-top: 30px;
}

.mailpoet_modal_overlay.mailpoet_panel_overlay {
  overflow: hidden;
  top: 32px;
}

.mailpoet_panel {
  bottom: 0;
  display: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  transition: margin 350ms ease-out;
  width: 100%;
  z-index: 100002;
}

.mailpoet_panel_wrapper {
  background-color: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-top: 0 none;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  width: 100%;
  z-index: 0;
}

.mailpoet_panel_title {
  height: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.mailpoet_panel_title h2 {
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  color: $legacy-modal-title-color;
  font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 32px;
  margin: 0;
  padding: 0 30px 0 10px;
}

.mailpoet_panel_body {
  padding: 10px 10px 36px;
}

.mailpoet_modal_close {
  cursor: pointer;
  outline: 0 none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 2;

  svg {
    opacity: .5;
    stroke: #979797;

    &:hover {
      stroke: #636363;
    }
  }
}

.mailpoet_popup .mailpoet_modal_close {
  height: $legacy-modal-close-button-size;
  padding: 3px 0;
  right: $legacy-modal-popup-padding;
  top: $legacy-modal-popup-padding;
  width: $legacy-modal-close-button-size;
}

.mailpoet_panel .mailpoet_modal_close {
  height: 16px;
  padding: 2px 0;
  right: 20px;
  top: 20px;
  width: 16px;
}

.mailpoet_modal_close:focus {
  outline: 0 none;
}

.mailpoet_align_left {
  margin: 0;
  text-align: left;
}

.mailpoet_align_center {
  margin: 0;
  text-align: center;
}

.mailpoet_align_right {
  margin: 0;
  text-align: right;
}

@include breakpoint-max-width(782px) {
  .mailpoet_modal_overlay {
    padding: $legacy-modal-popup-margin-mobile;
  }

  .mailpoet_popup {
    min-width: auto !important;
    width: 100%;
  }

  .mailpoet_popup_wrapper {
    padding: $legacy-modal-popup-padding-mobile;
  }

  .mailpoet_popup_title h2 {
    margin-right: $legacy-modal-close-button-size + 10;
  }

  .mailpoet_popup .mailpoet_modal_close {
    right: $legacy-modal-popup-padding-mobile;
    top: $legacy-modal-popup-padding-mobile;
  }

  .mailpoet_modal_overlay.mailpoet_panel_overlay {
    top: 46px;
  }

  .mailpoet_panel_body {
    padding-bottom: 52px;
  }
}

.mailpoet_loading {
  display: flex;
  flex-direction: row;
  height: 32px;
  width: 150px;
}

.mailpoet_modal_loading {
  animation-direction: linear;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
  animation-name: bounce_mailpoet_modal_loading;
  background-color: $color-secondary-light;
  border-radius: 21px;
  height: 32px;
  margin-left: 17px;
  width: 32px;
}

.mailpoet_modal_loading_2 {
  animation-delay: .5s;
}

.mailpoet_modal_loading_3 {
  animation-delay: 1s;
}

@keyframes bounce_mailpoet_modal_loading {
  20%,
  90% { background-color: $color-secondary-light; }
  50% { background-color: $color-secondary; }
}
