.mailpoet-listing {
  background: $color-white;
  border: 1px solid $color-tertiary-light;
  border-radius: 0 4px 4px;
  font-family: $font-family;
  padding: $grid-gap;

  .mailpoet-tab-content & {
    background: none;
    border: 0;
    border-radius: 0;
    padding: 0;
  }
}

.mailpoet-listing-groups {
  list-style: none;
  margin: 0;
  padding: $grid-gap ($grid-gap / 2);

  li {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 $grid-gap $grid-gap $grid-gap;
    white-space: nowrap;
  }

  li:first-child {
    padding-left: 0;
  }

  li:last-child {
    padding-right: 0;
  }

  li a {
    color: $color-text-light;
    font-size: $font-size;
    text-decoration: none;
  }

  li a.mailpoet-listing-groups-current {
    color: $color-secondary;
    font-weight: bold;
  }

  li a span.mailpoet-listing-groups-count {
    background-color: $color-tertiary-light;
    border-radius: 8px;
    font-size: $font-size-extra-small;
    font-weight: 600;
    margin-left: 2px;
    padding: 1px 6px;
  }

  li a.mailpoet-listing-groups-current span.mailpoet-listing-groups-count {
    background-color: $color-secondary-light;
  }

  a.mailpoet-listing-groups-current span.mailpoet-listing-groups-title {
    position: relative;
  }

  a.mailpoet-listing-groups-current span.mailpoet-listing-groups-title:after {
    background: $color-secondary;
    border-radius: 2px;
    content: '';
    height: 4px;
    left: 0;
    margin-top: 5px;
    position: absolute;
    top: 100%;
    width: 100%;
  }
}

.mailpoet-listing-search {
  display: inline-block;
}

.mailpoet-listing-filters {
  display: inline-block;
  padding-left: 16px;

  .mailpoet-form-select {
    min-height: 30px;
  }
}

.mailpoet-listing-pages {
  color: $color-text-light;
  float: right;
  font-size: $font-size-extra-small;
  font-weight: 600;
  margin: 0 0 9px;
}

.mailpoet-listing-pages-num {
  margin-right: 21px;
}

.mailpoet-listing-pages-links > span,
.mailpoet-listing-pages-links > a {
  padding: 0 3px;
}

.mailpoet-listing-pages-first,
.mailpoet-listing-pages-previous,
.mailpoet-listing-pages-next,
.mailpoet-listing-pages-last {
  vertical-align: middle;
}

input.mailpoet-listing-current-page {
  border: 1px solid $color-tertiary-light;
  color: $color-text-light;
  font-size: $font-size-extra-small;
  margin-right: 8px;
  text-align: center;
  width: 37px;
}

.mailpoet_listing_loading tbody tr,
.mailpoet_form_loading tbody tr {
  opacity: .2;
}

.mailpoet_select_all {
  background-color: #f1f1f1;
}

.mailpoet_select_all td {
  text-align: center;
}

.mailpoet_listing_table {
  .mailpoet-tabs & {
    border-left: #000;
    border-right: #000;
    margin: $grid-gap 0 - $grid-gap;
    width: calc(100% + 2 * #{$grid-gap});
  }

  th span {
    white-space: nowrap;
  }

  thead .mailpoet-check-column,
  tfoot .mailpoet-check-column {
    padding: 10px 0 0 3px;
    vertical-align: top;
    width: 2.2em;
  }

  tbody .mailpoet-check-column {
    margin: 0 0 0 8px;
    padding: 11px 0 0 3px;
    vertical-align: text-top;
  }

  thead th.column-primary,
  tfoot th.column-primary {
    width: 25em;

    .mailpoet-segments-listing & {
      width: 18em;
    }
  }

  @include breakpoint-max-width(782px) {
    thead th.column-primary,
    tfoot th.column-primary {
      width: 100% !important;
    }
  }
}

.mailpoet-listing-mobile-search-holder {
  @include respond-to(small-screen) {
    height: 100px;
  }
}
