#newsletters_container {
  h2.nav-tab-wrapper {
    margin-bottom: 1rem;
  }
}

.mailpoet_stats_text {
  font-size: 14px;
  font-weight: 600;
}

.mailpoet_stat_excellent {
  color: $badge-color-excellent;
}

.mailpoet_stat_good {
  color: $badge-color-good;
}

.mailpoet_stat_bad {
  color: $badge-color-bad;
}

.mailpoet_stat_hidden {
  display: none;
}

.mailpoet_stat_link_small {
  font-size: .75rem;
  text-decoration: underline !important;
}

.mailpoet_badge {
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: .5625rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-right: 4px;
  padding: 4px 6px 3px;
  text-transform: uppercase;
  vertical-align: middle;
}

.mailpoet_badge_excellent,
.mailpoet_badge_teal {
  background: $badge-color-excellent;
}

.mailpoet_badge_good,
.mailpoet_badge_yellow {
  background: $badge-color-good;
}

.mailpoet_badge_bad,
.mailpoet_badge_red {
  background: $badge-color-bad;
}

.mailpoet_badge_green {
  background: $badge-color-green;
}

.mailpoet_badge_video {
  background: $badge-color-video-guide;
  display: inline-block;
  line-height: 20px;
  padding: 3px 6px;
  text-decoration: none;
  vertical-align: top;

  &:hover,
  &:active,
  &:focus {
    background: $badge-color-green;
    color: #fff;
  }

  .dashicons {
    font-size: 14px;
    line-height: 20px;
  }
}

.mailpoet_badge_video_grey {
  background: #c3c3c3;
}

// h1.title needed to override WP styles specificity
h1.title.mailpoet-newsletter-listing-heading {
  margin-bottom: $grid-gap;
}
