.mailpoet_listing_loading tbody tr,
.mailpoet_form_loading tbody tr {
  opacity: .2;
}

.mailpoet_select_all {
  background-color: #f1f1f1;
}

.mailpoet_select_all td {
  text-align: center;
}

.mailpoet_listing_table {
  .mailpoet-tabs & {
    border-left: #000;
    border-right: #000;
    margin: $grid-gap 0 - $grid-gap;
    width: calc(100% + 2 * #{$grid-gap});
  }

  th span {
    white-space: nowrap;
  }

  thead .mailpoet-check-column,
  tfoot .mailpoet-check-column {
    padding: 10px 0 0 3px;
    vertical-align: top;
    width: 2.2em;
  }

  tbody .mailpoet-check-column {
    margin: 0 0 0 8px;
    padding: 11px 0 0 3px;
    vertical-align: text-top;
  }

  thead th.column-primary,
  tfoot th.column-primary {
    width: 25em;

    .mailpoet-segments-listing & {
      width: 18em;
    }
  }

  @include breakpoint-max-width(782px) {
    thead th.column-primary,
    tfoot th.column-primary {
      width: 100% !important;
    }
  }
}

.mailpoet-listing-mobile-search-holder {
  @include respond-to(small-screen) {
    height: 100px;
  }
}
