.mailpoet-congratulate {
  @include full-width-background(linear-gradient(to top, $color-white, $color-secondary-light));
  align-items: center;
  background: $color-white;
  display: flex;
  flex-direction: column;
  min-height: 700px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 0;

  .mailpoet-h3 {
    font-style: 22px;
    font-weight: normal;
    max-width: 700px;
  }

  .mailpoet-wizard-step-content {
    text-align: left;
  }
}
