.newsletter_congratulate_page {
  margin-top: 30px;
}

.mailpoet_newsletter_loading {
  text-align: center;

  .mailpoet_loading {
    margin: 100px auto 0;
  }

  .mailpoet_newsletter_loading_body {
    font-size: 23px;
    font-weight: 400;
    margin: 30px auto;
    width: 700px;
  }
}

.mailpoet_congratulate_success {
  width: 100%;

  h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  img,
  .mailpoet-button {
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mailpoet_congratulate_success.mailpoet_congratulate_mss_pitch {
  .button,
  img {
    display: inline-block;
  }
}
