/*
Based on /wp-admin/css/about.css of WP 4.7.
This is to make MailPoet pages independent of the WordPress
About page styles that may differ across WP versions.
Please add custom styles to pages_custom.styl
*/
.mailpoet-about-wrap {
  font-size: 15px;
  margin: 25px 40px 0 20px;
  max-width: 1050px; /* readability */
  position: relative;

  div.updated,
  div.error,
  .notice {
    display: none !important;
  }

  hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    height: 0;
    margin: 0;
  }

  img {
    height: auto;
    margin: 0;
    max-width: 100%;
    vertical-align: middle;
  }

  .mailpoet-logo {
    position: absolute;
    right: 0;
    top: .2em;
  }

  .nav-tab {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }

  h1 {
    color: #32373c;
    font-size: 2.8em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 1em 0 .5em;
    padding: 0;
    text-align: center;
  }

  h1.welcome {
    margin-right: 200px;
    text-align: left;
  }

  h2 {
    font-size: 2.7em;
    font-weight: 300;
    line-height: 1.3;
    margin: 40px 0 .6em;
    text-align: center;
  }

  h3 {
    font-size: 1.4em;
    line-height: 1.5;
    margin: 1.25em 0 .6em;
  }

  h4 {
    color: #23282d;
  }

  .about-description,
  .about-text {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.6em;
    margin-top: 1.4em;
  }

  .about-text {
    color: #555d66;
    margin: 1em 200px 1em 0;
    min-height: 60px;
  }

  [class$=col] {
    .col {
      float: left;
      position: relative;
    }
  }

  .two-col {
    .col {
      margin-right: 4.799999999%;
      width: 47.6%;
    }

    img {
      margin-bottom: 1.5em;
    }
  }

  .feature-section {
    overflow: hidden;
    padding: 0 0 40px;

    &.no-heading {
      padding-top: 35px;
    }

    &.two-col {
      .col {
        display: inline-block;
        float: none;
        margin-right: 4.799999999%;
        margin-top: 1em;
        vertical-align: top;
        width: calc(47.6% - 4px);
      }

      h3 {
        margin-top: 0;
      }
    }

    h4 {
      font-size: 1em;
      margin: 1.4em 0 .6em;
    }

    p {
      margin-left: auto;
      margin-right: auto;
      margin-top: .6em;
      max-width: 55em;
    }

    .media-container {
      overflow: hidden;
    }

    img {
      margin-bottom: 1em;
    }

    .col {
      margin-top: 40px;
    }
  }

  .three-col {
    .col {
      margin-right: 4.999999999%;
      width: 29.95%;
    }
  }

  .two-col .col:nth-of-type(2n),
  .three-col .col:nth-of-type(3n) {
    margin-right: 0;
  }

  .lead-description {
    font-size: 1.5em;
    text-align: center;
  }

  .two-col-text {
    column-count: 2;
    column-gap: 40px;

    p:first-of-type {
      margin-top: 0;
    }
  }

  .headline-feature {
    margin: 0 auto;
    max-width: 80%;

    &.feature-video {
      height: 0;
      margin: 40px 0;
      max-width: 100%;
      padding-bottom: 56.25%;
      position: relative;
      text-align: center;
      width: 100%;
    }
  }

  .feature-video {
    embed {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .featured-image {
    text-align: center;
  }

  .embed-container {
    text-align: center;

    iframe {
      max-width: 100%;
    }
  }

  .wp-embedded-content {
    max-width: 100%;
  }

  .changelog {
    margin-bottom: 40px;

    &.feature-section {
      .col {
        margin-top: 40px;
      }
    }
  }

  @include respond-to(small-screen) {
    .two-col-text {
      column-count: 1;
    }

    .three-col img {
      display: block;
      margin: 0 auto;
    }
  }

  @include breakpoint-max-width(500px) {
    margin-left: 10px;
    margin-right: 20px;

    h1,
    .about-text {
      margin-right: 0;
    }

    .about-text {
      margin-bottom: .25em;
    }

    .mailpoet-logo {
      margin: 1em 0;
      position: relative;
      text-align: center;
      width: 100%;
    }

    .two-col .col,
    .three-col .col {
      float: none !important;
      width: 100% !important;
    }
  }
}
