#mailpoet_settings {
  .mailpoet_tab_panel {
    display: none;
  }

  .form-table th {
    width: 20em;
  }

  .tooltip.dashicons.dashicons-editor-help {
    line-height: 1.4;
  }

  .sending-free-plan-button {
    background: #ff5301;
    border-color: #e64c03;
    box-shadow: 0 1px 0 #e64c03;
    margin: 10px 0;
    text-shadow: 0 -1px 1px #e64c03;

    strong {
      text-transform: uppercase;
    }
  }

  .mailpoet_success_item:before {
    content: '✔ ';
  }

  .mailpoet_error_item:before {
    content: '✗ ';
  }

  .mailpoet_woocommerce_editor_button {
    margin-top: 10px;
  }

  @include breakpoint-max-width(782px) {
    .form-table th {
      width: auto;
    }

    .mailpoet_sending_methods {
      flex-flow: row wrap;
      justify-content: space-around;

      > li {
        flex-basis: auto;
        margin-right: 0;
      }
    }
  }

}
