.mailpoet-settings-grid {
  display: grid;
  grid-column-gap: 35px;
  grid-row-gap: 25px;
  grid-template-columns: 30em 1fr;
  margin: 25px 20px 10px 0;

  .key-activation-messages > div {
    margin-top: 10px;
    max-width: 500px;

    .pending_approval_heading {
      font-weight: bold;
      margin: 20px 0 5px;
    }
  }

  #mailpoet_premium_key_verify {
    font-size: inherit;
    margin-left: 3px;
    vertical-align: inherit;
  }

  .mailpoet_subitem {
    margin-left: 2em;
  }

  .mailpoet_tooltip_icon {
    display: inline-block;
    line-height: 1.5;
  }

  .button-secondary {
    font-size: 14px;
    line-height: 2;
    margin: 0 3px;
    min-height: 30px;
    vertical-align: unset;
  }

  .mailpoet_mta_setup_save,
  .mailpoet_mta_setup_cancel {
    display: inline-block;
    font-weight: bold;
    margin: 0 3px;
  }

  .mailpoet_emails_per_second_warning {
    color: $color-editor-warning;
  }

  .mailpoet-note {
    font-style: italic;
  }
}

.mailpoet_woocommerce_editor_button {
  margin-top: 10px;
}

label[for='mailpoet_wc_checkout_optin_segments'] span {
  font-size: 12px;
}

.mailpoet_success_item:before {
  content: '✔ ';
}

.mailpoet_error_item:before {
  content: '✗ ';
}

ul.sending-method-benefits {
  list-style-type: none;
  margin-bottom: 2em;
  margin-top: 2em;
}

.mailpoet-settings-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
}

.mailpoet-settings-label-title {
  color: #23282d;
  cursor: pointer;
}

.mailpoet-settings-inputs {
  font-size: 14px;
}

.mailpoet-settings-inputs label {
  display: inline-block;
  margin: 2px 5px;
  min-width: 50px;
}

.mailpoet-settings-inputs input,
.mailpoet-settings-inputs select,
.mailpoet-settings-inputs textarea {
  display: inline-block;
  margin: 2px;
}

.mailpoet-settings-inputs input[type='checkbox'] {
  margin-bottom: 4px;
  margin-left: 4px;
}

.mailpoet-settings-inputs input.regular-text {
  width: 25.5em;
}

.mailpoet-settings-inputs p {
  font-size: 14px;
}

.mailpoet-sending-methods {
  font-size: 14px;
}

.mailpoet-sending-method {
  display: block;
  margin-left: $form-control-choice-height;
  padding: $grid-gap;

  .mailpoet-form-radio-control {
    left: -$form-control-choice-height;
    position: absolute;
    top: 17px;
  }

  .mailpoet-h4 {
    margin-top: 0;
  }
}

.mailpoet-sending-method-benefits {
  margin: $grid-gap-medium 0;
}

.mailpoet-sending-method-actions {
  align-items: center;
  display: flex;
  margin-top: $grid-gap;

  @include respond-to(small-screen) {
    flex-direction: column;
  }
}

.disc-inside-list {
  list-style-position: inside;
  list-style-type: disc;
}
