#set-from-address-modal {
  p:first-child {
    margin-top: 0;
  }

  #mailpoet_set_from_address_modal_address {
    display: block;
    width: 230px;
  }

  #mailpoet_set_from_address_modal_save {
    display: block;
    margin-top: 30px;
  }
}
