.mailpoet_stat_grey {
  color: #707070;
}

.mailpoet_stat_big {
  font-size: 23px;
  font-weight: 600;
  line-height: normal;
}

.mailpoet_stat_spaced {
  margin-bottom: 1rem;
}

.mailpoet_stat_triple-spaced {
  margin-bottom: 3rem;
}

.mailpoet_stat_force-wrap {
  word-break: break-all;
}

.mailpoet_stat_info {
  float: right;
  width: 40%;
}

.mailpoet_stat_general {
  width: 60%;
}

.mailpoet_stats_premium_banner {
  background-color: #fed2bf;
  padding: 10px;
  text-align: center;
}

@include breakpoint-max-width(520px) {
  .mailpoet_stat_info {
    display: none;
  }

  .mailpoet_stat_general {
    width: 100%;
  }
}

.wrap .top-bar {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -10px;
  position: relative;
}
