.mailpoet-stats-page {
  color: $color-tertiary;
  font-family: $font-family;
  font-size: $font-size-small;
  line-height: $line-height;
  margin-left: -20px;

  .mailpoet-tabs {
    margin: $grid-gap;
  }
}

.mailpoet-stats-info {
  border-bottom: 1px solid $color-tertiary-light;
}

.mailpoet-stats-info,
.mailpoet-stats-general {
  background-color: $color-white;
  margin: 0;
  padding: 0 $grid-gap $grid-gap;
}

.mailpoet-stats-general {
  font-size: $font-size;
  padding-top: $grid-gap;
}

.mailpoet-stats-general-top-row {
  margin-bottom: $grid-gap;
}

.mailpoet-stats-info-key {
  font-weight: 700;
}

.mailpoet-stats-info-sender-preview {
  display: flex;
  flex-direction: row;
  margin-top: $grid-gap-large;

  :first-child {
    flex-grow: 1;
  }

  > * {
    flex-grow: 0;
  }
}

.mailpoet-stats-segments {
  font-weight: 500;

  .mailpoet-stats-segments-segment {
    background-color: $color-tertiary-light;
    border-radius: 2px;
    display: inline-block;
    font-weight: normal;
    margin: 2px $grid-gap 2px 2px;
    padding: 2px 4px;
  }
}

.mailpoet-stats-general-read-more {
  .mailpoet-stats-general-read-more-link {
    color: $color-text-light;
  }
  margin-bottom: 0;
  text-align: right;
}

.mailpoet-statistics-value-small {
  .mailpoet-statistics-value-number {
    font-size: $heading-font-size-h3;
  }
}

.mailpoet-statistics-value {
  font-size: $heading-font-size-h3;

  .mailpoet-statistics-value-number {
    font-size: $heading-font-size-h1;
    font-weight: bold;
  }
}

.mailpoet-statistics-value-number-average {
  color: $color-stats-average;
}

.mailpoet-statistics-value-number-excellent {
  color: $color-stats-excellent;
}

.mailpoet-statistics-value-number-good {
  color: $color-stats-good;
}

.mailpoet-statistics-with-left-separator {
  border-left: solid 1px $color-tertiary-light;
  padding-left: $grid-gap;
}

.mailpoet_stat_triple-spaced {
  margin-bottom: 3rem;
}

.mailpoet_stat_triple-spaced .mailpoet-premium-required,
.mailpoet-stat-subscriber-engagement .mailpoet-premium-required {
  margin: 70px auto;
}
