.mailpoet-stats-page {
  color: $color-tertiary;
  font-family: $font-family;
  font-size: $font-size-small;
  line-height: $line-height;
  margin-right: -10px;
}

.mailpoet-stats-info {
  border-bottom: 1px solid $color-tertiary-light;
}

.mailpoet-stats-info,
.mailpoet-stats-general {
  background-color: $color-white;
  margin: 0;
  padding: $grid-gap;
  width: 100%;
}

.mailpoet-stats-info-key {
  font-weight: 500;
}

.mailpoet-stats-info-sender-preview {
  display: flex;
  flex-direction: row;
  margin-top: $grid-gap-large;

  :first-child {
    flex-grow: 1;
  }

  > * {
    flex-grow: 0;
  }
}

.mailpoet-stats-segments {
  font-weight: 500;

  .mailpoet-stats-segments-segment {
    background-color: $color-tertiary-light;
    border-radius: 2px;
    font-weight: normal;
    margin-right: $grid-gap;
    padding: 4px $grid-gap-half;
  }
}

.mailpoet-stats-general-read-more {
  .mailpoet-stats-general-read-more-link {
    color: $color-text-light;
  }
  margin-bottom: 0;
  text-align: right;
}

.mailpoet_stat_triple-spaced {
  margin-bottom: 3rem;
}

.mailpoet_stat_triple-spaced .mailpoet-premium-required,
.mailpoet-stat-subscriber-engagement .mailpoet-premium-required {
  margin: 70px auto;
}

.wrap .mailpoet-top-bar,
.wrap .mailpoet-stats-info,
.wrap .mailpoet-stats-general {
  margin-left: -20px;
  margin-right: -20px;
}
