.admin_page_mailpoet-welcome-wizard {
  background: #fff;

  #wpcontent {
    padding: 0;
  }

  .wrap {
    margin: 0;
  }
}

.mailpoet_welcome_wizard_header {
  text-align: center;
}

.mailpoet_welcome_wizard_steps {
  padding-top: 20px;
  width: 100%;

  div.updated,
  div.error,
  .notice {
    display: none !important;
  }
}

.mailpoet_welcome_wizard_flex {
  display: flex;
}

.mailpoet_welcome_wizard_illustration {
  flex-grow: 1;
  height: 400px;
  padding: 60px 40px 40px 60px;
  text-align: right;
  width: 50%;

  img {
    max-height: 100%;
    max-width: 100%;
  }

  @include breakpoint-max-width(782px) {
    display: none;
  }
}

.mailpoet_welcome_wizard_step_revenue_tracking {
  input[type='submit'] {
    margin-top: 40px;
  }
}

.mailpoet_welcome_wizard_step {
  flex-grow: 1;
  padding: 60px 60px 40px 40px;
  text-align: left;
  width: 50%;

  @include breakpoint-max-width(782px) {
    padding: 30px;
    width: 100%;
  }
}

.mailpoet_welcome_wizard_step_content {
  margin-top: 40px;
  max-width: 620px;
  min-height: 30vh;

  h1 {
    font-weight: 700;
    margin: 0 0 20px;
    padding: 0;
  }

  p {
    color: #595c65;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    margin: 0 0 40px;

    + p,
    + ul { margin-top: -20px; }
  }

  .welcome_wizard_tracking_sub_title {
    margin-bottom: 0;
  }

  .welcome_wizard_tracking_list {
    list-style: disc;
    padding-left: 30px;
  }
}

#mailpoet_sender_form {
  margin-top: 30px;
  width: 330px;

  label {
    display: block;
    font-size: 15px;
    margin-bottom: 20px;
  }

  input[type='text'] {
    font-size: 15px;
    height: 30px;
    margin-top: 10px;
    width: 350px;
  }

  a.sender_form_small {
    color: #595c65;
    font-size: 12px;
  }
}

.mailpoet_sender_form_loading {
  opacity: .5;
}

.mailpoet_welcome_wizard_step_controls {
  margin: 40px 0 10px;

  .button + .button {
    margin-left: 20px;
  }

  a {
    cursor: pointer;
  }
}

.mailpoet_welcome_wizard_woo_screenshot {
  box-shadow: 2px 3px 18px rgba(#000, .3);
  margin-top: -20px;
  max-width: 100%;
  width: 350px;
}

.welcome_wizard_video {
  position: absolute;
  top: -1000px;
}

.mailpoet_welcome_wizard_centered_column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mailpoet_wizard_woocommerce_list {
  text-align: center;

  label {
    color: #595c65;
    display: block;
    margin-top: 10px;
  }
}
