.admin_page_mailpoet-welcome-wizard {
  background: #fff;

  p {
    font-size: $font-size;
  }

  #wpcontent {
    padding: 0;
  }

  .wrap {
    margin: 0;
  }

  div.updated,
  div.error,
  .notice {
    display: none !important;
  }
}

.mailpoet-wizard-logo {
  margin-bottom: 100px;
  text-align: center;

  @include respond-to(medium-screen) {
    margin-bottom: 20px;
  }
}

.mailpoet-wizard-step {
  align-items: center;
  display: flex;
  justify-content: center;

  @include respond-to(medium-screen) {
    flex-direction: column;
  }
}

.mailpoet-wizard-step-illustration {
  margin-right: $grid-gap;
  max-width: $grid-column;
  text-align: center;
  width: 100%;

  img {
    max-height: 300px;
    max-width: 100%;
  }

  @include respond-to(medium-screen) {
    margin-right: 0;
    max-width: $grid-column-small;

    img {
      max-height: 240px;
    }
  }
}

.mailpoet-wizard-step-content {
  max-width: $grid-column-small + $grid-gap + $grid-column;
  width: 100%;

  @include respond-to(medium-screen) {
    max-width: $grid-column;
  }
}

.mailpoet-wizard-label {
  display: block;
  font-size: $font-size;
  margin-bottom: $grid-gap-half;
}

// Welcome wizard - old styles
.mailpoet_welcome_wizard_header {
  text-align: center;
}

.mailpoet_welcome_wizard_steps {
  padding-top: 20px;
  width: 100%;

  div.updated,
  div.error,
  .notice {
    display: none !important;
  }
}

.mailpoet_welcome_wizard_step_revenue_tracking {
  input[type='submit'] {
    margin-top: 40px;
  }
}

.mailpoet_welcome_wizard_step_content {
  margin-top: 40px;
  max-width: 620px;
  min-height: 30vh;

  h1 {
    font-weight: 700;
    margin: 0 0 20px;
    padding: 0;
  }

  p {
    color: #595c65;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    margin: 0 0 40px;

    + p,
    + ul { margin-top: -20px; }
  }

  .welcome_wizard_tracking_sub_title {
    margin-bottom: 0;
  }

  .welcome_wizard_tracking_list {
    list-style: disc;
    padding-left: 30px;
  }
}

.mailpoet_welcome_wizard_step_controls {
  margin: 40px 0 10px;

  .button + .button {
    margin-left: 20px;
  }

  a {
    cursor: pointer;
  }
}

.mailpoet_welcome_wizard_woo_screenshot {
  box-shadow: 2px 3px 18px rgba(#000, .3);
  margin-top: -20px;
  max-width: 100%;
  width: 350px;
}

.welcome_wizard_video {
  position: absolute;
  top: -1000px;
}

.mailpoet_welcome_wizard_centered_column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mailpoet_wizard_woocommerce_list {
  text-align: center;

  label {
    color: #595c65;
    display: block;
    margin-top: 10px;
  }
}
