version: 2
jobs:
  build_qa_js:
    working_directory: /home/circleci/mailpoet
    docker:
      - image: circleci/php:5.6.30-apache-browsers
      - image: circleci/mysql:5.7
    environment:
      TZ: /usr/share/zoneinfo/Etc/UTC
    steps:
      - checkout
      - run:
          name: "Set up virtual host"
          command: echo 127.0.0.1 mailpoet.loc | sudo tee -a /etc/hosts
      - restore_cache:
          key: composer-{{ checksum "composer.json" }}-{{ checksum "composer.lock" }}
      - restore_cache:
          key: npm-{{ checksum "package.json" }}
      - run:
          name: "Set up test environment"
          command: |
            # install PHP dependencies for WordPress
            sudo apt-get update
            sudo apt-get install mysql-client php5-mysql zlib1g-dev
            sudo docker-php-ext-install mysql mysqli pdo pdo_mysql zip
            # Add a fake sendmail mailer
            sudo cp ./.circleci/fake-sendmail.php /usr/local/bin/
            # configure Apache
            sudo cp ./.circleci/mailpoet_php.ini /usr/local/etc/php/conf.d/
            sudo cp ./.circleci/apache/mailpoet.loc.conf /etc/apache2/sites-available
            sudo a2ensite mailpoet.loc
            sudo a2enmod rewrite
            sudo service apache2 restart
            # Install NodeJS+NPM
            curl -sL https://deb.nodesource.com/setup_6.x | sudo -E bash -
            sudo apt-get install nodejs build-essential
            # install plugin dependencies
            curl -sS https://getcomposer.org/installer | php
            ./composer.phar install
            ./do install
            # Set up Wordpress
            mysql -h 127.0.0.1 -u root -e "create database wordpress"
            curl -O https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
            chmod +x wp-cli.phar
            ./wp-cli.phar core download --allow-root --path=wordpress
            # Generate `wp-config.php` file with debugging enabled
            echo "define(\"WP_DEBUG\", true);" | ./wp-cli.phar core config --allow-root --dbname=wordpress --dbuser=root --dbhost=127.0.0.1 --path=wordpress --extra-php
            # Install WordPress
            ./wp-cli.phar core install --allow-root --admin_name=admin --admin_password=admin --admin_email=admin@mailpoet.loc --url=http://mailpoet.loc:8080 --title=WordPress --path=wordpress
            # Softlink plugin to plugin path
            ln -s ../../.. wordpress/wp-content/plugins/mailpoet
            ./wp-cli.phar plugin activate mailpoet --path=wordpress
            # Create .env file with correct path to WP installation
            # TODO: Remove this line after PR gets merged and CircleCI env variables change
            echo "WP_TEST_PATH=\"/home/circleci/mailpoet/wordpress\"" > .env
      - save_cache:
          key: composer-{{ checksum "composer.json" }}-{{ checksum "composer.lock" }}
          paths:
            - vendor
      - save_cache:
          key: npm-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: "QA Scripts"
          command: ./do qa
      - persist_to_workspace:
          root: .
          paths: .
      - run:
          name: "Preparing test results folder"
          command: mkdir test-results
      - run:
          name: "JS tests"
          command: |
            mkdir test-results/mocha
            ./do t:j test-results/mocha/junit.xml
      - store_test_results:
          path: test-results/mocha
      - store_artifacts:
          path: test-results/mocha
          destination: mocha
  php_5:
    working_directory: /home/circleci/mailpoet
    docker:
      - image: circleci/php:5.6.30-apache-browsers
      - image: circleci/mysql:5.7
    environment:
      TZ: /usr/share/zoneinfo/Etc/UTC
    steps:
      - attach_workspace:
          at: /home/circleci/mailpoet
      - run:
          name: "Set up virtual host"
          command: echo 127.0.0.1 mailpoet.loc | sudo tee -a /etc/hosts
      - run:
          name: "Set up test environment"
          command: |
            # install PHP dependencies for WordPress
            sudo apt-get update
            sudo apt-get install mysql-client php5-mysql zlib1g-dev
            sudo docker-php-ext-install mysql mysqli pdo pdo_mysql zip
            # Add a fake sendmail mailer
            sudo cp ./.circleci/fake-sendmail.php /usr/local/bin/
            # configure Apache
            sudo cp ./.circleci/mailpoet_php.ini /usr/local/etc/php/conf.d/
            sudo cp ./.circleci/apache/mailpoet.loc.conf /etc/apache2/sites-available
            sudo a2ensite mailpoet.loc
            sudo a2enmod rewrite
            sudo service apache2 restart
            mysql -h 127.0.0.1 -u root -e "create database wordpress"
      - run:
          name: "PHP Unit tests"
          command: |
            WP_TEST_PATH="/home/circleci/mailpoet/wordpress" ./do t:u --xml
      - store_test_results:
          path: tests/_output
      - store_artifacts:
          path: tests/_output
          destination: codeception
      - store_artifacts:
          path: /tmp/fake-mailer/
          destination: fake-mailer
  php_7:
    working_directory: /home/circleci/mailpoet
    docker:
      - image: circleci/php:7.1-apache-browsers
      - image: circleci/mysql:5.7
    environment:
      TZ: /usr/share/zoneinfo/Etc/UTC
    steps:
      - attach_workspace:
          at: /home/circleci/mailpoet
      - run:
          name: "Set up virtual host"
          command: echo 127.0.0.1 mailpoet.loc | sudo tee -a /etc/hosts
      - run:
          name: "Set up test environment"
          command: |
            # install PHP dependencies for WordPress
            echo "deb http://packages.dotdeb.org jessie all" | sudo tee -a /etc/apt/sources.list.d/dotdeb.list
            echo "deb-src http://packages.dotdeb.org jessie all" | sudo tee -a /etc/apt/sources.list.d/dotdeb.list
            wget -qO - http://www.dotdeb.org/dotdeb.gpg | sudo apt-key add -
            sudo apt-get update
            sudo apt-get install mysql-client php7.0-mysql zlib1g-dev
            sudo docker-php-ext-install mysqli pdo pdo_mysql zip
            # Add a fake sendmail mailer
            sudo cp ./.circleci/fake-sendmail.php /usr/local/bin/
            # configure Apache
            sudo cp ./.circleci/mailpoet_php.ini /usr/local/etc/php/conf.d/
            sudo cp ./.circleci/apache/mailpoet.loc.conf /etc/apache2/sites-available
            sudo a2ensite mailpoet.loc
            sudo a2enmod rewrite
            sudo service apache2 restart
            mysql -h 127.0.0.1 -u root -e "create database wordpress"
      - run:
          name: "PHP Unit tests"
          command: |
            WP_TEST_PATH="/home/circleci/mailpoet/wordpress" ./do t:u --xml
      - store_test_results:
          path: tests/_output
      - store_artifacts:
          path: tests/_output
          destination: codeception
      - store_artifacts:
          path: /tmp/fake-mailer/
          destination: fake-mailer
workflows:
  version: 2
  build_and_test:
    jobs:
      - build_qa_js
      - php_5:
          requires:
            - build_qa_js
      - php_7:
          requires:
            - build_qa_js
