.mailpoet-categories {
  display: flex;
  flex-wrap: wrap;
  font-family: $font-family;
  justify-content: flex-start;
  line-height: 16px;
  list-style: none;
  margin: 0;
  padding: $grid-gap 0 1px; // 1px to prevent https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing
  row-gap: $grid-gap;
}

.mailpoet-categories-item {
  color: $color-text-light;
  font-size: $font-size;
  margin-bottom: $grid-gap;
  padding-bottom: $grid-gap;
  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: none;
    color: $color-text-light-hover;
  }

  &.active {
    color: $color-secondary;
    font-weight: bold;
  }

  + .mailpoet-categories-item {
    margin-left: $grid-gap-large;
  }
}

.mailpoet-categories-title {
  display: inline-block;
  position: relative;
  vertical-align: top;

  // Hack so the text is not jumping when changed to bold when active
  &:before {
    content: attr(data-title);
    display: block;
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .mailpoet-categories-item.active &:after {
    background: $color-secondary;
    border-radius: 2px;
    content: '';
    height: 4px;
    left: 0;
    margin-top: 5px;
    position: absolute;
    top: 100%;
    width: 100%;
  }
}

.mailpoet-categories-count {
  background-color: $color-tertiary-light;
  border-radius: 8px;
  display: inline-block;
  font-size: $font-size-extra-small;
  font-weight: 600;
  line-height: 16px;
  margin-left: $grid-gap-half;
  padding: 0 6px;
  vertical-align: top;

  .mailpoet-categories-item.active & {
    background-color: $color-secondary-light;
  }
}
