.mailpoet-categories {
  font-family: $font-family;
  line-height: 16px;
  list-style: none;
  margin: 0;
  padding: $grid-gap ($grid-gap / 2);

  li {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 $grid-gap $grid-gap $grid-gap;
    white-space: nowrap;
  }

  li:first-child {
    padding-left: 0;
  }

  li:last-child {
    padding-right: 0;
  }

  li a {
    color: $color-text-light;
    font-size: $font-size;
    text-decoration: none;
  }

  li a.mailpoet-categories-current {
    color: $color-secondary;
    font-weight: bold;
  }

  li a span.mailpoet-categories-count {
    background-color: $color-tertiary-light;
    border-radius: 8px;
    display: inline-block;
    font-size: $font-size-extra-small;
    font-weight: 600;
    line-height: 16px;
    margin: 1px 0 0 2px;
    padding: 0 6px;
    vertical-align: top;
  }

  li a.mailpoet-categories-current span.mailpoet-categories-count {
    background-color: $color-secondary-light;
  }

  a.mailpoet-categories-current span.mailpoet-categories-title {
    position: relative;
  }

  a.mailpoet-categories-current span.mailpoet-categories-title:after {
    background: $color-secondary;
    border-radius: 2px;
    content: '';
    height: 4px;
    left: 0;
    margin-top: 5px;
    position: absolute;
    top: 100%;
    width: 100%;
  }
}
