.clearfix {
  @include clearfix();
}

.relative-holder {
  position: relative;
}

a:focus {
  outline: 0 none !important;
}

.mailpoet_success {
  color: #090;
}

.mailpoet_error {
  color: #900;
}

.mailpoet_hidden {
  display: none;
}

.mailpoet_spaced_block {
  margin: 1em 0;
}

.mailpoet_centered {
  text-align: center;
}

.select2-container {
  width: 25em !important;
}

$placeholder-color: #999; /* default Select2 placeholder color for single dropdown */

input.select2-search__field::-webkit-input-placeholder {
  color: $placeholder-color;
}

input.select2-search__field:-moz-placeholder {
  color: $placeholder-color;
}

input.select2-search__field::-moz-placeholder {
  color: $placeholder-color;
}

input.select2-search__field:-ms-input-placeholder {
  color: $placeholder-color;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #aaa; /* default Select2 border for single dropdown */
}

textarea.regular-text {
  width: 25em !important;
}

@media screen and (max-width: 782px) {
  .select2-container {
    width: 100% !important;
  }
}

$progress-border-radius: 5px;
$progress-background: #efefef;
$progress-foreground: #69b1e9;

progress {
  background-color: $progress-background;
  border: 0;
  height: 2em;
  width: 100%;
}

progress::-webkit-progress-bar {
  background-color: $progress-background;
}

progress::-webkit-progress-value {
  background-color: $progress-foreground;
  border-radius: $progress-border-radius;
}

progress::-moz-progress-bar {
  background-color: $progress-foreground;
  border-radius: $progress-border-radius;
}

/* double class is intentional here, we need to be very specific here to
   something wrapping our warning message could override its style */
p.sender_email_address_warning.sender_email_address_warning,
p.sender_email_address_warning.sender_email_address_warning a {
  align-self: flex-start;
  color: #900;
  text-align: left;
}

p.sender_email_address_warning:first-child {
  margin-top: 1em;
}

.button.mailpoet-button-bigger {
  font-size: 1.5em;
  height: 46px;
  padding: 10px 18px;
}
