#mailpoet_modal {
  display: block !important;
}

.mailpoet-modal-screen-overlay {
  align-items: center;
  animation: edit-post__fade-in-animation .2s ease-out 0s;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
  background-color: rgba(#000, .7);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $modal-screen-overlay-z-index;
}

// Full-screen on mobiles
.mailpoet-modal-frame {
  background: white;
  border: $modal-border-width solid $modal-light-gray-500;
  border-radius: 4px;
  box-shadow: $modal-shadow-modal;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  width: 100%;

  // Centered on desktops

  @include breakpoint-min-width(600px) {
    // Animate the modal frame/contents appearing on the page.
    animation: mailpoet-modal-appear-animation .1s ease-out;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
    height: auto;
    max-height: calc(100% - #{ $modal-header-height } - #{ $modal-header-height });
    max-width: calc(100% - #{ $modal-grid-size-large } - #{ $modal-grid-size-large });
    min-width: $modal-min-width;
    width: auto;
  }
}

@keyframes mailpoet-modal-appear-animation {
  from {
    margin-top: $modal-grid-size * 4;
  }

  to {
    margin-top: 0;
  }
}

// Fix header to the top so it is always there to provide context to the modal
// if the content needs to be scrolled (for example, on the keyboard shortcuts
// modal screen).
.mailpoet-modal-header {
  align-items: center;
  background: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: $modal-header-height;
  justify-content: space-between;
  margin: 0 -#{$modal-grid-size-xlarge} $modal-grid-size-xlarge;
  padding: 0 $modal-grid-size-xlarge;
  // For z-index to take effect, the element must be positioned. A "sticky"
  // element is positioned, but since this is not supported in IE11,
  // "relative" is used as a fallback.
  position: relative;
  position: sticky;
  top: 0;
  z-index: $modal-header-z-index;

  // Rules inside this query are only run by Microsoft Edge.
  // Edge has bugs around position: sticky;, so it needs a separate top rule.
  // See also https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/17555420/.

  @supports (-ms-ime-align:auto) {
    position: fixed;
    width: 100%;
  }

  .mailpoet-modal-header-heading {
    font-size: 1rem;
    font-weight: 600;
  }

  h1 {
    line-height: 1;
    margin: 0;
  }

  .mailpoet-modal-close {
    background: none;
    border: 0;
    cursor: pointer;
    height: $modal-close-button-size;
    outline: none;
    padding: $modal-close-button-padding;
    position: relative;
    right: -$modal-close-button-padding;
    top: -$modal-close-button-padding;
    width: $modal-close-button-size;

    svg {
      opacity: .5;
      stroke: #979797;

      &:hover {
        stroke: #636363;
      }
    }
  }
}

.mailpoet-modal-header-heading-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: left;
}

// Modal contents.
.mailpoet-modal-content {
  box-sizing: border-box;
  height: 100%;
  padding: 0 $modal-grid-size-xlarge $modal-grid-size-xlarge;

  // Rules inside this query are only run by Microsoft Edge.
  // This is a companion top padding to the fixed rule in line 77.

  @supports (-ms-ime-align:auto) {
    padding-top: $modal-header-height;
  }
}

.mailpoet-modal-full-screen {
  height: 100%;
  margin: 30px;
  max-width: 100%;
  min-width: 95%;
}
