#logger {
  background-color: transparent;
  border: 0;
  border-top: 1px #aba9a9 solid;
  font-size: .85em;
  height: 300px;
  margin-top: 20px;
  overflow: scroll;
  padding: 2px;
  resize: both;
  width: 100%;
}

#progressbar {
  background-color: #d8d8d8;
  border-radius: 5px;
  width: 50%;
}

$progressbar_color: #fecf23;
$progressbar_gradient_to_color: #fd9215;

.ui-progressbar .ui-progressbar-value {
  background-color: $progressbar_color;
  background-image: linear-gradient(to bottom, $progressbar_color, $progressbar_gradient_to_color);
  border: 0;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  height: 100%;
}

.mailpoet_progress_label {
  font-size: 15px;
}

.error_msg {
  color: #f00;
}
