.newsletter_congratulate_page {
  margin-top: 30px;
}

.mailpoet_newsletter_loading {
  text-align: center;

  .mailpoet_loading {
    margin: 100px auto 0;
  }

  .mailpoet_newsletter_loading_header {
    margin: 30px;
  }
}

.mailpoet_congratulate_success {
  width: 100%;

  h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  img,
  .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .typeform-widget {
    height: 350px;
    margin: 0 auto 30px;
    max-width: 100%;
    width: 500px;
  }
}

.mailpoet_congratulate_success.mailpoet_congratulate_mss_pitch {
  .button,
  img {
    display: inline-block;
  }
}
