.mailpoet_notice {
  clear: both;
  position: relative;

  p:empty { display: none; }
}

.mailpoet_free_plan_announcement {
  background: #fff;
  border-left: 4px solid #fff;
  border-radius: 10px;
  box-shadow: 0 4px 35px rgba(195, 65, 2, .2);
  clear: both;
  margin-bottom: 15px;
  padding: 20px;
  position: relative;

  h3 {
    margin: 0;
  }
}

.mailpoet_base_notice {
  background: #fff;
  border-left: 4px solid transparent;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
  margin: 5px 0 15px;
  padding: 1px 12px;
}

.mailpoet_success_notice {
  @extend .mailpoet_base_notice;
  border-left-color: #46b450;
}

.mailpoet_error_notice {
  @extend .mailpoet_base_notice;
  border-left-color: #dc3232;
}

.mailpoet_warning_notice {
  @extend .mailpoet_base_notice;
  border-left-color: #ffb900;
}

.mailpoet_info_notice {
  @extend .mailpoet_base_notice;
  border-left-color: #00a0d2;
}
