.mailpoet_notice {
  clear: both;
  position: relative;

  p:empty { display: none; }
}

.mailpoet_free_plan_announcement {
  background: #fff;
  border-left: 4px solid #fff;
  border-radius: 10px;
  box-shadow: 0 4px 35px rgba(195, 65, 2, .2);
  clear: both;
  margin-bottom: 15px;
  padding: 20px;
  position: relative;

  h3 {
    margin: 0;
  }
}
