
.mailpoet-about-wrap.mailpoet-premium-page {
  display: flex;
  flex-direction: column;
  margin: 25px auto 0;
  padding: 0 150px;

  @media screen and (max-width: 1500px) {
    padding: 0;
  }

  .button.mailpoet-button-bigger {
    margin: 1em 0;
  }

  .mailpoet-premium-page-intro {
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;

    @media screen and (max-width: 500px) {
      flex-wrap: wrap;
    }

    img {
      margin-right: 100px;

      @media screen and (max-width: 1100px) {
        height: 50%;
        margin-right: 75px;
        width: 50%;
      }

      @media screen and (max-width: 500px) {
        height: 40%;
        margin: 0 auto;
        width: 40%;
      }
    }

    @media screen and (max-width: 500px) {
      .mailpoet-premium-page-intro-link-wrap {
        text-align: center;
      }
    }
  }

  .mailpoet-premium-page-free-disadvantages {
    li:before {
      content: '·';
      padding-right: 5px;
    }
  }

  .mailpoet-premium-page-text {
    padding-bottom: 4em;
    text-align: center;

    .button.mailpoet-button-bigger:last-child {
      margin-bottom: 0;
    }

    .mailpoet-premium-page-paragraph-before-heading {
      margin-top: 2.8em;
    }

    .mailpoet-premium-page-paragraph-before-heading + h1 {
      margin-top: 0;
    }
  }

  .mailpoet-premium-page-text-narrow {
    margin: auto;
    max-width: 700px;
  }

  .mailpoet-premium-page-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .mailpoet-premium-page-feature {
      width: 29%;

      @media screen and (max-width: 640px) {
        width: 49%;
      }

      @media screen and (max-width: 500px) {
        width: 100%;
      }

      p,
      h2 {
        text-align: left;
      }
    }
  }

  .mailpoet-premium-page-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    > * {
      margin: 0 20px;

      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }

    ul {
      text-align: left;

      li:before {
        content: '-';
        padding-right: 5px;
      }
    }
  }

  @media screen and (max-width: 1100px) {
    h2 {
      font-size: 2em; // The text WooCommerce is too long and so on smaller displays it overflows. This helps.
    }
  }
}
