.mailpoet_progress {
  background-color: #efefef;
  border-radius: 5px;
  height: 25px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  position: relative;
  width: 100%;
}

.mailpoet_progress_label {
  display: inline-block;
  margin: 2px 0 0 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.mailpoet_progress_bar {
  background-color: #34c2e3;
  background-image: linear-gradient(to bottom, #34c2e3, darken(#34c2e3, 20%));
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  display: inline-block;
  height: 100%;
  position: absolute;
}

.mailpoet_progress_complete {
  .mailpoet_progress_bar {
    background-color: hsla(191, 78%, 80%, 1);
    background-image: linear-gradient(to bottom,  hsla(191, 78%, 80%, 1), hsla(191, 76%, 67%, 1));
  }
}

.mailpoet_stepped_progress_bar {
  margin: auto;
  width: 400px;

  &:before {
    background-color: #d8d8d8;
    border-radius: 2px;
    content: "";
    display: block;
    height: 2px;
    margin: auto;
    position: relative;
    top: 9px;
    width: 100%;
  }
}

.mailpoet_stepped_progress_bar_step {
  display: inline-block;

  &:before {
    background-color: #d8d8d8;
    border-radius: 14px;
    content: "";
    display: block;
    height: 14px;
    margin: auto;
    position: relative;
    width: 14px;
  }

  &.active {
    &:before {
      background-color: #979797;
    }
  }
}

@media screen and (max-width: 520px) {
  .mailpoet_stepped_progress_bar {
    width: 360px;
  }
}
