/* labels */
.mailpoet_text_label,
.mailpoet_textarea_label,
.mailpoet_select_label,
.mailpoet_radio_label,
.mailpoet_checkbox_label,
.mailpoet_list_label,
.mailpoet_date_label {
  display: block;
}

/* form loading */
.mailpoet_form_sending {
  .mailpoet_form_loading {
    display: block;
  }

  .mailpoet_submit {
    display: none;
  }
}

.mailpoet_form_loading {
  display: none;
  text-align: center;
  width: 30px;
}

.mailpoet_form_loading > span {
  animation: mailpoet-bouncedelay 1.4s infinite ease-in-out both;
  background-color: #5b5b5b;
  border-radius: 100%;
  display: inline-block;
  height: 5px;
  width: 5px;
}

.mailpoet_form_loading .mailpoet_bounce1 {
  animation-delay: -.32s;
}

.mailpoet_form_loading .mailpoet_bounce2 {
  animation-delay: -.16s;
  margin: 0 7px;
}

.mailpoet_captcha_form {
  .mailpoet_validate_success { color: #468847; }
  .mailpoet_validate_error { color: #b94a48; }
}

.mailpoet_captcha_update {
  cursor: pointer;
}

@keyframes mailpoet-bouncedelay {
  0%,
  80%,
  100% { transform: scale(0); }
  40% { transform: scale(1); }
}
