/* labels */
.mailpoet_text_label,
.mailpoet_textarea_label,
.mailpoet_select_label,
.mailpoet_radio_label,
.mailpoet_checkbox_label,
.mailpoet_list_label,
.mailpoet_date_label {
  display: block;
}

.mailpoet_textarea {
  height: auto;
}

/* form loading */
.mailpoet_form_sending {
  .mailpoet_form_loading {
    display: block;
  }

  .mailpoet_submit {
    display: none;
  }
}

.mailpoet_form_loading {
  display: none;
  text-align: center;
  width: 30px;
}

.mailpoet_form_loading > span {
  animation: mailpoet-bouncedelay 1.4s infinite ease-in-out both;
  background-color: #5b5b5b;
  border-radius: 100%;
  display: inline-block;
  height: 5px;
  width: 5px;
}

.mailpoet_form_loading .mailpoet_bounce1 {
  animation-delay: -.32s;
}

.mailpoet_form_loading .mailpoet_bounce2 {
  animation-delay: -.16s;
  margin: 0 7px;
}

.mailpoet_captcha_form {
  .mailpoet_validate_success { color: #468847; }
  .mailpoet_validate_error { color: #b94a48; }
}

.mailpoet_captcha_update {
  cursor: pointer;
}

@keyframes mailpoet-bouncedelay {
  0%,
  80%,
  100% { transform: scale(0); }
  40% { transform: scale(1); }
}

// Form columns
$form-break-small-width: 500px;
$form-block-margin: 20px;
$form-columns-with-background-padding: 10px;
$form-columns-space-between: 20px;

.mailpoet_form .mailpoet_paragraph {
  margin-bottom: $form-block-margin;
}

// Default value for users who don't have the value in Custom CSS
.mailpoet_column_with_background {
  padding: $form-columns-with-background-padding;
}
// Default value for users who don't have the value in Custom CSS
.mailpoet_form_column:not(:first-child) {
  margin-left: $form-columns-space-between;
}

@mixin maxWidthColumns() {
  flex-wrap: wrap;

  &.mailpoet_column_with_background .mailpoet_form_column:last-child .mailpoet_paragraph:last-child {
    margin-bottom: 0 !important;
  }
}

@mixin maxWidthColumn() {
  // This must be important since the Column assigns its own width as an inline style.
  flex-basis: 100% !important;

  &:not(:first-child) {
    margin-left: 0 !important;
  }
}

.mailpoet_form_columns {
  display: flex;
  flex-wrap: nowrap;

  // Alignment settings
  &.mailpoet_vertically_align_top {
    align-items: flex-start;
  }

  &.mailpoet_vertically_align_center {
    align-items: flex-start;
  }

  &.mailpoet_vertically_align_bottom {
    align-items: flex-start;
  }

  @media (max-width: #{ ($form-break-small-width - 1) }) {
    @include maxWidthColumns;
  }

  .mailpoet_form_tight_container & {
    @include maxWidthColumns;
  }
}

.mailpoet_form_column {
  display: flex;
  flex-direction: column;

  // Alignment
  &.mailpoet_vertically_align_top {
    align-self: flex-start;
  }

  &.mailpoet_vertically_align_center {
    align-self: center;
  }

  &.mailpoet_vertically_align_bottom {
    align-self: flex-end;
  }

  @media (min-width: $form-break-small-width) {
    .mailpoet_form_form:not(.mailpoet_form_tight_container) .mailpoet_column_with_background & .mailpoet_paragraph:last-child {
      margin-bottom: 0 !important;
    }
  }

  @media (max-width: #{ ($form-break-small-width - 1) }) {
    @include maxWidthColumn;
  }

  .mailpoet_form_tight_container & {
    @include maxWidthColumn;
  }
}
