.mailpoet-steps {
  align-items: center;
  background: $color-input-background;
  border-bottom: 1px solid $color-tertiary-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: $grid-gap-medium - 4px $grid-gap-medium;

  .wrap & {
    left: -20px;
    position: absolute;
    right: 0;
    top: 0;

    @include respond-to(small-screen) {
      left: -10px;
    }

    @media screen and (max-width: 600px) {
      top: 46px;
    }
  }

  @include respond-to(small-screen) {
    padding: $grid-gap - 4px $grid-gap;
  }
}

.mailpoet-step {
  align-items: center;
  border-right: 1px solid $color-tertiary-light;
  color: $color-tertiary;
  display: flex;
  font-size: $font-size-small;
  line-height: $line-height;
  margin: 4px 0;
  padding: 0 $grid-gap;

  &:last-child {
    border: none;
  }
}

.mailpoet-step-badge {
  background: $color-white no-repeat center;
  border: 1px solid $color-tertiary-light;
  border-radius: 50%;
  box-shadow: 0 1px 2px $color-tertiary-light;
  box-sizing: border-box;
  display: block;
  font-size: 10px;
  font-weight: bold;
  height: 20px;
  line-height: 14px;
  margin: 2px;
  padding: 3px 0;
  text-align: center;
  width: 20px;

  .mailpoet-step-active & {
    background-color: $color-secondary;
    border: none;
    color: $color-white;
    font-size: 12px;
    height: 24px;
    margin: 0;
    padding: 5px 0;
    width: 24px;
  }

  .mailpoet-step-done & {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 6 6'%3E%3Cpath fill='%237ED321' fill-rule='nonzero' d='M4.647.319c.246-.35.715-.423 1.048-.165.334.257.404.75.158 1.098L3.084 5.181c-.28.397-.835.429-1.154.066L.199 3.283c-.281-.319-.262-.816.042-1.11.305-.295.78-.275 1.06.044l1.115 1.266L4.646.319z' /%3E%3C/svg%3E%0A");
  }
}

.mailpoet-step-title {
  padding-left: $grid-gap-half;
  text-align: center;

  // Hack so the text is not jumping when changed to bold when active
  &:before {
    content: attr(data-title);
    display: block;
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .mailpoet-step-active & {
    color: $color-secondary;
    font-weight: bold;
  }

  .mailpoet-step-done & {
    font-weight: bold;
  }
}

.mailpoet-steps-content {
  background: $color-white;
  padding: $grid-gap-large;

  @include respond-to(small-screen) {
    padding: $grid-gap;
  }

  @include respond-to(only-meduim-screen) {
    padding: $grid-gap-medium;
  }
}
