.mailpoet-tab,
.mailpoet-tabs-title {
  align-items: center;
  background: none;
  border: 1px solid transparent;
  border-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-size: $font-size;
  justify-content: center;
  line-height: 24px;
  margin-bottom: -1px;
  max-width: 100%;
  min-height: 56px;
  padding: $grid-gap-half $grid-gap-medium;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: top;

  &:focus {
    outline: none;
  }

  &.mailpoet-tab-active {
    background: $color-white;
    border-color: $color-tertiary-light;
    color: $color-secondary;
  }

  svg {
    fill: currentColor;
    height: 16px;
    width: 16px;

    &:first-child {
      margin-right: 6px;
    }

    &:last-child {
      margin-left: 6px;
    }

    &:only-child {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.mailpoet-tabs-title {
  display: none;
}

.mailpoet-tab-content {
  background: $color-white;
  border: 1px solid $color-tertiary-light;
  border-radius: 4px;
  padding: $grid-gap;

  > *:first-child { margin-top: 0; }
  > *:last-child { margin-bottom: 0; }
}

@include respond-to(small-screen) {
  .mailpoet-tabs-title {
    background: $color-white;
    border: 1px solid $color-tertiary-light;
    border-bottom: none;
    border-radius: 0;
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    margin-bottom: 0;
    width: 100%;

    &:after {
      content: '▾';
      margin-left: auto;
    }

    .mailpoet-tabs-is-open > &:after {
      transform: rotate(180deg);
    }
  }

  .mailpoet-tab {
    background: $color-white;
    border: 1px solid $color-tertiary-light;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .mailpoet-tabs-wrapper {
    display: none;

    .mailpoet-tabs-is-open > & {
      display: block;
    }
  }

  .mailpoet-tab-content {
    border-radius: 0;
  }
}
