.mailpoet_welcome_wizard_centered_column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mailpoet_welcome_wizard_header img {
  margin-bottom: 20px;
}

.mailpoet_welcome_wizard_steps {
  padding-top: 20px;
  width: 100%;
  div.updated, div.error, .notice {
    display: none !important;
  }
}

.mailpoet_welcome_wizard_step_content {
  margin-top: 40px;
  max-width: 620px;
  min-height: 30vh;
  h1 {
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
  }
  p {
    color: #595c65;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    margin: 10px 0;
    text-align: center;
  }
}

#mailpoet_sender_form {
  margin-top: 30px;
  width: 330px;
  label {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 20px;
  }
  input[type="text"] {
    font-size: 15px;
    height: 30px;
    margin-top: 10px;
    width: 328px;
  }
  input[type="submit"] {
    margin: 50px 0 25px 0;
  }
  a.sender_form_small {
    color: #595c65;
    font-size: 12px;
  }
}

.mailpoet_sender_form_loading {
  opacity: 0.5;
}

.mailpoet_welcome_wizard_course_form_box {
  margin-bottom: 10px;
  padding-top: 30px;
  position: relative;
  img {
    left: 0;
    position: absolute;
    top: 0;
  }
  iframe {
    margin-left: 155px;
  }

  @media screen and (max-width: 520px) {
    padding: 0 10px;
    text-align: center;
    iframe {
      margin-left: 0;
    }
    img {
      position: static;
    }
  }
}

.mailpoet_welcome_wizard_step_controls {
  margin-top: 50px;
  .button {
    margin: 0 10px;
  }
}

.mailpoet_welcome_wizard_woo_screenshot {
  margin-top: 30px;
  width: 400px;
}

@media screen and (max-width: 520px) {
  .mailpoet_welcome_wizard_woo_screenshot {
    width: 340px;
  }
}

.welcome_wizard_video {
  position: absolute;
  top: -1000px;
}
