.mailpoet_heading_form_field
  margin-top: 5px
  margin-bottom: 5px

.mailpoet_input_title,
.mailpoet_input_preheader
  width: 400px
  padding: 3px
  line-height: normal

.mailpoet_input_title
  font-size: 23px

.mailpoet_breadcrumbs
  float: right
  clear: both
  margin-bottom: 13px
  margin-right: 17px
  font-size: 0.9em
  text-transform: uppercase
