.mailpoet_container_layer_active
  .mailpoet_block
    pointer-events: none
    opacity: 0.4

  .mailpoet_container_block
    pointer-events: auto
    opacity: 1

  .mailpoet_container_block > .mailpoet_tools
    display: block !important

  & > .mailpoet_tools
    z-index: 100001 !important;

.mailpoet_layer_overlay
  height: 100%
  left: 0
  overflow-y: auto
  overflow-x: hidden
  position: fixed
  top: 0
  width: 100%
  z-index: 100000
  background-color: rgba(0, 0, 0, 0.6)
  margin: 0 !important

.mailpoet_layer_highlight
  pointer-events:none;
  background-color: #f1f1f1;
  position: relative;
  z-index: 100001 !important;
