#mailpoet_editor_bottom
  margin: 10px 0 70px

.mailpoet_save_wrapper
  float: right
  position: relative
  margin-right: 20px
  margin-bottom: 10px

.mailpoet_save_options
  border-radius(3px)

  position: absolute
  right: 0
  z-index: 1000
  overflow: hidden
  margin: 5px 0
  clear: both
  vertical-align: top
  white-space: nowrap

  background: $white-color
  border: 1px solid $content-border-color

.mailpoet_save_option
  margin: 0

  & > a
    display: block
    padding-left: 20px
    padding-right: 20px
    line-height: 2em

.mailpoet_save_option:hover
  background-color: $primary-active-background-color
  color: $white-color

  & > a
    color: $white-color

.mailpoet_save_show_options
  padding: 6px 3px 4px

.mailpoet_save_show_options_icon
  vertical-align: middle

.mailpoet_save_as_template_container,
.mailpoet_export_template_container
  border-radius(3px)
  display: inline-block
  position: absolute
  right: 0
  z-index: 1000
  clear: both

  margin: 5px 0
  padding: 0 10px
  background-color: $white-color
  border: 1px solid $structure-border-color

.mailpoet_save_as_template_title,
.mailpoet_export_template_title
  font-size: 1.1em

.mailpoet_editor_messages
  position: absolute
  right: 0

.mailpoet_editor_last_saved
  color: $primary-inactive-color
  font-size: 0.9em
  margin-top: 10px
  text-align: right

.mailpoet_save_error
  margin-top: 10px
  width: $sidebar-width - 20px
  color: $error-text-color
  text-align: right

.mailpoet_save_dropdown_down
  .mailpoet_save_options,
  .mailpoet_save_as_template_container,
  .mailpoet_export_template_container
    top: 100%
    bottom: auto

  .mailpoet_save_show_options
    &.mailpoet_save_show_options_active
      .mailpoet_save_show_options_icon::before
        content: '\f142'

  .mailpoet_save_show_options_icon
    &::before
      content: '\f140'

.mailpoet_save_dropdown_up
  .mailpoet_save_options,
  .mailpoet_save_as_template_container,
  .mailpoet_export_template_container
    top: auto
    bottom: 100%

  .mailpoet_save_show_options
    &.mailpoet_save_show_options_active
      .mailpoet_save_show_options_icon::before
        content: '\f140'

  .mailpoet_save_show_options_icon
    &::before
      content: '\f142'
