#mailpoet_editor_bottom
    margin-top: 39px
    margin-left: 29px

.mailpoet_save_options
    border-radius(3px)

    float: left
    overflow: hidden
    margin: 5px 0 0 0
    clear: both
    vertical-align: top

    background: $white-color
    border: 1px solid $content-border-color

.mailpoet_save_option
    margin: 0

    & > a
        display: block
        padding-left: 20px
        padding-right: 20px
        line-height: 2em

.mailpoet_save_option:hover
    background-color: $primary-active-background-color
    color: $white-color

    & > a
        color: $white-color

.mailpoet_save_show_options
    padding: 6px 3px 4px

    &.mailpoet_save_show_options_active
        .mailpoet_save_show_options_icon::before
            content: '\f142'

.mailpoet_save_show_options_icon
    width: auto
    height: auto
    line-height: auto

    &::before
        content: '\f140'


.mailpoet_save_as_template_container
    border-radius(3px)
    float: left
    clear: both

    margin-top: 5px
    padding: 0 10px
    background-color: $white-color
    border: 1px solid $structure-border-color

.mailpoet_save_as_template_title
    font-size: 1.1em

.mailpoet_editor_last_saved
    color: $primary-inactive-color
    font-size: 0.9em
    display: inline

.mailpoet_save_error
    color: $error-text-color
