$sidepanel-active-heading-color = $primary-active-color

/* Sidepanel */
.mailpoet_editor_settings
  color: $sidebar-text-color
  font-size: $sidebar-text-size

  p
    font-size: 1em

  h3
    font-size: 1.4em
    color: $sidepanel-active-heading-color
    text-transform: uppercase

.mailpoet_sidepanel_field
  margin-top: 15px
  margin-bottom: 15px

.mailpoet_sidepanel_field_title
  clear: both
  margin-bottom: 5px

.mailpoet_sidepanel_field_title_small
  width: 120px

.mailpoet_sidepanel_field_title_inline
  display: inline-block
  vertical-align: middle
  line-height: 30px
  margin-bottom: 0

.mailpoet_sidepanel_field_optional
  font-size: 0.8em
  color: $primary-inactive-color

.mailpoet_sidepanel_radio_option,
.mailpoet_sidepanel_checkbox_option
  display: inline-block
  vertical-align: top
  margin-right: 15px
  line-height: 30px

  &:last-child
    margin-right: 0

.mailpoet_sidepanel_input_option
  display: inline-block

  input[type=checkbox]
    vertical-align:top

  input[type=text]
    vertical-align: middle
