.mailpoet_resize_handle_container {
  left: 50%;
  margin-top: -16px;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  z-index: $resize-handle-z-index;
}

.mailpoet_resize_handle {
  align-items: center;
  background: $color-editor-background-content;
  border-radius: 10px;
  cursor: ns-resize;
  display: none;
  justify-content: space-between;
  min-width: 60px;
  padding: 7px 10px;
  z-index: $resize-handle-z-index;

  .mailpoet_resize_handle_text,
  .mailpoet_resize_handle_icon {
    pointer-events: none;
  }

  .mailpoet_resizable_block.mailpoet_highlight & {
    display: flex;
  }
}

.mailpoet_resize_handle_text {
  color: $resize-handle-font-color;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
}

.mailpoet_resize_handle_icon {
  line-height: 15px;
  margin-left: 5px;

  > svg {
    fill: $resize-handle-font-color;
    height: 15px;
    vertical-align: top;
    width: 15px;
  }
}

.mailpoet_image_resize_handle_container {
  bottom: 0;
  height: 24px;
  position: absolute;
  right: 0;
  width: 24px;
}

.mailpoet_image_resize_handle_container_left {
  left: 0;
  right: auto;
  transform: rotate(90deg);
}

.mailpoet_image_resize_handle {
  background: $color-editor-background-content;
  border-radius: 6px 0 0;
  cursor: nwse-resize;
  display: none;
  height: 24px;
  position: relative;
  width: 24px;
  z-index: $resize-handle-z-index;

  .mailpoet_resizable_block.mailpoet_highlight & {
    display: inline-block;
  }

  .mailpoet_image_resize_handle_text,
  .mailpoet_image_resize_handle_icon {
    pointer-events: none;
  }

  .mailpoet_image_resize_handle_container_left & {
    cursor: nesw-resize;
  }
}

.mailpoet_image_resize_handle_icon {
  display: block;
  line-height: 22px;
  padding: 1px;

  > svg {
    fill: $resize-handle-font-color;
    height: 22px;
    vertical-align: top;
    width: 22px;
  }
}

.mailpoet_block.mailpoet_image_resize_active > .mailpoet_block_highlight {
  border: 2px solid $resize-active-color;

  .mailpoet_image_resize_handle {
    display: inline-block;
  }
}
