.mailpoet_history_wrapper {
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: 26px 26px auto;
  padding: 12px 20px;

  .mailpoet_reset_template {
    justify-self: end;
  }
}

.mailpoet_history_arrow {
  cursor: pointer;

  svg {
    display: inline-block;
    height: 26px;
    stroke: $color-primary;
    vertical-align: top;
    width: 26px;
  }
}

.mailpoet_history_arrow_inactive {
  cursor: not-allowed;

  svg {
    stroke: $color-primary-inactive;
  }
}
