.mailpoet_container_layer_active {
  .mailpoet_block {
    opacity: 0.4;
    pointer-events: none;
  }

  .mailpoet_container_block {
    opacity: 1;
    pointer-events: auto;
  }

  .mailpoet_container_block > .mailpoet_tools {
    display: block !important;
  }

  > .mailpoet_tools {
    z-index: 100001 !important;
  }
}

.mailpoet_layer_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  margin: 0 !important;
  overflow: hidden auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}

.mailpoet_layer_highlight {
  background-color: #f1f1f1;
  pointer-events: none;
  position: relative;
  z-index: 100001 !important;
}
