/* Sidepanel */
.mailpoet_editor_settings {
  color: $editor-sidebar-color;
  font-size: $editor-sidebar-font-size;
  padding: 0 20px;

  p {
    font-size: 1em;
  }

  h3 {
    color: $color-primary;
    font-size: 1.4em;
    text-transform: uppercase;
  }

  .components-panel__row {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }

  .mailpoet_editor_settings {
    padding: 0;
  }
}

.mailpoet_sidepanel_field {
  margin-bottom: 15px;
  margin-top: 15px;
}

.mailpoet_sidepanel_field_title {
  clear: both;
  margin-bottom: 5px;
}

.mailpoet_sidepanel_field_title_small {
  width: 120px;
}

.mailpoet_sidepanel_field_title_inline {
  display: inline-block;
  line-height: 30px;
  margin-bottom: 0;
  vertical-align: middle;
}

