<% block content %>
<form action="<%= unsubscribeUrl %>" method="post">
<!--  if updating this hidden field form value, remember to update the corresponding logic in mailpoet/lib/Router/Endpoints/Subscription.php::addTypeParamToUnsubscribeUrl -->
  <input type="hidden" name="type" value="confirmation">
  <p class="mailpoet_confirm_unsubscribe">
    <%= __('Simply click on this link to stop receiving emails from us.') %>
    <br>
    <a href="#" onclick="this.closest('form').submit(); return false;" rel="nofollow"><%= _x('Yes, unsubscribe me', 'Text in unsubscribe link') %></a>
</p>
</form>
<% endblock %>
