parameters:
  level: 9
  tmpDir: ../../temp/phpstan
  bootstrapFiles:
    - ../../vendor/autoload.php
    - ../../../packages/php/email-editor/vendor/autoload.php
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    - ../../../tests_env/vendor/codeception/codeception/autoload.php
    - ../../../tests_env/vendor/codeception/verify/src/Codeception/Verify/Verify.php
  scanDirectories:
      - ../../../packages/php/email-editor/tests/_support
      - ../../../packages/php/email-editor/tests/integration
      - ../../../packages/php/email-editor/tests/unit
  scanFiles:
    - custom-stubs.php
  inferPrivatePropertyTypeFromConstructor: true
  checkGenericClassInNonGenericObjectType: false
  parallel:
    processTimeout: 300.0
    maximumNumberOfProcesses: 4 # Using 4 CPUs for Static analysis on Github actions
  ignoreErrors:
    - '#_before\(\) has no return type specified#' # skip integration test before errors
    -
      message: '#has no return type specified.#'  # ignore has no return type specified for integration test files
      path: ../../../packages/php/email-editor/tests/integration/*
  reportUnmatchedIgnoredErrors: true
  dynamicConstantNames:
    - MAILPOET_PREMIUM_INITIALIZED
    - MAILPOET_PREMIUM_VERSION

  # exclude level 6 errors
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false # We have some incorrect phpdoc types, but I want to address them later
  excludePaths:
    analyseAndScan:
      - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php # does not yet offer support for PHP 8.1
      - ../../../packages/php/email-editor/tests/unit/_stubs.php
includes:
  - email-editor-phpstan-custom.php
  - extensions/CodeceptionExtension/extension.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
