parameters:
	ignoreErrors:
		-
			identifier: property.nonObject
			count: 1
			path: ../../lib/API/JSON/API.php

		-
			identifier: method.nonObject
			count: 1
			path: ../../lib/API/JSON/API.php

		-
			identifier: argument.type
			count: 2
			path: ../../lib/API/JSON/API.php

		-
			identifier: binaryOp.invalid
			count: 1
			path: ../../lib/API/JSON/Response.php

		-
			identifier: property.onlyWritten
			count: 1
			path: ../../lib/API/JSON/ResponseBuilders/DynamicSegmentsResponseBuilder.php

		-
			identifier: argument.type
			count: 2
			path: ../../lib/API/JSON/v1/ImportExport.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/API/JSON/v1/NewsletterTemplates.php

		-
			identifier: property.onlyWritten
			count: 1
			path: ../../lib/API/JSON/v1/Segments.php

		-
			identifier: phpDoc.parseError
			count: 1
			path: ../../lib/API/JSON/v1/Subscribers.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/AdminPages/PageRenderer.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/AdminPages/Pages/AutomationPreviewEmbed.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/AdminPages/Pages/FormEditor.php

		-
			identifier: phpstanWP.wpConstant.fetch
			count: 1
			path: ../../lib/AdminPages/Pages/WelcomeWizard.php

		-
			identifier: phpstanWP.wpConstant.fetch
			count: 1
			path: ../../lib/AdminPages/Pages/WooCommerceSetup.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Analytics/Reporter.php

		-
			identifier: foreach.nonIterable
			count: 1
			path: ../../lib/AutomaticEmails/WooCommerce/Events/FirstPurchase.php

		-
			identifier: binaryOp.invalid
			count: 1
			path: ../../lib/AutomaticEmails/WooCommerce/Events/FirstPurchase.php

		-
			identifier: foreach.nonIterable
			count: 1
			path: ../../lib/AutomaticEmails/WooCommerce/Events/PurchasedInCategory.php

		-
			identifier: binaryOp.invalid
			count: 1
			path: ../../lib/AutomaticEmails/WooCommerce/Events/PurchasedInCategory.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/AutomaticEmails/WooCommerce/Events/PurchasedInCategory.php

		-
			identifier: foreach.nonIterable
			count: 1
			path: ../../lib/AutomaticEmails/WooCommerce/Events/PurchasedProduct.php

		-
			identifier: binaryOp.invalid
			count: 1
			path: ../../lib/AutomaticEmails/WooCommerce/Events/PurchasedProduct.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/AutomaticEmails/WooCommerce/Events/PurchasedProduct.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/Automation/Engine/Storage/AutomationStorage.php

		-
			identifier: argument.type
			count: 2
			path: ../../lib/Automation/Integrations/Core/Filters/EnumArrayFilter.php

		-
			identifier: argument.type
			count: 2
			path: ../../lib/Automation/Integrations/Core/Filters/NumberFilter.php

		-
			identifier: function.notFound
			count: 4
			path: ../../lib/Automation/Integrations/Core/Filters/StringFilter.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/Automation/Integrations/MailPoet/Templates/EmailFactory.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Automation/Integrations/MailPoet/Triggers/UserRegistrationTrigger.php

		-
			identifier: nullCoalesce.expr
			count: 1
			path: ../../lib/Cache/TransientCache.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Captcha/CaptchaHooks.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Captcha/ReCaptchaHooks.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Captcha/Validator/CaptchaValidator.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Config/AssetsLoader.php

		-
			identifier: phpstanWP.wpConstant.fetch
			count: 1
			path: ../../lib/Config/Changelog.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Config/Hooks.php

		-
			identifier: method.notFound
			count: 1
			path: ../../lib/Config/Populator.php

		-
			identifier: binaryOp.invalid
			count: 3
			path: ../../lib/Config/Shortcodes.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Config/TranslationUpdater.php

		-
			identifier: argument.type
			count: 2
			path: ../../lib/Cron/CronHelper.php

		-
			identifier: empty.expr
			count: 1
			path: ../../lib/Cron/CronWorkerRunner.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Cron/Daemon.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Cron/DaemonHttpRunner.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/Cron/Workers/SendingQueue/SendingThrottlingHandler.php

		-
			identifier: instanceof.alwaysTrue
			count: 1
			path: ../../lib/Cron/Workers/SendingQueue/Tasks/Newsletter.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Cron/Workers/StatisticsExport.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Cron/Workers/StatsNotifications/AutomatedEmails.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Cron/Workers/StatsNotifications/Scheduler.php

		-
			identifier: method.nonObject
			count: 1
			path: ../../lib/DI/ContainerConfigurator.php

		-
			identifier: catch.neverThrown
			count: 1
			path: ../../lib/Doctrine/MetadataCache.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Doctrine/PSRArrayCache.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/Doctrine/Types/BigIntType.php

		-
			identifier: argument.type
			count: 2
			path: ../../lib/Doctrine/Types/JsonOrSerializedType.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Doctrine/Types/JsonType.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Doctrine/Types/SerializedArrayType.php

		-
			identifier: binaryOp.invalid
			count: 1
			path: ../../lib/Doctrine/Validator/ValidationException.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/Doctrine/WPDB/Result.php

		-
			identifier: method.nonObject
			count: 1
			path: ../../lib/EmailEditor/Integrations/MailPoet/Cli.php

		-
			identifier: binaryOp.invalid
			count: 1
			path: ../../lib/EmailEditor/Integrations/MailPoet/EditorPageRenderer.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/EmailEditor/Integrations/MailPoet/EditorPageRenderer.php

		-
			identifier: return.type
			count: 2
			path: ../../lib/EmailEditor/Integrations/MailPoet/Endpoints/GenerateSubjectSuggestionsEndpoint.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/EmailEditor/Integrations/MailPoet/Patterns/PatternsController.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/EmailEditor/Integrations/MailPoet/PersonalizationTagManager.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/Entities/SegmentEntity.php

		-
			identifier: encapsedStringPart.nonString
			count: 4
			path: ../../lib/Form/Block/Column.php

		-
			identifier: encapsedStringPart.nonString
			count: 4
			path: ../../lib/Form/Block/Columns.php

		-
			identifier: encapsedStringPart.nonString
			count: 4
			path: ../../lib/Form/Block/Heading.php

		-
			identifier: encapsedStringPart.nonString
			count: 4
			path: ../../lib/Form/Block/Paragraph.php

		-
			identifier: empty.variable
			count: 1
			path: ../../lib/Form/Block/Paragraph.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/Form/DisplayFormInWPContent.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Form/DisplayFormInWPContent.php

		-
			identifier: nullCoalesce.expr
			count: 1
			path: ../../lib/Form/Renderer.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Form/RestApi/Endpoints/FormsBulkActionEndpoint.php

		-
			identifier: binaryOp.invalid
			count: 1
			path: ../../lib/Form/Widget.php

		-
			identifier: class.notFound
			count: 2
			path: ../../lib/Logging/LogHandler.php

		-
			identifier: empty.variable
			count: 1
			path: ../../lib/Newsletter/BlockPostQuery.php

		-
			identifier: identical.alwaysTrue
			count: 1
			path: ../../lib/Newsletter/Editor/MetaInformationManager.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Newsletter/Editor/PostTransformerContentsExtractor.php

		-
			identifier: argument.type
			count: 2
			path: ../../lib/Newsletter/NewsletterSaveController.php

		-
			identifier: return.type
			count: 2
			path: ../../lib/Newsletter/NewslettersRepository.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Newsletter/Renderer/Blocks/Renderer.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/Newsletter/Renderer/Renderer.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/Newsletter/Shortcodes/Categories/Link.php

		-
			identifier: property.onlyWritten
			count: 1
			path: ../../lib/Newsletter/Shortcodes/Categories/Link.php

		-
			identifier: notIdentical.alwaysTrue
			count: 1
			path: ../../lib/Newsletter/Shortcodes/Categories/Subscriber.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Newsletter/Shortcodes/Shortcodes.php

		-
			identifier: phpDoc.parseError
			count: 1
			path: ../../lib/Newsletter/Statistics/NewsletterStatisticsRepository.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/NewsletterTemplates/NewsletterTemplatesRepository.php

		-
			identifier: nullCoalesce.variable
			count: 1
			path: ../../lib/NewsletterTemplates/ThumbnailSaver.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Router/Endpoints/TemplateImage.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Router/Endpoints/Track.php

		-
			identifier: property.nonObject
			count: 2
			path: ../../lib/Router/Router.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Router/Router.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/Segments/DynamicSegments/FilterDataMapper.php

		-
			identifier: binaryOp.invalid
			count: 1
			path: ../../lib/Segments/DynamicSegments/Filters/EmailAction.php

		-
			identifier: property.nonObject
			count: 1
			path: ../../lib/Segments/DynamicSegments/Filters/WooCommerceCategory.php

		-
			identifier: binaryOp.invalid
			count: 1
			path: ../../lib/Segments/DynamicSegments/Filters/WooCommerceCountry.php

		-
			identifier: staticClassAccess.privateProperty
			count: 2
			path: ../../lib/Settings/Hosts.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Settings/SettingsChangeHandler.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/Subscribers/EngagementDataBackfiller.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/Subscribers/ImportExport/Import/MailChimp.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Subscribers/ImportExport/Import/MailChimpDataMapper.php

		-
			identifier: phpDoc.parseError
			count: 1
			path: ../../lib/Subscribers/ImportExport/PersonalDataExporters/SegmentsExporter.php

		-
			identifier: phpDoc.parseError
			count: 1
			path: ../../lib/Subscribers/ImportExport/PersonalDataExporters/SubscriberExporter.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/Subscribers/LinkTokens.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Subscribers/NewSubscriberNotificationMailer.php

		-
			identifier: foreach.nonIterable
			count: 1
			path: ../../lib/Subscribers/SubscribersRepository.php

		-
			identifier: return.type
			count: 2
			path: ../../lib/Subscribers/SubscribersRepository.php

		-
			identifier: argument.type
			count: 3
			path: ../../lib/Subscribers/SubscribersRepository.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Subscription/AdminUserSubscription.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Subscription/ManageSubscriptionFormRenderer.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Subscription/Pages.php

		-
			identifier: argument.type
			count: 2
			path: ../../lib/Subscription/Throttling.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/SystemReport/SystemReportCollector.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/Tags/RestApi/Endpoints/TagsBulkDeleteEndpoint.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/Tasks/Subscribers/BatchIterator.php

		-
			identifier: method.nonObject
			count: 1
			path: ../../lib/Tracy/DIPanel/DIPanel.php

		-
			identifier: argument.type
			count: 3
			path: ../../lib/Tracy/DIPanel/DIPanel.php

		-
			identifier: parameterByRef.type
			count: 1
			path: ../../lib/Tracy/DIPanel/DIPanel.php

		-
			identifier: argument.type
			count: 2
			path: ../../lib/Util/ConflictResolver.php

		-
			identifier: argument.type
			count: 2
			path: ../../lib/Util/DBCollationChecker.php

		-
			identifier: encapsedStringPart.nonString
			count: 1
			path: ../../lib/Util/DBCollationChecker.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/Util/Security.php

		-
			identifier: property.phpDocType
			count: 1
			path: ../../lib/Util/pQuery/Html5Parser.php

		-
			identifier: property.nonObject
			count: 2
			path: ../../lib/WP/AutocompletePostListLoader.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/WP/Emoji.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/WP/Functions.php

		-
			identifier: function.void
			count: 3
			path: ../../lib/WP/Functions.php

		-
			identifier: function.impossibleType
			count: 2
			path: ../../lib/WooCommerce/Helper.php

		-
			identifier: argument.type
			count: 1
			path: ../../lib/WooCommerce/Helper.php

		-
			identifier: return.type
			count: 1
			path: ../../lib/WooCommerce/WooCommerceSubscriptions/Helper.php

		-
			identifier: return.type
			count: 1
			path: ../../tests/DataFactories/Log.php

		-
			identifier: return.type
			count: 1
			path: ../../tests/DataFactories/Segment.php

		-
			identifier: return.type
			count: 1
			path: ../../tests/DataFactories/Tag.php

		-
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../../tests/DataFactories/WooCommerceCustomer.php

		-
			identifier: argument.type
			count: 1
			path: ../../tests/DataFactories/WooCommerceCustomer.php

		-
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../../tests/DataFactories/WooCommerceOrder.php

		-
			identifier: binaryOp.invalid
			count: 1
			path: ../../tests/acceptance/Automation/ConfirmLeaveWhenUnsavedChangesCest.php

		-
			identifier: binaryOp.invalid
			count: 1
			path: ../../tests/acceptance/Subscriptions/WooCheckoutBlocksCest.php

		-
			identifier: assign.propertyType
			count: 1
			path: ../../tests/acceptance/Subscriptions/WooCheckoutBlocksCest.php

		-
			identifier: argument.unresolvableType
			count: 8
			path: ../../tests/integration/API/MP/SubscribersTest.php

		-
			identifier: arrayValues.empty
			count: 1
			path: ../../tests/integration/Automation/Integrations/MailPoet/Actions/SendEmailActionTest.php

		-
			identifier: property.unusedType
			count: 1
			path: ../../tests/integration/Doctrine/EventListeners/TimestampEntity.php

		-
			identifier: property.onlyRead
			count: 1
			path: ../../tests/integration/Doctrine/EventListeners/TimestampEntity.php

		-
			identifier: property.unusedType
			count: 1
			path: ../../tests/integration/Doctrine/EventListeners/ValidatedEntity.php

		-
			identifier: property.onlyRead
			count: 1
			path: ../../tests/integration/Doctrine/EventListeners/ValidatedEntity.php

		-
			identifier: catch.neverThrown
			count: 4
			path: ../../tests/integration/Doctrine/EventListeners/ValidationTest.php

		-
			identifier: varTag.nativeType
			count: 1
			path: ../../tests/integration/Doctrine/RepositoryTest.php

		-
			identifier: property.unusedType
			count: 1
			path: ../../tests/integration/Doctrine/Types/JsonEntity.php

		-
			identifier: property.onlyRead
			count: 1
			path: ../../tests/integration/Doctrine/Types/JsonEntity.php

		-
			identifier: binaryOp.invalid
			count: 1
			path: ../../tests/integration/Doctrine/WPDB/ConnectionTest.php

		-
			identifier: argument.unresolvableType
			count: 1
			path: ../../tests/integration/Migrator/MigratorTest.php

		-
			identifier: binaryOp.invalid
			count: 1
			path: ../../tests/integration/Newsletter/RendererTest.php

		-
			identifier: argument.type
			count: 1
			path: ../../tests/integration/Newsletter/ShortcodesTest.php

		-
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: ../../tests/integration/REST/Automation/Automations/AutomationsGetTest.php

		-
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../../tests/integration/REST/Forms/FormsEndpointsTest.php

		-
			identifier: argument.type
			count: 1
			path: ../../tests/integration/REST/Forms/FormsEndpointsTest.php

		-
			identifier: offsetAccess.nonOffsetAccessible
			count: 7
			path: ../../tests/integration/REST/Tags/TagsEndpointsTest.php

		-
			identifier: argument.type
			count: 2
			path: ../../tests/integration/REST/Tags/TagsEndpointsTest.php

		-
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: ../../tests/integration/Subscribers/ImportExport/PersonalDataExporters/NewsletterClicksExporterTest.php

		-
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: ../../tests/integration/Subscribers/ImportExport/PersonalDataExporters/NewsletterOpensExporterTest.php

		-
			identifier: offsetAccess.nonOffsetAccessible
			count: 5
			path: ../../tests/integration/Subscription/RegistrationTest.php

		-
			identifier: argument.type
			count: 2
			path: ../../tests/integration/SystemReport/SystemReportCollectorTest.php

		-
			identifier: empty.offset
			count: 3
			path: ../../tests/integration/Util/ConflictResolverTest.php

		-
			identifier: new.resultUnused
			count: 1
			path: ../../tests/integration/WooCommerce/TransactionalEmailHooksTest.php

		-
			identifier: foreach.nonIterable
			count: 1
			path: ../../tests/integration/_bootstrap.php

		-
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../../tests/integration/_bootstrap.php

		-
			identifier: return.type
			count: 1
			path: ../../tests/integration/_bootstrap.php

		-
			identifier: offsetAccess.invalidOffset
			count: 1
			path: ../../tests/integration/_bootstrap.php

		-
			identifier: missingType.property
			count: 1
			path: ../../tests/unit/Automation/Engine/Validation/AutomationGraph/AutomationWalkerTest.php

		-
			identifier: return.type
			count: 1
			path: ../../tests/unit/Form/HtmlParser.php
