<%= localize({
'displayForm': __('Display the form'),
'enable': __('Enable'),
'addFormName': _x('Add form name', 'A placeholder for form name input'),
'changesNotSaved': __('The changes you made may not be saved'),
'back': __('Back'),
'form': __('Form'),
'formSettings': _x('Settings', 'A settings section heading'),
'formSettingsStyles': __('Styles'),
'formSettingsColor': __('Color'),
'formSettingsStylesBackground': __('Background'),
'formSettingsStylesBackgroundImage': __('Background Image'),
'formSettingsStylesSelectImage': __('Select Image…'),
'formSettingsStylesFontSize': __('Font Size'),
'formSettingsStylesFont': __('Font'),
'formSettingsStylesFontColorInherit': __('Inherit from theme'),
'formSettingsInheritStyleFromTheme': __('Inherit style from theme'),
'formSettingsDisplayFullWidth': _x('Display Fullwidth', 'A label for checkbox in form style settings'),
'formSettingsBold': _x('Bold', 'A label for checkbox in form style settings'),
'formSettingsBorderSize': _x('Border Size', 'A label for checkbox in form style settings'),
'formSettingsBorderRadius': _x('Border Radius', 'A label for checkbox in form style settings'),
'formSettingsInputPadding': _x('Input Padding', 'A label for form style settings'),
'formSettingsFormPadding': _x('Form Padding', 'A label for form style settings'),
'formSettingsAlignment': _x('Alignment', 'A label for form style settings'),
'formSettingsAlignmentLeft': _x('left', 'An alignment value for form editor'),
'formSettingsAlignmentCenter': _x('center', 'An alignment value for form editor'),
'formSettingsAlignmentRight': _x('right', 'An alignment value for form editor'),
'formSettingsBorder': _x('Border', 'A label for checkbox in form style settings'),
'formSettingsApplyToAll': __('Apply styles to all inputs'),
'formSettingsWidth': _x('Form width', 'A label for form width settings'),
'customFieldSettings': _x('Custom field settings', 'A settings section heading'),
'customFieldsFormSettings': _x('Form settings', 'A settings section heading'),
'formPlacement': _x('Form Placement', 'A settings section heading'),
'formPlacementLabel': _x('Form placement', 'A label for a select box'),
'customCss': _x('Custom CSS', 'A settings section heading'),
'formSaved': __('Form saved.'),
'formSavedAppendix': __('Cookies reset — you will see all your dismissed popup forms again.'),
'customFieldSaved': __('Custom field saved.'),
'placeFixedBarFormOnPages': _x('Fixed bar', 'This is a text on a widget that leads to settings for form placement - form type is fixed bar'),
'placeFixedBarFormOnPagesDescription': __('Display your form in a fixed horizontal bar at the top or bottom of posts or pages.'),
'placeSlideInFormOnPages': _x('Slide–in', 'This is a text on a widget that leads to settings for form placement - form type is slide in'),
'placeSlideInFormOnPagesDescription': __('Display your form in a slide–in form on top of your page content.'),
'placePopupFormOnPages': _x('Pop-up', 'This is a text on a widget that leads to settings for form placement - form type is pop-up, it will be displayed on page in a small modal window'),
'placePopupFormOnPagesDescription': __('Display your form in a pop-up window.'),
'exitIntentTitle': __('Display on exit-intent'),
'exitIntentDescription': __('Show the form immediately if the visitor attempts to leave the site.'),
'exitIntentSwitch': __('Exit-intent display'),
'placeFormBellowPages': _x('Below pages', 'This is a text on a widget that leads to settings for form placement'),
'placeFormBellowPagesDescription': __('This form placement allows you to add this form at the end of all the pages or posts, below the content.'),
'placeFormOnAllPages': _x('Display on all pages', 'This is a text on a switch if a form should be displayed bellow all pages'),
'placeFormOnAllPosts': _x('Display on all posts/products', 'This is a text on a switch if a form should be displayed bellow all posts'),
'placeFormOthers': _x('Others (widget)', 'Placement of the form using theme widget'),
'formPlacementDelay': _x('Display with a delay of', 'Label on a selection of different times'),
'formPlacementPlacementPosition': _x('Position', 'Placement of a fixed bar form, on top of the page or on the bottom'),
'formPlacementPlacementPositionTop': _x('top', 'Placement of a fixed bar form, on top of the page or on the bottom'),
'formPlacementPlacementPositionBottom': _x('bottom', 'Placement of a fixed bar form, on top of the page or on the bottom'),
'formPlacementPlacementPositionLeft': _x('left', 'Placement of a slide in form, on the left or right side of the page'),
'formPlacementPlacementPositionRight': _x('right', 'Placement of a slide in  form, on the left or right side of the page'),
'formPlacementDelaySeconds': _x('%1s sec', 'times selection should be in the end "30 sec"'),
'formPlacementCookieExpiration': _x('Show form every', 'Label on a selection of different times'),
'formPlacementCookieExpirationAlways': _x('Always', 'times selection'),
'formPlacementCookieExpirationDay': _x('1 day', 'times selection should be in the end "1 day"'),
'formPlacementCookieExpirationDays': _x('%1s days', 'times selection should be in the end "7 days"'),
'formPlacementSave': _x('Close', 'Text on a button to save and close a form'),
'formPlacementOtherLabel': _x('Shortcode & other', 'Label in the form placement section (Other form placements)'),
'animationHeader': __('Show animation on display'),
'animationNone': _x('No Animation', 'Value in a selectbox with a list of animations'),
'addFormWidgetHint': __('You can add this form to a [link]widget area of your theme[/link] (new tab).'),
'addFormShortcodeHint': __('Or in any page or post as a block, or with this shortcode if you prefer [shortcode].'),
'addFormPhpIframeHint': __('Use [link]PHP[/link] or [link]iFrame[/link].'),
'settingsListLabel': __('This form adds the subscribers to these lists'),
'settingsAfterSubmit': __('After submit…'),
'settingsShowMessage': __('Show message'),
'settingsGoToPage': __('Go to Page'),
'settingsPleaseSelectList': __('Please select a list'),
'fieldsBlocksCategory': __('Fields'),
'customFieldsBlocksCategory': __('Custom Fields'),
'layoutBlocksCategory': __('Layout'),
'customFieldNumberOfLines': __('Number of lines'),
'customFieldSaveCTA': _x('Update custom field', 'Text on the save button'),
'customFieldDeleteCTA': _x('Delete this custom field', 'Text on the delete button'),
'customFieldDeleteConfirm': __('This field will be deleted for all your subscribers. Are you sure?'),
'customFieldTypeText': __('Text Input'),
'customFieldTypeTextarea': __('Text Area'),
'customFieldTypeRadio': __('Radio buttons'),
'customFieldTypeCheckbox': __('Checkbox'),
'customFieldTypeSelect': _x('Select', 'Form input type'),
'selectPage': _x('Select', 'It is a placeholder in the select box - verb'),
'displayOnCategories': __('Display on posts with these categories'),
'displayOnTags': __('Display on posts with these tags'),
'customFieldTypeDate': __('Date'),
'customFieldDateType': __('Type of date'),
'customFieldDateFormat': __('Order'),
'customFieldDefaultToday': __('Preselect today’s date'),
'customFieldDay': __('Day'),
'customFieldMonth': __('Month'),
'customFieldYear': __('Year'),
'customField1Line': _x('1 line', 'Number of rows in textarea'),
'customField2Lines': _x('2 lines', 'Number of rows in textarea'),
'customField3Lines': _x('3 lines', 'Number of rows in textarea'),
'customField4Lines': _x('4 lines', 'Number of rows in textarea'),
'customField5Lines': _x('5 lines', 'Number of rows in textarea'),
'customFieldValidateFor': __('Validate for'),
'customFieldValidateNothing': __('Nothing'),
'customFieldValidateNumbersOnly': __('Numbers only'),
'customFieldValidateAlphanumerical': __('Alphanumerical'),
'customFieldValidatePhoneNumber': __('Phone number, (+,-,#,(,) and spaces allowed)'),
'customFieldAddItem': __('Add item'),
'blockMandatory': __('Mandatory field'),
'blockFirstName': __('First name'),
'blockFirstNameDescription': __('Input field used to catch subscribers’ first names.'),
'blockLastName': __('Last name'),
'blockLastNameDescription': __('Input field used to catch subscribers’ last names.'),
'blockSegmentSelect': __('List selection'),
'blockLastNameDescription': __('Allow your subscribers to select which list(s) they want to subscribe to.'),
'blockSegmentSelectLabel': __('Select list(s):'),
'blockSegmentSelectNoLists': __('Please select at least one list'),
'blockSegmentSelectListLabel': __('Select the segment that you want to add'),
'blockEmail': __('Email'),
'blockEmailDescription': __('Input field used to catch subscribers’ email addresses.'),
'blockSubmit': __('Submit button'),
'blockSubmitDescription': __('Button used to submit the form.'),
'blockSubmitLabel': _x('Subscribe!', 'a default value for a subscription form button'),
'missingObligatoryBlock': __('Email input or submit is missing. Try reloading the form editor.'),
'label': _x('Label', 'settings for a label of an input'),
'displayLabelWithinInput': __('Display label within input'),
'displayLabel': _x('Display label', 'Settings - if label should be displayed'),
'blockDivider': _x('Divider / Spacer', 'The name of the block in the editor'),
'blockCustomHtml' : __('Custom HTML'),
'blockCustomHtmlDescription': __('Display custom text or HTML code in your form.'),
'blockCustomHtmlDefault': __('Subscribe to our newsletter and join [mailpoet_subscribers_count] other subscribers.'),
'blockCustomHtmlContentLabel': _x('Custom text', 'Textarea label'),
'blockCustomHtmlNl2br': __('Automatically add paragraphs'),
'blockAddCustomField': __('Create Custom Field'),
'blockAddCustomFieldDescription': __('Create a new custom field for your subscribers.'),
'blockAddCustomFieldFormHeading': __('New Custom Field.'),
'blockCreateButton': _x('Create', 'Label on form submit button.'),
'customFieldName': _x('Field name', 'Label for form field for custom input name'),
'selectCustomFieldType': _x('Select a field type', 'Label for form field for custom input type'),
'customFieldWithNameExists': __('The custom field [name] already exists. Please choose another name.'),
'successMessage': __('This is what the success message looks like.'),
'errorMessage': __('This is what the error message looks like.'),
'formPreview': __('Form Preview'),
'formSettingsStylesFontFamily': __('Font Family'),
'formFontsDefaultTheme': __('Theme’s default fonts'),
'formFontsStandard': _x('Standard fonts', 'Heading in the font selection list: Arial, Times, ...'),
'formFontsCustom': _x('Custom fonts', 'Heading in the font selection list for a list of custom fonts'),
'blockSpacerHeight': _x('Height', 'Settings in the spacer block'),
'blockSpacerEnableDivider': _x('Enable Divider', 'Settings in the spacer block'),
'imagePlacementScale': _x('Scale', 'How a background image will be rendered: scale, fit or tile'),
'imagePlacementFit': _x('Fit', 'How a background image will be rendered: scale, fit or tile'),
'imagePlacementTile': _x('Tile', 'How a background image will be rendered: scale, fit or tile'),
'blockDividerStyle': _x('Divider Style', 'Settings in the divider block (solid, dotted, …)'),
'blockDividerStyleSolid': _x('Solid', 'Setting in the divider block'),
'blockDividerStyleDashed': _x('Dashed', 'Setting in the divider block'),
'blockDividerStyleDotted': _x('Dotted', 'Setting in the divider block'),
'blockDividerDividerHeight': _x('Divider Height', 'Settings in the divider block'),
'blockDividerDividerWidth': _x('Divider Width', 'Settings in the divider block'),
'blockDividerBackground': _x('Background', 'Settings in the divider block'),
'validationMessageColor': _x('Message Color', 'heading above the settings'),
'successValidationColorTitle': _x('Success', 'A label for the success message color'),
'errorValidationColorTitle': _x('Error', 'A label for the error message color'),
'formPreviewDesktop': _x('Desktop', 'Desktop browser preview mode'),
'formPreviewMobile': _x('Mobile', 'Mobile browser preview mode'),
'formPreviewOthersDisclaimer': __('Psssst. We try our best to show you what the widget might look like, but better check the final result on your website.'),
'formPreviewMobileDisclaimer': __('Psssst. Forms on mobile appear smaller automatically because it’s better for SEO.'),
'closeButtonHeading': __('Close Button Style'),
'tutorialHeading': __('A video tour of the form editor'),
'noName': _x('no name', 'fallback for forms without a name in a form list'),
'saveFormFirst': __('Please save the form first!'),
'addNewTag': __('Add New Tag'),
}) %>

<%= localize({
'pageTitle': __('Lists'),
'searchLabel': __('Search'),
'loadingItems': __('Loading lists...'),
'noItemsFound': __('No lists found'),
'selectAllLabel': __('All lists on this page are selected.'),
'selectedAllLabel': __('All %d lists are selected.'),
'selectAllLink': __('Select all lists on all pages'),
'clearSelection': __('Clear selection'),
'permanentlyDeleted': __('%d lists were permanently deleted.'),
'selectBulkAction': __('Select bulk action'),
'bulkActions': __('Bulk Actions'),
'apply': __('Apply'),
'name': __('Name'),
'description': __('Description'),
'segmentUpdated': __('List successfully updated!'),
'segmentAdded': __('List successfully added!'),
'segment': __('List'),
'subscribed': __('Subscribed'),
'unconfirmed': __('Unconfirmed'),
'unsubscribed': __('Unsubscribed'),
'inactive': __('Inactive'),
'bounced': __('Bounced'),
'createdOn': __('Created on'),
'oneSegmentTrashed': __('1 list was moved to the trash. Note that deleting a list does not delete its subscribers.'),
'multipleSegmentsTrashed': __('%1$d lists were moved to the trash. Note that deleting a list does not delete its subscribers.'),
'oneSegmentDeleted': __('1 list was permanently deleted. Note that deleting a list does not delete its subscribers.'),
'multipleSegmentsDeleted': __('%1$d lists were permanently deleted. Note that deleting a list does not delete its subscribers.'),
'oneSegmentRestored': __('1 list has been restored from the Trash.'),
'multipleSegmentsRestored': __('%1$d lists have been restored from the Trash.'),
'duplicate': __('Duplicate'),
'listDuplicated': __('List "%1$s" has been duplicated.'),
'update': __('Update'),
'forceSync': __('Force Sync'),
'readMore': __('Read More'),
'listSynchronized': __('List "%1$s" has been synchronized.'),
'listSynchronizationWasScheduled': __('Synchronization of the "%1$s" list started. It can take several minutes to finish.'),
'viewSubscribers': __('View Subscribers'),
'new': __('New List'),
'newSegment': __('New Segment'),
'edit': __('Edit'),
'trash': __('Trash'),
'moveToTrash': __('Move to trash'),
'emptyTrash': __('Empty Trash'),
'selectAll': __('Select All'),
'restore': __('Restore'),
'deletePermanently': __('Delete permanently'),
'save': __('Save'),
'trashAndDisable': __('Trash and disable'),
'restoreAndEnable': __('Restore and enable'),
'listScore': __('List score'),

'previousPage': __('Previous page'),
'firstPage': __('First page'),
'nextPage': __('Next page'),
'lastPage': __('Last page'),
'currentPage': __('Current page'),
'pageOutOf': __('of'),
'numberOfItemsSingular': __('1 item'),
'numberOfItemsMultiple': __('%1$d items'),

'segmentDescriptionTip': __('This text box is for your own use and is never shown to your subscribers.'),
'backToList': __('Back'),

'showInManageSubscriptionPage': __('List visibility'),
'showInManageSubscriptionPageTip': __('Show this list on the "Manage Subscription" page'),

'subscribersInPlanCount': _x('%1$d / %2$d', 'count / total subscribers'),
'subscribersInPlan': _x('%s subscribers in your plan', 'number of subscribers in a sending plan'),
'subscribersInPlanTooltip': __('This is the total of subscribed, unconfirmed and inactive subscribers we count when you are sending with MailPoet Sending Service. The count excludes unsubscribed and bounced (invalid) email addresses.'),

'mailpoetSubscribers': _x('%s MailPoet subscribers', 'number of subscribers in the plugin'),
'mailpoetSubscribersTooltipFree': __('This is the total of all subscribers including %1$d WordPress users. To exclude WordPress users, please purchase one of our premium plans.'),
'mailpoetSubscribersTooltipPremium': __('This is the total of all subscribers excluding all WordPress users.'),

'pageTitleSegments': __('Segments'),
'formPageTitle': __('Segment'),
'formSegmentTitle': __('Segment'),
'descriptionTip': __('This text box is for your own use and is never shown to your subscribers.'),
'dynamicSegmentUpdated': __('Segment successfully updated!'),
'dynamicSegmentAdded': __('Segment successfully added!'),
'segmentType': __('Type'),
'wpUserRole': __('Subscriber'),
'email': __('Email'),
'nameColumn': __('Name'),
'subscribersCountColumn': __('Number of subscribers'),
'updatedAtColumn': __('Modified on'),
'missingPluginMessageColumn': __('Missing plugin message'),
'loadingDynamicSegmentItems': __('Loading data…'),
'noDynamicSegmentItemsFound': __('No segments found'),
'numberOfItemsSingular': __('1 item'),
'numberOfItemsMultiple': __('%1$d items'),
'previousPage': __('Previous page'),
'firstPage': __('First page'),
'nextPage': __('Next page'),
'lastPage': __('Last page'),
'currentPage': __('Current page'),
'pageOutOf': _x('of', 'Page X of Y'),
'notSentYet': __('Not sent yet'),
'allLinksPlaceholder': __('All links'),
'noLinksHint': __('Email not sent yet!'),
'selectNewsletterPlaceholder': __('Search emails'),
'selectActionPlaceholder': __('Select action'),
'selectUserRolePlaceholder': __('Search user roles'),
'selectCustomFieldPlaceholder': __('Select custom field'),
'emailActionOpened': _x('opened', 'Dynamic segment creation: when newsletter was opened'),
'emailActionMachineOpened': _x('machine-opened', 'Dynamic segment creation: list of all subscribers that opened the newsletter automatically in the background'),
'emailActionOpensAbsoluteCount': __('# of opens'),
'emailActionMachineOpensAbsoluteCount': __('# of machine-opens'),
'emailActionOpens': __('opens'),
'emailActionDays': __('days'),
'emailActionOpensSentence': _x('{condition} {opens} opens', 'The result will be "more than 20 opens"'),
'emailActionOpensDaysSentence': _x('in the last {days} days', 'The result will be "in the last 5 days"'),
'moreThan': __('more than'),
'lessThan': __('less than'),
'higherThan': __('higher than'),
'lowerThan': __('lower than'),
'equals': __('equals'),
'notEquals': __('not equals'),
'contains': __('contains'),
'value': __('value'),
'selectValue': __('Select value'),
'checked': __('checked'),
'unchecked': __('unchecked'),
'unknown': __('unknown'),
'notUnknown': __('not unknown'),

'before': _x('before', 'Meaning: "Subscriber subscribed before April"'),
'after': _x('after', 'Meaning: "Subscriber subscribed after April'),
'on': _x('on', 'Meaning: "Subscriber subscribed on a given date"'),
'notOn': _x('not on', 'Meaning: "Subscriber subscribed on a date other than the given date"'),
'inTheLast': _x('in the last', 'Meaning: "Subscriber subscribed in the last 3 days"'),
'notInTheLast': _x('not in the last', 'Meaning: "Subscriber subscribed not in the last 3 days"'),

'emailActionNotOpened': _x('not opened', 'Dynamic segment creation: when newsletter was not opened'),
'emailActionClicked': _x('clicked', 'Dynamic segment creation: when a newsletter link was clicked'),
'emailActionClickedAnyEmail': _x('clicked any email', 'Dynamic segment creation: when a newsletter link in any email was clicked'),
'emailActionNotClicked': _x('not clicked', 'Dynamic segment creation: when a newsletter link was not clicked'),
'searchLabel': __('Search'),
'segmentsTip': _x('Tip', 'A note about dynamic segments usage'),
'segmentsTipText': __('segments allow you to group your subscribers by other criteria, such as events and actions.'),
'segmentsTipLink': __('Read more.'),
'subscribedDate': __('subscribed date'),
'subscriberScore': _x('score', 'Subscriber engagement score'),
'subscriberScorePlaceholder': _x('score', 'Placeholder for input: subscriber engagement score'),
'subscriberScoreSentence': _x('{condition} {score} %', 'The result will be "higher than 20 %"'),
'subscribedToList': __('subscribed to list'),
'segmentsSubscriber': __('WordPress user role'),
'mailpoetCustomField': __('MailPoet custom field'),
'segmentsActiveMembership': __('is member of'),
'woocommerceMemberships': _x('WooCommerce Memberships', 'Dynamic segment creation: User selects this to use any WooCommerce Memberships filters'),
'selectWooMembership': __('Search membership plans'),
'segmentsActiveSubscription': __('has active subscription'),
'woocommerceSubscriptions': _x('WooCommerce Subscriptions', 'Dynamic segment creation: User selects this to use any WooCommerce Subscriptions filters'),
'selectWooSubscription': __('Search subscriptions'),
'searchLists': __('Search lists'),
'subscriberTag': _x('tag', 'Subscriber tag'),
'searchTags': _x('Search tags'),

'anyOf': __('any of'),
'allOf': __('all of'),
'noneOf': __('none of'),

'oneDynamicSegmentTrashed': __('1 segment was moved to the trash.'),
'multipleDynamicSegmentsTrashed': __('%1$d segments were moved to the trash.'),
'oneDynamicSegmentRestored': __('1 segment has been restored from the Trash.'),
'multipleDynamicSegmentsRestored': __('%1$d segments have been restored from the Trash.'),
'multipleDynamicSegmentsDeleted': __('%1$d segments were permanently deleted.'),
'oneDynamicSegmentDeleted': __('1 segment was permanently deleted.'),

'wooNumberOfOrders': __('# of orders'),
'moreThan': __('more than'),
'lessThan': __('less than'),
'wooNumberOfOrdersCount': __('count'),
'daysPlaceholder': __('days'),
'days': _x('days', 'Appears together with `inTheLast` when creating a new WooCommerce segment based on the number of orders.'),
'inTheLast': _x('in the last', 'Appears together with `days` when creating a new WooCommerce segment based on the number of orders.'),
'wooNumberOfOrdersOrders': __('orders'),
'wooPurchasedCategory': __('purchased in category'),
'wooPurchasedProduct': __('purchased product'),
'wooTotalSpent': __('total spent'),
'wooCustomerInCountry': __('is in country'),
'wooTotalSpentAmount': __('amount'),
'selectWooPurchasedCategory': __('Search categories'),
'selectWooPurchasedProduct': __('Search products'),
'selectWooCountry': __('Search countries'),
'woocommerce': _x('WooCommerce', 'Dynamic segment creation: User selects this to use any woocommerce filters'),

'dynamicSegmentSizeIsCalculated': __('Calculating segment size…'),
'dynamicSegmentSizeCalculatingTimeout': __("It's taking longer than usual to generate the segment, which may be due to a complex configuration. Try using fewer or simpler conditions."),
'dynamicSegmentSize': __('This segment has %1$d subscribers.'),
'learnMore': __('Learn more.'),

'unknownBadgeName': __('Unknown'),
'unknownBadgeTooltip': __('Not enough data.'),
'tooltipUnknown': __('Fewer than 3 emails sent'),
'excellentBadgeName': __('Excellent'),
'excellentBadgeTooltip': __('Congrats!'),
'tooltipExcellent': __('50% or more'),
'goodBadgeName': __('Good'),
'goodBadgeTooltip': __('Good stuff.'),
'tooltipGood': __('between 20 and 50%'),
'averageBadgeName': __('Low'),
'averageBadgeTooltip': __('Something to improve.'),
'tooltipAverage': __('20% or fewer'),
'engagementScoreDescription': __('Average percent of emails subscribers read in the last year'),
'addCondition': __('Add a condition'),

'subscribersCountWereCalculatedWithMinutesAgo': __('Lists and Segments subscribers counts were calculated <abbr>{$mins} minutes ago</abbr>'),
'recalculateNow': __('Recalculate now'),
'privacyProtectionNotice': __('Due to email privacy protections, some opens may not be tracked. Consider using a different engagement metric.'),

'premiumFeature': __('This is a Premium feature'),
'premiumFeatureMultipleConditions': __('Your current MailPoet plan does not support advanced segments with multiple conditions. Upgrade to the MailPoet Business plan to more precisely target your emails based on how people engage with your business. [link]Learn more.[/link]'),
'premiumBannerCtaFree': __('Upgrade'),
'premiumFeatureDescription':  __('Your current MailPoet plan includes advanced features, but they require the MailPoet Premium plugin to be installed and activated.'),
'premiumFeatureButtonDownloadPremium':  __('Download MailPoet Premium plugin'),
'premiumFeatureButtonActivatePremium':  __('Activate MailPoet Premium plugin'),
'premiumFeatureDescriptionSubscribersLimitReached':  __('Congratulations, you now have [subscribersCount] subscribers! Your plan is limited to [subscribersLimit] subscribers. You need to upgrade now to be able to continue using MailPoet.'),
'premiumFeatureButtonUpgradePlan':  __('Upgrade your plan'),
}) %>

<%= localize({
'allConditions': _x('<strong>All</strong> of the following conditions', 'Dynamic segment creation: The user can select join between condition when he has more than one'),
'anyConditions': _x('<strong>Any</strong> of the following conditions', 'Dynamic segment creation: The user can select join between condition when he has more than one'),
'filterConnectAnd': _x('and', 'Dynamic segment creation: The user can see logical operator between condition when has more than one'),
'filterConnectOr': _x('or', 'Dynamic segment creation: The user can see logical operator between condition when has more than one'),
}) %>

