.mailpoet_button_block {
  .mailpoet_editor_button {
    box-sizing: border-box;
    display: block;
    line-height: 2em;
    margin: auto;
    max-width: 100%;
    text-align: center;
    text-decoration: none;

    &:hover {
      cursor: all-scroll;
    }
  }
}
