@import '../colors';
@import 'mixins';

.mailpoet-analytics-main-value {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 4px;
}

.mailpoet-analytics-badge {
  font-weight: 600;
}

.mailpoet-analytics-badge-text {
  @include badge;
}

.mailpoet-automation-analytics-email-name {
  max-width: 300px;
}

.mailpoet-automation-analytics-email-clicked {
  font-weight: 600;
}

.mailpoet-analytics-badge-success {
  color: $color-gutenberg-alert-green;

  .mailpoet-analytics-badge-text {
    background: $color-wp-green-0;
    color: $color-wp-green-60;
  }
}

.mailpoet-analytics-badge-warning {
  color: $color-wp-yellow-50;

  .mailpoet-analytics-badge-text {
    background: $color-wp-yellow-0;
    color: $color-wp-yellow-60;
  }
}

.mailpoet-automation-analytics-table-subvalue {
  color: $color-gutenberg-grey-600;
  font-size: 12px;
  margin: 0;
}

.mailpoet-analytics-email-actions {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: end;
}
