@import '../../components-automation/colors';

.mailpoet-analytics-main-value {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 4px;
}

.mailpoet-automation-analytics-email-name {
  max-width: 300px;
}

.mailpoet-automation-analytics-email-clicked {
  font-weight: 600;
}

.mailpoet-automation-analytics-table-subvalue {
  color: $color-gutenberg-grey-600;
  font-size: 12px;
  margin: 0;
}

.mailpoet-analytics-email-actions {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: end;
}
