@import '../../components-automation/colors';

.mailpoet-analytics-tabs {
  background: $color-white;
  border: 1px solid $color-grey;

  .components-tab-panel__tabs-item.is-active {
    box-shadow: inset 0 -4px 0 0 var(--wp-admin-theme-color);
  }

  .components-tab-panel__tabs {
    border-bottom: 1px solid $color-grey;
  }

  .components-tab-panel__tab-content {
    padding: 0;
  }

  .woocommerce-table {
    box-shadow: none;
    margin-bottom: 0;

    /** Remove table header */
    .components-card-header {
      display: none;
    }
  }
}

.mailpoet-automation-analytics .woocommerce-summary__item {
  box-sizing: border-box;
}
