@import '../../components-automation/colors';

.mailpoet-analytics-tab-orders,
.mailpoet-analytics-tab-subscribers {
  color: $color-gutenberg-grey-600;
}

.mailpoet-analytics-filter {
  .is-loading {
    background: $color-gutenberg-grey-100;
    height: 20px;
    max-width: 200px;
    width: 45%;
  }
}

.mailpoet-automation-analytics .woocommerce-table__item {
  a.mailpoet-analytics-orders__customer {
    align-items: flex-start;
    display: flex;
    flex: 1 0 0;
    gap: 8px;

    img {
      border-radius: 50%;
    }
  }

  .mailpoet-automations-analytics-order-products {
    align-items: center;
    column-gap: 8px;
    display: flex;
    flex-wrap: wrap;

    .quantity {
      color: $color-gutenberg-grey-700;
    }

    .woocommerce-view-more-list {
      margin: 0;
      padding: 0;

      button {
        background: transparent;
        border-radius: 0;
        color: $color-gutenberg-grey-700;
        height: auto;
        line-height: inherit;
        margin: 0;
        overflow: visible;
        padding: 0;
        text-decoration: underline dotted;
      }
    }
  }
}

.mailpoet-analytics-upgrade-banner {
  margin: 24px;

  .components-notice__content {
    margin: 0;
  }

  .mailpoet-analytics-upgrade-banner__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
