@import '../../components-automation/colors';

.mailpoet-analytics-clear-filters {
  margin-right: 8px;
}

.mailpoet-analytics-filter {
  align-items: end;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.mailpoet-analytics-filter-controls {
  display: flex;
  gap: 8px;

  .components-base-control__field {
    margin-bottom: 0;
  }
}

.mailpoet-analytics-subscribers-step-cell {
  column-gap: 8px;
  display: grid;
  grid-template-columns: 20px 1fr;

  .mailpoet-automation-colored-icon {
    padding: 2px;
  }

  p {
    margin: 0;
  }

  span {
    color: $color-gutenberg-grey-600;
    font-size: 11px;
    grid-column-start: 2;
  }
}
