<div class="handlediv" title="Click to toggle"><br></div>
<h3><%= __('Preview') %></h3>
<div class="mailpoet_region_content">
    <div class="mailpoet_form_field">
        <label>
            <%= __('Send preview to') %><br />
            <input id="mailpoet_preview_to_email" class="mailpoet_input mailpoet_input_full" type="text" name="to_email" value="<%= settings.sender.address %>" />
        </label>
    </div>

    <div class="mailpoet_form_field">
        <input type="button" id="mailpoet_send_preview" class="button button-primary mailpoet_button_full" value="<%= __('Send preview') %>" />
    </div>

    <hr class="mailpoet_separator" />

    <input type="button" name="preview" class="button button-primary mailpoet_button_full mailpoet_show_preview" value="<%= __('View in browser') %>" />
</div>
