@mixin animation-slide-open-downwards($max-height: 2000px) {
  max-height: $max-height;
  opacity: 1;
  overflow-y: inherit;
  transition: all 250ms cubic-bezier(.42, 0, .58, 1); /* ease-in-out */

  &.mailpoet_closed {
    max-height: 0;
    opacity: 0;
  }
}

@mixin animation-background-color() {
  transition: background 250ms cubic-bezier(.42, 0, .58, 1); /* ease-in-out */
}

@mixin animation-fade-in() {
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
}

@mixin animation-fade-in-and-scale-horizontally() {
  transition: all 250ms cubic-bezier(.42, 0, .58, 1); /* ease-in-out */
}

@keyframes fadeIn {
  0% { opacity: .3; }
  100% { opacity: 1; }
}
