@mixin full-width-background($background) {
  z-index: 0;

  &:before {
    background: $background;
    content: '';
    inset: (-$grid-gap-large) -100vw;
    position: absolute;
    z-index: -1;
  }
}
