<p><%= __('Howdy,') %>

<p><%= __('The subscriber %$1s has just subscribed to your list %$2s!')
  |replace({'%$1s': subscriber_email, '%$2s': segments_names})
  %>

<p><%= __('Cheers,') %>

<p><%= __('The MailPoet Plugin') %>

<p><small><%= __('You can disable these emails in your [link]MailPoet Settings.[/link]'
  |replaceLinkTags(link_settings)
  ) %></small>

<# date('-1hour') is here to get today's date, this is the only way that worked for me #>
<% if date('-1hour') < date('2018-11-12') %>
  <p>
    <small>
      <%= __('PS. MailPoet annual plans are nearly half price for a limited time.
      [link]Find out more in the Premium page in your admin.[/link]'
      |replaceLinkTags(link_premium)
      ) %>
  </small>
<% endif %>
