<style type="text/css" id="mailpoet_form_preview_styles">{{{ css }}}</style>
<div class="mailpoet_form">
  <div class="mailpoet_message">
    <p class="mailpoet_validate_success"><%= __('This is a success message.') %></p>
    <p class="mailpoet_validate_error"><%= __('This is an error message.') %></p>
  </div>
  {{{ html }}}
</div>
