.mailpoet_block,
.mailpoet_woocommerce_heading_block {
  background-color: inherit;
  box-sizing: border-box;
  float: left;
  padding: 10px 20px;
  position: relative;

  > .mailpoet_block_highlight {
    border: 2px solid $color-transparent;
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: .3s;
    z-index: 1;
  }

  &.mailpoet_highlight > .mailpoet_block_highlight {
    border: 2px solid $color-editor-background-content !important;
  }

  > .mailpoet_container_horizontal ~ .mailpoet_block_highlight {
    bottom: -2px;
    left: -2px;
    right: -2px;
    top: -2px;
  }

  &.mailpoet_highlight > .mailpoet_container_horizontal ~ .mailpoet_block_highlight {
    border: 2px solid $color-editor-background-column !important;
  }
}

.mailpoet_content {
  line-height: $editor-line-height;
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-style: normal;
    font-weight: normal;
    line-height: $editor-line-height;
    margin: 0 0 .3em;
    padding: 0;
  }

  p:not(.mailpoet_wp_post) {
    margin: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }

  p {
    font-style: normal;
    font-weight: normal;
    line-height: $editor-line-height;
  }

  ul {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
  }

  li {
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 0;
  }

  blockquote {
    border-left: 2px #565656 solid;
    margin: 0 0 $editor-line-height;
    padding-left: 10px;
  }
}
