.mailpoet_divider_block {
  cursor: all-scroll;
  padding: 0;
}

.mailpoet_divider {
  margin-left: 20px;
  margin-right: 20px;
}

.mailpoet_field_divider_style {
  border: 1px solid transparent;
  display: block;
  margin: auto;
  max-width: $grid-editor-width;
  padding: 10px 0;
  width: 100%;

  &:hover {
    border: 1px solid $editor-divider-border-color-hover;
  }
}

.mailpoet_active_divider_style {
  background: $editor-divider-background-color;
  border: 1px solid $editor-divider-border-color;
}

.mailpoet_divider_selector img {
  width: 100%;
}
