.mailpoet_woocommerce_heading_overlay {
  background: rgba(255, 255, 255, .7);
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity .15s ease-out;
  width: 100%;
  z-index: 1;

  &:hover {
    opacity: 1;
  }

  p {
    color: black;
    font-size: 20px;
    text-align: center;
  }
}

.mailpoet_woocommerce_heading_block {
  padding: 0 !important;
}
