@import '~@wordpress/base-styles/colors';

// Specific styles for the component EmailTypeInfo
// Styles are based on the Block Card component from Gutenberg block editor
.mailpoet-email-sidebar__email-type-info {
  .components-panel__row {
    align-items: flex-start;
  }

  .mailpoet-email-type-info__icon {
    flex: 0 0 24px;
    margin-left: 0;
    margin-right: 12px;
  }

  .mailpoet-email-type-info__content {
    flex-grow: 1;
    margin-bottom: 4px;

    h2 {
      font-size: 13px;
      line-height: 24px;
      margin: 0 0 4px;
    }

    span {
      font-size: 13px;
    }
  }
}

.mailpoet-email-editor__settings-panel {
  .mailpoet-settings-panel__subject .components-base-control__label {
    width: 100%;

    .components-external-link {
      float: right;
    }
  }

  .mailpoet-settings-panel__help {
    margin-bottom: 20px;

    .components-text {
      color: #757575;
    }
  }

  .mailpoet-settings-panel__preview-text .components-base-control__label {
    width: 100%;
  }

  .mailpoet-settings-panel__preview-text-length {
    color: $black;
    display: inline-block;
    float: right;
    padding: 3px;
  }

  .mailpoet-settings-panel__preview-text-length-warning {
    color: $alert-yellow;
  }

  .mailpoet-settings-panel__preview-text-length-error {
    color: $alert-red;
  }
}

.edit-post-visual-editor__content-area {
  display: block; // Override flex to achieve height follow the length of the document

  // Because block editor uses .has-background class after setting a background color
  // we want to reset margin and padding for this class to avoid unexpected spacing
  .has-background {
    margin: 0;
    padding: 0;
  }

  // Set default padding-left to have consistent default look in editor and in email
  // This also overrides the default values in browsers for padding-inline-start
  ul,
  ol,
  ul.has-background,
  ol.has-background {
    padding-left: 40px;
  }
}

// For the WYSIWYG experience we don't want to display any margins between blocks in the editor
.wp-block {
  clear: both; // for ensuring that floated elements (images) are cleared
  margin: 0;
}

.edit-post-visual-editor__content-area .is-mobile-preview {
  .wp-block-columns {
    display: flex;
    flex-direction: column;

    .wp-block-column {
      box-sizing: border-box;
      // override flex-basis set in style attribute to fix the height of the column in mobile preview. Blocks overriding is as a part of style.css in blocks-library
      flex-basis: auto !important;
    }
  }
}
// Resetting the margin for images in the editor to avoid unexpected spacing
.editor-styles-wrapper .is-layout-constrained .wp-block-image {
  figcaption {
    margin: 0;
  }

  &.alignleft,
  &.alignright {
    margin-inline-end: 0;
    margin-inline-start: 0;
    text-align: center;
  }
}
