// Specific styles for the component EmailTypeInfo
// Styles are based on the Block Card component from Gutenberg block editor
.mailpoet-email-sidebar__email-type-info {
  .components-panel__row {
    align-items: flex-start;
  }

  .mailpoet-email-type-info__icon {
    flex: 0 0 24px;
    margin-left: 0;
    margin-right: 12px;
  }

  .mailpoet-email-type-info__content {
    flex-grow: 1;
    margin-bottom: 4px;

    h2 {
      font-size: 13px;
      line-height: 24px;
      margin: 0 0 4px;
    }

    span {
      font-size: 13px;
    }
  }
}

.mailpoet-email-editor__settings-panel {
  .mailpoet-settings-panel__subject .components-base-control__label {
    width: 100%;

    .components-external-link {
      float: right;
    }
  }

  .mailpoet-settings-panel__subject-help {
    margin-bottom: 20px;

    .components-text {
      color: #757575;
    }
  }

  .mailpoet-settings-panel__preview-text
    .components-base-control__label
    .mailpoet-preview-text__help-icon {
    position: relative;
    top: 6px;
  }
}

.edit-post-visual-editor__content-area {
  display: block; // Override flex to achieve height follow the length of the document
}

// For the WYSIWYG experience we don't want to display any margins between blocks in the editor
.wp-block {
  margin: 0;
}
