$range-border-radius: 3px;
$range-thumb-background-color: $color-primary-inactive;
$range-thumb-border-color: #333;
$range-thumb-height: 26px;
$range-thumb-hover-background-color: $color-primary;
$range-thumb-width: 13px;
$range-track-background-color: $color-white;
$range-track-border-color: $color-editor-border-structure;
$range-track-height: 12px;
