$font-size: 14px;
$font-size-small: 13px;
$font-size-extra-small: 12px;
$line-height: 1.4;

$heading-line-height: 1.25;
$heading-font-size-h0: 32px;
$heading-font-size-h1: 24px;
$heading-font-size-h2: 22px;
$heading-font-size-h3: 20px;
$heading-font-size-h4: 16px;
$heading-font-size-h5: 14px;
