.mailpoet_history_wrapper {
  display: flex;
  padding: 12px 20px;
}

.mailpoet_history_arrow {
  cursor: pointer;
  margin-right: 20px;

  svg {
    display: inline-block;
    height: 26px;
    stroke: $primary-active-color;
    vertical-align: top;
    width: 26px;
  }
}

.mailpoet_history_arrow_inactive {
  cursor: not-allowed;

  svg { stroke: $primary-inactive-color; }
}
