$select-border-color: $content-border-color;
$select-text-color: $primary-text-color;

$sidebar-background-color: $primary-background-color;
$sidebar-active-heading-color: $primary-active-color;
$sidebar-inactive-heading-color: $primary-inactive-color;
$sidebar-text-color: $primary-text-color;

$widget-width: 70px;
$widget-background-color: $white-color;
$widget-shadow-color: darken($primary-background-color, 13%);
$widget-icon-color: darken($primary-background-color, 31.5%);
$widget-icon-hover-color: $primary-active-color;
$widget-icon-width: 30px;

#mailpoet_editor_sidebar {
  border-bottom: $content-border-color;
  border-left: $content-border-color;
  color: $sidebar-text-color;
  font-size: $sidebar-text-size;

  .mailpoet_sidebar_region {
    border-bottom: 1px solid $content-border-color;
    border-left: 1px solid $content-border-color;
    border-right: 0;
    border-top: 0;
    margin-bottom: 0;

    &.closed .mailpoet_region_content {
      display: none;
    }
  }

  .mailpoet_region_content {
    margin-top: 12px;
    padding: 0 20px;
  }

  &,
  .postbox {
    background-color: $sidebar-background-color;
  }

  .postbox {
    padding-bottom: 20px;

    &.closed {
      padding-bottom: 0;
    }

    &.closed h3 {
      color: $sidebar-inactive-heading-color;
      cursor: pointer;
    }

    h3,
    &:hover h3 {
      color: $sidebar-active-heading-color;
      margin: 0;
      padding: 17px 20px;
      text-transform: uppercase;
    }

    h3,
    .handlediv {
      border: 0;
      cursor: auto;
    }

    .handlediv:before {
      color: $sidebar-active-heading-color;
      content: '\f142';
      display: inline-block;
      font: 400 20px / 1 dashicons;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      right: 18px;
      speak: none;
      text-decoration: none !important;
      top: 18px;
    }

    &.closed .handlediv:before {
      color: $sidebar-inactive-heading-color;
      content: '\f140';
    }

    &.closed:hover .handlediv:before {
      color: $sidebar-active-heading-color;
    }
  }
}

.mailpoet_widget {
  display: inline-block;
  float: left;
  padding: 0 13px 15px;
  text-align: center;
  width: $widget-width;

  &:nth-child(3n+1) {
    clear: left;
  }

  .mailpoet_widget_icon {
    background-color: $widget-background-color;
    border-radius: 3px;
    box-shadow: 1px 2px $widget-shadow-color;
    box-sizing: border-box;
    color: $widget-icon-color;
    fill: $widget-icon-color;
    height: $widget-width;
    line-height: $widget-width;
    margin-bottom: 9px;
    text-align: center;
    width: $widget-width;

    /* Vertically align widget icon glyphs */
    > * {
      font-size: $widget-icon-width;
      height: $widget-icon-width;
      vertical-align: middle;
      width: $widget-icon-width;
    }

    &:hover {
      border: 1px solid $widget-icon-hover-color;
      color: $widget-icon-hover-color;
      fill: $widget-icon-hover-color;
    }
  }

  &.mailpoet_droppable_active {
    color: $widget-icon-hover-color;
    fill: $widget-icon-hover-color;

    .mailpoet_widget_icon {
      border: 1px solid $widget-icon-hover-color;
      box-shadow: none;
      color: $widget-icon-hover-color;
      fill: $widget-icon-hover-color;
    }

    .mailpoet_widget_title {
      display: none;
    }
  }
}

/* Browser preview modal */
.mailpoet_browser_preview_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.mailpoet_browser_preview_link {
  position: absolute;
  top: -25px;
}

.mailpoet_popup .mailpoet_browser_preview_toggle {
  top: -30px;
}
