<% extends 'layout.html' %>

<% block title %>
  <h2 class="title">
    <span id="mailpoet_form_name"><%= form.form_name %></span>
    <input id="mailpoet_form_name_input" type="text" value="" style="display:none;" />
    <span>
      <a id="mailpoet_form_edit_name" class="button" href="javascript:;"><%= __('Edit name' ) %></a>
    </span>
  </h2>
<% endblock %>

<% block content %>
  <div id="mailpoet_form_wrapper" class="clearfix">
    <!-- Form Editor Container -->
    <div id="mailpoet_form_container">
      <!-- Form Editor -->
      <div id="mailpoet_form_editor">
          <div id="mailpoet_form_body"></div>
          <p id="block_placeholder" class="block_placeholder"></p>
      </div>

      <p class="submit">
        <a id="mailpoet_form_save" href="javascript:;" class="button button-primary" ><%= __('Save') %></a>
      </p>
    </div>

    <!-- Form Editor: Toolbar -->
    <div id="mailpoet_form_toolbar" style="visibility:hidden;">
      <div class="mailpoet_toolbar_section">
          <a href="javascript:;" class="mailpoet_toggle"><br /></a>
          <h3><%= __('Settings') %></h3>

          <div>
            <!-- Form settings -->
          <form id="mailpoet_form_settings" action="" method="POST">
            <div id="mailpoet_list_selection">
              <!-- Form settings: list selection -->
              <p>
              <strong><%= __('This form adds subscribers to these lists:') %></strong>
              </p>
              <select name="lists" data-placeholder="<%= __('Choose a list') %>" multiple>
                <option value="1" <% if 1 in form.data.settings.lists %>selected="selected"<% endif %>>My First list</option>
              </select>
              <!-- error if user tries to save and has not selected a list -->
              <p class="mailpoet_error" data-error="admin_no_list"><%= __('You have to select at least 1 list') %></p>
            </div>

            <div id="mailpoet_on_success">
              <!-- Form settings: after submit -->
              <p>
                <label><strong><%= __('After submit...') %></strong></label>
                <label>
                  <input class="mailpoet_radio" type="radio" name="on_success" value="message" /><%= __('Show message') %>
                </label>
                &nbsp;
                <label>
                  <input class="mailpoet_radio" type="radio" name="on_success" value="page" /><%= __('Go to page') %>
                </label>
              </p>
              <!-- default success message -->
              <% if form.data.settings.success_message %>
                <% set success_message = form.data.settings.success_message %>
              <% else %>
                <% set success_message = __('Check your inbox now to confirm your subscription.') %>
              <% endif %>

              <p id="mailpoet_on_success_message" class="mailpoet_on_success_option"><textarea name="success_message"><%= success_message %></textarea></p>
              <p id="mailpoet_on_success_page" class="mailpoet_on_success_option"><select name="success_page">
                <!-- $pages = get_pages() %>
                $success_page = (isset($form['data']['settings']['success_page']) && (int)$form['data']['settings']['success_page'] > 0) ? $form['data']['settings']['success_page'] : null;
                foreach($pages as $key => $page) {
                  print '<option value="'.$page->ID.'">'.$page->post_title.'</option>';
                }
 -->
              </select></p>
            </div>
          </form>
        </div>
        </div>

        <!-- Toolbar: Shortcodes / Export -->
        <div class="mailpoet_toolbar_section closed">
        <a href="javascript:;" class="mailpoet_toggle"><br /></a>
        <h3><%= __('Shortcodes') %></h3>

        <div>
          <!-- Form export links -->
          <p>
            <%= __("You can easily add this form to your theme's in the %sWidgets area%s")
              | format('<a href="widgets.php" target="_blank">', '</a>')
              | raw
            %>
         </p>
          <p>
            <%= __('%sHTML%s, %sPHP%s, %siframe%s and %sshortcode%s versions are also available.', 'wysija-newsletters')
              | format(
                '<a href="javascript:;" class="mailpoet_form_export_toggle" data-type="html">',
                '</a>',
                '<a href="javascript:;" class="mailpoet_form_export_toggle" data-type="php">',
                '</a>',
                '<a href="javascript:;" class="mailpoet_form_export_toggle" data-type="iframe">',
                '</a>',
                '<a href="javascript:;" class="mailpoet_form_export_toggle" data-type="shortcode">',
                '</a>'
              )
              | raw
            %>
         </p>

          <!-- Form export -->
          <div id="mailpoet_form_export"></div>
        </div>
        </div>

        <!-- Toolbar: Fields -->
      <div class="mailpoet_toolbar_section closed">
        <a href="javascript:;" class="mailpoet_toggle"><br /></a>
        <h3><%= __('Fields') %></h3>

        <div>
          <ul id="mailpoet_toolbar_fields">
          </ul>
            <p class="mailpoet_align_center">
                <a id="mailpoet_form_add_field" class="button button-primary" href="javascript:;" style="width:100%;"><%= __('Add New Field') %></a>
              </p>
          </div>

      </div>

      <!-- Toolbar: Styles -->
        <div class="mailpoet_toolbar_section closed">
          <a href="javascript:;" class="mailpoet_toggle"><br /></a>
          <h3><%= __('Styles') %></h3>
          <div>
            <textarea id="mailpoet_form_styles"><%= form.data.styles %></textarea>
          <br />
          <p class="mailpoet_align_center"><a id="mailpoet_form_preview" href="javascript:;" class="button button-primary" style="width:100%;"><%= __('Preview') %></a></p>
        </div>
        </div>

    <!-- End | Form Editor: Toolbar -->
    </div>

    <!-- Form Editor: History -->
    <div id="mailpoet_form_history"></div>
  </div>

  <%= javascript(
    'lib/prototype.min.js',
    'lib/select2.js',
    'lib/scriptaculous.min.js',
    'lib/codemirror/codemirror.js',
    'lib/codemirror/syntax_php.js',
    'lib/codemirror/syntax_css.js',
    'form_editor.js'
  )%>

  <%= stylesheet(
    'lib/select2/select2.css',
    'lib/codemirror/codemirror.css',
    'lib/codemirror/theme_neo.css'
  ) %>

  <script type="text/javascript">
    jQuery(function($) {
      $(function() {
        // load form
        WysijaForm.load(<%= form | json_encode | raw %>);

        // initialize list selector
        $('select[name="lists"]').select2({
          width:'100%'
        });
      });

      function mailpoet_form_fields(data) {
        var template = Handlebars.compile(jQuery('#form_template_fields').html());

        // render toolbar
        jQuery('#mailpoet_toolbar_fields').html(template(data));

        // enable code mirror editor on styles textarea
         MailPoet.CodeEditor = CodeMirror.fromTextArea(document.getElementById('mailpoet_form_styles'), {
          lineNumbers: true,
          tabMode: "indent",
            matchBrackets: true,
            theme: 'neo',
            mode: 'css',
        });
      }

      // form editor: default fields
      var default_fields = [
        {
          name: "<%= __('Divider') %>",
          field: 'divider',
          type: 'divider',
          multiple: true,
          readonly: true
        },
        {
          name: "<%= __('First name') %>",
          field: 'subscriber_firstname',
          type: 'input',
          params: {
            label: "<%= __('First name') %>",
            required: true
          },
          readonly: true
        },
        {
          name: "<%= __('Last name') %>",
          field: 'subscriber_lastname',
          type: 'input',
          params: {
            label: "<%= __('Last name') %>",
            required: true
          },
          readonly: true
        },
        {
          name: "<%= __('List selection') %>",
          field: 'list',
          type: 'list',
          params: {
            label: "<%= __('Select list(s):') %>",
            values: [ ] // default list
          },
          readonly: true
        },
        {
          name: "<%= __('Random text or HTML') %>",
          field: 'html',
          type: 'html',
          params: {
              text: "<%= __('Subscribe to our newsletter and join our [mailpoet_subscribers_count] subscribers.') %>"
          },
          multiple: true,
          readonly: true
        }
      ];

      // toolbar sections
      $(document).on('click', '.mailpoet_toolbar_section.closed', function() {
        $('.mailpoet_toolbar_section').addClass('closed');
        $(this).removeClass('closed');
        return false;
      });

      var meta_fields = [];

      // render toolbar
      mailpoet_form_fields({
        fields: $.merge(meta_fields, default_fields)
      });
    });
  </script>
<% endblock %>

<% block templates %>
  <!-- toolbar templates -->
  <%= partial('form_template_fields', 'form/templates/toolbar/fields.hbs') %>
  <%= partial('form_template_exports', 'form/templates/toolbar/exports.hbs') %>

  <!-- block templates -->
  <%= partial('form_template_block', 'form/templates/blocks/container.hbs') %>
  <%= partial('form_template_divider', 'form/templates/blocks/divider.hbs') %>
  <%= partial('form_template_input', 'form/templates/blocks/input.hbs') %>
  <%= partial('form_template_submit', 'form/templates/blocks/submit.hbs') %>
  <%= partial('form_template_list', 'form/templates/blocks/list.hbs') %>
  <%= partial('form_template_radio', 'form/templates/blocks/radio.hbs') %>
  <%= partial('form_template_select', 'form/templates/blocks/select.hbs') %>
  <%= partial('form_template_checkbox', 'form/templates/blocks/checkbox.hbs') %>
  <%= partial('form_template_textarea', 'form/templates/blocks/textarea.hbs') %>
  <%= partial('form_template_html', 'form/templates/blocks/html.hbs') %>
  <%= partial('form_template_date', 'form/templates/blocks/date.hbs') %>
  <%= partial('form_template_date_years', 'form/templates/blocks/date_years.hbs') %>
  <%= partial('form_template_date_months', 'form/templates/blocks/date_months.hbs') %>
  <%= partial('form_template_date_days', 'form/templates/blocks/date_days.hbs') %>

  <!-- field settings -->
  <%= partial('form_template_field_settings', 'form/templates/settings/field.hbs') %>

  <%= partial('field_settings_label', 'form/templates/settings/label.hbs', '_settings_label') %>
  <%= partial('field_settings_label_within', 'form/templates/settings/label_within.hbs', '_settings_label_within') %>
  <%= partial('field_settings_required', 'form/templates/settings/required.hbs', '_settings_required') %>
  <%= partial('field_settings_validate', 'form/templates/settings/validate.hbs', '_settings_validate') %>
  <%= partial('field_settings_values', 'form/templates/settings/values.hbs', '_settings_values') %>
  <%= partial('field_settings_date_default', 'form/templates/settings/date_default.hbs', '_settings_date_default') %>
  <%= partial('field_settings_submit', 'form/templates/settings/submit.hbs', '_settings_submit') %>

  <%= partial('field_settings_values_item', 'form/templates/settings/values_item.hbs') %>
  <%= partial('field_settings_date_formats', 'form/templates/settings/date_formats.hbs') %>
  <%= partial('field_settings_date_type', 'form/templates/settings/date_types.hbs') %>
  <%= partial('field_settings_list_selection_item', 'form/templates/settings/list_selection_item.hbs') %>
  <%= partial('field_settings_list_selection', 'form/templates/settings/list_selection.hbs') %>
  <%= partial() %>

  <!-- custom field: new -->
  <%= partial('form_template_field_new', 'form/templates/settings/field_new.hbs') %>

  <!-- form preview -->
  <%= partial('mailpoet_form_preview_template', 'form/templates/preview.hbs') %>

  <!-- field settings depending on field type -->
  <script id="form_template_field_input" type="text/x-handlebars-template">
    {{> _settings_required }}
    {{> _settings_validate }}
  </script>

  <script id="form_template_field_textarea" type="text/x-handlebars-template">
    {{> _settings_required }}
    {{> _settings_validate }}
  </script>

  <script id="form_template_field_radio" type="text/x-handlebars-template">
    {{> _settings_values }}
    {{> _settings_required }}
  </script>

  <script id="form_template_field_checkbox" type="text/x-handlebars-template">
    {{> _settings_values }}
    {{> _settings_required }}
  </script>

  <script id="form_template_field_select" type="text/x-handlebars-template">
    {{> _settings_values }}
    {{> _settings_required }}
  </script>

  <script id="form_template_field_date" type="text/x-handlebars-template">
    {{> _settings_required }}
    {{> _settings_date_type }}
  </script>
<% endblock %>