<% block content %>
  <% if(before_widget) %>
    <%= before_widget | raw %>
  <% endif %>

  <% if(title) %>
    <%= before_title | raw %><%= title | raw %><%= after_title | raw %>
  <% endif %>

  <div class="mailpoet_form_popup_overlay"></div>
  <div id="<%= form_html_id %>" class="mailpoet_form mailpoet_form_<%= form_type %>">
    <% if form_type == 'popup' or form_type == 'fixed_bar' %>
      <img
        class="mailpoet_form_close_icon"
        alt="close"
        width=15
        height=15
        src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4NDcgMTA1OC44Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTc2LjIgMjAzLjVoNDc3Ljd2NDM2LjZIMTc2LjJ6Ii8+PHBhdGggZD0iTTE0MCAxNDBjMTU2LTE1NyA0MTAtMTU3IDU2NyAwIDE1NyAxNTYgMTU3IDQxMCAwIDU2N3MtNDExIDE1Ny01NjcgMGMtMTU3LTE1Ny0xNTctNDExIDAtNTY3em0xOTEgMTM0bDkyIDkyIDkzLTkyYzM3LTM4IDk0IDE5IDU3IDU3bC05MyA5MiA5MyA5M2MzNyAzNy0yMCA5NC01NyA1N2wtOTMtOTMtOTIgOTNjLTM4IDM3LTk1LTIwLTU3LTU3bDkyLTkzLTkyLTkyYy0zOC0zOCAxOS05NSA1Ny01N3oiIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9zdmc+'
      >
    <% endif %>
    <%= styles | raw %>
    <form
      target="_self"
      method="post"
      action="<%= admin_url('admin-post.php?action=mailpoet_subscription_form') | raw %>"
      class="mailpoet_form mailpoet_form_form mailpoet_form_<%= form_type %>"
      novalidate
      style="<%= form_element_styles %>"
      data-delay="<%= delay %>"
      data-position="<%= position %>"
      data-background-color="<%= backgroundColor %>"
    >
      <input type="hidden" name="data[form_id]" value="<%= form_id %>" />
      <input type="hidden" name="token" value="<%= token %>" />
      <input type="hidden" name="api_version" value="<%= api_version %>" />
      <input type="hidden" name="endpoint" value="subscribers" />
      <input type="hidden" name="mailpoet_method" value="subscribe" />

      <%= html | raw %>
      <div class="mailpoet_message">
        <p class="mailpoet_validate_success"
        <% if not(success) %>
        style="display:none;"
        <% endif %>
        ><%= form_success_message %>
        </p>
        <p class="mailpoet_validate_error"
        <% if not(error) %>
        style="display:none;"
        <% endif %>
        ><% if (error) %>
        <%= __("An error occurred, make sure you have filled all the required fields.") %>
        <% endif %>
        </p>
      </div>
    </form>
  </div>

  <% if(after_widget) %>
    <%= after_widget | raw %>
  <% endif %>
<% endblock %>
