<% extends 'layout.html' %>

<% block after_css %>
<%= stylesheet('mailpoet-form-editor.css') %>
<% endblock %>

<% block container %>

<script type="text/javascript">
  var mailpoet_beacon_articles = [
    '5fac13f2cff47e00160b8dff',
    '5e43d3ec2c7d3a7e9ae79da9',
  ];
</script>

<div class="block-editor">
  <div id="mailpoet_form_edit_templates">
  </div>
</div>

<script>
  <% autoescape 'js' %>
  var mailpoet_templates = <%= json_encode(templates) %>;
  var mailpoet_form_edit_url =
    "<%= admin_url('admin.php?page=mailpoet-form-editor&id=') %>";
  <% endautoescape %>
</script>

<style id="mailpoet-form-editor-form-styles"></style>
<% endblock %>

<% block translations %>
<%= localize({
  'heading': __('Select form template'),
  'createBlankTemplate': _x('Skip, start with a blank form', 'a button for skipping form template selection'),
  'fixedBarCategory': _x('Fixed bar', 'This is a text on a widget that leads to settings for form placement - form type is fixed bar'),
  'slideInCategory': _x('Slide–in', 'This is a text on a widget that leads to settings for form placement - form type is slide in'),
  'popupCategory': _x('Pop-up', 'This is a text on a widget that leads to settings for form placement - form type is pop-up, it will be displayed on page in a small modal window'),
  'belowPagesCategory': _x('Below pages', 'This is a text on a widget that leads to settings for form placement'),
  'othersCategory': _x('Others (widget)', 'Placement of the form using theme widget'),
  'select': _x('Select', 'Verb'),
  'selectTemplate': _x('Select a template', 'Form template selection heading'),
  'createFormError': __('Sorry, there was an error, please try again later.'),
}) %>
<% endblock %>

<% block after_javascript %>
<%= javascript('form_editor.js')%>
<% endblock %>
