<% extends 'layout.html' %>

<% block content %>
  <div id="subscribers_container"></div>

  <%= localize({
    'pageTitle': __('Subscribers'),
    'searchLabel': __('Search'),
    'loadingItems': __('Loading subscribers...'),
    'noItemsFound': __('No subscribers found.'),
    'selectAllLabel': __('All subscribers on this page are selected.'),
    'selectedAllLabel': __('All %d subscribers are selected.'),
    'selectAllLink': __('Select all pages.'),
    'clearSelection': __('Clear selection.')
  }) %>

  <script type="text/javascript">
    var mailpoet_segments = <%= json_encode(segments) %>;
    var mailpoet_custom_fields = <%= json_encode(custom_fields) %>;
    var mailpoet_month_names = <%= json_encode(month_names) %>;
  </script>
<% endblock %>
