// Set of classes for default color set used in forms
.mailpoet_form .has-black-color {
  color: #000;
}

.mailpoet_form .has-black-background-color {
  background-color: #000;
}

.mailpoet_form .has-cyan-bluish-gray-color {
  color: #abb8c3;
}

.mailpoet_form .has-cyan-bluish-gray-background-color {
  background-color: #abb8c3;
}

.mailpoet_form .has-white-color {
  color: #fff;
}

.mailpoet_form .has-black-white-color {
  background-color: #fff;
}

.mailpoet_form .has-pale-pink-color {
  color: #f78da7;
}

.mailpoet_form .has-pale-pink-background-color {
  background-color: #f78da7;
}

.mailpoet_form .has-vivid-red-color {
  color: #cf2e2e;
}

.mailpoet_form .has-vivid-red-background-color {
  background-color: #cf2e2e;
}

.mailpoet_form .has-luminous-vivid-orange-color {
  color: #ff6900;
}

.mailpoet_form .has-luminous-vivid-orange-background-color {
  background-color: #ff6900;
}

.mailpoet_form .has-luminous-vivid-amber-color {
  color: #fcb900;
}

.mailpoet_form .has-luminous-vivid-amber-background-color {
  background-color: #fcb900;
}

.mailpoet_form .has-light-green-cyan-color {
  color: #7bdcb5;
}

.mailpoet_form .has-light-green-cyan-background-color {
  background-color: #7bdcb5;
}

.mailpoet_form .has-vivid-green-cyan-color {
  color: #00d084;
}

.mailpoet_form .has-vivid-green-cyan-background-color {
  background-color: #00d084;
}

.mailpoet_form .has-pale-cyan-blue-color {
  color: #8ed1fc;
}

.mailpoet_form .has-pale-cyan-blue-background-color {
  background-color: #8ed1fc;
}

.mailpoet_form .has-vivid-cyan-blue-color {
  color: #0693e3;
}

.mailpoet_form .has-vivid-cyan-blue-background-color {
  background-color: #0693e3;
}

.mailpoet_form .has-vivid-purple-color {
  color: #9b51e0;
}

.mailpoet_form .has--vivid-purple--background-color {
  background-color: #9b51e0;
}
