@use 'sass:math';

$form-break-small-width: 500px;
$form-block-margin: 20px;
$form-columns-with-background-padding: 10px;
$form-columns-space-between: 20px;
$form-mobile-font-size: 16px;
$form-mobile-low-level-heading-font-size: 18px;
$form-mobile-level1-heading-font-size: 23px;
$form-mobile-level2-heading-font-size: 20px;
$form-line-height: 1.4;

/* labels */
.mailpoet_text_label,
.mailpoet_textarea_label,
.mailpoet_select_label,
.mailpoet_radio_label,
.mailpoet_checkbox_label,
.mailpoet_list_label,
.mailpoet_date_label {
  display: block;

  @include breakpoint-max-width($form-break-small-width - 1) {
    font-size: $form-mobile-font-size !important;
    line-height: $form-line-height !important;
  }
}

.mailpoet_form {
  .mailpoet_submit,
  .mailpoet_paragraph,
  .mailpoet_form_paragraph,
  .mailpoet_textarea,
  .mailpoet_text,
  .mailpoet_select,
  .mailpoet_form_image,
  .mailpoet_message,
  .mailpoet_paragraph select {
    max-width: 100%; // Reset potential max-width limits from theme

    @include breakpoint-max-width($form-break-small-width - 1) {
      font-size: $form-mobile-font-size !important;
      line-height: $form-line-height !important;
    }
  }

  &.mailpoet_form_successfully_send {
    position: relative;

    .mailpoet_validate_success {
      left: 50%;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .mailpoet-has-background-color {
    padding: 1.25em 2.375em;
  }

  .mailpoet-has-font-size {
    line-height: $form-line-height;
  }
}

.mailpoet_textarea {
  height: auto;
}

/* form loading */
.mailpoet_form_sending {
  .mailpoet_form_loading {
    display: block;
  }

  .mailpoet_submit {
    display: none;
  }
}

.mailpoet_form_loading {
  display: none;
  text-align: center;
  width: 30px;
}

.mailpoet_form_loading > span {
  animation: mailpoet-bouncedelay 1.4s infinite ease-in-out both;
  background-color: #5b5b5b;
  border-radius: 100%;
  display: inline-block;
  height: 5px;
  width: 5px;
}

.mailpoet_form_loading .mailpoet_bounce1 {
  animation-delay: -.32s;
}

.mailpoet_form_loading .mailpoet_bounce2 {
  animation-delay: -.16s;
  margin: 0 7px;
}

.mailpoet_captcha_form {
  .mailpoet_validate_success { color: #468847; }
  .mailpoet_validate_error { color: #b94a48; }
}

.mailpoet_captcha_update {
  cursor: pointer;
}

.mailpoet_recaptcha_noscript_container {
  height: 422px;
  position: relative;
  width: 302px;

  > div {
    height: 422px;
    position: absolute;
    width: 302px;

    iframe {
      border-style: none;
      height: 422px;
      width: 302px;
    }
  }
}

.mailpoet_recaptcha_noscript_input {
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  border-style: none;
  bottom: 12px;
  height: 60px;
  left: 25px;
  margin: 0;
  padding: 0;
  right: 25px;
  width: 300px;

  textarea {
    border: 1px solid #c1c1c1;
    height: 40px;
    margin: 10px 25px;
    padding: 0;
    resize: none;
    width: 250px;
  }
}

@keyframes mailpoet-bouncedelay {
  0%,
  80%,
  100% { transform: scale(0); }
  40% { transform: scale(1); }
}

// Form columns
.mailpoet_form .mailpoet_paragraph {
  margin-bottom: $form-block-margin;
}

// Default value for users who don't have the value in Custom CSS
.mailpoet_column_with_background {
  padding: $form-columns-with-background-padding;
}
// Default value for users who don't have the value in Custom CSS
.mailpoet_form_column:not(:first-child) {
  margin-left: $form-columns-space-between;
}

.mailpoet_form_fixed_bar {
  @include breakpoint-min-width($form-break-small-width) {
    .mailpoet_form_columns .mailpoet_form_column .mailpoet_paragraph:last-child {
      margin-bottom: 0;
    }
  }
}

div.mailpoet_form:not(.mailpoet_form_fixed_bar) {
  @include breakpoint-min-width($form-break-small-width) {
    .mailpoet_paragraph:last-child,
    .mailpoet_paragraph p:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin maxWidthColumns() {
  flex-wrap: wrap;

  &.mailpoet_column_with_background .mailpoet_form_column:last-child .mailpoet_paragraph:last-child {
    margin-bottom: 0 !important;
  }
}

@mixin maxWidthColumn() {
  // This must be important since the Column assigns its own width as an inline style.
  flex-basis: 100% !important;

  &:not(:first-child) {
    margin-left: 0 !important;
  }
}

.mailpoet_form_columns {
  display: flex;
  flex-wrap: nowrap;

  // Alignment settings
  &.mailpoet_vertically_align_top {
    align-items: flex-start;
  }

  &.mailpoet_vertically_align_center {
    align-items: flex-start;
  }

  &.mailpoet_vertically_align_bottom {
    align-items: flex-start;
  }

  &.mailpoet_stack_on_mobile {
    @include breakpoint-max-width(#{ ($form-break-small-width - 1) }) {
      @include maxWidthColumns;
    }
  }

  .mailpoet_form_tight_container &.mailpoet_stack_on_mobile {
    @include maxWidthColumns;
  }
}

.mailpoet_form_column {
  display: flex;
  flex-direction: column;

  // Alignment
  &.mailpoet_vertically_align_top {
    align-self: flex-start;
  }

  &.mailpoet_vertically_align_center {
    align-self: center;
  }

  &.mailpoet_vertically_align_bottom {
    align-self: flex-end;
  }

  @include breakpoint-min-width($form-break-small-width) {
    .mailpoet_form_form:not(.mailpoet_form_tight_container) .mailpoet_column_with_background & .mailpoet_paragraph:last-child {
      margin-bottom: 0 !important;
    }
  }

  .mailpoet_stack_on_mobile & {
    @include breakpoint-max-width(#{ ($form-break-small-width - 1) }) {
      @include maxWidthColumn;
    }
  }

  .mailpoet_form_tight_container .mailpoet_stack_on_mobile & {
    @include maxWidthColumn;
  }
}

.mailpoet_widget_preview {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  left: 0;
  max-width: 100% !important;
  overflow-y: auto !important;
  position: fixed;
  top: 0;
  width: 100% !important;
  z-index: 100000;

  .widget-area {
    display: block !important;
    float: none !important;
    margin: auto;
    position: static !important;
    width: 600px;
  }
}

.mailpoet_form_popup_overlay {
  background-color: black;
  display: none;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: 100% !important;
  opacity: .7;
  position: fixed;
  top: 0;
  width: 100% !important;
  z-index: 100000;
}

div.mailpoet_form_popup {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 35px 0 rgba(195, 65, 2, .2);
  display: none;
  left: 50%;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100001;
}

.mailpoet_form_close_icon {
  cursor: pointer;
  display: block;
  margin: 0 0 0 auto;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100002;
}

div.mailpoet_form_fixed_bar {
  background-color: white;
  box-shadow: 0 4px 35px 0 rgba(195, 65, 2, .2);
  display: none;
  left: 0;
  margin: 0;
  max-height: calc(100vh - 60px);
  max-width: 100% !important;
  overflow-y: auto;
  position: fixed;
  width: 100% !important;
  z-index: 100000;

  form {
    margin: 0 auto;
  }
}

.mailpoet_form_position_top {
  top: 0;
}

.mailpoet_form_position_bottom {
  bottom: 0;
}

div.mailpoet_form_slide_in {
  background-color: white;
  bottom: 0;
  box-shadow: 0 4px 35px 0 rgba(195, 65, 2, .2);
  display: none;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  position: fixed;
  z-index: 100000;

  @include breakpoint-min-width($form-break-small-width) {
    &.mailpoet_form_position_left {
      border-top-right-radius: 10px;
    }

    &.mailpoet_form_position_right {
      border-top-left-radius: 10px;
    }
  }
}

.mailpoet_form_position_left {
  left: 0;
}

.mailpoet_form_position_right {
  right: 0;
}

.mailpoet_form_popup_overlay.active,
div.mailpoet_form_popup.active,
div.mailpoet_form_fixed_bar.active,
div.mailpoet_form_slide_in.active {
  display: block;
}

@include breakpoint-max-width($form-break-small-width) {
  .mailpoet_form_popup_overlay.active {
    display: none;
  }
}

// MailPoet Form - Image block
// Inspired by wp-image-block behaviour
.mailpoet_form_image {
  &.is-style-rounded img {
    border-radius: 9999px;
  }

  > figure {
    margin: 0;
  }

  img {
    margin: 0;
    max-width: 100%;
  }

  .aligncenter {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: auto;
    margin-top: auto;
  }

  .alignleft {
    float: left;
    margin-right: 1em;
  }

  .alignright {
    float: right;
    margin-left: 1em;
  }

  figcaption {
    text-align: center;
  }

  @include breakpoint-max-width($form-break-small-width - 1) {
    display: none;
  }
}

.mailpoet_spacer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: $form-block-margin;
  width: 100%;

  @include breakpoint-max-width($form-break-small-width - 1) {
    &:not(.mailpoet_has_divider) {
      display: none;
    }

    &.mailpoet_has_divider {
      max-height: 10px;
    }
  }
}

.mailpoet_message {
  clear: both; // Message is a last item in form. Cleanup ensures that nothing floats out and paddings are respected.
}

.mailpoet_form .mailpoet-heading {
  @include breakpoint-max-width($form-break-small-width - 1) {
    font-size: $form-mobile-low-level-heading-font-size !important;
    line-height: $form-line-height !important;
    margin: $form-mobile-low-level-heading-font-size * math.div($form-line-height, 2) 0 !important;
  }
}

h1.mailpoet-heading {
  @include breakpoint-max-width($form-break-small-width - 1) {
    font-size: $form-mobile-level1-heading-font-size !important;
    line-height: $form-line-height !important;
    margin: $form-mobile-level1-heading-font-size * math.div($form-line-height, 2) 0 !important;
  }
}

h2.mailpoet-heading {
  @include breakpoint-max-width($form-break-small-width - 1) {
    font-size: $form-mobile-level2-heading-font-size !important;
    line-height: $form-line-height !important;
    margin: $form-mobile-level2-heading-font-size * math.div($form-line-height, 2) 0 !important;
  }

  &:before {
    content: none;
  }

  &:after {
    content: none;
  }
}

// Manage Subscription page
.mailpoet-manage-subscription {
  .mailpoet_text_label,
  .mailpoet_textarea_label,
  .mailpoet_select_label,
  .mailpoet_radio_label,
  .mailpoet_checkbox_label,
  .mailpoet_list_label,
  .mailpoet_date_label {
    padding-right: 10px;
  }

  .mailpoet-submit-success {
    color: $color-input-success;
  }

  .mailpoet-change-email-info {
    font-size: 85%;
  }
}

// screen-reader-text CSS class only exists within the WordPress environment
// the class does not exist when using iFrame forms due to these being used outside WordPress
// prefixing with mailpoet-* to not interfere with the default WordPress screen-reader-text class
.mailpoet-screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.mailpoet-screen-reader-text:focus {
  background-color: #ddd;
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  line-height: normal;
  padding: 15px 23px 14px;
  right: 5px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
