.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
a:focus {
  outline: 0 none !important;
}
body.mailpoet_modal_opened {
  overflow: hidden;
}
#mailpoet_modal_overlay {
  height: 100%;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
  background-color: rgba(0,0,0,0.6);
}
.mailpoet_modal_highlight {
  pointer-events: none;
  background-color: #f1f1f1;
  position: relative;
  z-index: 100001 !important;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.75);
  box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.75);
}
#mailpoet_modal_overlay.mailpoet_overlay_hidden {
  background-color: transparent;
}
#mailpoet_modal_overlay.mailpoet_overlay_loading {
  background-color: rgba(0,0,0,0.6) !important;
  display: block !important;
}
.mailpoet_modal_opened #mailpoet_modal_overlay {
  display: block;
}
#mailpoet_popup {
  display: none;
  position: absolute;
  z-index: 25;
  top: 48px;
  padding-bottom: 48px;
  margin: 0;
}
.mailpoet_popup_wrapper {
  background-color: #f0f0f0;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}
.mailpoet_overlay_hidden .mailpoet_popup_wrapper {
  border: 1px solid #333;
}
#mailpoet_popup_title {
  background-color: #222;
  border: 1px solid #333;
  height: 27px;
  margin: 0;
  padding: 0 30px 0 0;
}
#mailpoet_popup_title h2 {
  color: #cfcfcf;
  font-size: 12px;
  font-weight: normal;
  margin: 6px 0 0 10px;
  padding: 0;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}
.mailpoet_popup_body {
  padding: 10px 10px 10px 10px;
}
#mailpoet_modal_overlay.mailpoet_panel_overlay {
  top: 32px;
  overflow: hidden;
}
#mailpoet_panel {
  display: none;
  position: fixed;
  z-index: 100002;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  -webkit-transition: margin 0.3s ease-out;
  -moz-transition: margin 0.3s ease-out;
  -o-transition: margin 0.3s ease-out;
  -ms-transition: margin 0.3s ease-out;
  transition: margin 0.3s ease-out;
}
.mailpoet_panel_wrapper {
  background-color: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-top: 0 none;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  top: 0;
  z-index: 0;
}
#mailpoet_panel_title {
  margin: 0;
  padding: 0;
  position: relative;
  height: 0;
}
#mailpoet_panel_title h2 {
  color: #cfcfcf;
  background-color: #222;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0 30px 0 10px;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  line-height: 32px;
}
.mailpoet_panel_body {
  padding: 10px 10px 36px 10px;
}
#mailpoet_modal_close {
  background: url("../img/modal_close_button.png") 7px 7px no-repeat;
  height: 30px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 30px;
  z-index: 2;
  outline: 0 none;
}
#mailpoet_popup #mailpoet_modal_close {
  right: 0;
  top: 0;
}
#mailpoet_panel #mailpoet_modal_close {
  right: 10px;
  top: 7px;
}
#mailpoet_modal_close:focus {
  outline: 0 none;
}
.mailpoet_align_left {
  margin: 0;
  text-align: left;
}
.mailpoet_align_center {
  margin: 0;
  text-align: center;
}
.mailpoet_align_right {
  margin: 0;
  text-align: right;
}
.mailpoet_button {
  padding: 3px 15px;
  border: 1px solid #444;
  font-weight: normal;
  cursor: pointer;
  background-color: #222;
  color: #cfcfcf;
  font-size: 1em;
}
.mailpoet_button:hover {
  background-color: #0ac;
  color: #fff;
}
.mailpoet_button:active {
  background-color: #0cf;
  color: #fff;
}
.mailpoet_success,
.mailpoet_error {
  display: none;
}
.mailpoet_success {
  color: #090;
}
.mailpoet_error {
  color: #900;
}
@media screen and (max-width: 782px) {
  #mailpoet_modal_overlay.mailpoet_panel_overlay {
    top: 46px;
  }
  .mailpoet_panel_body {
    padding-bottom: 52px;
  }
}
#mailpoet_loading {
  width: 150px;
  height: 32px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -16px;
}
.mailpoet_modal_loading {
  -webkit-animation-direction: linear;
  -moz-animation-direction: linear;
  -o-animation-direction: linear;
  -ms-animation-direction: linear;
  animation-direction: linear;
  -webkit-animation-duration: 1.95s;
  -moz-animation-duration: 1.95s;
  -o-animation-duration: 1.95s;
  -ms-animation-duration: 1.95s;
  animation-duration: 1.95s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: bounce_mailpoet_modal_loading;
  -moz-animation-name: bounce_mailpoet_modal_loading;
  -o-animation-name: bounce_mailpoet_modal_loading;
  -ms-animation-name: bounce_mailpoet_modal_loading;
  animation-name: bounce_mailpoet_modal_loading;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  background-color: #e01d4e;
  float: left;
  height: 32px;
  margin-left: 17px;
  width: 32px;
}
#mailpoet_modal_loading_1 {
  -webkit-animation-delay: 0.39s;
  -moz-animation-delay: 0.39s;
  -o-animation-delay: 0.39s;
  -ms-animation-delay: 0.39s;
  animation-delay: 0.39s;
}
#mailpoet_modal_loading_2 {
  -webkit-animation-delay: 0.91s;
  -moz-animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  -ms-animation-delay: 0.91s;
  animation-delay: 0.91s;
}
#mailpoet_modal_loading_3 {
  -webkit-animation-delay: 1.17s;
  -moz-animation-delay: 1.17s;
  -o-animation-delay: 1.17s;
  -ms-animation-delay: 1.17s;
  animation-delay: 1.17s;
}
@-moz-keyframes bounce_mailpoet_modal_loading {
  0%, 50% {
    background-color: #064e6d;
  }
}
@-webkit-keyframes bounce_mailpoet_modal_loading {
  0%, 50% {
    background-color: #064e6d;
  }
}
@-o-keyframes bounce_mailpoet_modal_loading {
  0%, 50% {
    background-color: #064e6d;
  }
}
@keyframes bounce_mailpoet_modal_loading {
  0%, 50% {
    background-color: #064e6d;
  }
}
.mailpoet_notice {
  position: relative;
}
.mailpoet_notice .mailpoet_notice_close {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  color: #999;
  text-decoration: none;
}
.formError {
  z-index: 990;
}
.formError .formErrorContent {
  z-index: 991;
}
.formError .formErrorArrow {
  z-index: 996;
}
.ui-dialog .formError {
  z-index: 5000;
}
.ui-dialog .formError .formErrorContent {
  z-index: 5001;
}
.ui-dialog .formError .formErrorArrow {
  z-index: 5006;
}
.inputContainer {
  position: relative;
  float: left;
}
.formError {
  position: absolute;
  top: 300px;
  left: 300px;
  display: block;
  cursor: pointer;
  text-align: left;
}
.formError.inline {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
}
.ajaxSubmit {
  padding: 20px;
  background: #55ea55;
  border: 1px solid #999;
  display: none;
}
.formError .formErrorContent {
  width: 100%;
  background: #00579a;
  position: relative;
  color: #fff;
  min-width: 120px;
  font-size: 12px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 2px #333;
  box-shadow: 0 0 2px #333;
  -moz-box-shadow: 0 0 2px #333;
  -webkit-box-shadow: 0 0 2px #333;
  -o-box-shadow: 0 0 2px #333;
  padding: 4px 10px 4px 10px;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}
.formError.inline .formErrorContent {
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}
.greenPopup .formErrorContent {
  background: #33be40;
}
.blackPopup .formErrorContent {
  background: #393939;
  color: #fff;
}
.formError .formErrorArrow {
  width: 15px;
  margin: -2px 0 0 13px;
  position: relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
  margin: -2px 13px 0 0;
}
.formError .formErrorArrowBottom {
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  margin: 0px 0 0 12px;
  top: 2px;
}
.formError .formErrorArrow div {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-box-shadow: 0 1px 1px #474747;
  box-shadow: 0 1px 1px #474747;
  -moz-box-shadow: 0 1px 1px #474747;
  -webkit-box-shadow: 0 1px 1px #474747;
  -o-box-shadow: 0 1px 1px #474747;
  font-size: 0px;
  height: 1px;
  background: #00579a;
  margin: 0 auto;
  line-height: 0;
  font-size: 0;
  display: block;
}
.formError .formErrorArrowBottom div {
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}
.greenPopup .formErrorArrow div {
  background: #33be40;
}
.blackPopup .formErrorArrow div {
  background: #393939;
  color: #fff;
}
.formError .formErrorArrow .line10 {
  width: 13px;
  border: none;
}
.formError .formErrorArrow .line9 {
  width: 11px;
  border: none;
}
.formError .formErrorArrow .line8 {
  width: 11px;
}
.formError .formErrorArrow .line7 {
  width: 9px;
}
.formError .formErrorArrow .line6 {
  width: 7px;
}
.formError .formErrorArrow .line5 {
  width: 5px;
}
.formError .formErrorArrow .line4 {
  width: 3px;
}
.formError .formErrorArrow .line3 {
  width: 1px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 0 solid #fff;
}
.formError .formErrorArrow .line2 {
  width: 3px;
  border: none;
  background: #fff;
}
.formError .formErrorArrow .line1 {
  width: 1px;
  border: none;
  background: #fff;
}
#mailpoet_form_history {
  display: none;
}
#mailpoet_form_editor {
  padding: 20px;
  width: 300px;
  border: 1px solid #ccc;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2) inset 0 0 20px rgba(0,0,0,0.1);
  box-shadow: 0 0 5px rgba(0,0,0,0.2) inset 0 0 20px rgba(0,0,0,0.1);
}
#mailpoet_form_editor:before,
#mailpoet_form_editor:after {
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 12px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
rgba(0,0,0,0.3)
rgba(0,0,0,0.3)
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  z-index: -1;
}
#mailpoet_form_editor:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}
.mailpoet_warning {
  font-weight: bold;
  color: #900;
}
.block_placeholder {
  font-weight: bold;
  height: 0;
  overflow: hidden;
  line-height: 30px;
  text-align: center;
  border: 0 none;
  width: 298px;
  z-index: 9500;
  margin: 0 auto;
  text-indent: -9999px;
}
.block_placeholder.active {
  text-indent: 0;
/*border:1px dashed #dfdfdf;*/
/*background-color:#f5f5f5;*/
  background-color: #4cb7e1;
  display: block;
  overflow: auto;
  height: 30px;
}
.block_placeholder.hover {
  background-color: #0074a2;
  border-color: #0074a2;
  color: #fff;
}
.mailpoet_form_block {
  background-color: #fff;
  height: 20px;
  border: 0 none;
}
.mailpoet_form_block.highlighted {
  border: 1px solid #5897fb;
  padding: 9px 17px;
}
.mailpoet_form_block img {
  max-width: 100%;
}
.mailpoet_form_block p {
  margin: 5px 0;
  word-wrap: break-word;
}
.mailpoet_radio,
.mailpoet_checkbox {
  margin: -2px 5px 0 0;
}
#mailpoet_form_wrapper {
  position: relative;
}
#mailpoet_form_container {
  width: 340px;
  margin: 0;
}
#mailpoet_form_editor.loading,
#mailpoet_form_toolbar.loading {
  background: url("loading.gif") no-repeat center center #fcfcfc;
}
#mailpoet_form_toolbar.loading {
  border: 1px solid #dfdfdf;
}
#mailpoet_form_toolbar.loading #mailpoet_toolbar_fields {
  visibility: hidden;
  z-index: 1;
}
#wysija-add-field {
  float: none;
}
#mailpoet_form_toolbar {
  position: absolute;
  width: 400px;
}
#mailpoet_form_toolbar .mailpoet_form_toolbar_tabs {
  border-bottom: 1px solid #dfdfdf;
  line-height: 0;
}
#mailpoet_form_toolbar .add_custom_field {
  text-align: center;
  padding: 15px 0 5px 0;
}
#mailpoet_form_toolbar .mailpoet_form_toolbar_tabs li,
#mailpoet_form_toolbar .mailpoet_form_toolbar_tabs a {
  margin: 0;
  height: 30px;
  line-height: 30px;
  padding: 0;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  *float: left;
  outline: 0 none;
}
#mailpoet_form_toolbar .mailpoet_form_toolbar_tabs a {
  outline: 0 none;
  text-decoration: none;
  color: #a6a6a6;
}
#mailpoet_form_toolbar .mailpoet_form_toolbar_tabs li {
  margin: 0 0 1px 0;
}
#mailpoet_form_toolbar .mailpoet_form_toolbar_tabs a {
  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  background-color: #f5f5f5;
  background: -webkit-linear-gradient(center top, #f9f9f9, #f5f5f5);
  background: -moz-linear-gradient(center top, #f9f9f9, #f5f5f5);
  background: -o-linear-gradient(center top, #f9f9f9, #f5f5f5);
  background: -ms-linear-gradient(center top, #f9f9f9, #f5f5f5);
  background: linear-gradient(center top, #f9f9f9, #f5f5f5);
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  padding: 0 7px;
}
#mailpoet_form_toolbar .mailpoet_form_toolbar_tabs a:hover {
  background-color: #eee;
}
#mailpoet_form_toolbar .mailpoet_form_toolbar_tabs a.selected {
  color: #000;
  border-bottom: 0 none;
  background: #fcfcfc;
  filter: none;
  padding-bottom: 1px;
}
#mailpoet_form_toolbar .mailpoet_form_toolbar_tabs .last a,
.wysija_params {
  display: none !important;
}
#mailpoet_form_toolbar .mailpoet_form_toolbar_tabs,
#mailpoet_form_toolbar #mailpoet_toolbar_fields {
  position: relative;
  z-index: 9998;
  margin: 0;
}
h2.title {
  margin: 0 0 15px 0;
}
#mailpoet_form_name_input {
  vertical-align: bottom;
}
.mailpoet_form_widget {
  width: 298px;
  height: 25px;
  line-height: 25px;
  z-index: 9999 !important;
}
.mailpoet_toolbar_section {
  margin-bottom: 0;
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
  box-shadow: 0 1px 1px rgba(0,0,0,0.04);
  min-width: 255px;
  position: relative;
  cursor: pointer;
  max-height: auto;
}
.mailpoet_toolbar_section > div {
  padding: 10px 20px 20px 20px;
}
.mailpoet_toolbar_section h3 {
  margin: 10px;
  position: relative;
}
.mailpoet_toolbar_section.closed {
  max-height: 38px;
  overflow: hidden;
}
.mailpoet_toolbar_section .mailpoet_toggle {
  position: absolute;
  top: 0;
  right: 0;
  height: 38px;
  width: 27px;
}
.mailpoet_toolbar_section .mailpoet_toggle:focus {
  outline: 0 none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.mailpoet_toolbar_section .mailpoet_toggle:before {
  right: 12px;
  font: 400 20px/1 dashicons;
  speak: none;
  display: inline-block;
  padding: 8px 10px;
  top: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none !important;
  content: '\f142';
}
.mailpoet_toolbar_section.closed .mailpoet_toggle:before {
  content: '\f140';
}
#mailpoet_form_styles {
  margin: 10px;
  max-width: 318px;
  width: 318px;
  min-height: 300px;
  resize: vertical;
}
#mailpoet_form_toolbar a.mailpoet_form_field,
.mailpoet_form_widget {
  height: 25px;
  line-height: 25px;
  background-color: #f5f5f5;
  background: -webkit-linear-gradient(center top, #f9f9f9, #ececec);
  background: -moz-linear-gradient(center top, #f9f9f9, #ececec);
  background: -o-linear-gradient(center top, #f9f9f9, #ececec);
  background: -ms-linear-gradient(center top, #f9f9f9, #ececec);
  background: linear-gradient(center top, #f9f9f9, #ececec);
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 0 7px;
  cursor: move;
  color: #222;
  text-shadow: 0 1px 0 #fff;
}
#mailpoet_form_toolbar a.mailpoet_form_field.disabled {
  cursor: pointer;
  color: #ccc;
  pointer-events: none;
}
.mailpoet_form_field_edit {
  position: absolute;
  right: 27px;
  bottom: 13px;
}
.mailpoet_form_field_delete {
  position: absolute;
  right: 7px;
  bottom: 13px;
}
#mailpoet_toolbar_fields li {
  padding: 0 0 10px 0;
  position: relative;
}
#mailpoet_toolbar_fields li.notice {
  font-style: italic;
  font-size: 11px;
  margin: 0 !important;
  border: 0 none !important;
  background: none !important;
}
.mailpoet_form_block {
  position: relative;
  margin: 0;
  padding: 10px 18px 10px 18px;
  display: inline-table;
  display: block;
  height: 1%;
  margin: 0;
  z-index: 98;
}
.mailpoet_form_block.dragging {
  z-index: 99000;
  pointer-events: none;
}
.mailpoet_form_block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.mailpoet_form_block.hover {
  border: 1px dashed #bbb;
  margin: 0 0 0 0;
  padding: 9px 17px 9px 17px;
}
.mailpoet_form_block.static {
/*padding:0;
    margin:0;*/
  background-color: #999;
}
.mailpoet_form_block .wysija_controls {
  background-color: #dfdfdf;
  background: -webkit-linear-gradient(center top, #bbb, #eee);
  background: -moz-linear-gradient(center top, #bbb, #eee);
  background: -o-linear-gradient(center top, #bbb, #eee);
  background: -ms-linear-gradient(center top, #bbb, #eee);
  background: linear-gradient(center top, #bbb, #eee);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 298px;
  height: 20px;
  left: -1px;
  right: 0;
  top: -22px;
}
.mailpoet_form_block .wysija_controls li {
  float: left;
  width: 20px;
  height: 20px;
}
.mailpoet_form_block .wysija_controls a {
  cursor: pointer;
  float: left;
  font-size: 120%;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
  color: #000;
}
.mailpoet_form_block .wysija_controls a.remove {
  margin: 0 0 0 1px;
}
.mailpoet_form_block .handle_container,
.mailpoet_form_block .handle_container a {
  float: none;
  width: 40px !important;
}
.mailpoet_form_block .handle_container {
  left: 140px;
  top: 0;
  position: absolute;
}
.wysija_controls a span,
.wysija_gallery .wysija_tools a span,
.wysija_image .wysija_tools a span,
.wysija_text .wysija_tools a span,
#mailpoet_toolbar_fields a span {
  display: block;
  height: 20px;
  width: 20px;
}
.wysija_controls span input {
  margin: 2px 0 0 0;
  padding: 0;
  color: transparent;
}
.alignment-left span {
  background: url("form_editor_icons.png") no-repeat 0 0;
}
.alignment-left.active span,
.alignment-left:hover span {
  background: url("form_editor_icons.png") no-repeat 0 -20px;
}
.alignment-center span {
  background: url("form_editor_icons.png") no-repeat -20px 0;
}
.alignment-center.active span,
.alignment-center:hover span {
  background: url("form_editor_icons.png") no-repeat -20px -20px;
}
.alignment-right span {
  background: url("form_editor_icons.png") no-repeat -40px 0;
}
.alignment-right.active span,
.alignment-right:hover span {
  background: url("form_editor_icons.png") no-repeat -40px -20px;
}
.add-link span {
  background: url("form_editor_icons.png") no-repeat -60px 0;
}
.add-link.active span,
.add-link:hover span {
  background: url("form_editor_icons.png") no-repeat -60px -20px;
}
.remove-link span {
  background: url("form_editor_icons.png") no-repeat -80px 0;
}
.remove-link.active span,
.remove-link:hover span {
  background: url("form_editor_icons.png") no-repeat -80px -20px;
}
.remove span,
.delete span {
  background: url("form_editor_icons.png") no-repeat -100px 0;
}
.remove.active span,
.remove:hover span,
.delete.active span,
.delete:hover span {
  background: url("form_editor_icons.png") no-repeat -100px -20px;
}
.handle span {
  background: url("handle.png") no-repeat;
  cursor: move;
  width: 40px !important;
}
.duplicate span {
  background: url("form_editor_icons.png") no-repeat -140px 0;
}
.duplicate.active span,
.duplicate:hover span {
  background: url("form_editor_icons.png") no-repeat -140px -20px;
}
.settings span {
  background: url("form_editor_icons.png") no-repeat -160px 0;
}
.settings.active span,
.settings:hover span {
  background: url("form_editor_icons.png") no-repeat -160px -20px;
}
.icon-plus span {
  background: url("form_editor_icons.png") no-repeat -200px 0;
}
.icon-plus.active span,
.icon-plus:hover span {
  background: url("form_editor_icons.png") no-repeat -200px -20px;
}
.icon-minus span {
  background: url("form_editor_icons.png") no-repeat -220px 0;
}
.icon-minus.active span,
.icon-minus:hover span {
  background: url("form_editor_icons.png") no-repeat -220px -20px;
}
.wysija_options {
  display: none;
}
.wysija_settings {
  position: absolute;
  z-index: 1000;
}
.wysija_settings a {
  background-color: #f5f5f5;
  background: -webkit-linear-gradient(center top, #f9f9f9, #ececec);
  background: -moz-linear-gradient(center top, #f9f9f9, #ececec);
  background: -o-linear-gradient(center top, #f9f9f9, #ececec);
  background: -ms-linear-gradient(center top, #f9f9f9, #ececec);
  background: linear-gradient(center top, #f9f9f9, #ececec);
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  color: #222;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  display: block;
  padding: 5px 5px 3px 27px;
}
.wysija_settings a span {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: 5px;
}
.mailpoet_form_block label {
  margin: 0 5px 0 0;
  display: block;
}
#mailpoet_on_success textarea,
#mailpoet_on_success select {
  width: 100%;
}
#mailpoet_on_success textarea {
  height: 50px;
  min-height: 50px;
  resize: vertical;
}
.mailpoet_form_block textarea {
  resize: none;
}
.mailpoet_form_block input,
.mailpoet_form_block textarea {
  pointer-events: none;
}
#mailpoet_form_export textarea {
  width: 340px;
  height: 150px;
  min-height: 150px;
  resize: vertical;
  font-size: 85%;
  display: none;
}
.mailpoet_form_field_edit,
.mailpoet_form_field_delete {
  text-decoration: none;
}
.mailpoet_form_field_edit:hover .dashicons-admin-generic:before,
.mailpoet_form_field_delete:hover .dashicons-dismiss:before,
.settings:hover .dashicons-admin-generic:before {
  color: #2ea2cc;
}
.mailpoet_form_field_edit span,
.mailpoet_form_field_delete span {
  background: none !important;
  color: #999;
}
.mailpoet_form_field_delete span:before {
  font-size: 21px;
}
.CodeMirror {
  border: 1px solid #eee;
}
