a {
  color: #2ea1cd;
  text-decoration: none;
}
.mailpoet_hidden {
  display: none !important;
}
input.mailpoet_color {
  width: 5em;
}
select.mailpoet_font-family {
  width: 8em;
}
select.mailpoet_font-size {
  width: 5em;
}
.mailpoet_input,
.mailpoet_select {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  appearance: none;
  padding: 3px;
  line-height: 22px;
}
.mailpoet_input {
  width: 283px;
  border: 1px solid #e5e5e5;
}
.mailpoet_input_small {
  width: 48px;
}
.mailpoet_input_medium {
  width: 150px;
}
.mailpoet_input_full {
  width: 100%;
  box-sizing: border-box;
}
.mailpoet_range {
  width: 283px;
  -webkit-appearance: none;
  padding: 0;
  vertical-align: middle;
}
.mailpoet_range:focus {
  outline: none;
}
.mailpoet_range::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.mailpoet_range::-webkit-slider-thumb {
  border: 1px solid #333;
  height: 26px;
  width: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #a4a4a4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.666666666666666px;
}
.mailpoet_range:hover::-webkit-slider-thumb {
  background: #0074a2;
}
.mailpoet_range::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.mailpoet_range::-moz-range-thumb {
  border: 1px solid #333;
  height: 26px;
  width: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #a4a4a4;
  cursor: pointer;
}
.mailpoet_range:hover::-moz-range-thumb {
  background: #0074a2;
}
.mailpoet_range::-ms-fill-lower {
  border: 1px solid #ddd;
  background: #fff;
}
.mailpoet_range::-ms-fill-upper {
  border: 1px solid #ddd;
  background: #fff;
}
.mailpoet_range::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 24px 0;
  color: transparent;
}
.mailpoet_range::-ms-thumb {
  border: 1px solid #333;
  height: 26px;
  width: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #a4a4a4;
  cursor: pointer;
}
.mailpoet_range:hover::-ms-thumb {
  background: #0074a2;
}
.mailpoet_range:focus::-ms-fill-lower {
  border: 1px solid #ddd;
  background: #fff;
}
.mailpoet_range:focus::-ms-fill-upper {
  border: 1px solid #ddd;
  background: #fff;
}
.mailpoet_range_small {
  width: 100px;
}
.mailpoet_range_medium {
  width: 180px;
}
.mailpoet_select {
  border-color: #e5e5e5;
  color: #656565;
  margin: 0;
}
.mailpoet_select_large {
  width: 139px;
}
.mailpoet_select_medium {
  width: 103px;
}
.mailpoet_select_small {
  width: 68px;
}
.mailpoet_select_half_width {
  width: 50%;
}
#mailpoet_editor_content ol,
#mailpoet_editor_content ul {
  list-style-position: inside;
  margin-left: 0;
}
#mailpoet_editor_content ul {
  list-style-type: disc;
}
.mailpoet_button {
  margin: 0;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  padding: 6px 20px;
  color: #a4a4a4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: normal;
  vertical-align: top;
}
.mailpoet_button_full {
  width: 100%;
  box-sizing: border-box;
}
.mailpoet_button_primary {
  border-color: #0074a2;
  background-color: #2ea1cd;
  color: #fff;
}
.mailpoet_button_primary:hover {
  background-color: #1e8cbe;
}
.mailpoet_button_group {
  display: inline;
}
.mailpoet_button_group .mailpoet_button:first-child {
  margin-right: 0;
  padding: 6px 12px 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.mailpoet_button_group .mailpoet_button:last-child {
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.mailpoet_text_content p {
  margin: 0;
}
.mailpoet_separator {
  margin: 17px 20px;
}
.mailpoet_option_offset_left_small {
  margin-left: 10px;
}
input.mailpoet_option_offset_left_small {
  margin-left: 10px !important;
}
#mailpoet_editor {
  width: 100%;
  clear: both;
}
#mailpoet_editor_heading {
  padding-left: 15px;
  margin-left: 2px;
}
#mailpoet_editor_main_wrapper {
  border: 1px solid #ddd;
  border-left: 0;
  position: relative;
  min-width: 1050px;
}
#mailpoet_editor_content_container {
  width: 100%;
  padding-right: 330px;
  box-sizing: border-box;
}
#mailpoet_editor_sidebar {
  float: right;
  width: 330px;
  box-sizing: border-box;
}
.mailpoet_newsletter_wrapper {
  max-width: 600px;
  width: 600px;
  margin: auto;
  position: relative;
}
.mailpoet_form_field {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mailpoet_form_field_title {
  clear: both;
  font-size: 1.1em;
  margin-bottom: 5px;
}
.mailpoet_form_field_title_small {
  width: 120px;
}
.mailpoet_form_field_title_inline {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 6px;
}
.mailpoet_form_field_optional {
  font-size: 0.8em;
  color: #a4a4a4;
}
.mailpoet_form_field_radio_option,
.mailpoet_form_field_checkbox_option {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  line-height: 30px;
}
.mailpoet_form_field_radio_option:last-child,
.mailpoet_form_field_checkbox_option:last-child {
  margin-right: 0;
}
.mailpoet_form_field_input_option {
  display: inline-block;
}
.mailpoet_form_field_input_option input[type=checkbox] {
  vertical-align: top;
}
.mailpoet_form_field_input_option input[type=text] {
  vertical-align: middle;
}
.mailpoet_heading_form_field {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mailpoet_input_title,
.mailpoet_input_preheader {
  width: 400px;
  padding: 3px;
  line-height: normal;
}
.mailpoet_input_title {
  font-size: 23px;
}
.mailpoet_breadcrumbs {
  float: right;
  clear: both;
  margin-bottom: 13px;
  margin-right: 17px;
  font-size: 0.9em;
  text-transform: uppercase;
}
#mailpoet_editor_sidebar {
  border-left: #ddd;
  border-bottom: #ddd;
  color: #656565;
}
#mailpoet_editor_sidebar .mailpoet_sidebar_region {
  margin-bottom: 0;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top: 0;
  border-right: 0;
}
#mailpoet_editor_sidebar .mailpoet_sidebar_region.closed .mailpoet_region_content {
  max-height: 0px;
  overflow: hidden;
  margin-top: 0;
}
#mailpoet_editor_sidebar .mailpoet_region_content {
  max-height: 2000px;
  transition: max-height 0.2s ease;
  padding: 0 20px;
  margin-top: 12px;
}
#mailpoet_editor_sidebar,
#mailpoet_editor_sidebar .postbox {
  background-color: #f8f8f8;
}
#mailpoet_editor_sidebar .postbox {
  padding-bottom: 20px;
}
#mailpoet_editor_sidebar .postbox.closed {
  padding-bottom: 0;
}
#mailpoet_editor_sidebar .postbox.closed h3 {
  color: #a4a4a4;
  cursor: pointer;
}
#mailpoet_editor_sidebar .postbox h3,
#mailpoet_editor_sidebar .postbox:hover h3 {
  margin: 0;
  padding: 17px 20px;
  text-transform: uppercase;
  color: #0074a2;
}
#mailpoet_editor_sidebar .postbox h3,
#mailpoet_editor_sidebar .postbox .handlediv {
  cursor: auto;
  border: 0;
}
#mailpoet_editor_sidebar .postbox .handlediv::before {
  top: 18px;
  right: 18px;
  font: 400 20px/1 dashicons;
  speak: none;
  display: inline-block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none !important;
  content: '\f142';
  color: #0074a2;
}
#mailpoet_editor_sidebar .postbox.closed .handlediv::before {
  content: '\f140';
  color: #a4a4a4;
}
#mailpoet_editor_sidebar .postbox.closed:hover .handlediv::before {
  color: #0074a2;
}
.mailpoet_widget {
  display: inline-block;
  width: 70px;
  text-align: center;
  float: left;
  padding: 0 13px 15px 13px;
}
.mailpoet_widget:nth-child(3n+1) {
  clear: left;
}
.mailpoet_widget .mailpoet_widget_icon {
  width: 70px;
  height: 70px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px #d8d8d8;
  -moz-box-shadow: 1px 2px #d8d8d8;
  box-shadow: 1px 2px #d8d8d8;
  color: #aaa;
  fill: #aaa;
  text-align: center;
  line-height: 70px;
  box-sizing: border-box;
  margin-bottom: 9px;
/* Vertically align widget icon glyphs */
}
.mailpoet_widget .mailpoet_widget_icon > * {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  font-size: 30px;
}
.mailpoet_widget .mailpoet_widget_icon:hover {
  color: #0074a2;
  fill: #0074a2;
  border: 1px solid #0074a2;
}
.mailpoet_widget.mailpoet_droppable_active {
  color: #0074a2;
  fill: #0074a2;
}
.mailpoet_widget.mailpoet_droppable_active .mailpoet_widget_icon {
  border: 1px solid #0074a2;
  color: #0074a2;
  fill: #0074a2;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.mailpoet_widget.mailpoet_droppable_active .mailpoet_widget_title {
  display: none;
}
.mailpoet_editor_settings {
  color: #656565;
}
.mailpoet_editor_settings p {
  font-size: 1em;
}
.mailpoet_editor_settings h3 {
  font-size: 1.4em;
  color: #0074a2;
  text-transform: uppercase;
}
.mailpoet_sidepanel_field {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mailpoet_sidepanel_field_title {
  clear: both;
  font-size: 1.1em;
  margin-bottom: 5px;
}
.mailpoet_sidepanel_field_title_small {
  width: 120px;
}
.mailpoet_sidepanel_field_title_inline {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  margin-bottom: 0;
}
.mailpoet_sidepanel_field_optional {
  font-size: 0.8em;
  color: #a4a4a4;
}
.mailpoet_sidepanel_radio_option,
.mailpoet_sidepanel_checkbox_option {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  line-height: 30px;
}
.mailpoet_sidepanel_radio_option:last-child,
.mailpoet_sidepanel_checkbox_option:last-child {
  margin-right: 0;
}
.mailpoet_sidepanel_input_option {
  display: inline-block;
}
.mailpoet_sidepanel_input_option input[type=checkbox] {
  vertical-align: top;
}
.mailpoet_sidepanel_input_option input[type=text] {
  vertical-align: middle;
}
#mailpoet_editor_bottom {
  margin-top: 39px;
  margin-left: 29px;
}
.mailpoet_save_options {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
  overflow: hidden;
  margin: 5px 0 0 0;
  clear: both;
  vertical-align: top;
  background: #fff;
  border: 1px solid #ddd;
}
.mailpoet_save_option {
  margin: 0;
}
.mailpoet_save_option > a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 2em;
}
.mailpoet_save_option:hover {
  background-color: #2ea1cd;
  color: #fff;
}
.mailpoet_save_option:hover > a {
  color: #fff;
}
.mailpoet_save_show_options {
  padding: 6px 3px 4px;
}
.mailpoet_save_show_options.mailpoet_save_show_options_active .mailpoet_save_show_options_icon::before {
  content: '\f142';
}
.mailpoet_save_show_options_icon {
  width: auto;
  height: auto;
  line-height: auto;
}
.mailpoet_save_show_options_icon::before {
  content: '\f140';
}
.mailpoet_save_as_template_container {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
  clear: both;
  margin-top: 5px;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.mailpoet_save_as_template_title {
  font-size: 1.1em;
}
.mailpoet_editor_last_saved {
  color: #a4a4a4;
  font-size: 0.9em;
  display: inline;
}
.mailpoet_save_error {
  color: #d54e21;
}
.mailpoet_tools {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 20;
  padding: 2px;
  text-align: right;
}
.mailpoet_tools a {
  vertical-align: top;
}
.mailpoet_container_horizontal + .mailpoet_tools {
  left: 100%;
  padding-left: 5px;
}
.mailpoet_container_horizontal + .mailpoet_tools .mailpoet_tool {
  width: 24px;
  height: 24px;
}
.mailpoet_container_horizontal + .mailpoet_tools .mailpoet_tool .mailpoet_tool_icon {
  width: 24px;
  height: 24px;
}
.mailpoet_container_horizontal + .mailpoet_tools .mailpoet_delete_block_activated {
  width: auto;
  height: auto;
}
.mailpoet_tool {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 2px;
}
.mailpoet_tool:hover {
  filter: progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=2, Color='#d2d2d4');
  -webkit-filter: drop-shadow(1px 2px 0px #d2d2d4);
  -ms-filter: progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=2, Color='#d2d2d4');
  filter: drop-shadow(1px 2px 0px #d2d2d4);
}
.mailpoet_tool .mailpoet_tool_icon {
  fill: #bbb;
  width: 20px;
  height: 20px;
}
.mailpoet_tool .mailpoet_tool_icon .mailpoet_tool_icon_foreground {
  fill: #fff;
}
.mailpoet_tool .mailpoet_tool_icon:hover {
  fill: #333;
}
.mailpoet_tool .mailpoet_tool_icon:hover .mailpoet_tool_icon_foreground {
  fill: #fff;
}
.mailpoet_tool .mailpoet_tool_icon:active {
  fill: #0074a2;
}
.mailpoet_tool .mailpoet_tool_icon:active .mailpoet_tool_icon_foreground {
  fill: #fff;
}
.mailpoet_tool .mailpoet_delete_block_confirmation {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
}
.mailpoet_delete_block {
  display: inline-block;
  padding: 2px;
  vertical-align: top;
}
.mailpoet_delete_block .mailpoet_tool {
  padding: 0;
}
.mailpoet_delete_block .mailpoet_delete_block_confirm,
.mailpoet_delete_block .mailpoet_delete_block_cancel {
  display: none;
}
.mailpoet_delete_block_activated {
  width: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #e64047;
  padding: 3px 5px;
  line-height: 1.2em;
  height: auto;
}
.mailpoet_delete_block_activated .mailpoet_delete_block_activate {
  display: none;
}
.mailpoet_delete_block_activated .mailpoet_delete_block_confirm,
.mailpoet_delete_block_activated .mailpoet_delete_block_cancel {
  display: inline-block;
}
.mailpoet_delete_block_confirm {
  color: #fff;
}
.mailpoet_delete_block_confirm:hover {
  color: #fff;
  text-decoration: underline;
}
.mailpoet_delete_block_cancel {
  color: #f4c6c8;
}
.mailpoet_delete_block_cancel:hover {
  color: #f4c6c8;
  text-decoration: underline;
}
.mailpoet_newsletter_layer_selector.mailpoet_container_layer_active .mailpoet_tool_icon {
  fill: #0074a2;
  z-index: 100001 !important;
}
.mailpoet_newsletter_layer_selector.mailpoet_container_layer_active .mailpoet_tool_icon .mailpoet_tool_icon_foreground {
  fill: #fff;
}
.mailpoet_container_layer_active .mailpoet_block {
  pointer-events: none;
  opacity: 0.4;
}
.mailpoet_container_layer_active .mailpoet_container_block {
  pointer-events: auto;
  opacity: 1;
}
.mailpoet_container_layer_active .mailpoet_container_block > .mailpoet_tools {
  display: block !important;
}
.mailpoet_container_layer_active > .mailpoet_tools {
  z-index: 100001 !important;
}
.mailpoet_layer_overlay {
  height: 100%;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
  background-color: rgba(0,0,0,0.6);
  margin: 0 !important;
}
.mailpoet_layer_highlight {
  pointer-events: none;
  background-color: #f1f1f1;
  position: relative;
  z-index: 100001 !important;
}
.mailpoet_drop_marker {
  background-color: #0074a2;
  position: absolute;
  min-width: 2px;
  min-height: 2px;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 1px 0px #0074a2;
  -moz-box-shadow: 0px 0px 1px 0px #0074a2;
  box-shadow: 0px 0px 1px 0px #0074a2;
}
.mailpoet_drop_marker::before,
.mailpoet_drop_marker::after {
  position: absolute;
  margin-top: -18px;
  font: 400 40px/1 dashicons;
  color: #0074a2;
}
.mailpoet_drop_marker::before {
  left: -25px;
  content: "\f139";
}
.mailpoet_drop_marker::after {
  right: -23px;
  content: "\f141";
}
.mailpoet_drop_marker.mailpoet_drop_marker_middle,
.mailpoet_drop_marker.mailpoet_drop_marker_first.mailpoet_drop_marker_after,
.mailpoet_drop_marker.mailpoet_drop_marker_last.mailpoet_drop_marker_before {
  margin-top: -1px;
}
.mailpoet_drop_marker.mailpoet_drop_marker_last.mailpoet_drop_marker_after {
  margin-top: -2px;
}
#mailpoet_editor .mailpoet_droppable_active {
  z-index: 21000;
}
.mailpoet_block.mailpoet_droppable_active {
  border: 1px dashed #0074a2 !important;
  width: 600px;
}
.mailpoet_block.mailpoet_droppable_active .mailpoet_tools {
  display: none !important;
}
.mailpoet_widget.mailpoet_droppable_active {
  padding: 0;
  margin: 0;
  z-index: 2;
}
.mailpoet_widget.mailpoet_droppable_active .mailpoet_widget_icon {
  padding: 0;
  margin: 0;
}
.mailpoet_drop_active > .mailpoet_container > div > .mailpoet_container_empty {
  background-color: #0074a2;
  -webkit-box-shadow: inset 1px 2px 1px #025c80;
  -moz-box-shadow: inset 1px 2px 1px #025c80;
  box-shadow: inset 1px 2px 1px #025c80;
  color: #fff;
}
.mailpoet_resize_handle_container {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.mailpoet_resize_handle {
  padding: 6px 15px 10px 6px;
  position: relative;
  top: 5px;
  background: #0074a2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  width: 30px;
  cursor: ns-resize;
  z-index: 2;
}
.mailpoet_resize_handle .mailpoet_resize_handle_text,
.mailpoet_resize_handle .mailpoet_resize_handle_icon {
  pointer-events: none;
}
.mailpoet_resize_handle_text {
  line-height: 1.5em;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.mailpoet_resize_handle_icon {
  position: absolute;
  top: 9px;
  right: 1px;
}
.mailpoet_resize_handle_icon > svg {
  width: 15px;
  height: 15px;
  fill: #fff;
}
.mailpoet_block.mailpoet_resize_active > .mailpoet_block_highlight {
  border: 1px dashed #0074a2;
}
.mailpoet_block.mailpoet_resize_active > .mailpoet_block_highlight .mailpoet_resize_handle {
  display: inline-block;
}
.mailpoet_block {
  box-sizing: border-box;
  position: relative;
  float: left;
  background-color: inherit;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.mailpoet_block > .mailpoet_block_highlight {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  border: 1px solid rgba(255,255,255,0);
}
.mailpoet_block:hover > .mailpoet_block_highlight {
  border: 1px dashed #0074a2;
}
.mailpoet_block:last-child {
  margin-bottom: 0;
}
.mailpoet_content {
  position: relative;
}
.mailpoet_container {
  width: 100%;
  min-height: 15px;
  position: relative;
}
.mailpoet_container_block {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  box-sizing: border-box;
  border: 0;
  padding-left: 0;
  padding-right: 0;
}
.mailpoet_container_block:hover {
  border: 0;
}
.mailpoet_container_vertical > * {
  width: 100%;
  box-sizing: border-box;
}
.mailpoet_container_horizontal > * {
  vertical-align: top;
}
#mailpoet_editor_content .mailpoet_container {
  box-sizing: border-box;
  float: left;
}
#mailpoet_editor_content > .mailpoet_container_block {
  width: 600px;
  border: 0;
}
#mailpoet_editor_content > .mailpoet_container_block > .mailpoet_container > .mailpoet_container_block {
  margin-bottom: 0;
}
#mailpoet_editor_content .mailpoet_container_horizontal > .mailpoet_container_block {
  margin-bottom: 0;
  width: 600px;
}
#mailpoet_editor_content > .mailpoet_container_block > .mailpoet_container > .mailpoet_container_block > .mailpoet_container_horizontal > .mailpoet_block:first-child:nth-last-child(2),
#mailpoet_editor_content > .mailpoet_container_block > .mailpoet_container > .mailpoet_container_block > .mailpoet_container_horizontal > .mailpoet_block:first-child:nth-last-child(2) ~ .mailpoet_block {
  width: 300px;
}
#mailpoet_editor_content > .mailpoet_container_block > .mailpoet_container > .mailpoet_container_block > .mailpoet_container_horizontal > .mailpoet_block:first-child:nth-last-child(3),
#mailpoet_editor_content > .mailpoet_container_block > .mailpoet_container > .mailpoet_container_block > .mailpoet_container_horizontal > .mailpoet_block:first-child:nth-last-child(3) ~ .mailpoet_block {
  width: 200px;
}
.mailpoet_container_empty {
  text-align: center;
  background-color: #f2f2f2;
  margin: 20px;
  padding: 15px;
  -webkit-box-shadow: inset 1px 2px 1px #a4a4a4;
  -moz-box-shadow: inset 1px 2px 1px #a4a4a4;
  box-shadow: inset 1px 2px 1px #a4a4a4;
  color: #656565;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.mailpoet_automated_latest_content_block {
  padding: 0;
}
.mailpoet_automated_latest_content_block_overlay {
  position: absolute;
  z-index: 19;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
}
.mailpoet_automated_latest_content_block_posts {
  overflow: auto;
}
.mailpoet_automated_latest_content_block_posts > .mailpoet_block {
  width: 100%;
}
.mailpoet_posts_block {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.mailpoet_posts_block > .mailpoet_content {
  font-size: 1em;
  text-align: center;
  background-color: #0074a2;
  margin: 20px 0;
  padding: 15px;
  -webkit-box-shadow: inset 1px 2px 1px #025c80;
  -moz-box-shadow: inset 1px 2px 1px #025c80;
  box-shadow: inset 1px 2px 1px #025c80;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.mailpoet_post_selection_filter_row {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mailpoet_posts_categories_and_tags {
  width: 100%;
}
.mailpoet_settings_posts_show_display_options,
.mailpoet_settings_posts_show_post_selection {
  display: block;
  margin-top: 10px;
}
.mailpoet_post_selection_container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mailpoet_settings_posts_single_post {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: #fff;
}
.mailpoet_settings_posts_single_post:hover {
  border-color: #0074a2;
}
.mailpoet_settings_posts_single_post .mailpoet_select_post_checkbox {
  margin-left: 10px;
  margin-right: 8px;
}
.mailpoet_button_block {
  padding-top: 13px;
  padding-bottom: 13px;
  overflow: hidden;
}
.mailpoet_button_block .mailpoet_editor_button {
  display: block;
  margin: auto;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  max-width: 100%;
}
.mailpoet_button_block .mailpoet_editor_button:hover {
  cursor: all-scroll;
}
.mailpoet_divider_block {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  cursor: all-scroll;
}
.mailpoet_divider {
  margin-left: 20px;
  margin-right: 20px;
}
.mailpoet_field_divider_style {
  max-width: 600px;
  margin: auto;
  display: block;
  width: 100%;
  border: 1px solid transparent;
}
.mailpoet_field_divider_style:hover {
  border: 1px solid #0074a2;
}
.mailpoet_divider_selector img {
  width: 100%;
}
.mailpoet_field_divider_style {
  padding: 10px 0;
}
.mailpoet_image_block.mailpoet_full_image {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
.mailpoet_image_block .mailpoet_content a:hover {
  cursor: all-scroll;
}
.mailpoet_image_block img {
  vertical-align: bottom;
  max-width: 600px;
  width: 100%;
  height: auto;
}
.mailpoet_social_block {
  padding-top: 11px;
  padding-bottom: 11px;
}
.mailpoet_social_block .mailpoet_social {
  text-align: center;
}
.mailpoet_social span {
  display: inline-block;
  padding: 2px 3px;
}
.mailpoet_social span,
.mailpoet_social a,
.mailpoet_social img {
  vertical-align: top;
}
.mailpoet_social a {
  cursor: all-scroll;
}
.mailpoet_social_icon_set {
  border: 1px solid transparent;
  padding: 5px;
  margin-bottom: 5px;
}
.mailpoet_social_icon_set:hover {
  border: 1px solid #0074a2;
}
.mailpoet_social_icon_set img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  padding: 2px 3px;
}
.mailpoet_active_icon_set {
  border: 1px dashed #adadad;
  background-color: #daebf2;
}
.mailpoet_social_icon_settings {
  position: relative;
  padding: 28px 9px 8px 9px;
  margin-bottom: 9px;
  background: #fff;
  border: 1px solid #ddd;
}
.mailpoet_social_icon_settings_row {
  clear: both;
  overflow: auto;
  margin-bottom: 10px;
  line-height: 30px;
}
.mailpoet_social_icon_settings_label {
  margin-right: 5px;
  text-align: left;
}
.mailpoet_social_icon_settings_label .mailpoet_social_icon_image {
  width: 30px;
  height: 30px;
}
.mailpoet_social_icon_settings_label.mailpoet_social_icon_image_label {
  line-height: initial;
}
.mailpoet_social_icon_settings_form_element {
  float: left;
  width: 100%;
}
.mailpoet_social_icon_settings_form_element input,
.mailpoet_social_icon_settings_form_element select {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}
.mailpoet_social_icon_settings_tool {
  position: absolute;
  top: 10px;
}
.mailpoet_social_icon_settings_tool .mailpoet_tool_icon {
  fill: #bbb;
  width: 16px;
  height: 16px;
}
.mailpoet_social_icon_settings_tool .mailpoet_tool_icon:hover {
  fill: #333;
}
.mailpoet_social_icon_settings_tool .mailpoet_tool_icon:active {
  fill: #0074a2;
}
.mailpoet_social_icon_settings_tool .mailpoet_tool_icon:active {
  filter: progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=2, Color='#d2d2d4');
  -webkit-filter: drop-shadow(1px 2px 0px #d2d2d4);
  -ms-filter: progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=2, Color='#d2d2d4');
  filter: drop-shadow(1px 2px 0px #d2d2d4);
}
.mailpoet_social_icon_settings_move_icon {
  right: 5px;
}
.mailpoet_social_icon_settings_delete_icon {
  right: 26px;
}
.mailpoet_spacer {
  text-align: center;
}
.mailpoet_spacer_block {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  cursor: all-scroll;
}
.mailpoet_text_block {
  padding-left: 0;
  padding-right: 0;
}
.mailpoet_text_block > .mailpoet_content {
  overflow: hidden;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
}
blockquote {
  margin: 1em;
  padding-left: 1em;
  border-left: 2px #565656 solid;
}
.mailpoet_header_block {
  padding-left: 0;
  padding-right: 0;
}
.mailpoet_header_block .mailpoet_content {
  padding: 5px 20px;
}
.mailpoet_footer_block {
  padding-left: 0;
  padding-right: 0;
}
.mailpoet_footer_block .mailpoet_content {
  padding: 5px 20px;
}
.select2-drop {
  z-index: 101000;
}
.select2-container {
  border: none;
  padding: 0;
}
div.mce-toolbar-grp.mce-container {
  position: absolute;
}
.mce-tinymce.mce-tinymce-inline {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.05);
}
.mce-window div.mce-container-body.mce-abs-layout {
  overflow: hidden;
}
.mce-window .mce-window-head div.mce-dragh {
  width: -webkit-calc(100% - 36px);
  width: calc(100% - 36px);
}
.mce-i-mailpoet_custom_fields:before {
  font: 400 20px/1 dashicons !important;
  content: "\f307";
}
.mce-edit-focus {
  outline: none;
}
#wp-link li,
#wp-link div.query-notice {
  clear: both;
  margin-bottom: 0;
  border-bottom: 1px solid #f1f1f1;
  color: #333;
  padding: 4px 6px;
  cursor: pointer;
  position: relative;
}
#wpbody-content > * {
  margin-left: 20px;
}
#wpbody-content > .wrap {
  margin-left: 0;
}
#wpcontent {
  margin-left: 160px;
  padding-left: 0;
}
.folded #wpcontent {
  margin-left: 36px;
}
.wrap {
  margin-left: 0;
  margin-right: 0;
}
#wpadminbar {
  z-index: 50000;
}
body {
  overflow-x: auto;
}
.media-sidebar {
  display: none;
}
#mailpoet-media-manager .attachments-browser .attachments,
#mailpoet-media-manager .attachments-browser .uploader-inline {
  margin-right: 0;
}
#mailpoet-media-manager .attachments-browser .attachments,
#mailpoet-media-manager .attachments-browser .media-toolbar,
#mailpoet-media-manager .attachments-browser .uploader-inline {
  right: 0;
}
#media-attachment-date-filters {
  max-width: calc(100% - 12px);
}
.sp-replacer {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0;
  border: 0;
  -webkit-box-shadow: 1px 2px #d8d8d8;
  -moz-box-shadow: 1px 2px #d8d8d8;
  box-shadow: 1px 2px #d8d8d8;
}
.sp-preview {
  border-width: 0;
  margin-right: 0;
  width: 25px;
  height: 25px;
}
.sp-dd {
  display: none;
}
.mailpoet_panel_body {
  margin: 19px;
  padding: 0;
}
.mailpoet_panel_wrapper {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}
#mailpoet_modal_close {
  display: none;
}

