.clearfix {
  @include clearfix();
}

.relative-holder {
  position: relative;
}

a:focus {
  outline: 0 none !important;
}

.nav-tab:focus {
  box-shadow: none;
}

.mailpoet_success {
  color: #090;
}

.mailpoet_error {
  color: #900;
}

.mailpoet_hidden {
  display: none;
}

.mailpoet_spaced_block {
  margin: 1em 0;
}

.mailpoet_centered {
  text-align: center;
}

/* double class is intentional here, we need to be very specific here to
   something wrapping our warning message could override its style */
p.sender_email_address_warning.sender_email_address_warning,
p.sender_email_address_warning.sender_email_address_warning a {
  align-self: flex-start;
  color: #900;
  text-align: left;
}

p.sender_email_address_warning:first-child {
  margin-top: 0; // unify spacing with parsley errors
}

.button.mailpoet-button-bigger {
  font-size: 1.5em;
  height: 46px;
  padding: 10px 18px;
}

// Fix for select 2 placeholder padding rendering issue in Chrome
.select2-container .select2-search--inline,
.select2-container .select2-search--inline .select2-search__field {
  height: 22px;
  max-width: 100%;
}

.widefat {
  margin-bottom: $grid-gap;
}

.mailpoet-subscribers-in-plan {
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;

  .mailpoet-subscribers-in-plan-spacer {
    display: inline-block;
    width: 20px;
  }

  .tooltip {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

  @include respond-to(small-screen) {
    margin-top: 0;
  }
}

.mailpoet-subscribers-cache-notice {
  .mailpoet-subscribers-cache-notice-button {
    margin-left: 10px;
  }
}

.mailpoet_manage_sender_domain_wrapper {
  ol {
    counter-reset: item;

    li {
      counter-increment: item;
      list-style: none;
      margin: 24px 0 0 16px;
      position: relative;
    }

    li:before {
      align-items: center;
      border: 1px solid #007cba;
      border-radius: 99999px;
      color: #007cba;
      content: counter(item);
      display: inline-flex;
      height: 24px;
      justify-content: center;
      margin-left: -44px;
      margin-right: 16px;
      position: absolute;
      width: 24px;
    }
  }

  .mailpoet_manage_sender_domain_step_header {
    padding: 2px 0 16px;
  }
}

.mailpoet_manage_sender_domain {
  th,
  td {
    padding-left: 16px;
  }

  .mailpoet_table_header {
    font-weight: 700 !important;
  }

  .dns_record_type_column {
    font-weight: 550 !important;
    padding: 16px;
    width: 70px;
  }

  .mailpoet-form-input {
    border: 1px solid #757575;
    border-radius: 2px;
    width: 100%;
  }
}

.mailpoet_manage_sender_domain_status {
  align-items: center;
  border-radius: 2px;
  display: inline-flex;
  font-size: 12px;
  font-weight: normal;
  gap: 4px;
  margin-left: 8px;
  padding: 4px 6px;

  &.mailpoet_manage_sender_domain_status_valid {
    background: #edfaef;
    color: #005c12;
  }

  &.mailpoet_manage_sender_domain_status_invalid {
    background: #fcf0f1;
    color: #8a2424;
  }

  &.mailpoet_manage_sender_domain_status_pending {
    background: #f0f0f0;
    color: #757575;
  }
}

.mailpoet_manage_sender_domain_error {
  background: #fcf0f1;
  display: grid;
  gap: 16px;
  grid-template-columns: auto 1fr;
  margin-bottom: 8px;
  padding: 12px 16px;

  svg {
    color: #8a2424;
    height: 24px;
    margin-top: -2px;
    width: 24px;
  }
}

.mailpoet_manage_sender_domain_item_error {
  display: grid;
  gap: 4px;
  grid-template-columns: auto 1fr;
  margin-top: 8px;

  svg {
    color: #cc1818;
    height: 18px;
    margin-top: 1px;
    width: 18px;
  }

  strong {
    overflow-wrap: anywhere;
  }

  ins {
    background: #22918b;
    color: #fff;
    text-decoration: none;
  }

  del {
    background: #fae8e8;
    color: #cc1818;
    text-decoration: none;
  }
}

body .components-modal__screen-overlay {
  z-index: 9999999; // increased to overlay Gutenberg block inserter
}

.mailpoet-help-modal.components-modal__frame,
.mailpoet-premium-modal.components-modal__frame,
.mailpoet-welcome-wizard-confirmation-modal.components-modal__frame {
  max-width: 500px;
}

.mailpoet-premium-modal-footer {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  margin-top: 16px;
  padding-top: 12px;
}

.mailpoet-premium-modal-error {
  display: flex;
  justify-content: flex-end;
  margin-top: $grid-gap-half;
}

.mailpoet-locked-badge {
  align-items: center;
  background: #fcf9e8;
  border: 0.5px solid #f5e6ab;
  border-radius: 4px;
  color: #bd8600;
  display: flex;
  font-size: 11px;
  font-weight: 500;
  gap: 4px;
  height: 20px;
  letter-spacing: 0.2px;
  line-height: 16px;
  padding: 2px 8px 2px 4px;
  text-transform: uppercase;
  width: 82px;
}

.mailpoet-main-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
  max-width: 1072px;
}

.mailpoet-page-header {
  padding-top: 16px;

  h1.wp-heading-inline {
    margin: 0;
    padding: 4px 0;
  }
}

.mailpoet-admin-fields {
  column-gap: 24px;
  display: grid;
  grid-template-columns: 328px auto;

  @include respond-to(small-screen) {
    grid-template-columns: 1fr;
  }

  .components-card-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
  }
}

.mailpoet-admin-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mailpoet-admin-field-description {
  font-size: 12px;
}

.mailpoet-form-container {
  form {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .mailpoet-form-input input {
      font-size: 13px;
    }

    p {
      margin: 0;
    }
  }
}

.mailpoet-admin-fields-footer {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}
