.clearfix {
  @include clearfix();
}

.relative-holder {
  position: relative;
}

a:focus {
  outline: 0 none !important;
}

.nav-tab:focus {
  box-shadow: none;
}

.mailpoet_success {
  color: #090;
}

.mailpoet_error {
  color: #900;
}

.mailpoet_hidden {
  display: none;
}

.mailpoet_spaced_block {
  margin: 1em 0;
}

.mailpoet_centered {
  text-align: center;
}

/* double class is intentional here, we need to be very specific here to
   something wrapping our warning message could override its style */
p.sender_email_address_warning.sender_email_address_warning,
p.sender_email_address_warning.sender_email_address_warning a {
  align-self: flex-start;
  color: #900;
  text-align: left;
}

p.sender_email_address_warning:first-child {
  margin-top: 0; // unify spacing with parsley errors
}

.button.mailpoet-button-bigger {
  font-size: 1.5em;
  height: 46px;
  padding: 10px 18px;
}

// Fix for select 2 placeholder padding rendering issue in Chrome
.select2-container .select2-search--inline,
.select2-container .select2-search--inline .select2-search__field {
  height: 22px;
  max-width: 100%;
}

.widefat {
  margin-bottom: $grid-gap;
}

.mailpoet-subscribers-in-plan {
  font-size: 18px;
  margin-bottom: 20px;

  .mailpoet-subscribers-in-plan-spacer {
    display: inline-block;
    width: 20px;
  }

  .tooltip {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

  @include respond-to(small-screen) {
    margin-top: 0;
  }
}

.mailpoet-subscribers-cache-notice {
  .mailpoet-subscribers-cache-notice-button {
    margin-left: 10px;
  }
}

.mailpoet_manage_sender_domain {
  .mailpoet_table_header {
    font-weight: 700 !important;
    text-align: center !important; // to prevent being overwritten by widefat table classes
  }

  .dns_record_type_column {
    font-weight: 550 !important;
    text-align: center !important; // to prevent being overwritten by widefat table classes
  }
}

body .components-modal__screen-overlay {
  z-index: 9999999; // increased to overlay Gutenberg block inserter
}

.mailpoet-premium-modal.components-modal__frame {
  max-width: 500px;
}

.mailpoet-premium-modal-footer {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  margin-top: 16px;
  padding-top: 12px;
}

.mailpoet-premium-modal-error {
  display: flex;
  justify-content: flex-end;
  margin-top: $grid-gap-half;
}

.mailpoet-locked-badge {
  align-items: center;
  background: #fcf9e8;
  border: .5px solid #f5e6ab;
  border-radius: 4px;
  color: #bd8600;
  display: flex;
  font-size: 11px;
  font-weight: 500;
  gap: 4px;
  height: 20px;
  letter-spacing: .2px;
  line-height: 16px;
  padding: 2px 8px 2px 4px;
  text-transform: uppercase;
  width: 82px;
}
