.mailpoet_feature_announcement {
  float: right;
}

.button.mailpoet_feature_announcement_button {
  height: 28px;
  min-height: auto;
  padding: 0 5px 1px;
  position: relative;

  @include respond-to(small-screen) {
    margin-top: 10px;
  }
}

.mailpoet_feature_announcement_icon {
  line-height: 28px;
}

.mailpoet_feature_announcement_dot:before {
  background: #d54e21;
  border-radius: 10px;
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  right: -4px;
  top: -4px;
  width: 10px;
}

.mailpoet_in_beamer_update_notice {
  background: #f00;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding: 20px 10px;
  position: fixed;
  right: -400px;
  text-align: center;
  transition: right .2s ease-in;
  width: 400px;
  z-index: 10000000000; // really has to be this high

  a {
    color: #fff;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }

  .beamer_show & {
    right: 0;
  }
}
