@use 'sass:math';

// Fix for notice being above "Screen options" button
.notice,
.error {
  clear: both;
}

.mailpoet-listing {
  background: $color-white;
  border: 1px solid $color-tertiary-light;
  border-radius: 0 4px 4px;
  padding: $grid-gap;

  .mailpoet-tab-content & {
    background: none;
    border: 0;
    border-radius: 0;
    padding: 0;
  }

  .mailpoet-categories {
    padding-left: $grid-gap-half;
    padding-right: $grid-gap-half;
  }

  a {
    color: $color-text;
  }
}

.mailpoet-listing-search {
  display: inline-block;
}

.mailpoet-listing-filters {
  display: inline-block;
  margin-left: $grid-gap;

  .mailpoet-form-select {
    margin-right: $grid-gap;
    min-height: 30px;
  }
}

.mailpoet-listing-pages {
  color: $color-text-light;
  float: right;
  font-size: $font-size-extra-small;
  font-weight: 600;
  margin: 0 0 9px;
}

.mailpoet-listing-pages-num {
  margin-right: 21px;
}

.mailpoet-listing-pages-links > span,
.mailpoet-listing-pages-links > a {
  padding: 0 3px;
}

.mailpoet-listing-pages-first,
.mailpoet-listing-pages-previous,
.mailpoet-listing-pages-next,
.mailpoet-listing-pages-last {
  vertical-align: middle;
}

input.mailpoet-listing-current-page {
  border: 1px solid $color-tertiary-light;
  color: $color-text-light;
  font-size: $font-size-extra-small;
  margin-right: 8px;
  text-align: center;
  width: 37px;
}

.mailpoet-listing-loading tbody tr,
.mailpoet_form_loading div.mailpoet-form-grid {
  opacity: .2;
}

tr.mailpoet-listing-actions-and-select-all-row td {
  background-color: $color-white;
  box-shadow: 0 4px 4px -2px rgba($color-tertiary-light, .5) !important;
  padding: 0 !important;
}

div.mailpoet-listing-bulk-actions-container {
  padding: 0;
}

.mailpoet-listing-bulk-actions {
  padding: math.div($grid-gap, 2) $grid-gap;

  a {
    color: red;
    font-size: $font-size;
    font-weight: bold;
    line-height: 1.5;
    margin-right: 1em;
    text-decoration: underline;
    white-space: nowrap;
  }
}

.mailpoet-listing-select-all {
  color: $color-tertiary;
  font-size: $font-size-small;
  padding: math.div($grid-gap, 2) $grid-gap;
  text-align: right;

  a {
    color: $color-secondary;
    font-weight: 600;
    text-decoration: underline;
  }
}

.mailpoet-listing-table {
  border-spacing: 0;

  .mailpoet-listing & {
    background: #fff;
    border: 0;
    border-top: 1px solid $color-tertiary-light;
    margin: $grid-gap 0 - $grid-gap;
    width: calc(100% + 2 * #{$grid-gap});
  }

  .mailpoet-listing-no-space & {
    border-top: 0;
    margin: -$grid-gap;

    tbody tr:last-child td {
      border-bottom: 0;
    }
  }

  a {
    text-decoration: none;
  }

  th {
    font-size: 14px;
    line-height: 1.3em;

    span {
      white-space: nowrap;
    }
  }

  td,
  p {
    color: $color-text;
    font-size: 13px;
    line-height: 1.5em;
  }

  thead th,
  thead th a {
    color: $color-text-light !important;
    font-size: $font-size-extra-small;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.4em;
    padding: 12px 10px;
    text-transform: uppercase;
  }

  thead th {
    border-bottom: 1px solid $color-tertiary-light;
    box-shadow: 0 4px 4px -2px rgba($color-tertiary-light, .5);
    text-align: left;
    white-space: nowrap;

    a {
      align-items: center;
      display: flex;
    }

    &.sortable {
      padding: 0;
    }

    &:last-child a {
      justify-content: flex-end;
    }

    &.mailpoet-listing-column-narrow {
      @media screen and (max-width: 1400px) {
        padding-left: 4px;
        padding-right: 4px;
      }
    }
  }

  tbody th,
  tbody td {
    border-bottom: 1px solid $color-tertiary-light;
    box-shadow: none;
    max-width: 30vw;
    padding: $grid-gap-medium $grid-gap-half;
    vertical-align: middle;

    @include respond-to(small-screen) {
      max-width: none;
    }
  }

  thead th.column-primary,
  tfoot th.column-primary {
    min-width: 25em;
  }

  th:last-child:not(:only-child),
  td:last-child:not(:only-child) {
    text-align: right;
  }

  .column-date {
    white-space: nowrap;
  }

  @include respond-to(small-screen) {
    thead th.column-primary,
    tfoot th.column-primary {
      width: 100% !important;
    }

    tbody th,
    tbody td {
      border-bottom: 0;
      display: block !important;
      padding: 5px 10px !important;

      &:before {
        display: none !important;
      }

      &.mailpoet-hide-on-mobile {
        display: none !important;
      }
    }

    .column-primary {
      float: left !important;
      padding: 5px 30px 5px 0 !important;
      position: static !important;
    }

    tr {
      border-bottom: 1px solid $color-tertiary-light;
      display: block;
      padding: 5px 10px 47px;
      position: relative;

      &:after {
        clear: both;
        content: '';
        display: table;
      }

      .mailpoet-listing-no-actions-on-mobile & {
        padding-bottom: 0;
      }
    }
  }
}

.mailpoet-listing-sorting-arrow {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath fill='%239CA6CC' d='M2 0h8c.552 0 1 .448 1 1 0 .216-.07.427-.2.6l-4 5.333c-.331.442-.958.532-1.4.2-.076-.057-.143-.124-.2-.2L1.2 1.6C.869 1.158.958.531 1.4.2c.173-.13.384-.2.6-.2z'/%3E%3C/svg%3E") no-repeat center;
  content: '';
  display: none;
  height: 8px;
  margin-left: 5px;
  width: 12px;

  .sorted & {
    display: block;
  }

  .asc & {
    transform: rotate(180deg);
  }
}

.mailpoet-listing-title {
  color: $color-text;
  font-size: $font-size;
  font-weight: 600;
}

a.mailpoet-listing-title {
  &:hover,
  &:focus {
    color: $color-secondary;
  }
}

.mailpoet-listing-subtitle {
  color: $color-text;
  font-size: $font-size-small;
  font-weight: normal;
}

.mailpoet-listing-actions-holder {
  position: relative;

  @include respond-to(small-screen) {
    position: static;
  }
}

.mailpoet-listing-actions {
  align-items: center;
  display: none;
  flex-wrap: wrap;
  left: 0;
  line-height: 15px;
  position: absolute;
  top: 0;
  width: 100%;

  a {
    color: $color-text-light;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-secondary;
    }
  }

  > span {
    align-items: center;
    color: $color-text-light;
    display: flex;

    + span:before {
      content: '•';
      margin: 0 4px;
    }
  }

  tr:hover & {
    display: flex;
  }

  @include respond-to(small-screen) {
    bottom: 10px;
    display: flex;
    left: 2px;
    right: 10px;
    top: auto;
    width: auto;

    a {
      align-items: center;
      background: $color-secondary-light;
      border-radius: 4px;
      box-sizing: border-box;
      color: $color-secondary;
      display: inline-flex;
      font-size: $font-size-small;
      font-weight: bold;
      justify-content: center;
      line-height: 20px;
      max-width: 100%;
      min-height: 32px;
      padding: 6px 12px;
      position: relative;
      text-align: center;
      text-decoration: none;
      vertical-align: top;
      width: 100%;
    }

    > span {
      flex-grow: 1;
      max-width: 50%;

      &:before {
        content: '' !important;
        margin: 0 4px;
      }
    }
  }
}

.mailpoet-listing-check-column {
  border-left: 6px solid transparent;
  padding: 8px 0 8px 10px;
  width: $form-control-choice-height;

  .mailpoet-form-checkbox-control {
    margin-right: 0;
    opacity: 1;
  }

  thead &,
  tr:hover &,
  input:checked + {
    .mailpoet-form-checkbox-control {
      opacity: 1;
    }
  }
}

.mailpoet-listing-row-inactive {
  background: rgba($color-tertiary-light, .2);
}

.mailpoet-listing-row-selected {
  background: rgba($color-secondary-light, .6);

  .mailpoet-listing-check-column { border-left-color: $color-secondary; }
}

.mailpoet-listing-footer {
  background-color: $color-white;
}

.mailpoet-listing-error {
  color: #f00;
}

a.mailpoet-listing-error {
  color: #f00;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: #f00;
    text-decoration: none;
  }
}

a.mailpoet-listing-link-important {
  color: $color-secondary !important;
}

@include respond-to(small-screen) {
  .mailpoet-listing {
    padding: 0;
  }

  .mailpoet-listing-header {
    display: none;
  }

  .mailpoet-listing-pages {
    float: none;
    text-align: center;
  }

  tr.mailpoet-listing-actions-and-select-all-row {
    display: none;
  }

  .mailpoet-listing-table {
    .mailpoet-listing & {
      border-top: 0;
      margin-bottom: 0;
      margin-top: 0;
    }

    thead,
    .mailpoet-listing-check-column {
      display: none;
    }
  }

  .mailpoet-listing-footer {
    margin: 0 0 - $grid-gap;
    padding-top: $grid-gap;
  }
}
