// Fix for notice being above "Screen options" button
.notice,
.error {
  clear: both;
}

.mailpoet-listing {
  background: $color-white;
  border: 1px solid $color-tertiary-light;
  border-radius: 0 4px 4px;
  padding: $grid-gap;

  .mailpoet-tab-content & {
    background: none;
    border: 0;
    border-radius: 0;
    padding: 0;
  }

  .mailpoet-categories {
    margin: 0 - $grid-gap 0 - $grid-gap $grid-gap;
  }

  a {
    color: $color-text;
  }
}

.mailpoet-listing-filters {
  display: inline-block;
  margin-left: $grid-gap;

  .mailpoet-form-select {
    margin-right: $grid-gap;
    min-height: 30px;
  }
}

.mailpoet-listing-title-row {
  align-items: center;
  display: inline-flex;
  gap: 8px;

  .mailpoet-tooltip {
    overflow-wrap: break-word;
    white-space: normal;
  }
}

.mailpoet-listing-title {
  color: $color-text;
  font-size: $font-size;
  font-weight: 600;
}

a.mailpoet-listing-title {
  &:hover,
  &:focus {
    color: $color-secondary;
  }
}

.mailpoet-listing-subtitle {
  color: $color-text;
  font-size: $font-size-small;
  font-weight: normal;
}

.mailpoet-listing-actions-holder {
  position: relative;

  @include respond-to(small-screen) {
    position: static;
  }
}

.mailpoet-listing-actions {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  line-height: 15px;
  visibility: hidden;

  a {
    color: $color-text-light;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-secondary;
    }
  }

  > span {
    align-items: center;
    color: $color-text-light;
    display: flex;

    + span:before {
      content: '•';
      margin: 0 4px;
    }
  }

  tr:hover & {
    visibility: visible;
  }

  @include respond-to(small-screen) {
    display: flex;
    inset: auto 10px 10px 2px;
    width: auto;

    a {
      align-items: center;
      background: $color-secondary-light;
      border-radius: 4px;
      box-sizing: border-box;
      color: $color-secondary;
      display: inline-flex;
      font-size: $font-size-small;
      font-weight: bold;
      justify-content: center;
      line-height: 20px;
      max-width: 100%;
      min-height: 32px;
      padding: 6px 12px;
      position: relative;
      text-align: center;
      text-decoration: none;
      vertical-align: top;
      width: 100%;
    }

    > span {
      flex-grow: 1;
      max-width: 50%;

      &:before {
        content: '' !important;
        margin: 0 4px;
      }
    }
  }
}

.mailpoet-listing-error {
  color: #f00;
}

a.mailpoet-listing-error {
  color: #f00;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: #f00;
    text-decoration: none;
  }
}

a.mailpoet-listing-link-important {
  color: $color-secondary !important;
}

@include respond-to(small-screen) {
  .mailpoet-listing {
    padding: 0;
  }
}
