@import '../components-automation/colors';

$mp-toggle-transition: cubic-bezier(0, 1, 0.5, 1);

.mp-toggle {
  --toggle-height: 40px;
  --font-size: 0.8125rem;
  background: #fff;
  border-radius: 3px;
  height: var(--toggle-height);
  position: relative;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  label {
    align-items: center;
    display: flex;
    font-size: var(--font-size);
    margin: 0 0 8px;
    position: relative;
    user-select: none;

    .mp-toggle__label-text {
      flex: 1;
      padding-left: 32px;
    }

    .mp-toggle__switch {
      border: 1px solid $color-gutenberg-grey-400;
      border-radius: 3px;
      flex: 0 0 100%;
      height: var(--toggle-height);
      position: relative;
      text-align: center;

      &:hover {
        cursor: pointer;
      }

      &:before,
      &:after {
        border-radius: 2px;
        font-size: var(--font-size);
        height: 100%;
        line-height: var(--toggle-height);
        min-width: 45px;
        padding: 0 12px;
        position: absolute;
        top: 0;
        transition: background-color 0.3s $mp-toggle-transition;
        width: 50%;
      }

      &:before {
        background-color: $color-gutenberg-grey-900;
        color: #fff;
        content: attr(data-unchecked);
        font-weight: normal;
        left: 0;
      }

      &:after {
        background-color: #fff;
        color: $color-gutenberg-grey-700;
        content: attr(data-checked);
        right: 0;
        z-index: 1;
      }
    }
  }

  input[type='checkbox'] {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;

    &[disabled] ~ label {
      color: $color-gutenberg-grey-700;
      pointer-events: none;

      .mp-toggle__switch {
        opacity: 0.4;
      }
    }

    &:checked {
      ~ label {
        .mp-toggle__switch {
          &:before {
            background-color: #fff;
            color: $color-gutenberg-grey-700;
          }

          &:after {
            background-color: $color-gutenberg-grey-900;
            color: #fff;
          }
        }
      }
    }
  }
}
