#mailpoet_style_types {
  display: flex;

  .mailpoet_form_field {
    display: flex;
    flex: 1;
    height: 75px;
    margin: 0;

    &:first-child {
      margin-right: 15px;
    }

    label {
      align-items: center;
      background: #d4e7ff;
      border: 1px solid #ccc;
      border-radius: 2px;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      gap: 10px;
      height: 100%;
      justify-content: center;
      margin: 0;
      padding: 15px 0;
      position: relative;
      text-align: center;
      width: 100%;
    }

    .radio_checkmark {
      background-color: $color-primary;
      border-radius: 16px;
      bottom: 7px;
      color: $color-white;
      display: none;
      height: 16px;
      line-height: 16px;
      position: absolute;
      right: 7px;
      text-align: center;
      width: 16px;
    }

    input {
      display: none;

      &:checked + label {
        background: $color-homepage-light-grey;
        border-color: $color-primary;

        .radio_checkmark {
          display: inline-block;
        }
      }
    }

    .style_types_typography {
      font-size: 34px;
    }

    .style_type_colors {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
      width: 16px;

      span {
        border-radius: 16px;
        display: inline-block;
        height: 16px;
        width: 16px;

        &:first-child {
          margin-bottom: 5px;
        }
      }
    }
  }
}
