/*
Custom styles for MailPoet pages.
*/
.mailpoet-about-wrap {
  .videoWrapper {
    /* padding-top: 25px */
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .mailpoet_video {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  #mailpoet-changelog ul {
    list-style: disc;
    padding-left: 20px;
  }

  h2.mailpoet-feature-top {
    margin: 50px auto;
  }

  a.button.go-to-plugin {
    margin-top: 2em;
  }

  p.top-space-triple {
    margin-top: 3em;
  }

  p.mailpoet-top-text {
    margin-right: 0;
  }

  ul.default-list {
    list-style-type: disc;
    margin-left: 40px;
  }

  .half-width-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }
}
