@import '../components-automation-analytics/colors';

.mailpoet-tiers-page-hero-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
  padding: 64px 0;

  &.narrow {
    max-width: 700px;
  }

  &.footer {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  h1.mailpoet-tiers-page-hero-section__title {
    color: $color-gutenberg-grey-900;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  p {
    color: $color-gutenberg-grey-900;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  img {
    flex-shrink: 0;
    height: 231.687px;
    width: 400px;

    @include respond-to(small-screen) {
      display: none;
    }
  }
}

.mailpoet-tiers-page-hero-section-questions {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 500px;

  @include respond-to(small-screen) {
    max-width: 700px;
    width: auto;
  }

  .mailpoet-tiers-page-hero-section-questions-content {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  h1.mailpoet-tiers-page-hero-section__title,
  p {
    text-align: left;
  }
}
