.mailpoet_progress {
  background-color: #efefef;
  border-radius: 5px;
  height: 25px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  position: relative;
  width: 100%;
}

.mailpoet_progress_label {
  display: inline-block;
  margin: 2px 0 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.mailpoet_progress_bar {
  background-color: #34c2e3;
  background-image: linear-gradient(to bottom, #34c2e3, darken(#34c2e3, 20%));
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  display: inline-block;
  height: 100%;
  position: absolute;
}

.mailpoet_progress_complete {
  .mailpoet_progress_bar {
    background-color: hsla(191, 78%, 80%, 1);
    background-image: linear-gradient(
      to bottom,
      hsla(191, 78%, 80%, 1),
      hsla(191, 76%, 67%, 1)
    );
  }
}

.mailpoet_stepped_progress_bar {
  display: flex;
  max-width: 100%;
  width: 350px;
}

.mailpoet_stepped_progress_bar_step {
  flex-grow: 1;

  &:before {
    background-color: #f1f1f1;
    border: 2px solid #dbdbdb;
    border-radius: 14px;
    content: '';
    display: block;
    height: 12px;
    position: relative;
    width: 12px;
    z-index: 1;
  }

  &:after {
    background-color: #dbdbdb;
    content: '';
    display: block;
    height: 4px;
    left: 4px;
    position: relative;
    top: -10px;
    width: 100%;
  }

  &:last-of-type {
    flex-grow: 0;
    width: 18px;

    &:after {
      display: none;
    }
  }

  &.active:before,
  &.active:after {
    background-color: #23282d;
    border-color: #23282d;
  }

  &.current {
    &:before {
      background-color: #fff;
    }
    &:after {
      background-color: #dbdbdb;
    }
  }
}
