.mailpoet-segments-name-section,
.mailpoet-segments-description-section,
.mailpoet-segments-segments-section,
.mailpoet-segments-counter-section {
  grid-column: span 2;
}

.mailpoet-segments-grid {
  grid-template-columns: 200px 1fr 1fr;
  padding-right: $grid-gap-large;
  position: relative;

  @include respond-to(small-screen) {
    grid-template-columns: 1fr;
  }
}

.mailpoet-segments-description-section .mailpoet-form-textarea textarea {
  height: 100px;
}

.mailpoet-segments-segments-section .mailpoet-form-segment-delete {
  align-items: center;
  border: 1px solid $color-input-error;
  border-radius: 12px;
  color: $color-input-error;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  margin-top: -11px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 20px;
}

.mailpoet-segments-segments-section .mailpoet-form-segment-delete svg {
  fill: currentColor;
  height: 12px;
  width: 12px;
}

.mailpoet-segments-segments-section .mailpoet-form-segment-delete:hover,
.mailpoet-segments-segments-section .mailpoet-form-segment-delete:focus {
  background: $color-input-error;
  color: $color-white;
}

.mailpoet-segments-conditions-bottom {
  align-items: center;
  display: flex;
  gap: 16px;
  padding-top: 24px;
}
