.mailpoet-segments-name-section,
.mailpoet-segments-description-section,
.mailpoet-segments-segments-section,
.mailpoet-segments-counter-section {
  grid-column: span 2;
}

.mailpoet-segments-counter-section {
  text-align: right;
}

.mailpoet-segments-grid {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex: 1 0 0;
  flex-wrap: wrap;
  gap: 16px;

  .mailpoet-centered-row {
    max-width: 300px;
  }

  .mailpoet-segments-input-small {
    margin-left: 0 !important;
    width: 80px;
  }

  .mailpoet-segments-input-medium {
    margin-left: 0 !important;
    width: 200px;
  }

  .mailpoet-segments-datepicker-small {
    margin-left: 0 !important;
    width: 110px;
  }
}

.mailpoet-segments-description-section .mailpoet-form-textarea textarea {
  height: 100px;
}

.mailpoet-segments-segments-section .mailpoet-form-segment-delete {
  align-items: center;
  border: 1px solid $color-input-error;
  border-radius: 12px;
  color: $color-input-error;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: 40px;
  width: 20px;
}

.mailpoet-segments-segments-section .mailpoet-form-segment-delete svg {
  fill: currentColor;
  height: 12px;
  width: 12px;
}

.mailpoet-segments-segments-section .mailpoet-form-segment-delete:hover,
.mailpoet-segments-segments-section .mailpoet-form-segment-delete:focus {
  background: $color-input-error;
  color: $color-white;
}

.mailpoet-segments-conditions-bottom {
  align-items: center;
  display: flex;
  gap: 16px;
  padding-top: 24px;
}

.mailpoet-segments-segments-section p {
  padding: 11px 0;
}

.mailpoet-segments-filter-selector {
  width: 210px;
}
