.mailpoet-settings-grid {
  display: grid;
  grid-template-columns: 30em 1fr;
  margin: 0 (-$grid-gap);

  .key-activation-messages > div {
    margin-top: 10px;
    max-width: 500px;

    .pending_approval_heading {
      font-weight: bold;
      margin: 20px 0 5px;
    }
  }

  .mailpoet_subitem {
    margin-left: 2em;
  }

  .mailpoet_tooltip_icon {
    display: inline-block;
    line-height: 1.5;
  }

  .button-secondary {
    font-size: 14px;
    line-height: 2;
    margin: 0 3px;
    min-height: 30px;
    vertical-align: unset;
  }

  .mailpoet_emails_per_second_warning {
    color: $color-editor-warning;
  }

  .mailpoet-note {
    font-style: italic;
  }
}

.mailpoet-settings-save {
  border-radius: 0 0 3px 3px;
  grid-column: span 2;
  margin-bottom: -$grid-gap;
  padding: $grid-gap $grid-gap;

  &:nth-child(4n+3) {
    background: $color-tertiary-light-background;
  }
}

label[for='mailpoet_wc_checkout_optin_segments'] span {
  font-size: 12px;
}

.mailpoet_success_item:before {
  content: '✔ ';
}

.mailpoet_error_item:before {
  content: '✗ ';
}

ul.sending-method-benefits {
  list-style-type: none;
  margin-bottom: 2em;
  margin-top: 2em;
}

.mailpoet-settings-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  padding: $grid-gap;

  &:nth-child(4n+3) {
    background: $color-tertiary-light-background;
  }
}

.mailpoet-settings-label-title {
  color: #23282d;
  cursor: pointer;
}

.mailpoet-settings-inputs,
.mailpoet-settings-inputs p,
.mailpoet-sending-methods {
  font-size: 14px;
}

.mailpoet-settings-inputs {
  padding: $grid-gap;

  &:nth-child(4n+4) {
    background: $color-tertiary-light-background;
  }

  .mailpoet-form-input:not(:first-child) {
    margin-top: $grid-gap-half;
  }

  &.mailpoet-import-tags {
    label.components-form-token-field__label {
      display: none;
    }
  }
}

.mailpoet-settings-inputs-row {
  display: block;
  margin-top: $grid-gap-half;

  &:first-child {
    margin-top: 0;
  }
}

.mailpoet-settings-inputs-row-centered {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.mailpoet-sending-method {
  display: block;
  margin-left: $form-control-choice-height;
  padding: $grid-gap;

  .mailpoet-form-radio-control {
    left: -$form-control-choice-height;
    position: absolute;
    top: 17px;
  }

  .mailpoet-h4 {
    margin-top: 0;
  }
}

.mailpoet-sending-method-benefits {
  margin: $grid-gap-medium 0;
}

.mailpoet-sending-method-actions {
  align-items: center;
  display: flex;
  margin-top: $grid-gap;

  @include respond-to(small-screen) {
    flex-direction: column;
  }
}

.disc-inside-list {
  list-style-position: inside;
  list-style-type: disc;
}

.mailpoet_install_premium_message {
  margin-bottom: $grid-gap-medium;
}
