.mailpoet-stats-page {
  color: $color-tertiary;
  font-size: $font-size-small;
  line-height: $line-height;
  margin-left: -20px;

  .mailpoet-tabs {
    margin: $grid-gap;
  }

  .mailpoet-listing-table td,
  .mailpoet-listing-table p {
    font-size: $font-size-small;
  }

  .mailpoet-stats-link {
    color: $color-text;
    font-weight: 600;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $color-secondary;
      text-decoration: none;
    }
  }

  @include respond-to(small-screen) {
    margin-left: -10px;

    .mailpoet-listing-table {
      tr {
        padding-bottom: 5px;
      }

      td {
        float: none !important;
        padding: 5px 10px !important;
        text-align: left !important;
      }
    }
  }
}

.mailpoet-stats-info,
.mailpoet-stats-general {
  background-color: $color-white;
  margin: 0;
  padding: $grid-gap;
}

.mailpoet-stats-info {
  border-bottom: 1px solid $color-tertiary-light;
  line-height: 24px;

  .mailpoet-h1 {
    margin-top: $grid-gap-half;
  }
}

.mailpoet-stats-general {
  font-size: $font-size;

  .mailpoet-grid-three-columns {
    @include respond-to(small-screen) {
      border-bottom: 1px solid $color-tertiary-light;
    }
  }
}

.mailpoet-stats-general-top-row {
  margin-bottom: $grid-gap;
}

.mailpoet-stats-info-key {
  font-weight: 700;
}

.mailpoet-stats-info-sender-preview {
  align-self: flex-end;
  display: flex;
  flex-direction: row;

  :first-child {
    flex-grow: 1;
  }

  > * {
    flex-grow: 0;
  }
}

.mailpoet-stats-general-read-more {
  font-weight: bold;
  margin-bottom: 0;
  text-align: right;

  a {
    color: $color-text-light;
  }
}

.mailpoet-statistics-value-small {
  .mailpoet-statistics-value-number {
    font-size: $heading-font-size-h3;
  }
}

.mailpoet-statistics-value {
  font-size: $heading-font-size-h3;

  .mailpoet-statistics-value-number {
    font-size: $heading-font-size-h1;
    font-weight: bold;
  }
}

.mailpoet-statistics-value-number-average {
  color: $color-stats-average;
}

.mailpoet-statistics-value-number-critical {
  color: $color-stats-critical;
}

.mailpoet-statistics-value-number-excellent {
  color: $color-stats-excellent;
}

.mailpoet-statistics-value-number-good {
  color: $color-stats-good;
}

.mailpoet-statistics-with-left-separator {
  border-left: solid 1px $color-tertiary-light;
  padding-left: $grid-gap;

  @include respond-to(small-screen) {
    border-left: 0;
    border-top: solid 1px $color-tertiary-light;
    padding-left: 0;
    padding-top: $grid-gap;
  }
}

.mailpoet_stat_triple-spaced {
  margin-bottom: 3rem;
}

.mailpoet-stats-premium-required .mailpoet-premium-required {
  margin: 70px auto;
}

.mailpoet-stats-products {
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));

  @include respond-to(small-screen) {
    grid-template-columns: 1fr;
    padding-top: $grid-gap;
  }
}

.mailpoet-stats-product {
  background: #fff;
  border: 1px solid $color-tertiary-light;
  border-radius: $form-control-border-radius;
  color: $color-text;
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: 176px 1fr;
  height: 136px;

  @include respond-to(small-screen) {
    grid-template-columns: 1fr;
    height: auto;
  }
}

a.mailpoet-stats-product {
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: 0 2px 4px 0 rgba($color-tertiary-light, .4), 0 10px 30px 0 $color-tertiary-light;
    color: $color-text;
    text-decoration: none;

    .mailpoet-h5 {
      color: $color-secondary;
    }
  }
}

.mailpoet-stats-product-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @include respond-to(small-screen) {
    height: 136px;
  }
}

.mailpoet-stats-product-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .mailpoet-h5 {
    font-weight: bold;
    margin: 0 0 $grid-gap;
  }

  p {
    font-size: $font-size-small;
    margin: 0;
  }

  @include respond-to(small-screen) {
    padding: 0 $grid-gap $grid-gap;
  }
}
