#subscribers_container {
  .mailpoet_segments_unsubscribed {
    color: lighten(#555, 33);
  }
}

.mailpoet-subscriber-stats-summary-grid {
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: auto auto auto 1fr;

  .mailpoet-listing .mailpoet-listing-table {
    border: 0;
    box-shadow: none;
    margin: 0 (-$grid-gap);

    td {
      padding-bottom: 10px;
      padding-top: 10px;
    }

    td:not(:first-child) {
      text-align: right;

      &:not(:last-child) {
        padding-right: 25px;
      }
    }
  }
}

.mailpoet-subscriber-stats-summary {
  display: inline-block;
  margin-top: $grid-gap;
  min-width: 300px;
  padding: $grid-gap-half $grid-gap;
}

.mailpoet-subscriber-stats-no-access-content {
  display: flex;
  justify-content: center;
  margin: 70px auto;
}

.mailpoet-subscriber-stats {
  .mailpoet-listing-table thead tr {
    box-shadow: 0 2px 4px -2px $color-tertiary-light;
  }

  thead td {
    color: $color-wordpress-grey-dark;
    padding-right: 8px;
  }

  tbody td {
    border-bottom: 1px solid $color-tertiary-light;
    color: $color-tertiary;
    font-size: $font-size-small;
  }

  td a {
    color: $color-tertiary;
    text-decoration: underline;

    &:hover {
      color: $color-secondary;
      text-decoration: none;
    }
  }

  .tooltip {
    margin-left: $grid-gap-half * 0.5;
  }

  .mailpoet-tooltip-message a {
    color: $color-white;
  }

  .mailpoet-listing-table tr:last-child td {
    border-bottom: 0;
  }
}
