.mailpoet-automation-editor-dropdown-name-edit {
  padding: 16px;
}

.mailpoet-automation-editor-dropdown-name-edit-title {
  margin-bottom: 10px;
}

.mailpoet-automation-editor-dropdown-toggle-link {
  display: inline-flex;
  height: fit-content;
  margin-top: 10px;
  text-decoration: none;
}
