.mailpoet-automation-filters-panel-content {
  margin-top: 16px;
}

button.components-button.mailpoet-automation-filters-panel-add-filter {
  padding-right: 12px;

  &.has-icon > svg {
    margin-right: 4px;
  }
}

.mailpoet-automation-filters-list {
  display: grid;
  gap: 12px;
}

.mailpoet-automation-filters-list-group-description {
  color: #646970;
  font-size: 13px;
  margin-bottom: 16px;
}

.mailpoet-automation-filters-list-group-description-operator {
  font-weight: 600;
}

.mailpoet-automation-filters-list-group-operator {
  .components-base-control__field > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px 16px;
    justify-content: flex-start;
  }
}

.mailpoet-automation-filters-list-item {
  align-items: center;
  background: #f0f0f0;
  display: grid;
  grid-template-columns: 1fr auto;

  &.mailpoet-automation-filters-list-item-has-error {
    background: #fcf0f1;
    color: #8a2424;
  }

  .mailpoet-automation-filters-list-item-content {
    color: inherit;
    display: block;
    height: auto;
    line-height: inherit;
    padding: 8px 12px;
    text-align: left;

    &:disabled {
      opacity: 1;
    }
  }

  .mailpoet-automation-filters-list-item-remove {
    color: #757575;
    margin: 4px;
    padding: 0;
  }
}

.mailpoet-automation-filters-list-item-error {
  color: #8a2424;
  font-size: 12px;
  margin-top: 4px;
}

.mailpoet-automation-filters-list-item-field,
.mailpoet-automation-filters-list-item-value {
  font-weight: 600;
}

.mailpoet-automation-filters-list-item-value-missing {
  color: #757575;
  display: inline-block;
  vertical-align: middle;

  svg {
    margin: -2px 0;
  }
}
