// See: https://github.com/WordPress/gutenberg/blob/659377eac576ac34f68dc9762187eb2f6aec2151/packages/edit-navigation/src/components/notices/style.scss

.mailpoet-automation-editor-notices__snackbar-list {
  bottom: 0;
  padding: 20px;
  position: fixed;
}

.mailpoet-automation-editor-notices__notice-list {
  // Notices have some unusual margin and padding by default, reset that.
  .components-notice {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-sizing: border-box;
    margin: 0;
    min-height: 60px;
    padding: 0 12px;

    // Make sure the close button is centered.
    .components-button {
      align-self: initial;
    }
  }
}
