.mailpoet-automation-sidebar {
  padding-bottom: 100px;
}

.components-panel__body-title.mailpoet-automation-panel-plain-body-title {
  display: grid;
  grid-template-columns: 1fr auto;
}

.mailpoet-automation-panel-plain-body-title-text {
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  padding: 16px 48px 16px 16px;
}

.mailpoet-automation-panel-plain-body-title-action {
  align-items: center;
  display: flex;
  padding: 8px 16px;

  button {
    height: auto;
    padding: 4px;
  }
}

.mailpoet-step-name-dropdown {
  display: block;

  h2 {
    margin: 0;
  }

  .mailpoet-automation-panel-plain-body-title-text {
    padding-left: 0;
    padding-top: 0;
  }

  .mailpoet-automation-panel-plain-body-title-action {
    margin-top: -10px;
    padding-right: 0;
    padding-top: 0;
  }
}

.mailpoet-step-name-popover {
  margin-top: -25px;
  padding: 8px;
}

.mailpoet-step-name-input {
  min-width: 208px;
}

.mailpoet-deactive {
  color: #757575;
  font-style: italic;
}
