.mailpoet-automation-editor-chip-gray {
  background-color: $color-chip-gray-bg !important;
  color: $color-chip-gray-text;
}

.mailpoet-automation-editor-chip-success {
  background-color: $color-chip-success-bg !important;
  color: $color-chip-success-text;
}

.mailpoet-automation-editor-chip-danger {
  background-color: $color-chip-danger-bg !important;
  color: $color-chip-danger-text;
}
