.mailpoet-automation-editor-step-filters {
  display: grid;
  gap: 8px;
  padding: 8px;
  width: 300px;
}

.mailpoet-automation-editor-step-filters-title {
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
}

.mailpoet-automation-editor-step-filters-description {
  color: #646970;
  font-size: 13px;
  margin-bottom: 4px;
}
