.mailpoet-automation-editor-workflow {
  background: #fbfbfb;
  flex-grow: 1;
}

.mailpoet-automation-editor-workflow-wrapper {
  display: grid;
  padding: 50px 20px;
}

.mailpoet-automation-editor-workflow-end {
  background: #8c8f94;
  border-radius: 999999px;
  fill: white;
  height: 18px;
  margin: 4px auto;
  padding: 3px;
  width: 18px;
}
