.mailpoet-automation-editor-workflow {
  background: #fbfbfb;
  flex-grow: 1;
}

.mailpoet-automation-editor-workflow-wrapper {
  display: grid;
  padding: 50px 20px;
}

.mailpoet-automation-editor-workflow-end {
  background: #8c8f94;
  border-radius: 999999px;
  fill: white;
  height: 18px;
  margin: 4px auto;
  padding: 3px;
  width: 18px;
}

.mailpoet-automation-editor-stats {
  margin: 0 auto 32px;
  max-width: 480px;
  width: 100%;

  .mailpoet-automation-stats-item {
    line-height: 22px;
  }

  .mailpoet-automation-stats-value {
    font-size: 14px;
  }
}
