<div class="mailpoet_tools"></div>
<style type="text/css">
	.mailpoet_editor_view_{{ viewCid }} .mailpoet_content {
		background: {{ styles.backgroundColor }};
		color: {{ styles.fontColor }};
	}
</style>
<div class="mailpoet_content mailpoet_woocommerce_heading" data-automation-id="woocommerce_heading">
	<p>This is the WC Heading Widget...</p>
</div>
<div class="mailpoet_block_highlight"></div>