<h3><%= _x('WooCommerce Email Heading', 'Name of a widget in the email editor. This widget is used to display WooCommerce messages (like ”Thanks for your order!”)') %></h3>

<div class="mailpoet_form_field">
    <div class="mailpoet_form_field_input_option">
        <input type="text" name="font-color" class="mailpoet_field_wc_heading_font_color mailpoet_color" value="{{ styles.fontColor }}" />
    </div>
    <div class="mailpoet_form_field_title mailpoet_form_field_title_inline"><%= __('Font color') %></div>
</div>

<div class="mailpoet_form_field">
    <div class="mailpoet_form_field_input_option">
        <input type="text" name="background-color" class="mailpoet_field_wc_heading_background_color mailpoet_color" value="{{ styles.backgroundColor }}" />
    </div>
    <div class="mailpoet_form_field_title mailpoet_form_field_title_inline"><%= __('Background color') %></div>
</div>

<a href="?page=wc-settings&tab=email" target="_blank"><%= __('Customize WooCommerce email headings.') %></a>

<div class="mailpoet_form_field">
    <input type="button" class="button button-primary mailpoet_done_editing" data-automation-id="spacer_done_button" value="<%= __('Done') | escape('html_attr') %>" />
</div>