// We don't want to allow user to remove Submit or Email + we hide core/column toolbar because it is empty
// There is no way to hide the delete button programmatically so we hide last toolbar that contains the delete option
// There is a feature request for adding that into Gutenberg https://github.com/WordPress/gutenberg/issues/16364
// We also hide options to prevent removing Email or Submit when they are in multi-select
.block-editor-block-contextual-toolbar[data-type='mailpoet-form/email-input'],
.block-editor-block-contextual-toolbar[data-type='mailpoet-form/submit-button'],
.block-editor-block-contextual-toolbar[data-type='core/column'],
.is-multi-selected {
  .block-editor-block-toolbar > .components-toolbar:last-child {
    display: none;
  }
}

// Drag and drop library we use for custom fields does not support nested scrollable
// https://github.com/atlassian/react-beautiful-dnd/issues/131
.interface-interface-skeleton__body,
.is-sidebar-opened .interface-interface-skeleton__sidebar {
  overflow: hidden;
}

// Fix for settings toolbar placement in header
.edit-post-header {
  flex-direction: row-reverse;
  justify-content: space-between;
}

// Html blocks contains iframe which captures clicks and in some cases prevents selecting block.
// This adds an transparent overlay over the iframe.
.mailpoet-html-block-editor-content-wrapper {
  position: relative;

  &:after {
    background: transparent;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// Wordpress displays h3 and h2 the same size by default. To make it less confusing we need to make h2 different size.
h2 {
  font-size: 1.7em;
}

.block-list-appender .block-editor-inserter {
  margin: 0 auto;
  max-width: 580px; // the same as .wp-block
}

// Fix for form padding rendering
.mailpoet-form-background > div > .block-editor-block-list__layout > .block-editor-block-list__block:first-child {
  margin-top: 0;
}

// Remove min-height so that lower values of input padding have visible effect in form editor
.block-editor-block-list__layout .mailpoet_text {
  min-height: 0;
}

// Ensure same default font size for input and submit button
.block-editor-block-list__layout .mailpoet_paragraph {
  .mailpoet_text,
  .mailpoet_submit {
    font-size: 1em;
    line-height: 1.5;
  }

  .mailpoet_text_label {
    font-size: 1em;
    line-height: 1.2;
  }
}

.mailpoet_toolbar_item {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #b5bcc2;
  border-top: 1px solid #b5bcc2;
  display: flex;
  padding-left: $grid-gap / 2;

  .mailpoet-font-family-select {
    width: $grid-column-small;
  }
}
