.editor-post-title {
  .editor-post-title__input {
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
  }
}

.edit-post-visual-editor__post-title-wrapper .editor-post-title {
  width: 580px;
}
