.mailpoet-editor-header-button {
  padding-left: 8px;
  padding-right: 8px;

  @media (min-width: 600px) {
    margin-right: 12px;
    padding: 0 12px;
  }
}

.mailpoet-preview-button {
  margin-right: 6px;
}

.edit-post-header__toolbar {
  .toolbar {
    align-items: center;
    display: inline-flex;
  }
}

.mailpoet-dropdown-menu-group .components-menu-item__button.mailpoet-dropdown-button {
  padding-left: 40px;
}
