.mailpoet_spinner_wrapper {
  align-items: center;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.mailpoet_form_preview_modal {
  border-radius: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;

  .mailpoet-modal-header {
    height: 20px;
    margin-bottom: 0;

    .mailpoet-modal-close {
      top: 10px;
    }
  }

  .mailpoet-modal-content {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .mailpoet_browser_preview {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;

    .mailpoet_spinner_wrapper {
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .mailpoet_browser_preview_container {
    height: 100%;
  }

  .mailpoet_browser_preview_border {
    position: relative;
  }

  .mailpoet_form_preview_iframe {
    height: 100%;
    max-height: 100%;
    width: 100%;
  }
}

.mailpoet_form_preview_modal_overlay {
  z-index: 100010; // Boosted z-index to cover Helpscout beacon
}

.mailpoet_form_preview_disclaimer {
  bottom: 10px;
  font-size: 0.9em;
  position: absolute;
  right: 0;
  width: 380px;
}

.mailpoet_preview_content_wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;

  .mailpoet_preview_sidebar {
    padding: 10px 10px 10px 0;
    width: 300px;
  }
}

.mailpoet-size-settings-control {
  .components-radio-control__option {
    display: inline-block;
    margin-right: 1em;
    width: auto;
  }
}
