.mailpoet-styles-settings {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 20px;

  .components-base-control {
    margin-bottom: 0;
  }
}

.mailpoet-styles-settings-heading {
  font-size: 15px;

  .component-color-indicator {
    vertical-align: text-bottom;
  }
}

.mailpoet-font-family-select {
  button {
    width: 100%;
  }
}

.mailpoet-styles-settings-image-url {
  max-width: 245px;

  .mailpoet-styles-settings-image-url-body {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;

    input {
      flex-grow: 1;
      flex-shrink: 1;
      margin-right: 4px;
      min-width: 100px;
    }

    button {
      flex-shrink: 0;
      white-space: normal;
    }
  }

  .mailpoet-styles-settings-image-url-display {
    margin-right: 1px;
  }
}

.close-button-selection-item-list {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 72px);
}

.close-button-selection-item {
  background-color: $color-tertiary-light;
  height: 72px;

  .selection-item-body {
    display: flex;
    flex-direction: column;
  }
}

.close-button-selection-item-icon {
  align-self: center;
  height: 24px;
  margin-top: -7px;
  width: 24px;
}
