.components-panel {
  .select2-container {
    width: 100% !important;

    input.select2-search__field:focus {
      border: 0;
      box-shadow: none;
    }

    .select2-selection {
      border-color: $gutenberg-control-border-color;
    }

    &.select2-container--focus {
      .select2-selection {
        border-color: $gutenberg-control-border-color-focus;
        box-shadow: 0 0 0 1px $gutenberg-control-border-color-focus;
      }
    }
  }

  .mailpoet-form-missing-lists {
    .select2-selection {
      border-color: red;
    }

    .mailpoet-form-lists-error {
      color: red;
    }
  }
}

.components-base-control.mailpoet-form-success-types__control {
  margin-bottom: 0;

  .components-base-control__label {
    display: block;
  }

  .components-radio-control__option {
    display: inline-block;
    margin-right: 1em;

    input {
      margin-right: 6px;
    }
  }
}

.button-on-top,
.button-on-top.components-button.is-link {
  margin-bottom: 12px;
  max-height: 30px;
}

.mailpoet-dnd-items-list > div {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: 12px
  }
}

.mailpoet-form-segments-settings-list {
  align-items: center;
  display: flex;
  flex-direction: row;

  .components-base-control {
    flex-grow: 1;
    margin: 8px 0;

    .components-base-control__field {
      margin: 0;
    }
  }

  .mailpoet-form-segments-segment-remove {
    cursor: pointer;
    flex-grow: 0;
    margin: 8px 0;
  }
}

// In CSS coming from Gutenberg the color picker width is dependent on the width on his siblings.
// This rules unify width across all style setting sidebars
.components-circular-option-picker {
  width: 245px;

  @include breakpoint-max-width(782px) {
    width: 100%;
  }
}

.CodeMirror {
  border: 1px solid #eee;

  textarea {
    font-size: 12px;
  }
}

.components-button.mailpoet-save-button {
  background-color: #ff5301;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  height: 48px;
  letter-spacing: normal;
  line-height: 1.25;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;

  &:hover {
    background-color: #fff !important;
    color: #ff5301 !important;
  }
}
