.components-panel {
  .select2-container {
    width: 100% !important;

    input.select2-search__field:focus {
      border: 0;
      box-shadow: none;
    }

    .select2-selection {
      border-color: $gutenberg-control-border-color;
    }

    &.select2-container--focus {
      .select2-selection {
        border-color: $gutenberg-control-border-color-focus;
        box-shadow: 0 0 0 1px $gutenberg-control-border-color-focus;
      }
    }
  }

  .mailpoet-form-missing-lists {
    .select2-selection {
      border-color: red;
    }

    .mailpoet-form-lists-error {
      color: red;
    }
  }
}

.components-base-control.mailpoet-form-success-types__control {
  margin-bottom: 0;

  .components-base-control__label {
    display: block;
  }

  .components-radio-control__option {
    display: inline-block;
    margin-right: 1em;

    input {
      margin-right: 6px;
    }
  }
}

.button-on-top,
.button-on-top.components-button.is-link {
  margin-bottom: 12px;
  max-height: 30px;
}

.mailpoet-dnd-items-list > div {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: 12px
  }
}

.mailpoet-form-segments-settings-list {
  align-items: center;
  display: flex;
  flex-direction: row;

  .components-base-control {
    flex-grow: 1;
    margin: 8px 0;

    .components-base-control__field {
      margin: 0;
    }
  }

  .mailpoet-form-segments-segment-remove {
    cursor: pointer;
    flex-grow: 0;
    margin: 8px 0;
  }
}

// In CSS coming from Gutenberg the color picker width is dependent on the width on his siblings.
// This rules unify width across all style setting sidebars
.components-circular-option-picker {
  width: 245px;

  @include breakpoint-max-width(782px) {
    width: 100%;
  }
}

.CodeMirror {
  border: 1px solid #eee;

  textarea {
    font-size: 12px;
  }
}

.components-button.mailpoet-save-button {
  background-color: $gutenberg-control-active-color;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  height: 48px;
  letter-spacing: normal;
  line-height: 1.25;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;

  &:hover {
    background-color: #fff !important;
    color: #ff5301 !important;
  }
}

.selection-item {
  background-color: #fff;
  border: solid $selection-item-active-border $selection-item-base-color;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 $selection-item-base-color;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 6px;
  pointer-events: auto;
  position: relative;
}

.selection-item-overlay {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 2px;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.selection-item-active {
  border: solid $selection-item-active-border $gutenberg-control-active-color;
  box-shadow: 0 4px 8px 0 rgba(156, 166, 204, .5);
}

.selection-item-settings {
  display: flex;
  flex-direction: row;
  height: 25px;
  justify-content: space-between;
  pointer-events: none;
  width: 100%;
  z-index: 4;
}

.selection-item-settings-oval {
  background-color: $selection-item-oval-color;
  border: solid 1px $selection-item-oval-border-color;
  border-radius: 7px;
  height: 13px;
  pointer-events: none;
  width: 13px;
}

.selection-item-settings-check {
  height: 13px;
  pointer-events: none;
  width: 13px;
  z-index: 4;
}

.selection-item-settings-icon {
  height: 14px;
  pointer-events: none;
  width: 14px;
  z-index: 4;

  svg {
    fill: $selection-item-base-color;
  }
}

.selection-item-settings-icon-hover {
  svg {
    fill: white;
  }
}
