$mailpoet-form-template-thumbnail-width: 480px;
$mailpoet-form-template-thumbnail-height: 316px;

@mixin formTemplatesGrid() {
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: repeat(auto-fill, $mailpoet-form-template-thumbnail-width + $grid-gap-half);
  justify-content: center;
}

.mailpoet-templates {
  @include formTemplatesGrid;
  padding-bottom: $mailpoet-form-template-thumbnail-height / 3;
  padding-top: $grid-gap-large;

  .mailpoet-categories {
    grid-column: 1 / -1;
    justify-content: center;
  }
}

.mailpoet-form-template {
  height: $mailpoet-form-template-thumbnail-height + (2 * $grid-gap-large);
  padding-bottom: ($grid-gap-half / 2);
  width: $mailpoet-form-template-thumbnail-width + $grid-gap-half;

  .mailpoet-template-thumbnail {
    height: $mailpoet-form-template-thumbnail-height;
    padding: ($grid-gap-half / 2) ($grid-gap-half / 2) 0;
  }
}

$templates-one-column-breakpoint: 2 * ($mailpoet-form-template-thumbnail-width + $grid-gap-half) + $grid-gap + 160;
/**
 The header uses grid to position heading in center (second column) and a new form button on right (third column)
 */
.mailpoet-template-selection-header {
  @include formTemplatesGrid;
  background: $color-input-background;
  border-bottom: 1px solid $color-tertiary-light;
  grid-row-gap: 0;
  justify-items: center;
  padding: $grid-gap 0;
  position: relative;

  @include breakpoint-min-width($templates-one-column-breakpoint) {
    justify-items: right;
  }

  .mailpoet-h4 {
    // Keep heading centered when we are sure there are 2 or more columns

    @include breakpoint-min-width($templates-one-column-breakpoint) {
      left: 50%;
      margin-top: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .mailpoet-button {
    align-self: center;
    grid-column-end: -1;
  }
}
