$mailpoet-form-template-thumbnail-width: 480px;
$mailpoet-form-template-thumbnail-height: 316px;

.mailpoet-templates {
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: repeat(auto-fill, $mailpoet-form-template-thumbnail-width + $grid-gap-half);
  justify-content: center;
  padding-bottom: $mailpoet-form-template-thumbnail-height / 3;
  padding-top: $grid-gap-large;

  .mailpoet-categories {
    grid-column: 1 / -1;
    justify-content: center;
  }
}

.mailpoet-form-template {
  height: $mailpoet-form-template-thumbnail-height + (2 * $grid-gap-large);
  padding-bottom: ($grid-gap-half / 2);
  width: $mailpoet-form-template-thumbnail-width + $grid-gap-half;

  .mailpoet-template-thumbnail {
    height: $mailpoet-form-template-thumbnail-height;
    padding: ($grid-gap-half / 2) ($grid-gap-half / 2) 0;
  }
}

/**
 The header uses grid to position heading in center (second column) and a new form button on right (third column)
 */
.template-selection-header {
  background: $color-input-background;
  border-bottom: 1px solid $color-tertiary-light;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: $grid-gap-half;

  @include respond-to(small-screen) {
    display: flex;
  }

  .mailpoet-h4 {
    grid-column-start: 2;
  }

  .mailpoet-button {
    align-self: center;
    margin-left: auto;
  }
}
