// We don't want to allow user to remove Submit or Email.
// There is no way to hide the delete button programmatically so we hide last toolbar that contains the delete option
// There is a feature request for adding that into Gutenberg https://github.com/WordPress/gutenberg/issues/16364
// We also hide options to prevent removing Email or Submit when they are in multi-select
.block-editor-block-contextual-toolbar[data-type='mailpoet-form/email-input'],
.block-editor-block-contextual-toolbar[data-type='mailpoet-form/submit-button'],
.is-multi-selected {
  .components-toolbar:last-child {
    display: none;
  }
}

// Drag and drop library we use for custom fields does not support nested scrollable
// https://github.com/atlassian/react-beautiful-dnd/issues/131
.block-editor-editor-skeleton__body {
  overflow: hidden;
}
