// Fix for broken drag and drop for blocks
// This should had been fixed in Gutenberg's master branch
// https://github.com/WordPress/gutenberg/pull/15054
// It doesn't work even after upgrading to package version with the fix.
// It needs further investigation
.edit-post-editor-regions__content {
  .block-editor-block-mover__control-drag-handle {
    display: none !important;
  }
}

// We don't want to allow user to remove Submit or Email.
// There is no way to hide the delete button programmatically so we hide last toolbar that contains the delete option
// There is a feature request for adding that into Gutenberg https://github.com/WordPress/gutenberg/issues/16364
// We also hide options to prevent removing Email or Submit when they are in multi-select
.block-editor-block-contextual-toolbar[data-type='mailpoet-form/email-input'],
.block-editor-block-contextual-toolbar[data-type='mailpoet-form/submit-button'],
.is-multi-selected {
  .components-toolbar:last-child {
    display: none;
  }
}

// Drag and drop library we use for custom fields does not support nested scrollable
// https://github.com/atlassian/react-beautiful-dnd/issues/131
.edit-post-editor-regions__body {
  overflow: hidden;
}
