// We don't want to allow user to remove Submit or Email + we hide core/column toolbar because it is empty
// There is no way to hide the delete button programmatically so we hide last toolbar that contains the delete option
// There is a feature request for adding that into Gutenberg https://github.com/WordPress/gutenberg/issues/16364
// We also hide options to prevent removing Email or Submit when they are in multi-select
.block-editor-block-contextual-toolbar[data-type='mailpoet-form/email-input'],
.block-editor-block-contextual-toolbar[data-type='mailpoet-form/submit-button'],
.block-editor-block-contextual-toolbar[data-type='core/column'],
.is-multi-selected {
  .block-editor-block-toolbar > .components-toolbar:last-child {
    display: none;
  }
}

// Drag and drop library we use for custom fields does not support nested scrollable
// https://github.com/atlassian/react-beautiful-dnd/issues/131
.block-editor-editor-skeleton__body,
.is-sidebar-opened .block-editor-editor-skeleton__sidebar {
  overflow: hidden;
}

// Fix for settings toolbar placement in header
.edit-post-header {
  flex-direction: row-reverse;
  justify-content: space-between;
}

// Html blocks contains iframe which captures clicks and in some cases prevents selecting block.
// This adds an transparent overlay over the iframe.
.mailpoet-html-block-editor-content-wrapper {
  position: relative;

  &:after {
    background: transparent;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
