.page-title-action {
  margin-left: 4px;
  padding: 4px 8px;
  position: relative;
  top: -3px;
  text-decoration: none;
  border: 1px solid #0071a1;
  border-radius: 2px;
  text-shadow: none;
  font-weight: 600;
  font-size: 13px;
  line-height: normal;
  color: #0071a1;
  background: #f3f5f6;
  cursor: pointer;
}
