$gutenberg-control-border-color: #7e8993;
$gutenberg-control-border-color-focus: #007cba;
$form-placement-option-base-color: #e5e9f8;
$form-placement-option-text-color: #23282d;
$form-placement-option-oval: #dcdcdc;
$form-placement-option-oval-border: #969ca1;

.components-panel {
  .select2-container {
    width: 100% !important;

    input.select2-search__field:focus {
      border: 0;
      box-shadow: none;
    }

    .select2-selection {
      border-color: $gutenberg-control-border-color;
    }

    &.select2-container--focus {
      .select2-selection {
        border-color: $gutenberg-control-border-color-focus;
        box-shadow: 0 0 0 1px $gutenberg-control-border-color-focus;
      }
    }
  }

  .mailpoet-form-missing-lists {
    .select2-selection {
      border-color: red;
    }

    .mailpoet-form-lists-error {
      color: red;
    }
  }
}

.components-base-control.mailpoet-form-success-types__control {
  margin-bottom: 0;

  .components-base-control__label {
    display: block;
  }

  .components-radio-control__option {
    display: inline-block;
    margin-right: 1em;

    input {
      margin-right: 6px;
    }
  }
}

.button-on-top,
.button-on-top.components-button.is-link {
  margin-bottom: 12px;
  max-height: 30px;
}

.mailpoet-dnd-items-list > div {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: 12px
  }
}

.mailpoet-form-segments-settings-list {
  align-items: center;
  display: flex;
  flex-direction: row;

  .components-base-control {
    flex-grow: 1;
    margin: 8px 0;

    .components-base-control__field {
      margin: 0;
    }
  }

  .mailpoet-form-segments-segment-remove {
    cursor: pointer;
    flex-grow: 0;
    margin: 8px 0;
  }
}

.mailpoet-styles-settings {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 30px;
}

.mailpoet-styles-settings-heading {
  font-size: 15px;

  .component-color-indicator {
    vertical-align: text-bottom;
  }
}

.CodeMirror {
  border: 1px solid #eee;
}

.form-placement-option {
  background-color: #fff;
  border: solid 1px $form-placement-option-base-color;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 $form-placement-option-base-color;
  display: flex;
  flex-direction: column;
  height: 142px;
  justify-content: space-between;
  margin: 0 16px 16px 0;
  padding: 6px;
  position: relative;
  text-align: center;
  width: 116px;
}

.form-placement-settings-overlay {
  background-color: rgba(0, 0, 0, .3);
  height: 142px;
  left: 0;
  position: absolute;
  top: 0;
  width: 116px;
  z-index: 3;
}

.form-placement-option-label {
  align-items: center;
  color: $form-placement-option-text-color;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  width: 100%;
  z-index: 2;

  p {
    margin-bottom: 0;
  }
}

.form-placement-option-settings {
  display: flex;
  flex-direction: row;
  height: 25px;
  justify-content: space-between;
  width: 100%;
  z-index: 4;
}

.form-placement-settings-oval {
  background-color: $form-placement-option-oval;
  border: solid 1px $form-placement-option-oval-border;
  border-radius: 7px;
  height: 13px;
  width: 13px;
}

.form-placement-settings-icon {
  svg {
    fill: $form-placement-option-base-color;
  }
  height: 14px;
  width: 14px;
  z-index: 4;
}

.form-placement-settings-icon-hover {
  svg {
    fill: white;
  }
}

.form-placement-option-icon {
  svg {
    height: 63px;
    width: 76px;
  }
  background-color: #fff;
  box-shadow: 0 4px 18px 0 rgba(68, 75, 102, .15);
  height: 63px;
  margin: 0 auto;
  object-fit: contain;
  width: 76px;
  z-index: 2;
}
