$gutenberg-control-border-color: #7e8993;
$gutenberg-control-border-color-focus: #007cba;

.components-panel {
  .select2-container {
    width: 100% !important;

    input.select2-search__field:focus {
      border: 0;
      box-shadow: none;
    }

    .select2-selection {
      border-color: $gutenberg-control-border-color;
    }

    &.select2-container--focus {
      .select2-selection {
        border-color: $gutenberg-control-border-color-focus;
        box-shadow: 0 0 0 1px $gutenberg-control-border-color-focus;
      }
    }
  }

  .mailpoet-form-missing-lists {
    .select2-selection {
      border-color: red;
    }

    .mailpoet-form-lists-error {
      color: red;
    }
  }
}

.components-base-control.mailpoet-form-success-types__control {
  margin-bottom: 0;

  .components-base-control__label {
    display: block;
  }

  .components-radio-control__option {
    display: inline-block;
    margin-right: 1em;

    input {
      margin-right: 6px;
    }
  }
}

.button-on-top,
.button-on-top.components-button.is-link {
  margin-bottom: 12px;
  max-height: 30px;
}

.mailpoet-dnd-items-list > div {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: 12px
  }
}

.mailpoet-form-segments-settings-list {
  align-items: center;
  display: flex;
  flex-direction: row;

  .components-base-control {
    flex-grow: 1;
    margin: 8px 0;

    .components-base-control__field {
      margin: 0;
    }
  }

  .mailpoet-form-segments-segment-remove {
    cursor: pointer;
    flex-grow: 0;
    margin: 8px 0;
  }
}

.mailpoet-styles-settings {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 20px;

  .components-base-control {
    margin-bottom: 0;
  }
}

.mailpoet-styles-settings-heading {
  font-size: 15px;

  .component-color-indicator {
    vertical-align: text-bottom;
  }
}

.CodeMirror {
  border: 1px solid #eee;
}
