<div id="step3" class="mailpoet_hidden">
  <div id="subscribers_data_import_results" class="updated mailpoet_hidden">
    <!-- Template data -->
  </div>

  <table class="mailpoet_subscribers form-table">
    <tbody>
    <tr>
      <th scope="row">
        <a href="javascript:;"
         class="button-primary wysija mailpoet_import_again"><%= __('Import again') %></a>
        &nbsp;&nbsp;
        <a href="javascript:;"
         class="button-primary wysija mailpoet_view_subscribers"><%= __('View subscribers') %></a>
      </th>
    </tr>
    </tbody>
  </table>

  <script id="subscribers_data_import_results_template" type="text/x-handlebars-template">
      {{#if created}}
      <p>{{{created}}}</p>
      {{/if}}
      {{#if updated}}
      <p>{{{updated}}}</p>
      {{/if}}
      {{#if no_action}}
      <p><%= __('No subscribers were added or updated.') %></p>
      {{/if}}
      {{#if added_to_segment_with_welcome_notification}}
      <p><%= __('Note: Imported subscribers will not receive any Welcome Emails') %></p>
      {{/if}}
  </script>
</div>