<div id="step_method_selection" class="mailpoet_hidden method_selection_step">
  <div class="inside">
    <!-- Mailchimp -->
    <div id="method_mailchimp" class="mailpoet_hidden">
      <table class="mailpoet_subscribers form-table">
        <tbody>
        <tr>
          <th scope="row">
            <label for="mailchimp_key">
              <%= __('Enter your MailChimp API key') %>
            </label>
          </th>
          <td>
            <input type="text" id="mailchimp_key">
            <button id="mailchimp_key_verify" class="button"><%= __('Verify') %></button>
            <span class="mailpoet_mailchimp-key-status"></span>
          </td>
        </tr>
        <tr id="mailchimp_lists" class="mailpoet_hidden">
          <th scope="row">
            <label>
              <%= __('Select list(s)') %>
            </label>
          </th>
          <td>
            <select class="mailchimp_lists_select" data-placeholder="<%= _x('Select', 'Verb') %>" multiple="multiple"></select>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="mailpoet_method_process">
        <!-- Template data -->
      </div>
    </div>
  </div>
</div>
