<div id="step1" class="mailpoet_hidden">
  <div class="inside">
    <!-- Method selection -->
    <table class="mailpoet_subscribers form-table">
      <tbody>
      <tr>
        <th scope="row">
          <%= __('How would you like to import subscribers?') %>
        </th>
        <td>
          <div id="select_method">
            <label>
              <input type="radio" name="select_method"><span><%= __('Paste the data into a text box') %></span>
            </label> <label>
            <input type="radio" name="select_method"><span><%= __('Upload a file') %></span>
          </label> <label>
            <input type="radio" name="select_method"><span><%= __('Import from MailChimp') %></php></span>
          </label>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Paste -->
    <div id="method_paste" class="mailpoet_hidden">
      <table class="mailpoet_subscribers form-table">
        <tbody>
        <tr>
          <th scope="row">
            <label for="paste_input"> <%= __('Copy and paste your subscribers from Excel/Spreadsheets') %>
              <p class="description">
                <%= csvDescription|replace({'[link]': csvKBLink, '[/link]': '</a>'})|raw %>
              </p>
            </label>
          </th>
          <td>
            <textarea id="paste_input" rows="15" data-placeholder="Email, First Name, Last Name\njohn@doe.com, John, Doe\nmary@smith.com, Mary, Smith\njohnny@walker.com, Johnny, Walker" class="regular-text code"></textarea>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="mailpoet_method_process">
        <!-- Template data -->
      </div>
    </div>

    <!-- CSV file -->
    <div id="method_file" class="mailpoet_hidden">
      <table class="mailpoet_subscribers form-table">
        <tbody>
        <tr>
          <th scope="row">
            <label for="file_local">
              <%= __('Upload a file') %>
              <p class="description">
                <%= csvDescription|replace({'[link]': csvKBLink, '[/link]': '</a>'})|raw %>
              </p>
            </label>
          </th>
          <td>
            <input type="file" id="file_local" accept=".csv" />
          </td>
        </tr>
        </tbody>
      </table>
      <div class="mailpoet_method_process">
        <!-- Template data -->
      </div>
    </div>

    <!-- Mailchimp -->
    <div id="method_mailchimp" class="mailpoet_hidden">
      <table class="mailpoet_subscribers form-table">
        <tbody>
        <tr>
          <th scope="row">
            <label for="mailchimp_key">
              <%= __('Enter your MailChimp API key') %>
            </label>
          </th>
          <td>
            <input type="text" id="mailchimp_key">
            <button id="mailchimp_key_verify" class="button"><%= __('Verify') %></button>
            <span class="mailpoet_mailchimp-key-status"></span>
          </td>
        </tr>
        <tr id="mailchimp_lists" class="mailpoet_hidden">
          <th scope="row">
            <label>
              <%= __('Select list(s)') %>
            </label>
          </th>
          <td>
            <select class="mailchimp_lists_select" data-placeholder="<%= _x('Select', 'Verb') %>" multiple="multiple"></select>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="mailpoet_method_process">
        <!-- Template data -->
      </div>
    </div>

    <!-- Next button & spam notice template -->
    <script id="method_process_template" type="text/x-handlebars-template">
      <table class="mailpoet_subscribers form-table mailpoet_hidden">
        <tbody>
        <tr>
          <th scope="row">
            <%= __('Did these subscribers ask to be in your list?') %>
            <p class="description">
              <%= __('If the answer is "no", consider yourself a spammer.') %>
              <br/>
              <%=
              __('[link]Read more at our Knowledge Base[/link]')
              |replace({
              '[link]': '<a target="_blank" href="http://docs.mailpoet.com/article/127-checklist-before-importing-subscribers">',
              '[/link]': '</a>'
              })
              |raw
              %>
            </p>
          </th>
        </tr>
        <tr>
          <th scope="row">
            <a href="javascript:;"
             class="button-primary button-disabled wysija mailpoet_process"><%= __('Next step') %> </a>
          </th>
        </tr>
        </tbody>
      </table>
    </script>
  </div>
</div>
