<div id="step_data_manipulation" class="mailpoet_hidden">
  <div id="subscribers_data_parse_results">
    <!-- Template data -->
  </div>


  <div class="inside">
    <br>


    <table class="mailpoet_subscribers form-table">
      <tbody>
      <!-- MP3 Segments -->
      <tr class="mailpoet_segments mailpoet_hidden">
        <th scope="row">
          <label>
            <%= __('Pick one or more list(s)') %>
            <p class="description"><%= __('Pick the list that you want to import these subscribers to.') %>
          </label>
        </th>
        <td>
          <select id="mailpoet_segments_select" data-placeholder="<%= _x('Select', 'Verb') %>" multiple="multiple"></select>
          <a href="javascript:;" class="mailpoet_create_segment"><%= __('Create a new list') %></a>
        </td>
      </tr>
      <tr class="mailpoet_no_segments mailpoet_hidden">
        <th scope="row">
          <%=
          __('To add subscribers to a mailing segment, [link]create a list[/link].')
          |replaceLinkTags('javascript:;', {'target' : '_blank', 'class' : 'mailpoet_create_segment'})
          |raw
          %>
        </th>
      </tr>
      <tr>
        <th scope="row">
          <label>
            <%= __("Update existing subscribers' information") %>
          </label>
        </th>
        <td>
          <label>
            <input type="radio" name="subscriber_update_option" value="yes"
             checked><span><%= __('Yes') %></span>
          </label>
          <label>
            <input type="radio" name="subscriber_update_option"
             value="no"><span><%= __('No') %></span>
          </label>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- New segment template -->
    <script id="new_segment_template" type="text/x-handlebars-template">
      <p>
        <label><%= __('Name') %>:</label>
        <input id="new_segment_name" type="text" name="name"/>
      </p>
      <p class="mailpoet_validation_error" data-error="segment_name_required">
        <%= __('Please specify a name.') %>
      </p>
      <p class="mailpoet_validation_error" data-error="segment_name_not_unique">
        <%= __('Another record already exists. Please specify a different "%1$s".')|format('name') %>
      </p>
      <p>
        <label><%= __('Description') %>:</label>
        <br/>
        <textarea id="new_segment_description" cols="40" rows="3" name="description"/>
      </p>

      <hr/>

      <p class="mailpoet_align_right">
        <input type="submit" value="<%= __('Done') %>" id="new_segment_process"
         class="button-primary "/>
        <input type="submit" value="<%= __('Cancel') %>" id="new_segment_cancel"
         class="button-primary"/>
      </p>

      </form>
    </script>

    <!-- New custom field logic -->
    <% include 'form/custom_fields.html' %>
  </div>
</div>
