<div id="step3" class="mailpoet_hidden">
  <div id="subscribers_data_import_results" class="updated mailpoet_hidden">
    <!-- Template data -->
  </div>

  <table class="mailpoet_subscribers form-table">
    <tbody>
    <tr>
      <th scope="row">
        <a href="javascript:;"
         class="button-primary wysija mailpoet_import_again"><%= __('Import again') %></a>
        &nbsp;&nbsp;
        <a href="javascript:;"
         class="button-primary wysija mailpoet_view_subscribers"><%= __('View subscribers') %></a>
      </th>
    </tr>
    </tbody>
  </table>

  <script id="subscribers_data_import_results_template" type="text/x-handlebars-template">
      <ul>
        {{#if created}}
        <li>{{{created}}}</li>
        {{/if}}
        {{#if updated}}
        <li>{{{updated}}}</li>
        {{/if}}
        {{#if no_action}}
        <li><%= __('No new subscribers were found/added.') %></li>
        {{/if}}
        {{#if added_to_segment_with_welcome_notification}}
        <li><%= __('Important note: imported subscribers will not receive any welcome emails.') %></li>
        {{/if}}
      </ul>
  </script>
</div>