.mailpoet-button {
  align-items: center;
  background: $color-secondary;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: $font-size;
  font-weight: bold;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  min-height: 40px;
  padding: 8px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: top;

  &:hover,
  &:focus {
    background: $color-secondary-hover;
    color: #fff;
    text-decoration: none;
  }

  svg {
    fill: currentColor;
    height: 16px;
    width: 16px;

    &:first-child {
      margin-right: 6px;
    }

    &:last-child {
      margin-left: 6px;
    }

    &:only-child {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.mailpoet-full-width + .mailpoet-button.mailpoet-full-width { margin-top: $grid-gap; }
  &:not(.mailpoet-full-width) + .mailpoet-button:not(.mailpoet-full-width) { margin-left: $grid-gap; }
}

.mailpoet-button-extra-small {
  font-size: $font-size-extra-small;
  line-height: 16px;
  min-height: 24px;
  padding: 4px 9px;

  svg {
    height: 10px;
    width: 10px;
  }
}

.mailpoet-button-small {
  font-size: $font-size-small;
  line-height: 20px;
  min-height: 32px;
  padding: 6px 12px;

  svg {
    height: 12px;
    width: 12px;
  }
}

.mailpoet-button-large {
  min-height: 48px;
  padding: 12px 24px;
}

.mailpoet-button-light {
  background: $color-secondary-light;
  color: $color-secondary;

  &:hover,
  &:focus {
    background: $color-secondary-light-hover;
    color: $color-secondary;
  }

  &.mailpoet-button-with-spinner:after {
    background-color: rgba($color-secondary-light, .8);
  }
}

.mailpoet-button-dark {
  background: $color-tertiary;

  &:hover,
  &:focus {
    background: $color-tertiary-hover;
  }

  &.mailpoet-button-with-spinner:after {
    background-color: rgba($color-tertiary, .8);
  }
}

.mailpoet-button-link {
  background: transparent;
  color: $color-secondary;
  font-weight: normal;
  text-decoration: underline;

  &:hover,
  &:focus {
    background: transparent;
    color: $color-secondary-hover;
    text-decoration: none;
  }

  &.mailpoet-button-with-spinner:after {
    background-color: rgba(#fff, .8);
  }
}

.mailpoet-button-link-dark {
  background: transparent;
  color: $color-tertiary;
  text-decoration: underline;

  &:hover,
  &:focus {
    background: transparent;
    color: $color-tertiary-hover;
    text-decoration: none;
  }

  &.mailpoet-button-with-spinner:after {
    background-color: rgba(#fff, .8);
  }
}

.mailpoet-button-with-spinner {
  pointer-events: none;
  touch-action: none;

  &:after {
    background: rgba($color-secondary, .8) no-repeat center;
    background-size: 24px 24px;
    border-radius: 4px;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
