select {
  outline: none;
}

.mailpoet-form-select {
  height: auto;
  min-height: $form-control-height;

  select {
    padding-right: $form-control-icon-small + 2 * $form-control-spacing;
  }

  > svg {
    &:first-child { margin-right: -($form-control-icon + $form-control-spacing); }
    + select { padding-left: $form-control-icon + 2 * $form-control-spacing; }
  }

  &.mailpoet-form-input-small > svg {
    &:first-child { margin-right: -($form-control-icon-small + $form-control-spacing); }
    + select { padding-left: $form-control-icon-small + 2 * $form-control-spacing; }
  }

  &:after {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAAqklEQVR4AWOAAS75Ak922byr7DK5/ynBHDJ5j0FmMaADkARCIeWWYLEg9xG1LACFBKYFcvlxVPOBXF4sAzbAIZs7n1LDQWYw4AJSxg1clEQ0SC/IDAZ8gEcuVwuo+CsZFnwF6WUgBgDDMJ6McI8naDBmfFAe7oTjg/JwJxwflIY74figPNwJxwfF4U44PnKvwAwHsWHhTjlAlLaSQIN7gJHax62YL84wWAAANkMq0+UYHGkAAAAASUVORK5CYII=') no-repeat center;
    background-size: contain;
    content: '';
    height: 8px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: $form-control-spacing;
    top: 50%;
    width: $form-control-icon-small;
  }
}
