input,
select {
  outline: none;
}

label[for] {
  cursor: pointer;
}

.mailpoet-form-grid {
  align-items: flex-start;
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: $grid-column $grid-column;
  justify-content: space-between;
  margin: $grid-gap auto;
  max-width: 976px;
}

.mailpoet-form-actions {
  grid-column: 2 / -1;
  padding-top: $grid-gap + ($heading-font-size-h4 * $heading-line-height) + ($font-size * $line-height * 2);
  text-align: right;

  p {
    color: $color-text;
    font-size: $font-size;
    margin: $grid-gap 0;
  }
}

.mailpoet-form-description {
  color: $color-text;
  font-size: $font-size;
  margin-top: 0;

  .mailpoet-h4 + & {
    margin-top: -$grid-gap;
  }
}

.mailpoet-form-field + .mailpoet-form-field {
  margin-top: $grid-gap;
}

.mailpoet-form-field-email-header {
  grid-column: 1 / -1;
}
