.mailpoet-flex {
  display: flex;
}

.mailpoet-flex-grow {
  flex-grow: 1;
}

.mailpoet-grid-column {
  width: $grid-column;
}

.mailpoet-grid-column-small {
  width: $grid-column-small;
}

.mailpoet-grid-column-center {
  margin-left: auto;
  margin-right: auto;
}

.mailpoet-grid-two-columns {
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: 1fr 1fr;

  > * {
    min-width: 0;
  }

  @include respond-to(small-screen) {
    grid-template-columns: 1fr;
  }
}

.mailpoet-grid-three-columns {
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: 1fr 1fr 1fr;

  > * {
    min-width: 0;
  }

  @include respond-to(small-screen) {
    grid-template-columns: 1fr;
  }
}

.mailpoet-grid-space-between {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mailpoet-grid-space-between-vertical-center {
  align-items: center;
}

.mailpoet-grid-two-columns-list {
  column-gap: $grid-gap;
  columns: 2 auto;
}

.mailpoet-grid-span-two-columns {
  grid-column: span 2;
}

.mailpoet-centered-row {
  align-items: center;
  display: flex;
  white-space: nowrap;

  > *:not(:first-child) {
    margin-left: $grid-gap;
  }
}
