#wpbody {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

a {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

h1.mailpoet-h0,
h1.mailpoet-h1,
h2.mailpoet-h2,
h3.mailpoet-h3,
h4.mailpoet-h4,
h5.mailpoet-h5 {
  color: $color-text;
  font-weight: bold;
  line-height: $heading-line-height;
  margin: $grid-gap 0;
}

h1.mailpoet-h0 { font-size: $heading-font-size-h0; }
h1.mailpoet-h1 { font-size: $heading-font-size-h1; }
h2.mailpoet-h2 { font-size: $heading-font-size-h2; }
h3.mailpoet-h3 { font-size: $heading-font-size-h3; }

h4.mailpoet-h4 {
  font-size: $heading-font-size-h4;
  font-weight: 600;
}

h5.mailpoet-h5 {
  font-size: $heading-font-size-h5;
  font-weight: 600;
}

.mailpoet-ol,
.mailpoet-ul {
  font-size: $font-size;
  margin: 0 0 $grid-gap;
  padding: 0 0 0 $grid-gap;
}

.mailpoet-ol {
  list-style-type: decimal;
}

.mailpoet-ul {
  list-style-type: disc;
}
