a {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: $color-text;
  font-weight: bold;
  line-height: $heading-line-height;
  margin: $grid-gap 0;
}

h1 { font-size: $heading-font-size-h1; }
h2 { font-size: $heading-font-size-h2; }
h3 { font-size: $heading-font-size-h3; }
h4 { font-size: $heading-font-size-h4; }
h5 { font-size: $heading-font-size-h5; }
