<% extends 'layout.html' %>

<% block content %>
<div class="wrap">
  <div id="mailpoet_automation"></div>
</div>
<% endblock %>

<% block after_javascript %>
  <script type="text/javascript">
    var mailpoet_automation_api = <%= json_encode(api) %>;
    var mailpoet_automation_count = <%= json_encode(automationCount) %>;
    var mailpoet_automation_templates = <%= json_encode(templates) %>;
  </script>
<% endblock %>

<% block after_css %>
<%= stylesheet('mailpoet-automation.css') %>
<% endblock %>
