<% extends 'layout.html' %>

<% block content %>
<div id="mailpoet_homepage_container">
</div>

<script>
  <% autoescape 'js' %>
    var mailpoet_mta_log = <%= json_encode(mta_log) %>;
    var mailpoet_homepage_data = <%= json_encode(homepage) %>;
  <% endautoescape %>
</script>

<% endblock %>

<% block translations %>
  <%= localize({
    'welcomeToMailPoet': __('Welcome to MailPoet 🎉'),
    'beginByCompletingSetup': __('Begin by completing your setup'),
    'hideList': __('Hide setup list'),
  }) %>
<% endblock %>



