<% extends 'layout.html' %>

<% block content %>

<div class="wrap">
  <h1 class="mailpoet-h1">Logs</h1>

  <div id="mailpoet_logs_container"></div>

  <script type="text/javascript">
    <% autoescape 'js' %>
      var mailpoet_logs_default_from = '<%= logs_default_from %>';
      var mailpoet_logs_filter_options = <%= json_encode(logs_filter_options) %>;
      var mailpoet_logs_api = <%= json_encode(api) %>;
      var mailpoet_logs_download = <%= json_encode(download) %>;
    <% endautoescape %>
  </script>
</div>

<% endblock %>
