<%= localize({
  'welcomeWizardMSSFreeTitle': _x('Reliable email delivery is entirely free for you. Sign up!', 'Promotion for our email sending service: Title'),
  'welcomeWizardMSSFreeSubtitle': _x('Did you know? Users with 1,000 subscribers or less get the Starter plan for free.', 'Promotion for our email sending service: Paragraph'),
  'welcomeWizardMSSFreeListTitle': _x('You’ll get', 'Promotion for our email sending service: Paragraph'),
  'welcomeWizardMSSList1': _x('Reliable marketing and transactional email delivery. Reach inboxes, not spam boxes', 'Promotion for our email sending service: Feature item'),
  'welcomeWizardMSSList2': _x('Send your emails super fast (up to 50,000 emails per hour)', 'Promotion for our email sending service: Feature item'),
  'welcomeWizardMSSList4': _x('Maintain your sender reputation and improve engagement levels with automated bounce and complaint handling. Stop sending to non-deliverable and complaining addresses, automatically', 'Promotion for our email sending service: Feature item'),
  'welcomeWizardMSSList5': _x('Authenticate your emails (with SPF and DKIM) to improve deliverability and avoid spam boxes', 'Promotion for our email sending service: Feature item'),
  'welcomeWizardMSSFreeButton': _x('Sign up for free', 'Promotion for our email sending service: Button'),
  'welcomeWizardMSSNotFreeTitle': _x('It’s now time to take your MailPoet to the next level', 'Promotion for our email sending service: Title'),
  'welcomeWizardMSSNotFreeSubtitle': _x('Starting at only $10 per month, MailPoet Business offers the following features', 'Promotion for our email sending service: Paragraph'),
  'welcomeWizardMSSNotFreeList1': _x('Reliable marketing and transactional email delivery. Reach inboxes, not spam boxes', 'Promotion for our email sending service: Feature item'),
  'welcomeWizardMSSNotFreeList2': _x('Detailed engagement statistics', 'Promotion for our email sending service: Feature item'),
  'welcomeWizardMSSNotFreeList3': _x('Multi-condition subscriber segmentation', 'Promotion for our email sending service: Feature item'),
  'welcomeWizardMSSNotFreeList4': _x('Google Analytics integration', 'Promotion for our email sending service: Feature item'),
  'welcomeWizardMSSNotFreeList5': _x('Priority customer support', 'Promotion for our email sending service: Feature item'),
  'welcomeWizardMSSNotFreeButton': _x('Upgrade', 'Promotion for our email sending service: Button'),
  'welcomeWizardMSSNoThanks': _x('No thanks!', 'Promotion for our email sending service: Skip link'),
}) %>
