<%= localize({
  'welcomeWizardMSSFreeTitle': _x('MailPoet Premium is entirely free for you. Sign up!', 'Promotion for our email sending service: Title'),
  'welcomeWizardMSSFreeSubtitle': _x('Did you know? Users with 1,000 subscribers or less get the Premium for free.', 'Promotion for our email sending service: Paragraph'),
  'welcomeWizardMSSFreeListTitle': _x('You’ll get', 'Promotion for our email sending service: Paragraph'),
  'welcomeWizardMSSList1': _x('Access to detailed analytics', 'Promotion for our email sending service: Feature item'),
  'welcomeWizardMSSList2': _x('Great email deliverability with the MailPoet Sending Service', 'Promotion for our email sending service: Feature item'),
  'welcomeWizardMSSList4': _x('Fast, priority support', 'Promotion for our email sending service: Feature item'),
  'welcomeWizardMSSList5': _x('The MailPoet logo removed from the footer of your emails', 'Promotion for our email sending service: Feature item'),
  'welcomeWizardMSSFreeButton': _x('Sign up for free!', 'Promotion for our email sending service: Button'),
  'welcomeWizardMSSNotFreeTitle': _x('It’s now time to take your MailPoet to the next level', 'Promotion for our email sending service: Title'),
  'welcomeWizardMSSNotFreeSubtitle': _x('Starting at only $13 per month, MailPoet Premium offers the following features', 'Promotion for our email sending service: Paragraph'),
  'welcomeWizardMSSNotFreeButton': _x('Sign up now', 'Promotion for our email sending service: Button'),
  'welcomeWizardMSSNoThanks': _x('No thanks!', 'Promotion for our email sending service: Skip link'),
}) %>
