<%= localize({
  'premiumTabNoKeyNotice': __('Please specify a license key before validating it.', 'mailpoet'),
  'premiumTabKeyValidMessage': __('Your key is valid', 'mailpoet'),
  'premiumTabKeyNotValidMessage': __('Your key is not valid', 'mailpoet'),
  'premiumTabKeyCannotValidate': __('Yikes, we can’t validate your key because:'),
  'premiumTabKeyCannotValidateLocalhost': __('You’re on localhost or using an IP address instead of a domain. Not allowed for security reasons!'),
  'premiumTabKeyCannotValidateBlockingHost': __('Your host is blocking the activation, e.g. Altervista'),
  'premiumTabKeyCannotValidateIntranet': __('This website is on an Intranet. Activating MailPoet will not be possible.'),
  'learnMore': __('Learn more'),
  'premiumTabPremiumActiveMessage': __('MailPoet Premium is active', 'mailpoet'),
  'premiumTabPremiumNotInstalledMessage': __('MailPoet Premium is not installed.', 'mailpoet'),
  'premiumTabPremiumNotActivatedMessage': __('MailPoet Premium is installed but not activated.', 'mailpoet'),
  'premiumTabPremiumDownloadMessage': __('Download MailPoet Premium plugin', 'mailpoet'),
  'premiumTabPremiumActivateMessage': __('Activate MailPoet Premium plugin', 'mailpoet'),
  'premiumTabPremiumKeyNotValidMessage': __('Your key is not valid for MailPoet Premium', 'mailpoet'),
  'premiumTabMssActiveMessage': __('MailPoet Sending Service is active', 'mailpoet'),
  'premiumTabMssNotActiveMessage': __('MailPoet Sending Service is not active.', 'mailpoet'),
  'premiumTabMssActivateMessage': __('Activate MailPoet Sending Service', 'mailpoet'),
  'premiumTabMssKeyNotValidMessage': __('Your key is not valid for the MailPoet Sending Service', 'mailpoet'),
  'premiumTabPendingApprovalHeading': __('Note: this subscription is currently pending approval by MailPoet.', 'mailpoet'),
  'premiumTabPendingApprovalMessage': __('You should receive an email from us about it within 48h. Sending will be paused in the meantime, but you can still send email previews to yourself and explore the plugin features.', 'mailpoet'),
  'premiumTabCongratulatoryMssEmailSent': __('A test email was sent to [email_address]', 'mailpoet'),
  'premiumTabPendingApprovalMessageRefresh': __('If you have already received approval email, click [link]here[/link] to update the status.', 'mailpoet'),
}) %>
