<% extends 'layout.html' %>

<% block content %>
<script>
  var mailpoet_logo_url = '<%= cdn_url('welcome-wizard/mailpoet-logo.20200623.png') %>';
  var wizard_sender_illustration_url = '<%= cdn_url('welcome-wizard/sender.20200623.png') %>';
  var wizard_tracking_illustration_url = '<%= cdn_url('welcome-wizard/tracking.20200623.png') %>';
  var wizard_woocommerce_illustration_url = '<%= cdn_url('welcome-wizard/woocommerce.20200623.png') %>';
  var wizard_MSS_pitch_illustration_url = '<%= cdn_url('welcome-wizard/illu-pitch-mss.20190912.png') %>';
  var finish_wizard_url = '<%= finish_wizard_url %>';
  var admin_email = <%= json_encode(admin_email) %>;
  var hide_mailpoet_beacon = true;
  var mailpoet_show_customers_import = <%= json_encode(show_customers_import) %>;
  var mailpoet_account_url = '<%= add_referral_id("https://account.mailpoet.com/?s=" ~ subscriber_count ~ "&email=" ~ current_wp_user.user_email|escape('js')) %>';
  var mailpoet_settings = <%= json_encode(settings) %>;
  var mailpoet_premium_key_valid = <%= json_encode(premium_key_valid) %>;
  var mailpoet_mss_key_valid = <%= json_encode(mss_key_valid) %>;
</script>

<div id="mailpoet-wizard-container"></div>

<div class="mailpoet-wizard-video">
    <iframe width="1" height="1" src="https://player.vimeo.com/video/279123953" frameborder="0"></iframe>
</div>

<% endblock %>

<% block translations %>
<%= localize({
'welcomeWizardLetsStartTitle': __('Start by configuring your sender information'),
'welcomeWizardSenderTitle': __('Default sender'),
'welcomeWizardSenderText': __('Enter details of the person or brand your subscribers expect to receive emails from'),
'welcomeWizardUsageTrackingStepTitle': __('Confirm privacy and data settings'),
'welcomeWizardUsageTrackingStepTrackingLabel': __('Help improve MailPoet'),
'welcomeWizardUsageTrackingStepTrackingLabelNote': __('Get improved features and fixes faster by sharing with us [link]non-sensitive data about how you use MailPoet[/link]. No personal data is tracked or stored.'),
'welcomeWizardUsageTrackingStepTrackingLabelNoteNote': __('Note'),
'welcomeWizardUsageTrackingStepLibs3rdPartyLabelNote': __('If enabled, we may load the Google Fonts library and [link]other 3rd-party libraries we use[/link].'),
'welcomeWizardUsageTrackingStepLibs3rdPartyLabelNoteNote': __('Note'),
'welcomeWizardUsageTrackingStepLibs3rdPartyLabel': __('Enable better-looking Google Fonts in forms and emails and show contextual help articles in MailPoet?'),
'seeVideoGuide': _x('See video guide', 'A label on a button'),
'skip': _x('Skip', 'A label on a skip button'),
'skipStep': _x('Skip this step', 'A label on a skip button'),
'senderAddress': _x('From Address', 'A form field label'),
'replyToAddress': _x('Reply-to Address', 'A form field label'),
'senderName': _x('From Name', 'A form field label'),
'next': _x('Next', 'A label on a button'),
'continue': _x('Continue', 'A label on a button'),
}) %>
<% include 'mss_pitch_translations.html' %>
<% include 'woocommerce_setup_translations.html' %>
<% include 'premium_key_validation_strings.html' %>
<% include 'settings_translations.html' %>
<% endblock %>
