<% extends 'layout.html' %>

<% block content %>
<script>
  var mailpoet_logo_url = '<%= cdn_url('welcome-wizard/mailpoet-logo.20200623.png') %>';
  var wizard_sender_illustration_url = '<%= cdn_url('welcome-wizard/sender.20200623.png') %>';
  var wizard_tracking_illustration_url = '<%= cdn_url('welcome-wizard/tracking.20200623.png') %>';
  var wizard_woocommerce_illustration_url = '<%= cdn_url('welcome-wizard/woocommerce.20200623.png') %>';
  var wizard_MSS_pitch_illustration_url = '<%= cdn_url('welcome-wizard/illu-pitch-mss.20190912.png') %>';
  var finish_wizard_url = '<%= finish_wizard_url %>';
  var sender_data = <%= json_encode(sender) %>;
  var admin_email = <%= json_encode(admin_email) %>;
  var hide_mailpoet_beacon = true;
  var mailpoet_show_customers_import = <%= json_encode(show_customers_import) %>;
  var mailpoet_account_url = '<%= add_referral_id("https://account.mailpoet.com/?s=" ~ subscriber_count ~ "&email=" ~ current_wp_user.user_email|escape('js')) %>';
</script>

<div id="mailpoet-wizard-container"></div>

<div class="mailpoet-wizard-video">
    <iframe width="1" height="1" src="https://player.vimeo.com/video/279123953" frameborder="0"></iframe>
</div>

<% endblock %>

<% block translations %>
<%= localize({
'welcomeWizardLetsStartTitle': __('Welcome! Let’s get you started on the right foot.'),
'welcomeWizardSenderText': __('Who is the sender of the emails you’ll be creating with MailPoet?'),
'welcomeWizardUsageTrackingStepTitle': __('Privacy and data sharing'),
'welcomeWizardUsageTrackingStepTrackingLabel': __('Help improve MailPoet'),
'welcomeWizardUsageTrackingStepTrackingLabelNote': __('Get improved features and fixes faster by sharing with us [link]non-sensitive data about how you use MailPoet[/link]. No personal data is tracked or stored.'),
'welcomeWizardUsageTrackingStepTrackingLabelNoteNote': __('Note'),
'welcomeWizardUsageTrackingStepLibs3rdPartyLabelNote': __('If enabled, we may load the Google Fonts library and [link]other 3rd-party libraries we use[/link].'),
'welcomeWizardUsageTrackingStepLibs3rdPartyLabelNoteNote': __('Note'),
'welcomeWizardUsageTrackingStepLibs3rdPartyLabel': __('Enable better-looking Google Fonts in emails and show contextual help articles in MailPoet?'),
'seeVideoGuide': _x('See video guide', 'A label on a button'),
'skip': _x('Skip', 'A label on a skip button'),
'finishLater': _x('Finish later', 'A label on a skip button'),
'senderAddress': _x('From Address', 'A form field label'),
'replyToAddress': _x('Reply-to Address', 'A form field label'),
'senderName': _x('From Name', 'A form field label'),
'next': _x('Next', 'A label on a button'),
'continue': _x('Continue', 'A label on a button'),
}) %>
<% include('mss_pitch_translations.html') %>
<% include('woocommerce_setup_translations.html') %>
<% endblock %>
