<%= localize({
  'wooCommerceSetupTitle': _x('Get ready to use MailPoet for WooCommerce', 'Title on the WooCommerce setup page'),
  'wooCommerceSetupInfo': __('MailPoet Premium comes with powerful features for WooCommerce. Please complete this one-step setup to be ready to start using them.'),
  'wooCommerceSetupGDPRTag': _x('GDPR', 'WooCommerce setup GDPR tag'),
  'wooCommerceSetupImportInfo': __('MailPoet will import all your WooCommerce customers. Do you want to import your WooCommerce customers as subscribed? [link]Learn more[/link].'),
  'wooCommerceSetupImportGDPRInfo': _x('To be compliant, your customers must have accepted to receive your emails.', 'GDPR compliance information'),
  'wooCommerceSetupTrackingInfo': __('Collect more precise email and site engagement, and e-commerce metrics by enabling cookie tracking. [link]Learn more[/link].'),
  'wooCommerceSetupTrackingGDPRInfo': _x('To be compliant, you should display a cookie tracking banner on your website.', 'GDPR compliance information'),
  'wooCommerceSetupFinishButtonTextWizard': _x('Start using MailPoet', 'Submit button caption in the WooCommerce step in the wizard'),
  'wooCommerceSetupFinishButtonTextStandalone': _x('Start using WooCommerce features', 'Submit button caption on the standalone WooCommerce setup page'),
  'unknownError': __('Unknown error'),
}) %>
