.wp-block-cgb-block-mailpoetblock {
  background: #bada55;
  border: 0.2rem solid #292929;
  color: #292929;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
.wp-block-cgb-block-mailpoetblock {
  background: orangered;
  border: 0.2rem solid #292929;
  color: #292929;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.jbmailpoet-input {
  margin-bottom: 20px;
}
.jbmailpoet-success {
  color: #468847;
  margin-bottom: 20px;
}

.jbmailpoet-error {
  color: red;
  margin-bottom: 20px;
}
