a {
  color: $color-primary-button;
  text-decoration: none;
}

.mailpoet_hidden {
  display: none !important;
}

.mailpoet_form_narrow_select2 span.select2-container {
  width: 103px !important;
}

span.select2-container--open > span.select2-dropdown {
  min-width: 150px;
}

span.select2-container--open > span.select2-dropdown li.select2-results__option {
  font-size: 13px;
  margin: 0 !important;

  .select2-results__group {
    color: #bfbfbf;
    font-weight: normal;
  }

  .select2-results__option {
    font-size: 13px;
    padding-left: 15px;

    &[aria-selected=true] {
      background-color: #eee;
      color: #444;
    }
  }
}

.mailpoet_settings_notice {
  color: #999;
}

#mailpoet_editor_content ol,
#mailpoet_editor_content ul {
  margin-left: 0;
  padding-left: 40px;
}

#mailpoet_editor_content ul {
  list-style-type: disc;

  ul {
    list-style-type: circle;

    ul { list-style-type: square; }
  }
}

.tooltip-help-designer-subject-line div,
.tooltip-help-designer-preheader div {
  z-index: 100001;
}

.tooltip-help-send-preview {
  color: #fff;
  margin-top: -10px;
  position: absolute;
  right: 4px;
  top: 50%;
}

.tooltip-help-designer-ideal-width {
  color: #656565;
  font-weight: normal;
  margin-left: 5px;
  text-transform: none;
}

.tooltip-help-designer-full-width .dashicons {
  line-height: 34px;
}

.tooltip-help-designer-full-width span {
  line-height: 1.4em;
}

.mailpoet_text_content p {
  margin: 1em 0;
}

.mailpoet_separator {
  margin: 17px 20px;
}

.mailpoet_option_offset_left_small {
  margin-left: 10px;
}

input.mailpoet_option_offset_left_small {
  margin-left: 10px !important;
}

.mailpoet_editor_messages {
  font-size: $font-size-small;
  position: absolute;
  right: 0;
  top: 100%;
}

#mailpoet_editor_heading_right .mailpoet_notice {
  padding-right: 40px;
}
