.wc-block-checkout__marketing {
  align-items: flex-start;
  display: flex;
  margin: 1em 0;

  .block-editor-rich-text__editable {
    font-size: .875em;
    line-height: inherit;
    vertical-align: middle;
  }

  .wc-block-components-checkbox {
    margin-top: 0 !important;
  }
}

.wc-block-checkout__additional_fields .block-editor-inner-blocks .block-editor-block-list__layout {
  padding-left: 0;
}
