<div class="mailpoet_tools"></div>
<div class="mailpoet_content">
    <div class="mailpoet_woocommerce_content" data-automation-id="woocommerce_content">
        Hello from the content block!
    </div>
</div>
<div class="mailpoet_block_highlight"></div>
