@import "~@wordpress/base-styles/colors";

.mailpoet-personalization-tags-modal {
	p:first-child {
		margin-top: 0;
	}
	.mailpoet-personalization-tags-modal__category {
		display: inline-block;
		font-size: 11px;
		line-height: 16px;
		padding-bottom: 8px;
		padding-top: 16px;
		text-transform: uppercase;
	}
	.mailpoet-personalization-tags-modal__category-group {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.mailpoet-personalization-tags-modal__category-group-item {
			align-items: stretch;
			border-bottom: 1px solid var(--wp-components-color-gray-300, #ddd);
			display: flex;
			padding: 16px 0;

			.mailpoet-personalization-tags-modal__item-text {
				display: flex;
				flex: 1;
				flex-direction: column;
				font-size: 12px;
				gap: 5px;
				justify-content: center;
				line-height: 18px;
			}

			button.is-link {
				flex: 0 0 auto;
				font-size: 14px;
				height: auto;
				line-height: 2;
			}
		}
	}

	.mailpoet-personalization-tags-modal__menu {
		div[role="group"] {
			display: flex;
		}

		.mailpoet-personalization-tags-modal__menu-item-active {
			color: black;
			font-weight: bold;
		}

		button {
			align-items: center;
			color: #0a7aff;
			display: flex;
			gap: 8px;
			padding: 6px;
			width: auto;
			span {
				min-width: auto;
			}
		}
		.mailpoet-personalization-tags-modal__menu-separator {
			background-color: var(--wp-components-color-gray-700, #757575);
			height: 16px;
			margin: 10px 4px;
			width: 1px;
		}
	}
}

.mailpoet-personalization-tag-popover {
	align-items: center;
	display: flex;
	justify-content: center;

	.mailpoet-personalization-tag-popover__content {
		max-width: 350px;
		min-width: auto;
		width: 90vw;

		.components-base-control {
			margin: 16px;
		}
	}
	.mailpoet-personalization-tag-popover__content-buttons {
		margin: 16px;
		text-align: right;

		.components-button {
			margin-left: 8px;
		}
	}
}

a.mailpoet-email-editor__personalization-tags-link {
	color: LinkText;
	cursor: pointer;
	text-decoration: underline;
}
