$sidebar-width = 330px
$content-border-color = $structure-border-color

#mailpoet_editor
  width: 100%
  clear: both

#mailpoet_editor_heading
  padding-left: 15px
  margin-left: 2px

#mailpoet_editor_main_wrapper
  border: 1px solid $content-border-color
  border-left: 0
  position: relative
  min-width: 1050px

#mailpoet_editor_content_container
  width: 100%
  padding-right: $sidebar-width
  box-sizing: border-box

#mailpoet_editor_sidebar
  float: right
  width: $sidebar-width
  box-sizing: border-box

.mailpoet_newsletter_wrapper
  max-width: $newsletter-width
  width: $newsletter-width
  margin: auto
  position: relative
