$transparent-color = rgba(255, 255, 255, 0)
$white-color = rgb(255, 255, 255)
$black-color = rgb(0, 0, 0)

$structure-border-color = #dddddd
$content-border-color = #e5e5e5

$primary-active-color = #0074a2
$primary-active-color-highlight = #1e8cbe
$primary-inactive-color = #a4a4a4

$primary-active-background-color = #2ea1cd
$primary-background-color = #f8f8f8

$primary-text-color = #656565

$primary-inset-shadow-color = #025C80

$warning-background-color = #E64047
$warning-text-color = $white-color
$warning-alternate-text-color = #f4c6c8

$error-text-color = #d54e21

// Dimensions

$newsletter-width = 600px
