<h3><%= __('Select icons') %></h3>
<div id="mailpoet_social_icons_selection"></div>
<h3><%= __('Styles') %></h3>
<div id="mailpoet_social_icons_styles"></div>
<div class="mailpoet_form_field">
  <input type="button" class="button button-primary mailpoet_done_editing" value="<%= __('Done') | escape('html_attr') %>" />
</div>
