.mailpoet-block-div {
  padding: 20px;

  .mailpoet_form_image img {
    height: auto;
    max-width: 100%;
  }
}

.mailpoet-block-create-new-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 60px;
}
