.mailpoet-option-button {
  display: flex;
  margin-top: 8px;
  position: relative;
}

.mailpoet-option-button-main {
  border-radius: 2px 0 0 2px;
  margin-right: 1px;
}

.mailpoet-option-button-opener {
  background: var(--wp-admin-theme-color);
  border-radius: 0 2px 2px 0;
  color: white;
}

.mailpoet-option-button-opener svg {
  fill: white;
}

.mailpoet-option-button-opener .is-opened svg {
  transform: scale(-1, -1);
  transform-origin: center 12.5px;
}

.mailpoet-option-button-opener.is-busy {
  animation: components-button__busy-animation 2500ms infinite linear;
  background-color: var(--wp-admin-theme-color);
  background-image: linear-gradient(-45deg, var(--wp-admin-theme-color) 33%, var(--wp-admin-theme-color-darker-20) 33%, var(--wp-admin-theme-color-darker-20) 70%, var(--wp-admin-theme-color) 70%);
  background-size: 100px 100%;
  border-color: var(--wp-admin-theme-color);
}
