.mailpoet-option-button {
  display: flex;
  margin-top: 8px;
  position: relative;
}

.mailpoet-option-button-main {
  border-radius: 2px 0 0 2px;
  margin-right: 1px;
}

.mailpoet-option-button-opener {
  background: var(--wp-admin-theme-color);
  border-radius: 0 2px 2px 0;
  color: white;
}

.mailpoet-option-button-opener svg {
  fill: white;
}

.mailpoet-option-button-opener .is-opened svg {
  transform: scale(-1, -1);
  transform-origin: center 12.5px;
}
