.mailpoet-automation-stats {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.mailpoet-automation-stats-item {
  color: $color-wordpress-heading;
  display: grid;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.mailpoet-automation-stats-label {
  color: #646970;
  display: block;

  &.display-after {
    order: 1;
  }
}

.mailpoet-automation-stats-value {
  font-weight: 600;
}

.mailpoet-automation-stats-item-separator {
  color: #a7aaad;
  font-size: 20px;
  margin: 0 16px;
}
