<% set currentDay = 'now'|date("d") %>

<select id="{{ field }}_days">
  <% for day in 1..31 %>
    <option
      {{#if params.is_default_today}}
        {{#ifCond day "==" "<%= currentDay %>"}}selected="selected"{{/ifCond}}
      {{/if}}><%= day %></option>
  <% endfor %>
</select>