{{#unless params.label_within}}<label>{{ params.label }}{{#if params.required}} *{{/if}}</label>{{/unless}}
<input type="text" disabled="disabled" value="" placeholder="{{#if params.label_within}}{{ params.label }}{{#if params.required}} *{{/if}}{{/if}}" />