filter-shadow(offset-x, offset-y, blur-radius=0px, color=#ff0000)
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=%d, OffY=%d, Color='%s')" % (offset-x offset-y color)
  -webkit-filter: drop-shadow(offset-x offset-y blur-radius color)
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=%d, OffY=%d, Color='%s')" % (offset-x offset-y color)
  filter: drop-shadow(offset-x offset-y blur-radius color)
