parameters:
  earlyTerminatingMethodCalls:
    PHPUnit_Framework_TestCase:
      - fail
      - markTestIncomplete
      - markTestSkipped

services:
  # resolves return type from $this->createMock(SomeMockedClass::class) and other methods in PHPUnit_Framework_TestCase
  -
    class: MailPoet\PHPStan\Extensions\PHPUnit5CompatExtension\Type\CreateMockDynamicReturnTypeExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension

  # resolves return type from $this->getMockBuilder(SomeMockedClass::class) in PHPUnit_Framework_TestCase
  -
    class: MailPoet\PHPStan\Extensions\PHPUnit5CompatExtension\Type\GetMockBuilderDynamicReturnTypeExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
