parameters:
  earlyTerminatingMethodCalls:
    PHPUnit_Framework_TestCase:
      - fail
      - markTestIncomplete
      - markTestSkipped
  stubFiles:
    - stubs/MockBuilder.php
    - stubs/MockObject.php
    - stubs/TestCase.php

services:
  -
    class: MailPoet\PHPStan\Extensions\PHPUnit5CompatExtension\Type\MockBuilderDynamicReturnTypeExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
