<% if (has_valid_api_key) %>
  <a
    target="_blank"
    href="<%= 'https://account.mailpoet.com/orders/upgrade/' ~ plugin_partial_key ~ '?utm_source=plugin&utm_medium=premium&utm_campaign=upgrade&ref=plugin-upgrade-page' %>"
    class="components-button <%= button_class %> mailpoet-premium-shop-link"
  >
    <%= label %>
  </a>
<% else %>
  <a
    target="_blank"
    href="<%= "https://account.mailpoet.com/?s=" ~ subscriber_count ~ "&email=" ~ current_wp_user_email ~ "&g=" ~ group ~ '&billing=monthly&utm_source=plugin&utm_medium=premium&utm_campaign=purchase&ref=plugin-upgrade-page' %>"
    class="components-button <%= button_class %> mailpoet-premium-shop-link"
  >
  <%= label %>
  </a>
<% endif %>
