@use 'sass:math';

#mailpoet-modal {
  display: block !important;
}

.mailpoet-modal-screen-overlay {
  align-items: center;
  animation: mailpoet-modal-screen-overlay-fadein-animation .1s ease-out;
  background-color: rgba(#000, .7);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $modal-screen-overlay-z-index;
}

@keyframes mailpoet-modal-screen-overlay-fadein-animation {
  from { opacity: 0; }
  to { opacity: 1; }
}

.mailpoet-modal-frame {
  animation: mailpoet-modal-appear-animation .1s ease-out;
  background: white;
  border: $modal-border-width solid $modal-light-gray-500;
  border-radius: 4px;
  box-shadow: $modal-shadow-modal;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  height: auto;
  max-height: 90%;
  max-width: 90%;
  min-width: $modal-min-width;
  position: relative;
  width: auto;

  &:focus { outline: none; }

  @include respond-to(small-screen) {
    border: none;
    border-radius: 0;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }
}

@keyframes mailpoet-modal-appear-animation {
  from { margin-top: $grid-gap * 4; }
  to { margin-top: 0; }
}

.mailpoet-modal-header {
  background: white;
  border-bottom: 1px solid $color-tertiary-light;
  padding: 0 $grid-gap;
  top: 0;
  z-index: $modal-header-z-index;

  .mailpoet-modal-is-dismissible & h3 {
    margin-right: $modal-close-button-size + $grid-gap;
  }
}

.mailpoet-modal-close {
  align-items: center;
  background: $color-secondary-light;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: $modal-close-button-size;
  justify-content: center;
  margin-top: - math.div($modal-close-button-size, 2);
  outline: none;
  padding: 0;
  position: absolute;
  right: $grid-gap;
  top: $grid-gap + math.div(($heading-font-size-h3 * $heading-line-height), 2);
  width: $modal-close-button-size;
  z-index: $modal-header-z-index + 1;

  svg {
    height: 10px;
    stroke: $color-secondary;
    width: 10px;
  }
}

.mailpoet-modal-content {
  box-sizing: border-box;
  height: 100%;
  min-height: 2 * $grid-gap + $heading-font-size-h3 * $heading-line-height;
  overflow: auto;
  padding: $grid-gap;

  > *:first-child { margin-top: 0; }
  > *:last-child { margin-bottom: 0; }
}

.mailpoet-modal-full-screen {
  border: none;
  border-radius: 0;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.authorize-sender-email-and-domain-modal {
  z-index: 30; // overlay other modals
}

.authorize-sender-email-and-domain-modal-overlay {
  z-index: $modal-screen-overlay-z-index + 4; // overlay other modals
}
