.mailpoet-tabs > .components-tab-panel__tabs {
  box-shadow: none;
  margin-top: $grid-gap-half;

  .components-tab-panel__tabs-item {
    border: 1px solid transparent;
    border-bottom: none;
    box-shadow: none;

    &:after {
      background: #fff;
      bottom: -1px;
      box-shadow: none;
      transition: none;
    }

    &.is-active {
      background-color: #fff;
      border-color: #dcdcde;
      box-shadow: none;

      &:focus-visible {
        box-shadow: none;
      }
    }
  }
}

.mailpoet-tab-content {
  background: $color-white;
  border: 1px solid $color-tertiary-light;
  border-radius: 0 4px 4px;
  padding: $grid-gap;

  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

@include respond-to(small-screen) {
  .mailpoet-tab {
    background: $color-white;
    border: 1px solid $color-tertiary-light;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .mailpoet-tab-content {
    border-radius: 0;
    padding-top: 0;
  }
}
