$beamer-dot-size: 8px;

.mailpoet-top-bar {
  align-items: center;
  background-color: $color-white;
  box-shadow: inset 0 -1px 0 $color-tertiary-light;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: flex-start;
  margin: 0 0 40px;
  padding-left: $grid-gap;
  padding-right: $grid-gap;

  .wrap & {
    left: -20px;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    top: 0;

    @include respond-to(small-screen) {
      left: -10px;
    }

    @media screen and (max-width: 600px) {
      top: 46px;
    }
  }
}

.mailpoet-top-bar-logo {
  cursor: pointer;
  position: relative;
  top: 2px;

  svg {
    max-height: 100%;
    max-width: 100%;
  }
}

.mailpoet-top-bar-logo-desktop {
  display: block;
  height: 23px;
  width: 75px;

  @include respond-to(small-screen) {
    display: none;
  }
}

.mailpoet-top-bar-logo-mobile {
  display: none;
  height: 40px;
  width: 39px;

  @include respond-to(small-screen) {
    display: block;
  }
}

.mailpoet-top-bar-children {
  margin-left: $grid-gap;

  @include respond-to(small-screen) {
    .mailpoet-button {
      padding-left: 10px;
      padding-right: 10px;

      svg {
        display: none;
      }

      + .mailpoet-button {
        margin-left: $grid-gap-half !important;
      }
    }
  }
}

.mailpoet-top-bar-beamer {
  align-items: center;
  background-color: $color-white;
  border: solid 2px $color-tertiary-light;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: relative;
  width: 40px;
}

.mailpoet-top-bar-beamer-dot:before {
  background: $color-editor-warning;
  border-radius: $beamer-dot-size;
  content: '';
  display: block;
  height: $beamer-dot-size;
  position: absolute;
  right: 2px;
  top: 2px;
  width: $beamer-dot-size;
}
