.components-button.mailpoet-automation-button-sidebar-primary,
.components-button.mailpoet-automation-button-sidebar-primary.has-text,
.components-button.mailpoet-automation-button-sidebar-primary.has-icon {
  background: #1d2327;
  width: 100%;

  &:hover:not(:disabled) {
    background: #1d2327;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.4);
  }

  &.is-busy {
    --background-color-1: #2c3236;
    --background-color-2: #535659;

    background-image: linear-gradient(
      -45deg,
      var(--background-color-1) 33%,
      var(--background-color-2) 33%,
      var(--background-color-2) 70%,
      var(--background-color-1) 70%
    );
  }
}

.components-button.mailpoet-automation-button-centered,
.components-button.mailpoet-automation-button-centered.has-text,
.components-button.mailpoet-automation-button-centered.has-icon {
  justify-content: center;

  svg {
    margin-right: 0;
  }
}
