.mailpoet-automation-email-content-separator {
  height: 16px;
}

.components-button.mailpoet-automation-design-email-button,
.components-button.mailpoet-automation-design-email-button.has-icon {
  background: #1d2327;
  justify-content: center;
  width: 100%;

  svg {
    margin-right: 0;
  }
}
