<div class="mailpoet-deactivate-survey-modal" id="mailpoet-deactivate-survey">
  <div class="mailpoet-deactivate-survey-wrap">
    <div class="mailpoet-deactivate-survey">

      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10007098.js"></script>
      <noscript><a href="https://polldaddy.com/poll/10007098/">Why are you deactivating MailPoet?</a></noscript>

      <a class="button" id="mailpoet-deactivate-survey-close"><%= __('Close this window and deactivate MailPoet') %> &rarr;</a>
    </div>
  </div>
</div>
