#mailpoet_editor_bottom {
  margin: 10px 0 120px;
}

.mailpoet_save_wrapper {
  float: right;
  margin-bottom: 10px;
  margin-right: 20px;
  position: relative;

  .mailpoet_save_next {
    margin-left: 5px;
  }

  .mailpoet_show_preview {
    margin-right: 5px;
  }
}

.mailpoet_save_options {
  background: $color-white;
  border: 1px solid $color-editor-border-content;
  border-radius: 3px;
  clear: both;
  margin: 5px 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  vertical-align: top;
  white-space: nowrap;
  z-index: 1000;
}

.mailpoet_save_option {
  margin: 0;

  > a {
    display: block;
    line-height: 2em;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.mailpoet_save_option:hover {
  background-color: $color-primary-button;
  color: $color-white;

  > a {
    color: $color-white;
  }
}

.mailpoet_save_show_options {
  padding: 6px 3px 4px;
}

.mailpoet_save_show_options_icon {
  height: 14px;
  margin-top: -6px;
  vertical-align: middle;
}

.mailpoet_save_as_template_container,
.mailpoet_export_template_container {
  background-color: $color-white;
  border: 1px solid $color-editor-border-structure;
  border-radius: 3px;
  clear: both;
  display: inline-block;
  margin: 5px 0;
  padding: 0 10px;
  position: absolute;
  right: 0;
  z-index: 1000;
}

.mailpoet_save_as_template_title,
.mailpoet_export_template_title {
  font-size: 1.1em;
}

.mailpoet_save_next,
.mailpoet_save_button_group {
  float: right;
}

.mailpoet_editor_last_saved {
  color: $color-primary-inactive;
  font-size: .9em;
  margin-top: 10px;
  text-align: right;
}

.mailpoet_save_woocommerce_customizer_disabled {
  text-align: right;
}

.mailpoet_save_woocommerce_error {
  color: $color-editor-warning;
  margin-top: 10px;
  text-align: right;
}

.mailpoet_save_error {
  color: $color-editor-warning;
  margin-top: 10px;
  text-align: right;
  width: $editor-sidebar-width;
}

.mailpoet_save_dropdown_down {
  .mailpoet_save_options,
  .mailpoet_save_as_template_container,
  .mailpoet_export_template_container {
    bottom: auto;
    top: 100%;
  }

  .mailpoet_save_show_options {
    &.mailpoet_save_show_options_active {
      .mailpoet_save_show_options_icon:before {
        content: '\f142';
      }
    }
  }

  .mailpoet_save_show_options_icon {
    &:before {
      content: '\f140';
    }
  }
}

.mailpoet_save_dropdown_up {
  .mailpoet_save_options,
  .mailpoet_save_as_template_container,
  .mailpoet_export_template_container {
    bottom: 100%;
    top: auto;
  }

  .mailpoet_save_show_options {
    &.mailpoet_save_show_options_active {
      .mailpoet_save_show_options_icon:before {
        content: '\f140';
      }
    }
  }

  .mailpoet_save_show_options_icon {
    &:before {
      content: '\f142';
    }
  }
}
