#mailpoet_editor_sidebar {
  border-bottom: $color-editor-border-content;
  border-left: $color-editor-border-content;
  color: $editor-sidebar-color;
  font-size: $editor-sidebar-font-size;

  .mailpoet_sidebar_region {
    border-bottom: 1px solid $color-editor-border-content;
    border-left: 1px solid $color-editor-border-content;
    border-right: 0;
    border-top: 0;
    margin-bottom: 0;

    &.closed .mailpoet_region_content {
      display: none;
    }
  }

  .mailpoet_region_content {
    margin-top: 12px;
    padding: 0 20px;
  }

  &,
  .postbox {
    background-color: $editor-sidebar-background;
  }

  .postbox {
    padding-bottom: 20px;

    &.closed {
      padding-bottom: 0;
    }

    &.closed h3 {
      color: $color-primary-inactive;
      cursor: pointer;
    }

    h3,
    &:hover h3 {
      color: $color-primary;
      font-size: 18px;
      margin: 0;
      padding: 17px 20px;
      text-transform: uppercase;
    }

    h3,
    .handlediv {
      border: 0;
      cursor: auto;
    }

    .handlediv {
      float: right;
    }

    .handlediv:before {
      color: $color-primary;
      content: '\f142';
      display: inline-block;
      font: 400 20px / 1 dashicons;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      right: 18px;
      speak: none;
      text-decoration: none !important;
      top: 18px;
    }

    &.closed .handlediv:before {
      color: $color-primary-inactive;
      content: '\f140';
    }

    &.closed:hover .handlediv:before {
      color: $color-primary;
    }
  }
}

.mailpoet_widget {
  display: inline-block;
  float: left;
  padding: 0 13px 15px;
  text-align: center;
  width: $editor-widget-size;

  &:nth-child(3n+1) {
    clear: left;
  }

  .mailpoet_widget_icon {
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: 1px 2px $editor-widget-shadow-color;
    box-sizing: border-box;
    color: $editor-widget-icon-color;
    fill: $editor-widget-icon-color;
    height: $editor-widget-size;
    line-height: $editor-widget-size;
    margin-bottom: 9px;
    text-align: center;
    width: $editor-widget-size;

    /* Vertically align widget icon glyphs */
    > * {
      font-size: $editor-widget-icon-size;
      height: $editor-widget-icon-size;
      vertical-align: middle;
      width: $editor-widget-icon-size;
    }

    &:hover {
      border: 1px solid $editor-widget-icon-color-hover;
      color: $editor-widget-icon-color-hover;
      fill: $editor-widget-icon-color-hover;
    }
  }

  &.mailpoet_droppable_active {
    color: $editor-widget-icon-color-hover;
    fill: $editor-widget-icon-color-hover;

    .mailpoet_widget_icon {
      border: 1px solid $editor-widget-icon-color-hover;
      box-shadow: none;
      color: $editor-widget-icon-color-hover;
      fill: $editor-widget-icon-color-hover;
    }

    .mailpoet_widget_title {
      display: none;
    }
  }
}

/* Browser preview modal */
.mailpoet_browser_preview_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.mailpoet_browser_preview_link {
  position: absolute;
  top: -25px;
}

.mailpoet_popup .mailpoet_browser_preview_toggle {
  top: -30px;
}
