$badge-color-bad: #d54e21;
$badge-color-excellent: #2993ab;
$badge-color-good: #f0b849;
$badge-color-green: #55bd56;
$badge-color-video-guide: #46b450;

$color-stats-average: #f559c3;
$color-stats-good: #ff9f00;
$color-stats-excellent: #7ed321;
