$gutenberg-control-border-color: #7e8993;
$gutenberg-control-active-color: #ff5301;
$gutenberg-control-border-color-focus: #007cba;
$form-placement-option-base-color: #e5e9f8;
$form-placement-option-text-color: #23282d;
$form-placement-option-oval: #dcdcdc;
$form-placement-option-oval-border: #969ca1;
$form-placement-option-height: 142px;
$form-placement-option-width: 116px;
$form-placement-option-border: 1px;
$form-placement-option-active-border: 2px;
