$form-control-height: 40px;
$form-control-height-small: 32px;
$form-control-spacing: 8px;
$form-control-line-height: $form-control-height - 2 * $form-control-spacing - 2px; // subtract borders
$form-control-line-height-small: $form-control-height-small - 2 * $form-control-spacing - 2px; // subtract borders
$form-control-icon: 16px;
$form-control-icon-small: 12px;
$form-control-choice-height: 24px;
$form-control-choice-height-small: 16px;
