$gutenberg-control-border-color: #7e8993;
$gutenberg-control-active-color: #ff5301;
$gutenberg-control-border-color-focus: #007cba;
$selection-item-base-color: $color-tertiary-light;
$selection-item-text-color: #23282d;
$selection-item-oval-color: #dcdcdc;
$selection-item-oval-border-color: #969ca1;
$selection-item-active-border: 1px;
$form-placement-option-height: 142px;
$form-placement-option-width: 116px;
$form-placement-option-active-border: 2px;
