$legacy-modal-background-color: #fff;
$legacy-modal-close-button-size: 23px;
$legacy-modal-highlight-background-color: #f1f1f1;
$legacy-modal-overlay-background-color: rgba(#000, .6);
$legacy-modal-popup-margin: 30px;
$legacy-modal-popup-margin_mobile: 10px;
$legacy-modal-popup-padding-mobile: 12px;
$legacy-modal-popup-padding: 30px;
$legacy-modal-title-color: #cfcfcf;
