$modal-border-width: 1px;
$modal-dark-gray-900: #191e23;
$modal-header-z-index: 10;
$modal-light-gray-500: #e2e4e7;
$modal-min-width: 360px;
$modal-screen-overlay-z-index: 100000;
$modal-shadow-modal: 0 3px 30px rgba($modal-dark-gray-900, .2);
$modal-close-button-size: 40px;
$modal-close-button-padding: 6px;
