$font-family: 'proxima-soft', sans-serif;
$font-size: 16px;
$font-size-small: 14px;
$font-size-extra-small: 12px;
$font-size-xx-small: 10px;
$line-height: 1.5;

$heading-line-height: 1.25;
$heading-font-size-h0: 44px;
$heading-font-size-h1: 32px;
$heading-font-size-h2: 28px;
$heading-font-size-h3: 24px;
$heading-font-size-h4: 20px;
$heading-font-size-h5: 16px;
